<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="SearchType">{{ 'Search By' | translate}}</label>
                        <select #SearchType id="SearchType" class="form-control" formControlName="SearchType" eTypeText>
                            <option value="PlanVisit">{{ "Plan Visit's Service Area" | translate}}</option>
                            <option value="ServiceCover">{{ "Service Cover's Service Area" | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area From' | translate}}
                            <span *ngIf="pageVariables['fieldRequired']['BranchServiceAreaCode'] === true" class="mandatory">* </span>
                        </label>
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" eTypeCode type="text" size="7"
                            [attr.maxlength]="4" (change)="branchServiceAreaCodeOnChange()">
                    </div>
                    <div class="col2 pr5 mt20">
                        <icabs-ellipsis [childConfigParams]="ellipsis.branchServiceAreaFrom.childConfigParams" [contentComponent]="ellipsis.branchServiceAreaFrom.contentComponent"
                            (ellipsisData)="onServiceAreaDataReceived('BranchServiceAreaCode', $event)" [modalConfig]="ellipsis.common.modalConfig"
                            [disabled]="ellipsis.branchServiceAreaFrom.disabled" [showCloseButton]="ellipsis.branchServiceAreaFrom.showCloseButton"
                            [showHeader]="ellipsis.branchServiceAreaFrom.showHeader"></icabs-ellipsis>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24" for="BranchServiceAreaPlan">{{ 'To' | translate}}
                            <span *ngIf="pageVariables['fieldRequired']['BranchServiceAreaPlan'] === true" class="mandatory">* </span>
                        </label>
                        <input id="BranchServiceAreaPlan" class="form-control" formControlName="BranchServiceAreaPlan" eTypeCode type="text" size="7"
                            [attr.maxlength]="4" (change)="branchServiceAreaPlanOnChange()">
                    </div>
                    <div class="col2 mt20">
                        <icabs-ellipsis [childConfigParams]="ellipsis.branchServiceAreaTo.childConfigParams" [contentComponent]="ellipsis.branchServiceAreaTo.contentComponent"
                            (ellipsisData)="onServiceAreaDataReceived('BranchServiceAreaPlan', $event)" [modalConfig]="ellipsis.common.modalConfig"
                            [disabled]="ellipsis.branchServiceAreaTo.disabled" [showCloseButton]="ellipsis.branchServiceAreaTo.showCloseButton"
                            [showHeader]="ellipsis.branchServiceAreaTo.showHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="FilterType">{{ 'Filter By' | translate}}</label>
                        <select id="FilterType" class="form-control" formControlName="FilterType" eTypeText>
                            <option value="All">{{ 'All' | translate}}</option>
                            <option value="Routine">{{ 'Routine' | translate}}</option>
                            <option value="Installation">{{ 'Installation' | translate}}</option>
                            <option value="Removal">{{ 'Removal' | translate}}</option>
                            <option value="CancelRemove">{{ 'Cancel And Remove' | translate}}</option>
                            <option value="Repair">{{ 'Repair' | translate}}</option>
                            <option value="Urgent">{{ 'Urgent' | translate}}</option>
                            <option value="Delivery">{{ 'Delivery' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col10 pr20">
                        <label class="col24" for="StartDate">{{ 'Visits Due From' | translate}}
                            <span *ngIf="pageVariables['fieldRequired']['StartDate'] === true" class="mandatory">* </span>
                        </label>
                        <icabs-datepicker [isDirectiveBased]="false" id="StartDate" formControlName="StartDate"></icabs-datepicker>
                    </div>
                    <div class="col8">
                        <label class="col24" for="EndDate">{{ 'To' | translate}}
                            <span *ngIf="pageVariables['fieldRequired']['EndDate'] === true" class="mandatory">* </span>
                        </label>
                        <icabs-datepicker [isDirectiveBased]="false" id="EndDate" formControlName="EndDate"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}</label>
                    <div class="col12 pr5">
                        <input id="ContractNumber" class="form-control" formControlName="ContractNumber" eTypeText type="text" size="10" [attr.maxlength]="10"
                            (change)="onContractChange();">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis.contractSearch.autoOpenSearch" [showCloseButton]="ellipsis.contractSearch.showCloseButton"
                            [childConfigParams]="ellipsis.contractSearch.childConfigParams" [contentComponent]="ellipsis.contractSearch.contentComponent"
                            (ellipsisData)="onContractDataReceived($event)" [showHeader]="ellipsis.contractSearch.showHeader"
                            [disabled]="ellipsis.contractSearch.disabled" [modalConfig]="ellipsis.common.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="ProductCode">{{ 'Product' | translate}}</label>
                    <div class="col12 pr5">
                        <input id="ProductCode" class="form-control" formControlName="ProductCode" eTypeText type="text" size="10" [attr.maxlength]="10"
                            (change)="productCodeOnChange()">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]='ellipsis.productCode.autoOpenSearch' [showCloseButton]="ellipsis.productCode.showCloseButton"
                            [childConfigParams]="ellipsis.productCode.childConfigParams" [modalConfig]="ellipsis.common.modalConfig"
                            [contentComponent]="ellipsis.productCode.contentComponent" (ellipsisData)="onProductCodeReceived($event)"
                            [showHeader]="ellipsis.productCode.showHeader" [disabled]="ellipsis.productCode.disabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="PremiseNumber">{{ 'Premise' | translate}}</label>
                    <div class="col12 pr5">
                        <input id="PremiseNumber" class="form-control" formControlName="PremiseNumber" eTypeText type="text" size="10" [attr.maxlength]="10"
                            (change)="premiseNumberOnChange()">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis.premiseSearch.autoOpenSearch" [showCloseButton]="ellipsis.premiseSearch.showCloseButton"
                            [childConfigParams]="ellipsis.premiseSearch.childConfigParams" [modalConfig]="ellipsis.common.modalConfig"
                            [contentComponent]="ellipsis.premiseSearch.contentComponent" (ellipsisData)="onPremiseDataReceived($event)"
                            [showHeader]="ellipsis.premiseSearch.showHeader" [disabled]='ellipsis.premiseSearch.disabled'></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="DayFilter">{{ 'Day' | translate}}</label>
                        <select id="DayFilter" class="form-control" formControlName="DayFilter" eTypeText>
                            <option value="All">{{ 'All' | translate}}</option>
                            <option value="Mon">{{ 'Monday' | translate}}</option>
                            <option value="Tue">{{ 'Tuesday' | translate}}</option>
                            <option value="Wed">{{ 'Wednesday' | translate}}</option>
                            <option value="Thu">{{ 'Thursday' | translate}}</option>
                            <option value="Fri">{{ 'Friday' | translate}}</option>
                            <option value="Sat">{{ 'Saturday' | translate}}</option>
                            <option value="Sun">{{ 'Sunday' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="PremiseName">{{ 'Premises Name begins' | translate}}</label>
                    <div class="col24">
                        <input id="PremiseName" class="form-control" formControlName="PremiseName" type="text" size="32" [attr.maxlength]="40" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="ProductServiceGroupCode">{{ 'Service Group' | translate}}</label>
                    <div class="col24">
                        <icabs-sbproductservice-groupsearch [inputParams]="dropdown.ProductServiceGroupSearch" [active]="dropdown.ProductServiceGroupSearch.active"
                            [isDisabled]="dropdown.ProductServiceGroupSearch.isDisabled" [isRequired]="dropdown.ProductServiceGroupSearch.isRequired"
                            (receivedProductServiceGroupSearch)="onProductServiceGroupReceived($event)"></icabs-sbproductservice-groupsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24" for="ServiceFrequency">{{ 'Frequency' | translate}}</label>
                    <div class="col24">
                        <input id="ServiceFrequency" class="form-control" formControlName="ServiceFrequency" eTypeText type="text" size="10" [attr.maxlength]="10"
                            (change)="serviceFrequencyOnChange()">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24" for="SequenceNumber">{{ 'Sequence Number' | translate}}</label>
                    <div class="col24">
                        <input id="SequenceNumber" class="form-control" formControlName="SequenceNumber" eTypeInteger type="text" size="5" [attr.maxlength]="5">
                    </div>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col10">
                        <input type="button" id="cmdReverse" formControlName="cmdReverse" (click)="cmdReverseOnClick();" class="btn btn-additional"
                            value="{{ 'Reverse' | translate }}">
                    </div>
                    <div class="col10">
                        <input type="button" id="cmdUpdateAll" formControlName="cmdUpdateAll" (click)="cmdUpdateAllOnClick()" class="btn btn-additional"
                            value="{{ 'Update All' | translate }}">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="gridRefresh()"></icabs-refresh>
                    <icabs-pagination *ngIf="pageVariables['gridProperties'].totalRecords > 0" [currentPage]="pageVariables['gridProperties'].paginationCurrentPage"
                        [totalItems]="pageVariables['gridProperties'].totalRecords" [itemsPerPage]="pageVariables['gridProperties'].itemsPerPage"
                        [canExport]="true" [exportOptions]="{dateColumns: '3'}"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (onSuccess)="riGridAfterExecute()" (bodyClick)="gridBodyOnClick($event)" (bodyDblClick)="gridBodyOnDblClick($event)"
                        (headerClick)="riGridSort($event)" (bodyKeyDown)="gridBodyOnKeyDown($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>