<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="AmendmentRef">{{ renegsConstants["AmendmentRef"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="AmendmentRef" eTypeCode formControlName="AmendmentRef" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="AccountNumber">{{ renegsConstants["AccountNumber"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="AccountNumber" eTypeCode formControlName="AccountNumber" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="AccountName">{{ renegsConstants["AccountName"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="AccountName" eTypeCode formControlName="AccountName" value="" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="GroupAccountNumber">{{ renegsConstants["GroupAccountNumber"] | translate }}</label>
                            <div class="col22">
                                <input class="form-control" formControlName="GroupAccountNumber" id="GroupAccountNumber" size="4" maxlength="4" value=""
                                    (blur)="onGroupAccountBlur($event)" eTypeInteger>
                            </div>
                            <div class="col2 pl5">
                                <icabs-ellipsis [showCloseButton]="hasCloseButton" [childConfigParams]="inputParamsGroupAccount" [modalConfig]="modalConfig"
                                    [contentComponent]="groupAccountSearchComponent" (ellipsisData)="onGroupAccountDataReceived($event, false)"
                                    [showHeader]="showHeader" [searchModalRoute]="searchModalRoute" [disabled]="!isNewAccount"></icabs-ellipsis>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="GroupAccountName">{{ renegsConstants["GroupAccountName"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="GroupAccountName" eTypeCode formControlName="GroupAccountName" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="AddressLine1">{{ renegsConstants["AddressLine1"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="AddressLine1" eTypeCode formControlName="AddressLine1" value="" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="AddressLine2">{{ renegsConstants["AddressLine2"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="AddressLine2" eTypeCode formControlName="AddressLine2" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="AddressLine3">{{ renegsConstants["AddressLine3"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="AddressLine3" eTypeCode formControlName="AddressLine3" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="Town">{{ renegsConstants["Town"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="Town" eTypeCode formControlName="Town" value="" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="County">{{ renegsConstants["County"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="County" eTypeCode formControlName="County" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="PostCode">{{ renegsConstants["PostCode"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="PostCode" eTypeCode formControlName="PostCode" value="" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="ContactName">{{ renegsConstants["ContractNumber"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="ContactName" eTypeCode formControlName="ContactName" value="" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="Position">{{ renegsConstants["Position"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="Position" eTypeCode formControlName="Position" value="" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="Department">{{ renegsConstants["Department"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="Department" eTypeCode formControlName="Department" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="Telephone">{{ renegsConstants["Telephone"] | translate }}<span class="mandatory" *ngIf="isNewAccount">*</span></label>
                            <div class="col24 pr5">
                                <input type="text" id="Telephone" eTypeCode formControlName="Telephone" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="MobileNumber">{{ renegsConstants["MobileNumber"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="MobileNumber" eTypeCode formControlName="MobileNumber" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt5">
                        <div class="col-sm-3">
                            <label class="col24" for="Fax">{{ renegsConstants["Fax"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="Fax" eTypeCode formControlName="Fax" value="" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="col24" for="Email">{{ renegsConstants["Email"] | translate }}</label>
                            <div class="col24 pr5">
                                <input type="text" id="Email" eTypeCode formControlName="Email" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="col15" *ngIf="isNewAccount">
                <input class="btn btn-primary mr10" id="btnUpdateAccountDetails" type="button" value="{{renegsConstants['btnSaveTitle'] | translate}}"
                    (click)='onUpdateAccountDetails()' [disabled]="!this['uiForm'].valid">
                    <input class="btn btn-secondary mr10" id="" type="button" value="{{renegsConstants['btnCancelTitle'] | translate}}" (click)='onUpdateCompletion()'>
            </div>
        </section>
    </form>

</section>
<icabs-custom-alert #customAlert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>