<icabs-header [displayUser]=true *ngIf="showHeader"></icabs-header>
<router-outlet></router-outlet>
<footer class="parent-footer">
    <div class="custom-footer">&copy; 2016 Rentokil Initial PLC and subject to conditions in the legal statement.
        <a href="#"><span>Home</span></a> |
        <a href="https://rentokilinitial.service-now.com/navpage.do/" target="_blank" rel="noopener noreferrer"><span>Service Now</span></a>
    </div>
</footer>
<icabs-spinner class='lazy-spinner' #spinner></icabs-spinner>
<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader" [config]="{backdrop: 'static'}"></icabs-modal>
<icabs-modal-adv #modalAdv="child"></icabs-modal-adv>
<div class="ajax-overlay" #overlay style="display: none;"></div>