<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24">{{'Vehicle Registration' | translate}}<span class="mandatory">*</span></label>
                    <div class="col10 pr5">
                        <input type="text" *ngIf="pageMode == MntConst.eModeAdd; else EditModeInputBox" eTypeText
                            id="VehicleRegistration" size="15" [attr.maxlength]="10" class="form-control"
                            formControlName="VehicleRegistration">
                        <ng-template #EditModeInputBox>
                            <input type="text" eTypeText id="VehicleRegistration" size="15" [attr.maxlength]="10"
                                class="form-control" formControlName="VehicleRegistration"
                                (change)="onVehicleRegistrationInputChange()">
                        </ng-template>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #vehicleSearchEllipsis
                            [autoOpen]="ellipsisConfigs.vehicleSearch.autoOpen" [showCloseButton]="true"
                            [showHeader]="true" [ellipsisTitle]="ellipsisConfigs.vehicleSearch.ellipsisTitle"
                            [ellipsisColumn]="ellipsisConfigs.vehicleSearch.tableColumn"
                            [configParams]="ellipsisConfigs.vehicleSearch.configParams"
                            [disabled]="ellipsisConfigs.vehicleSearch.disable"
                            (ellipsisData)="onDataRecived($event, 'vehicleRegistration')">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Vehicle Model' | translate}}</label>
                    <div class="col16">
                        <input type="text" eTypeText id="VehicleModel" class="form-control" size="40"
                            [attr.maxlength]="40" formControlName="VehicleModel">
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="VehicleType">{{'Vehicle Type'| translate}}<span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="VehicleTypeNumber" class="form-control" formControlName="VehicleTypeNumber" eTypeCode
                            type="text" size="6" [attr.maxlength]="10" fetchDescription table="VehicleType"
                            query="VehicleTypeNumber" select="VehicleTypeDesc" field="VehicleTypeDesc"
                            [shouldTrigger]="shouldTrigger">
                    </div>
                    <div class="col16 pr5">
                        <input id="VehicleTypeDesc" eTypeText class="form-control" formControlName="VehicleTypeDesc"
                            type="text" size="40" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #vehicleTypeSearchEllipsis
                            [autoOpen]="ellipsisConfigs.vehicleType.autoOpen" [showCloseButton]="true"
                            [showHeader]="true" [ellipsisTitle]="ellipsisConfigs.vehicleType.ellipsisTitle"
                            [ellipsisColumn]="ellipsisConfigs.vehicleType.tableColumn"
                            [configParams]="ellipsisConfigs.vehicleType.configParams"
                            [disabled]="ellipsisConfigs.vehicleType.disable"
                            (ellipsisData)="onDataRecived($event, 'vehicleType')">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="VehicleType">{{ 'Default Branch' | translate}}</label>
                    <div class="col22 pr5">
                        <icabs-branchsearch #BranchName [inputParams]="branchDropdownConfig.inputParams"
                            (receivedbranchsearch)="onDefaultBranchChange($event)"
                            [active]="branchDropdownConfig.active" [isDisabled]="isDisabled" [isRequired]="false">
                        </icabs-branchsearch>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Previous End Mileage' | translate}}<span class="mandatory">*</span></label>
                    <div class="col8">
                        <input type="text" eTypeInteger id="PreviousEndMileage" class="form-control" size="10"
                            [attr.maxlength]="10" formControlName="PreviousEndMileage">
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Vehicle Purchase Date' | translate}}</label>
                    <div class="col8">
                        <input type="text" eTypeDate id="VehiclePurchaseDate" class="form-control" size="10"
                            [attr.maxlength]="10" formControlName="VehiclePurchaseDate">
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Vehicle First Used Date' | translate}}</label>
                    <div class="col8">
                        <input type="text" eTypeDate id="VehicleFirstUsedDate" class="form-control" size="10"
                            [attr.maxlength]="10" formControlName="VehicleFirstUsedDate">
                    </div>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="InactiveInd" class="form-control" formControlName="InactiveInd">
                    <label for="InactiveInd">{{'InActive' | translate }}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="submit" id="save" class="btn btn-primary" value="{{ 'Save' | translate }}"
                        (click)="onBtnClick('Save')" [disabled]="isDisabled">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                        (click)="onBtnClick('Cancel')" [disabled]="isDisabled">
                    <input type="submit" id="delete" class="btn btn-additional" value="{{ 'Delete' | translate }}"
                        (click)="onBtnClick('Delete')" *ngIf="pageMode !== MntConst.eModeAdd" [disabled]="isDisabled">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="onBtnClick('PromptConfirm')" (cancelEmit)="onBtnClick('PromptCancel')">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>