<icabs-modal #modal="child" [size]="'xs'" [showHeader]="true" *ngIf="visitDetails && visitDetails.modalBodyTexts">
    <div class="container-fluid custom-container">
        <div class="row mt10">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ visitDetails['modalTitle'] }}</h1>
            </div>
        </div>
        <div class="row mt10" *ngIf='visitDetails["modalSubTitle"]'>
            <div class="col-sm-12 mt10">
                <span>{{ visitDetails['modalSubTitle'] }}</span>
            </div>
        </div>
        <div class="row mt10" *ngIf='visitDetails["modalBodyTexts"] && visitDetails["modalBodyTexts"].length'>
            <div class="col-sm-12">
                <div *ngFor="let item of visitDetails['modalBodyTexts']">
                    <span *ngFor="let itemParts of item">{{ itemParts | translate }}</span>
                </div>
                <hr class="col24 mt15 mb15" *ngIf="visitDetails.isDiaryUpdateAllowed">
            </div>
        </div>
        <div class="row mt15" *ngIf="visitDetails.isDiaryUpdateAllowed">
            <div class="col-sm-12">
                <div class="col15">
                    <input type="button" id="btnVisitPlan" class="btn btn-primary mr5" value="{{ 'Plan' | translate }}"
                        *ngIf="visitDetails['isVisitPlanningEligible']" (click)="onCommandClick(commandPlan)">
                    <input type="button" id="btnVisits" class="btn btn-primary mr5" value="{{ 'Visits' | translate }}"
                        *ngIf="visitDetails['hasVisits']" (click)="onCommandClick(commandVisits)">
                    <input type="button" id="btnServiceCover" class="btn btn-primary"
                        value="{{ 'Service Cover' | translate }}" *ngIf="visitDetails['hasVisitServiceCover']"
                        (click)="onCommandClick(commandServiceCovers)">
                </div>
                <div class="col9 pull-right">
                    <input type="button" id="btnUndo" class="btn btn-primary" value="{{ 'Undo' | translate }}"
                        *ngIf="visitDetails['canUndoVisitPlanning']" (click)="onCommandClick(commandUndo)">
                    <input type="button" id="btnRefresh" class="btn btn-primary" value="{{ 'Refresh' | translate }}"
                        *ngIf="visitDetails['canRefreshVisitCalendar']" (click)="onCommandClick(commandRefresh)">
                </div>
            </div>
        </div>
    </div>
</icabs-modal>
