<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ pageTitle | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-10" *ngIf="isPrepVisible">
                    <label class="col24">{{ 'Preparation Code' | translate}}</label>
                    <div class="col4 pr5">
                        <input type="text" class="form-control" id="PrepCode" formControlName="PrepCode" size="10" maxlength="20">
                    </div>
                    <div class="col10 pr5">
                        <input type="text" class="form-control" id="PrepDesc" formControlName="PrepDesc" size="20" maxlength="40">
                    </div>
                    <div class="col2 pr5">
                        <input type="button" name="" value="{{ 'Add New' | translate }}" class="btn btn-secondary" [disabled]="!enableAddNew" [hidden]="!showAddNew"
                            [attr.data-hidden]="!showAddNew" (click)="onAddNew()">
                    </div>
                </div>
                <div class="col-sm-10" *ngIf="!isPrepVisible">
                    <div class="col2 pr5">
                        <input type="button" name="" value="{{ 'Add New' | translate }}" class="btn btn-secondary" [disabled]="!enableAddNew" [hidden]="!showAddNew"
                            [attr.data-hidden]="!showAddNew" (click)="onAddNew()">
                    </div>
                </div>

            </div>
            <hr class="mt15 mb15" *ngIf="isPrepVisible">

            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-table #prepChargeRateSearch (selectedData)="selectedData($event)" [page]="page" [itemsPerPage]="itemsPerPage" [paginationTop]="true"
                        [doTranslate]="true"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>