<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row mt10">
            <div class="col-sm-12 page-title">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-table #SystemInvoiceCreditReasonTable (selectedData)="selectedData($event)" [columns]="columns" [itemsPerPage]="itemsPerPage"></icabs-table>
            </div>
        </div>
    </section>
</section>