<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5" [hidden]="isLanguage">
                <div class="col-sm-4">
                    <label class="col24">{{'Language Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="LanguageCode" size="3" maxlength="3" formControlName="LanguageCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="LanguageDescription" size="20" maxlength="20" formControlName="LanguageDescription">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable (selectedData)="onSelect($event)" [columns]="columns" [paginationTop]="true" [displayError]="false"
                        [tableheader]="tableheading" [page]="page" (onRefresh)="buildTable()" [itemsPerPage]="itemsPerPage" [doTranslate]="true"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>