<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Debrief Search' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5" *ngIf="isEmployeeDisp">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" maxlength="8" size="8" class="form-control" formControlName="EmployeeCode" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" maxlength="30" size="30" class="form-control" formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.employee.childConfigParams"
                            [contentComponent]="ellipsisConfig.employee.component" (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15" *ngIf="isEmployeeDisp">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable (onRefresh)="buildTable()" [page]="page" [itemsPerPage]="itemsPerPage" (selectedData)="onRiTableBodyRecordSelected($event)"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>