<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Group' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" size="7" maxlength="5" formControlName="BranchServiceAreaCode"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" size="40" maxlength="40" formControlName="BranchServiceAreaDesc">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable [columns]="columns" (selectedData)="selectedData($event)" [itemsPerPage]="itemsPerPage" [paginationTop]="true"
                        (onRefresh)="onSearchClick()" [displayError]="false"></icabs-table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 pull-right">
                    <div class="col24">
                        <select id="menu" class="form-control" formControlName="menu" (change)="selectedOption($event.target.value)">
                            <option value="" [selected]="true">{{'Options' | translate}}</option>
                            <option value="AddPostcode">{{'Add Product Group' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>