<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{'Data Load Status Search'|translate}}
                </h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh></icabs-refresh>
                <icabs-pagination></icabs-pagination>
            </div>
        </div>
        <div class="row  mt10">
            <div class="col-sm-12">
                <icabs-grid></icabs-grid>
            </div>
        </div>
    </section>
    <footer class="screen-footer">
    </footer>
</section>