<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Contract Details' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <label for="ContractNumber">{{ 'Contract Number' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" size="7" maxlength="8" formControlName="ContractNumber">
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="ContractName" size="40" maxlength="40" formControlName="ContractName">
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="!this['pageParams']['trPremise'] ? 'hidden' : ''">
                <div class="col-sm-4">
                    <div class="col24">
                        <label for="PremiseNumber">{{ 'Premises Number' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" size="7" maxlength="8" formControlName="PremiseNumber">
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName">
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="!this['pageParams']['trProduct'] ? 'hidden' : ''">
                <div class="col-sm-4">
                    <div class="col24">
                        <label for="ProductCode">{{ 'Product Code' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ProductCode" size="7" maxlength="8" formControlName="ProductCode">
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="ProductDesc" size="40" maxlength="40" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="!this['pageParams']['trStatus'] ? 'hidden' : ''">
                <div class="col-sm-3">
                    <label class="col24" for="StatusSearch">{{ 'Request Status' | translate }}</label>
                    <div class="col8 pr5">
                        <select id="StatusSearch" class="form-control" formControlName="StatusSearch">
                            <option selected value="L">{{ 'Current' | translate }}</option>
                            <option value="F">{{ 'Finished' | translate }}</option>
                            <option value="C">{{ 'Cancelled' | translate }}</option>
                            <option value="ALL">{{ 'All' | translate }}</option>
                        </select>
                    </div>
                    <div class="col6">
                        <input type="button" class="btn btn-primary" value="{{ 'Search' | translate }}" (click)="onSearch()">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-table #riTable [columns]="columns" (selectedData)="tableRowClick($event)" [itemsPerPage]="itemsPerPage" [page]="page"
                        [paginationTop]="true" [displayError]="false"></icabs-table>
                </div>
            </div>
        </section>
        <footer class="screen-footer pt10">
            <div class="row" [ngClass]="!this['pageParams']['trAddButton'] ? 'hidden' : ''">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary" [disabled]="this['pageParams']['isAddRecord']" value="{{ 'Add Request' | translate }}"
                        (click)="addRequest()">
                </div>
            </div>
        </footer>
    </form>
</section>