<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' | translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ContractNumber" size="8" maxlength="8" formControlName="ContractNumber">
                    </div>
                    <div class="col17">
                        <input type="text" class="form-control" id="ContractName" size="40" maxlength="40" formControlName="ContractName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" size="8" maxlength="5" formControlName="PremiseNumber">
                    </div>
                    <div class="col17">
                        <input type="text" class="form-control" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' | translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ProductCode" size="8" maxlength="6" formControlName="ProductCode">
                    </div>
                    <div class="col17">
                        <input type="text" class="form-control" id="ProductDesc" size="40" maxlength="40" formControlName="ProductDesc">
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <div class="row mt10" *ngIf="isDisplayMenu">
            <div class="col-sm-3 pull-right">
                <select id="menu" class="form-control" formControlName="menu" (change)="menuOnchange($event.target.value)">
                <option selected value="">{{'Options' | translate}}</option>
                <option value="AddInfestation">{{'Add Infestation' | translate}}</option>
              </select>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 ">
                <icabs-table #infestationSearchtable (selectedData)="selectedData($event) " [page]="page
                    " [itemsPerPage]="itemsPerPage " [paginationTop]="true " [displayError]="false "></icabs-table>
            </div>
        </div>
    </form>
</section>