<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-10" *ngIf="isInfestationGroupPresent">
                    <label class="col24" for="InfestationGroupCode">{{ 'Infestation Group Code' | translate}}</label>
                    <div class="col4 pr5">
                        <input id="InfestationGroupCode" class="form-control" formControlName="InfestationGroupCode" type="text" size="2" maxlength="2">
                    </div>
                    <div class="col10 pr5">
                        <input id="InfestationGroupDesc" class="form-control" formControlName="InfestationGroupDesc" type="text" size="40" maxlength="40">
                    </div>
                    <div class="col2 pr5">
                        <input type="button" name="" value="{{ 'Add New' | translate }}" class="btn btn-primary" [hidden]="!isShowAddNew" [attr.data-hidden]="!isShowAddNew"
                            (click)="onAddNew()">
                    </div>
                </div>
                <div class="col-sm-10" *ngIf="!isInfestationGroupPresent">
                    <div class="col2 pr5">
                        <input type="button" name="" value="{{ 'Add New' | translate }}" class="btn btn-primary" [hidden]="!isShowAddNew" [attr.data-hidden]="!isShowAddNew"
                            (click)="onAddNew()">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable (onRefresh)="buildTable()" [page]="page" [itemsPerPage]="itemsPerPage" (selectedData)="selectedData($event)"
                        [paginationTop]="true"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>