<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <hr class="mt15 mb15" [ngClass]="!this['pageParams']['tblFreqSearch'] ? 'hidden' : ''">
    <form [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10" [ngClass]="!this['pageParams']['tblFreqSearch'] ? 'hidden' : ''">
                <div class="col-sm-3">
                    <div class="col24 pr5">
                        <label class="col24" for="FrequencySearchValue">{{ 'Frequency Value' | translate }}</label>
                        <input id="FrequencySearchValue" class="form-control" formControlName="FrequencySearchValue" type="text" maxlength="3" size="4"
                            eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col12 mt20">
                        <input class="custom-checkbox" type="checkbox" formControlName="ChkToleranceViewOnly" id="ChkToleranceViewOnly">
                        <label class="col24" for="ChkToleranceViewOnly">{{'Visit Tolerances Only'|translate}}</label>
                    </div>
                    <div class="col12 mt20 pr5">
                        <input type="button" (click)="onClickSearch()" class="btn btn-additional mr10" value="{{ 'Search' | translate }}">
                        <input type="submit" *ngIf="tdAddRecord" (click)="onAddNew($event)" class="btn btn-additional" value="{{ 'Add New' | translate }}">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #CalendarTemplateSearchTable id="tblFreqSearch" [columns]="columns" (selectedData)="tableRowClick($event)" [itemsPerPage]="itemsPerPage"
                        [page]="page" [paginationTop]="true" [displayError]="false"></icabs-table>
                </div>
            </div>
            <input type="hidden" id="VisitFrequency" formControlName="VisitFrequency" class="form-control">
            <input type="hidden" id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency" class="form-control">
            <input type="hidden" id="BranchNumber" formControlName="BranchNumber" class="form-control">
        </section>
    </form>
</section>