<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row mt10">
            <div class="col-sm-12 page-title">
                <h1>{{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5" *ngIf="isLanguageDetail">
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24" for="LanguageCode">{{'Language Code'|translate}}</label>
                        <input type="text" class="form-control" id="LanguageCode" formControlName="LanguageCode" size="3" maxlength="3" eTypeCode>
                    </div>
                    <div class="col16">
                        <label class="col24" for="LanguageDescription">{{'Language Description'|translate}}</label>
                        <input type="text" class="form-control" id="LanguageDescription" formControlName="LanguageDescription" size="20" maxlength="20">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15" *ngIf="isLanguageDetail">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table #riTable [columns]="tableParams['columns']" (selectedData)="selectedData($event)" [itemsPerPage]="tableParams['itemsPerPage']"
                        [paginationTop]="true" [displayError]="false"></icabs-table>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>