<section class="container-fluid custom-container">
	<header class="screen-header">
		<div class="row">
			<div class="col-sm-12 page-title mt10">
				<h1>{{ pageTitle | translate }}</h1>
			</div>
		</div>
	</header>
	<form novalidate>
		<section class="screen-body">
			<hr class="mt15 mb15">
			<div class="row">
				<div class="col-sm-12">
					<icabs-table #resultTable (dataLoaded)="tableDataLoaded($event)" (selectedData)="selectedData($event)" (onRefresh)="loadData()"
						[page]="page" [itemsPerPage]="itemsPerPage" [columns]="columns" [paginationTop]="true" [tableheader]="'ContactTypeDetail Search'"
						[doTranslate]="true" [rowmetadata]="rowmetadata" [(rows)]="rows"></icabs-table>
				</div>
			</div>
		</section>
	</form>
</section>