<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="ContractNumber" readonly class="form-control" formControlName="ContractNumber"
                            type="text" size="8" [attr.maxlength]="8">
                    </div>
                    <div class="col16">
                        <input id="ContractName" class="form-control" formControlName="ContractName" type="text"
                            size="40" [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="PremiseNumber" readonly class="form-control" formControlName="PremiseNumber"
                            type="text" size="8" [attr.maxlength]="5">
                    </div>
                    <div class="col16">
                        <input id="PremiseName" class="form-control" formControlName="PremiseName" type="text" size="40"
                            [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="ProductCode" readonly class="form-control" formControlName="ProductCode" type="text"
                            size="8" [attr.maxlength]="6">
                    </div>
                    <div class="col16">
                        <input id="ProductDesc" class="form-control" formControlName="ProductDesc" type="text" size="40"
                            [attr.maxlength]="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PrepCode">{{ 'Prep Code' | translate}} <span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input #prepCode type="text" eTypeCode id="PrepCode" size="5" [attr.maxlength]="3"
                            class="form-control" formControlName="PrepCode" (change)="onPrepCodeChange()">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" eTypeText id="PrepDesc" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="PrepDesc">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis (ellipsisData)="onPrepCodeDataReceived($event)"
                            [childConfigParams]="ellipsis.prepCodeEllipsis.inputParams"
                            [disabled]="ellipsis.prepCodeEllipsis.isEllipsisDisabled"
                            [contentComponent]="ellipsis.prepCodeEllipsis.contentComponent" [autoOpen]="false"
                            [showHeader]="true" [showCloseButton]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-4 control-group">
                    <div class="row mt10">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'Prep Used Maintenance' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Volume' | translate }} <span class="mandatory">* </span></label>
                            <div class="col24 pr5">
                                <input id="PrepVolume" class="form-control" formControlName="PrepVolume" eTypeDecimal2
                                    type="text" (change)="onPrepVolChange()" size="10" [attr.maxlength]="10">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Prep Value' | translate }} <span class="mandatory">*
                                </span></label>
                            <div class="col24 pr5">
                                <input id="PrepValue" class="form-control" formControlName="PrepValue" type="text"
                                    eTypeCurrency size="10" [attr.maxlength]="10">
                            </div>
                        </div>
                    </div>
                    <div class="row  mt10">
                        <div class="col-sm-10">
                            <label class="col24">{{ 'Text' | translate }} </label>
                            <div class="col24 pr5">
                                <input id="PrepUsedText" class="form-control" formControlName="PrepUsedText" type="text"
                                    size="50" [attr.maxlength]="50">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Batch Number' | translate }} </label>
                            <div class="col24 pr5">
                                <input id="PrepBatchNumber" class="form-control" formControlName="PrepBatchNumber"
                                    type="text" size="30" [attr.maxlength]="30">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 control-group">
                    <div class="row mt10">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'Room Clearance' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Room Clearance Time Span' | translate }} </label>
                            <div class="col24 pr5">
                                <input id="RoomClearanceSpan" class="form-control" formControlName="RoomClearanceSpan"
                                    type="text" size="10" [attr.maxlength]="10">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'Room Clearance Time' | translate }} </label>
                            <div class="col24 pr5">
                                <input id="RoomClearanceTime" class="form-control" formControlName="RoomClearanceTime"
                                    type="text" size="10" [attr.maxlength]="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt5">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="{{'Save' | translate }}"
                        (click)="onBtnClicked('Save')">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate }}"
                        (click)="onBtnClicked('Cancel')">
                    <input type="submit" class="btn btn-additional" value="{{'Delete' | translate }}"
                        (click)="onBtnClicked('Delete')" *ngIf="pageMode === 'eModeUpdate'">
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="confirmed()">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>