<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Language Search' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate>
        <section class="screen-body">
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-table #riMGLanguageSearchTable (selectedData)="selectedData($event)" [columns]="columns" [itemsPerPage]="itemsPerPage"></icabs-table>
                </div>
            </div>
        </section>
    </form>
</section>