<section class="container-fluid custom-container modal-fix">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="FilterSelect">{{ 'Search By' | translate }}</label>
                        <select class="form-control" formControlName="FilterSelect" id="FilterSelect">
                            <option value="UserCode" selected>{{ 'User Code' | translate }}</option>
                            <option value="UserName">{{ 'User Name' | translate }}</option>
                            <option value="TypeCode">{{ 'Type Code' | translate }}</option>
                            <option value="Employee">{{ 'Employee' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="InactiveUsers" formControlName="InactiveUsers">
                        <label class="col24" for="InactiveUsers">{{ 'Hide Inactive Users' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="Begins">{{ 'Begins' | translate}}</label>
                    <div class="col24">
                        <input id="Begins" class="form-control" formControlName="Begins" type="text" size="15">
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="NonRelatedEmployee"
                            formControlName="NonRelatedEmployee">
                        <label class="col24"
                            for="NonRelatedEmployee">{{ 'Show Non Related Employees' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <div class="col24">
                        <input type="button" class="btn btn-primary" value="{{ 'Add New' | translate }}"
                            (click)="onAddNew()" *ngIf="inputParams.showAddNew">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="onGridRefresh()"></icabs-refresh>
                    <icabs-pagination #pagination [currentPage]="gridParams.currentPage"
                        [totalItems]="gridParams.totalRecords" *ngIf="gridParams.totalRecords > 0"
                        [itemsPerPage]="gridParams.pageSize" (getCurrentPage)="onCurrentPageRecieved($event)"
                        [canExport]="true">
                    </icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
</section>