<div class="pagination-cont clearfix mb10" *ngIf="showPagination">
    <icabs-refresh (onRefresh)="refresh()" *ngIf="isRefreshVisible"></icabs-refresh>
    <ul class="pagination" *ngIf="pagination">
        <li class="pagination-first">
            <a href="" (click)="firstPage($event);"></a>
        </li>
        <li class="pagination-prev">
            <a href="" (click)="prevPage($event);"></a>
        </li>
        <li class="pagination-next">
            <a href="" (click)="nextPage($event);"></a>
        </li>
        <li class="pagination-last">
            <a href="" (click)="lastPage($event);"></a>
        </li>
    </ul>
</div>

<div *ngIf="rows && rows.length > 0" class="icabs-table table-responsive" [hidden]="hideOnPageLoad">
    <!-- New Table Implementation Starts -->
    <table class="table dataTable table-bordered" role="grid" [ngClass]="{'quick-search': isQuickSearch}">
        <thead>
            <tr role="row">
                <th *ngFor="let column of columns" [style.width.%]="getCellWidth(column.size)"
                    [ngClass]="{'isSorted': (isEnableSort && column.colCode === selectedColumn)}">
                    {{ column.title | translate }}
                    <div class="glyphicon pointer pb20 pl15 pr15" *ngIf="isEnableSort && getColSortType(column)"
                        [ngClass]="{'disabledSort':!isEnableSort, 'glyphicon-menu-up':column['sort'] !== 'asc', 'glyphicon-menu-down':column['sort'] === 'asc'}"
                        (click)="isEnableSort && columnSort(column)"></div>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="!isStaticMode">
            <tr *ngFor="let row of rows; let rowIndex = index;" [attr.data-index]="rowIndex"
                [tabindex]="tabbable ? 0 : -1"
                [ngClass]="rowIndex === selectedRow || rowIndex === linkClickedRow ? 'selected' : ''"
                (keyup)="onKeyUp(rowIndex, $event)">
                <td *ngFor="let column of columns" [innerHtml]="column.type ? formatData(row, column) : row[column.name]" (click)="onCellClick(rowIndex, $event)" [ngClass]="getAlignmentClass(column)">
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="isStaticMode">
            <tr *ngFor="let row of rows; let rowIndex = index;" [attr.data-index]="rowIndex"
                [tabindex]="tabbable ? 0 : -1"
                [ngClass]="rowIndex === selectedRow || rowIndex === linkClickedRow ? 'selected' : ''"
                (keyup)="onKeyUp(rowIndex, $event)">
                <td *ngFor="let column of columns" (click)="onCellClick(rowIndex, $event)"
                    [ngClass]="getAlignmentClass(column)">{{ row[column.name]}}
                </td>
            </tr>
        </tbody>

    </table>
    <!-- New Table Implementation Ends -->
</div>

<div *ngIf="showEmptyBlock">
    <div [hidden]="hideOnPageLoad" class="icabs-table table-responsive">
        <table class="table dataTable table-bordered" role="grid" [ngClass]="{'quick-search': isQuickSearch}"
            *ngIf="!rows || rows.length <= 0">
            <thead>
                <tr role="row">
                    <th *ngFor="let column of columns" [style.width.%]="getCellWidth(column.size)">
                        {{ column.title | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td [attr.colspan]="getColSize()"><strong> {{ message }} </strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<icabs-spinner [isRunning]="isRequesting" *ngIf="showSpinner"></icabs-spinner>
<icabs-modal #errorModal="child" (showHeader)="true"></icabs-modal>