<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col20">
                        <label class="col24" for="FilterRegAuthority">{{'Regulatory Authority' | translate }}</label>
                        <icabs-dropdown-static #filterRegAuthorityDropdown class="" [inputData]="filterRegAuthorityList" (onSelect)="filterRegAuthorityOnChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col20">
                        <label class="col24" for="FilterWasteTransferType">{{'Waste Transfer Type' | translate }}</label>
                        <icabs-dropdown-static #filterWasteTransferTypeDropdown class="" [inputData]="filterWasteTransferTypeList" (onSelect)="filterWasteTransferTypeOnChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="PrintCopies">{{'Copies To Print' | translate }}</label>
                    <div class="col12 pr5">
                        <input id="PrintCopies" type="text" formControlName="PrintCopies" size="10" [attr.maxlength]="7" class="form-control" eTypeInteger>
                    </div>
                    <div class="co6">
                        <input type="button" class="btn btn-primary" (click)="cmdPrintCopiesOnClick()" value="{{ 'Print' | translate }}">
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="scheduleRequiredInd === 'yes' ? '': 'hidden'">
                <div class="col-sm-3">
                    <label class="col24" for="SchedulePrintCopies">{{'Schedule Copies To Print' | translate }}</label>
                    <div class="col12 pr5">
                        <input id="SchedulePrintCopies" type="text" formControlName="SchedulePrintCopies" size="10" [attr.maxlength]="7" class="form-control"
                            eTypeInteger>
                    </div>
                    <div class="co6">
                        <input type="button" class="btn btn-primary" (click)="cmdPrintScheduleCopiesOnClick()" value="{{ 'Print' | translate }}">
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="authorityCopyRequiredInd === 'yes' ? '': 'hidden'">
                <div class="col-sm-3">
                    <label class="col24" for="AuthorityPrintCopies">{{'Authority Copies To Print' | translate }}</label>
                    <div class="col12 pr5">
                        <input id="AuthorityPrintCopies" type="text" formControlName="AuthorityPrintCopies" size="10" [attr.maxlength]="7" class="form-control"
                            eTypeInteger>
                    </div>
                    <div class="co6">
                        <input type="button" class="btn btn-primary" (click)="cmdPrintAuthorityCopiesOnClick()" value="{{ 'Print' | translate }}">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="checkbox" class="form-control" id="UsePrintTool" formControlName="UsePrintTool">
                    <label class="col24" for="UsePrintTool">{{'Use Print Tool'|translate}}</label>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>