<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Contract Select' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" size="9" [attr.maxlength]="8" class="form-control" formControlName="ContractNumber" (change)="onContractChange();"
                            icabsZeroPad eTypeCode fetchDescription [table]="lookupObj.table" query="ContractNumber" [select]="lookupObj.fields"
                            [shouldTrigger]="trigger" [hideNotification]="true">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" size="40" [attr.maxlength]="40" class="form-control" formControlName="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="autoOpenSearch" [modalConfig]="modalConfig" [showCloseButton]="showCloseButton" [childConfigParams]="contractSearchParams"
                            [contentComponent]="contractSearchComponent" (ellipsisData)="onContractDataReceived($event)" [showHeader]="showHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt20 mb20">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Account Number' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="AccountNumber" size="10" [attr.maxlength]="9" formControlName="AccountNumber" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Status' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="Status" size="20" [attr.maxlength]="20" formControlName="Status" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Commence Date' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractCommenceDate" size="10" [attr.maxlength]="10" formControlName="ContractCommenceDate"
                            eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Neg. Branch' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="NegBranchNumber" size="3" [attr.maxlength]="5" formControlName="NegBranchNumber" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Value' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractAnnualValue" size="20" [attr.maxlength]="23" formControlName="ContractAnnualValue"
                            eTypeCurrency>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Current Premises' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="CurrentPremises" size="3" [attr.maxlength]="3" formControlName="CurrentPremises" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Invoice Anniversary Date' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="InvoiceAnnivDate" size="10" [attr.maxlength]="10" formControlName="InvoiceAnnivDate"
                            eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Invoice Frequency' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="InvoiceFrequencyCode" size="3" [attr.maxlength]="2" formControlName="InvoiceFrequencyCode"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Notice Period' | translate }}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="LostBusinessNoticePeriod" size="3" [attr.maxlength]="2" formControlName="LostBusinessNoticePeriod"
                            eTypeInteger>
                    </div>
                    <span class="col2 pl5 mt5">{{ 'Months' | translate }}</span>
                </div>
            </div>
        </section>
        <hr class="mt20 mb20">
        <footer class="screen-footer">
            <div class="row mt5">
                <div class="col-sm-3 pull-right">
                    <icabs-dropdown-static [disabled]="ismenudisabled" [inputData]="viewTypesArray" (onSelect)="onViewTypeCodeChange($event)"></icabs-dropdown-static>
                </div>
            </div>
        </footer>
    </form>
</section>