<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{'Closed Service'|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt15">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active" id="General">
                            <a class="nav-link active">
                                <span>{{'Import'|translate }}</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div id="Import" class="mt10">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-sm-6">
                    <div class="col24">
                        <input type="button" value="Import CVC Details From An Excel Worksheet" id="cmdImport" name="cmdImport">
                    </div>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
        </footer>
    </form>
</section>