<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Shared Visit Release' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Job/Contract Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" class="form-control" size="8" maxlength="8" [icabsDirFocus]="setFocusOnContractNumber"
                            (change)="contractNumberOnChange()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" class="form-control" size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contractNumberSearch.childConfigParams" [contentComponent]="ellipsis.contractNumberSearch.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" (ellipsisData)="contractNumberSearchOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Visit Freq'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency" class="form-control" size="3" maxlength="3"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="PremiseNumber" formControlName="PremiseNumber" class="form-control" size="8" maxlength="5" (change)="premiseNumberOnChange()"
                            eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="PremiseName" formControlName="PremiseName" class="form-control" size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premiseNumberSearch.childConfigParams" [contentComponent]="ellipsis.premiseNumberSearch.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" (ellipsisData)="premiseNumberSearchOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{'Service Date From'|translate}}<span class="mandatory">*</span></label>
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [attr.maxlength]="10" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{'To'|translate}}<span class="mandatory">*</span></label>
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [attr.maxlength]="10" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductCode" formControlName="ProductCode" class="form-control" size="8" maxlength="6" (change)="productCodeOnChange()"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ProductDesc" formControlName="ProductDesc" class="form-control" size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.productSearch.childConfigParams" [contentComponent]="ellipsis.productSearch.contentComponent"
                            [showHeader]="true" [showCloseButton]="true" (ellipsisData)="productSearchOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="this['pageParams']['totalRecords'] > 0 ? '':'hidden'" [totalItems]="this['pageParams']['totalRecords']"
                        [currentPage]="this['pageParams']['curPage']" [itemsPerPage]="this['pageParams']['pageSize']" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyOnDblClick($event)" (headerClick)="riGridSort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>