<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Customer Complaint Details - Business'}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Region' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ReportTypeCode" size="6" maxlength="2" class="form-control" formControlName="ReportTypeCode">
                    </div>
                    <div class="col16">
                        <input type="text" id="ReportTypeDesc" size="30" maxlength="40" class="form-control" formControlName="ReportTypeDesc">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Report Number' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="ReportNumber" size="10" maxlength="10" class="form-control" formControlName="ReportNumber">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col8 pr5">
                        <label class="col24">{{ 'From' | translate }}</label>
                        <input type="text" id="DateFrom" size="10" maxlength="10" class="form-control" formControlName="DateFrom">
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{ 'To' | translate }}</label>
                        <input type="text" id="DateTo" size="10" maxlength="10" class="form-control" formControlName="DateTo">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Contact Type' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="ContactType" size="30" maxlength="30" class="form-control" formControlName="ContactType">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24">{{ 'View by' | translate }}</label>
                    <div class="col16">
                        <select id="ViewBy" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24">{{ 'Detail' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="ContactTypeDetail" size="30" maxlength="30" class="form-control" formControlName="ContactTypeDetail">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24">{{ 'Customer Type' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="CustomerType" size="30" maxlength="30" class="form-control" formControlName="CustomerType">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-3">
                    <label class="col24">{{ 'Root Cause' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="RootCause" size="30" maxlength="30" class="form-control" formControlName="RootCause">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-table></icabs-table>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
        </footer>
    </form>
</section>