<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Confirmed Service Plans' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="7" [attr.maxlength]="4" formControlName="BranchServiceAreaCode" class="form-control"
                            (change)="onChangeBranchServiceAreaCode()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="EmployeeSurname" size="40" [attr.maxlength]="40" formControlName="EmployeeSurname" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #branchserviceareacodeEllipsis [showCloseButton]="ellipsis.branchServiceAreaCode.isShowCloseButton" [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams"
                            [modalConfig]="ellipsis.branchServiceAreaCode.modalConfig" [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent"
                            (ellipsisData)="onRecieveBranchServiceAreaCode($event)" [showHeader]="ellipsis.branchServiceAreaCode.isShowHeader"
                            [disabled]='ellipsis.branchServiceAreaCode.isDisabled'>
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Status' | translate }}</label>
                    <div class="col12 pr5">
                        <icabs-dropdown-static #status class="" [inputData]="statusOptions" [disabled]="" (onSelect)="onStatusChange($event)" [doTranslate]="false"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24" for="WeekNumber">{{ 'Week Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="WeekNumber" size="2" [attr.maxlength]="2" formControlName="WeekNumber" class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <icabs-refresh (click)="refresh()"> </icabs-refresh>
                    <icabs-pagination *ngIf="isVisiblePagination" [totalItems]="totalRecords" [currentPage]="curPage" [itemsPerPage]="10" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (headerClick)="onHeaderSortOrderable()" (bodyDblClick)="riGridBodyOnDblClick($event)" (bodyKeyDown)="riGridBodyOnKeyDown($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>