<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number'|translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input id="ContractNumber" tabindex="1" formControlName="ContractNumber" type="text" size="9" [attr.maxlength]="9" class="form-control"
                            placeholder="" (change)="onContractChange($event.target.value)">
                    </div>
                    <div class="col14 pr5">
                        <input id="ContractName" formControlName="ContractName" type="text" size="40" [attr.maxlength]="40" class="form-control"
                            placeholder="">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.contract.disabled" [autoOpen]="ellipsisConfig.contract.autoOpen" [modalConfig]="modalConfig"
                            [showCloseButton]="ellipsisConfig.contract.showCloseButton" [showHeader]="ellipsisConfig.contract.showHeader"
                            [childConfigParams]="ellipsisConfig.contract.childConfigParams" [contentComponent]="ellipsisConfig.contract.component"
                            (ellipsisData)="riMaintenance_Search($event, 'contract')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Commence Date'|translate }}</label>
                    <div>
                        <input id="ServiceCommenceDate" formControlName="ServiceCommenceDate" eTypeDate size="9" [attr.maxlength]="10" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number'|translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input id="PremiseNumber" tabindex="2" formControlName="PremiseNumber" type="text" size="9" [attr.maxlength]="9" class="form-control"
                            placeholder="" >
                    </div>
                    <div class="col14 pr5">
                        <input id="PremiseName" formControlName="PremiseName" type="text" size="40" [attr.maxlength]="40" class="form-control" placeholder="">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.premise.disabled" [modalConfig]="modalConfig" [showCloseButton]="ellipsisConfig.premise.showCloseButton"
                            [showHeader]="ellipsisConfig.premise.showHeader" [childConfigParams]="ellipsisConfig.premise.childConfigParams"
                            [contentComponent]="ellipsisConfig.premise.component" (ellipsisData)="riMaintenance_Search($event, 'premise')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Service Quantity'|translate }}</label>
                    <div>
                        <input id="ServiceQuantity" formControlName="ServiceQuantity" type="text" size="3" [attr.maxlength]="3" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input id="ProductCode" tabindex="3" formControlName="ProductCode" type="text" size="9" [attr.maxlength]="9" class="form-control"
                            placeholder="" eTypeCode >
                    </div>
                    <div class="col14 pr5">
                        <input id="ProductDesc" formControlName="ProductDesc" type="text" size="40" [attr.maxlength]="40" class="form-control" placeholder="">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #serviceCoverSearch [disabled]="ellipsisConfig.product.disabled" [showCloseButton]="ellipsisConfig.product.showCloseButton"
                            [showHeader]="ellipsisConfig.product.showHeader" [childConfigParams]="ellipsisConfig.product.childConfigParams"
                            [contentComponent]="ellipsisConfig.product.component" (ellipsisData)="riMaintenance_Search($event, 'product')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Service Frequency'|translate }}</label>
                    <div>
                        <input id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency" type="text" size="3" [attr.maxlength]="3" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Value'|translate }}</label>
                    <div>
                        <input id="ServiceAnnualValue" formControlName="ServiceAnnualValue" type="text" size="10" [attr.maxlength]="10" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Status'|translate }}</label>
                    <div>
                        <input id="Status" formControlName="Status" type="text" size="20" [attr.maxlength]="20" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4" style="display:none">
                    <label class="col24">{{'From'|translate }}</label>
                    <div>
                        <input id="InactiveEffectDate" formControlName="InactiveEffectDate" eTypeDate size="9" [attr.maxlength]="9" class="form-control">
                    </div>
                </div>
            </div>
            <hr class="mb15">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Old Service Visit Anniversary Date'|translate }}</label>
                    <div>
                        <input id="ServiceVisitAnnivDate" formControlName="ServiceVisitAnnivDate" eTypeDate size="9" [attr.maxlength]="10" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label for="NewAnnivDate" class="col24">{{'New Service Visit Anniversary Date' | translate}}
                      <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                      <icabs-datepicker id="NewAnnivDate" formControlName="NewAnnivDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label for="LastChangeEffectDate" class="col24">{{'Effective Date'|translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker id="LastChangeEffectDate" formControlName="LastChangeEffectDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>  
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-3">
                    <input class="btn btn-primary mr10" id="submit" type="submit" [disabled]="!this.uiForm.valid" [value]="'Save' | translate" (click)="onSaveClick()">
                    <input class="btn btn-secondary" type="button" [value]="'Cancel' | translate" (click)="cancel()">
                </div>
            </div>
        </footer>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>
