<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title">
            <h1>
                {{ pageTitle| translate}}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{"Service Area" | translate}}</label>
                <div class="col7 pr5">
                    <input id="BranchServiceAreaCode" maxlength="8" class="form-control" formControlName="BranchServiceAreaCode" type="text"
                        eTypeCode>
                </div>
                <div class="col17 pr5">
                    <input id="EmployeeSurname" maxlength="35" class="form-control" type="text" formControlName="EmployeeSurname" eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{"Select" | translate}}</label>
                <div class="col14 pr5">
                    <select class="form-control" formControlName="DayMode">
                           <option *ngFor="let dayMode of dayModeData"  value="{{dayMode.value}}" >{{dayMode.text|translate}}</option>
            </select>
                </div>
                <div class="col10">
                    <icabs-datepicker tabindex="2" id="StartDate" formControlName="StartDate" [isDirectiveBased]="false"></icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="isRerouteMode">
                <label class="col24">&nbsp;</label>
                <div class="col8">
                    <input id="cmdShowDestination" class="btn btn-primary" type="button" value={{this.pageParams.showDestValue|translate}} (click)="onDestinationClick()">
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="isRerouteMode  && pageParams.isShowDest">
            <div class="col-sm-4">
                <label class="col24">{{"Destination Service Area"|translate}}</label>
                <div class="col7 pr5">
                    <input id="BranchServiceAreaCodeTo" maxlength="8" class="form-control" type="text" formControlName="BranchServiceAreaCodeTo"
                        (change)="onChangeBranchServiceAreaCodeTo($event)" eTypeCode>
                </div>
                <div class="col15 pr5">
                    <input id="EmployeeSurnameTo" maxlength="35" class="form-control" type="text" formControlName="EmployeeSurnameTo" eTypeText>

                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="inputParamsBranchServiceAreaSearch" [contentComponent]="branchServiceAreaSearchComponent"
                        [showHeader]="true" [disabled]="false" (ellipsisData)="onBranchServiceArea($event)"></icabs-ellipsis>
                </div>

            </div>
            <div class="col-sm-4">
                <label class="col24">&nbsp;</label>
                <div class="col16 pr5">
                    <select class="form-control" formControlName="RelatedVisits">
                           <option *ngFor="let relatedVisits of relatedVisitseData"  value="{{relatedVisits.value}}">{{relatedVisits.text|translate}}</option>
            </select>
                </div>
                <div class="col8 pr5">
                    <input id="cmdPlanMove" class="btn btn-primary" type="button" value="{{'Move'|translate}}" (click)="onCmdPlanMoveClick()">
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="isRerouteMode && pageParams.isShowDest">
            <div class="col-sm-3">
                <label class="col24">{{"Destination Date"|translate}}</label>
                <div class="col12 pr5">
                    <icabs-datepicker tabindex="2" id="EndDate" formControlName="EndDate" [isDirectiveBased]="false" (onChange)="endDateSelectedValue($event)"></icabs-datepicker>
                </div>
                <div class="col8 pr5">
                    <input id="cmdToDate" class="btn btn-primary" type="button" value="{{'View Destination'|translate}}" (click)="onCmdToDateClick()">
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row mt2" *ngIf="pageParams.isShowFilter">
            <div class="col-sm-3">
                <label class="col24">{{"Neg Branch" | translate}}</label>
                <div class="col24">
                    <icabs-branchsearch [inputParams]="inputParamsBranch" (receivedbranchsearch)="onBranchDataReceived($event)" [active]="negBranchNumberSelected"></icabs-branchsearch>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{"Product Service Groups" | translate}}</label>
                <div class="col24 pr5">
                    <icabs-sbproductservice-groupsearch [inputParams]="dropDown.productGroupSearch.inputParams" [active]="dropDown.productGroupSearch.active"
                        [isDisabled]="dropDown.productGroupSearch.isDisabled" [isRequired]="dropDown.productGroupSearch.isRequired"
                        (receivedProductServiceGroupSearch)="onProductSearchReceived($event)"></icabs-sbproductservice-groupsearch>

                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{"Seq Number" | translate}}</label>
                <div class="col24 pr5">
                    <input id="SequenceNumber" maxlength="5" class="form-control" type="text" formControlName="SequenceNumber" pattern="([0-9]\d*)?(\.\d+)?$"
                        eTypeInteger>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="pageParams.isShowFilter">
            <div class="col-sm-3">
                <label class="col24">{{"Service Type" |translate}}</label>
                <div class="col24">
                    <icabs-servicetype-search [inputParams]="dropDown.serviceTypeSearch.inputParams" [active]="dropDown.serviceTypeSearch.active"
                        (receivedServiceTypeData)="onServiCeTypeReceived($event)"></icabs-servicetype-search>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{"Contract Type" | translate}}</label>
                <div class="col24 pr5">
                    <select class="form-control" formControlName="ContractTypeFilter">
                           <option *ngFor="let ContractType of contractTypeFiltereData"  value="{{ContractType.value}}" >{{ContractType.text|translate}}</option>
            </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{"Contract Number"| translate}}</label>
                <div class="col14 pr5">
                    <input id="ContractNumberSearch" maxlength="8" class="form-control" type="text" formControlName="ContractNumberSearch" icabsZeroPad
                        eTypeText>
                </div>
                <div class="col3">
                    <icabs-ellipsis #contractSearchCompponent [contentComponent]="contractSearchComponent" [childConfigParams]="inputParams"
                        (ellipsisData)="onDataReceived($event)" [showHeader]="true" [showCloseButton]="true"></icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="pageParams.isShowFilter">
            <div class="col-sm-3 pull-right">
                <label class="col24">{{"Frequency" | translate}}</label>
                <div class="col24 pr5">
                    <input id="Frequency" maxlength="8" class="form-control" type="text" formControlName="Frequency" eTypeText>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15" *ngIf="pageParams.isShowFilter">
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24">{{"Display Lines"|translate}}</label>
                <div class="col12 pr5">
                    <input id="GridPageSize" maxlength="2" class="form-control" type="text" formControlName="GridPageSize" eTypeInteger>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col24">{{"Visit Count"|translate}}</label>
                <div class="col24 pr5">
                    <input id="TotalNoOfCalls" maxlength="6" class="form-control" type="text" formControlName="TotalNoOfCalls" eTypeInteger>
                </div>
            </div>
            <div class="col-sm-2" *ngIf="pageParams.vEnableInstallsRemovals">
                <label class="col24">{{"Units"|translate}}</label>
                <div class="col24 pr5">
                    <input id="TotalNoOfExchanges" maxlength="6" class="form-control" type="text" formControlName="TotalNoOfExchanges" eTypeInteger>
                </div>
            </div>
            <div class="col-sm-2" *ngIf="pageParams.vEnableWED">
                <label class="col24">{{"W.E.D"|translate}}</label>
                <div class="col24 pr5">
                    <input id="TotalWED" maxlength="6" class="form-control" type="text" formControlName="TotalWED" eTypeDecimal1>
                </div>
            </div>
            <div class="col-sm-2">
                <label class="col24">{{"Time"|translate}}</label>
                <div class="col24 pr5">
                    <input id="TotalTime" maxlength="6" class="form-control" type="text" formControlName="TotalTime" eTypeText>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-12">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination #sumWorkRezonePagination [itemsPerPage]="pageParams.pageSize" [currentPage]="pageCurrent" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (bodyClick)="onCellClick($event)" (headerClick)="onClickHeader($event)" (bodyDblClick)="onBodyDblClick($event)"></icabs-grid-advanced>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row mt2">
            <div class="col-sm-2">
                <div class="col24 pr5">
                    <input id="cmdShowFilter" class="btn btn-primary" type="button" value={{this.pageParams.showFilterValue|translate}} (click)="onCmdShowFilterClick()">
                </div>
            </div>

            <div class="col-sm-7 text-center">
                <div class="inline-block pr10" *ngFor="let l of legend">
                    <div class="legend inline-block mr5" [style.background-color]="l.color"></div>
                    <label>{{ l.label | translate }}</label>
                </div>
            </div>
            <div class="col-sm-2 pull-right text-right">
                <div *ngIf="pageParams.isCheckAll">
                    <input class="custom-checkbox" type="checkbox" id="MoveCheckAll" formControlName="MoveCheckAll" (change)="onMoveCheckAllClick($event)">
                    <label for="MoveCheckAll">{{"Check/uncheck All"|translate}}</label>
                </div>
            </div>
        </div>

    </form>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</div>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>