<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="BranchServiceAreaCode" [attr.maxlength]="4" size="8" id="BranchServiceAreaCode"
                            eTypeCode (change)="branchServiceAreaCodeOnchange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" formControlName="EmployeeSurname" [attr.maxlength]="25" size="25" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParamsBranchServiceAreaSearch" [contentComponent]="branchServiceAreaSearchComponent"
                            [showHeader]="true" [disabled]="false" (ellipsisData)="onBranchServiceArea($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="ContractTypeCode">{{ 'Show' | translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #selectDayDropdown [inputData]="selectContractTypeCodeOptions" [disabled]="fieldDisabled.SelectContractTypeCode"
                            (onSelect)="selectContractTypeCodeOptionsChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="PremisePostcode">{{ 'Postcode' | translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" formControlName="PremisePostcode" size="8" [attr.maxlength]="8" eTypeCode>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="PortfolioStatusType">{{ 'Show' | translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #portfolioStatusTypeDropdown [inputData]="portfolioStatusTypeOptions" [disabled]="fieldDisabled.PortfolioStatusType"
                            (onSelect)="portfolioStatusTypeOptionsChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="PremiseTown">{{ 'Town' | translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" formControlName="PremiseTown" size="10" eTypeText>
                    </div>
                </div>

                <div class="col-sm-3" [hidden]="hideObj.trEntitlement">
                    <label class="col24" for="EntitlementProd">{{ 'Entitlement Product' | translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #entitlementProdeDropdown [inputData]="entitlementProdOptions" [disabled]="fieldDisabled.EntitlementProd"
                            (onSelect)="entitlementProdOptionsChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="SeqNumberFrom">{{ 'Position on Seq Number' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" formControlName="SeqNumberFrom" size="10" [attr.maxlength]="6" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24 mt20" [hidden]="hideObj.trDisplayErrors">
                        <input type="checkbox" class="form-control" formControlName="DisplayErrors" id="DisplayErrors" (change)="changeDisplayErrors($event.target.checked)">
                        <label class="col24" for="DisplayErrors">{{ 'Display Errors Only' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-5 mt20">
                    <input type="button" class="btn btn-primary mr10" value="{{'Export Changes' | translate}}" *ngIf="hideObj.ExportChanges">
                    <input type="button" class="btn btn-primary mr10" value="{{'Import Changes' | translate}}" *ngIf="hideObj.ImportChanges">
                    <input type="button" class="btn btn-primary mr10" value="{{'Apply Changes' | translate}}" *ngIf="hideObj.ApplyChanges" (click)="btnApplyChangesOnclick()">
                </div>
                <div class="col-sm-2" [hidden]="hideObj.LastChangeEffectDate">
                    <label class="col24">{{ 'Effective Date' | translate}}</label>
                    <div class="col24">
                        <icabs-datepicker #effectiveDateChild [dt]='currDate' (selectedValue)="effectiveDateSelectedValue($event)" [isReadonly]="fieldDisabled.LastChangeEffectDate"
                            [isRequired]="fieldRequired.LastChangeEffectDate" [clearDate]="true" [isDisabled]="fieldDisabled.LastChangeEffectDate"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-5 mt20">
                    <label class="message-box info-label hidden" id="tdSaveRequired" [hidden]="hideObj.tdSaveRequired">{{ 'Changes Require Confirming' | translate}}</label>
                    <label class="message-box warning hidden" id="tdErrors" [hidden]="hideObj.tdErrors">{{ 'Errors Require Resolving' | translate}}</label>
                    <label class="message-box info-success" id="tdNoChanges" [hidden]="hideObj.tdNoChanges">{{ 'No Changes Found' | translate}}</label>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-6">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination *ngIf="totalRecords > 0" [totalItems]="totalRecords" [itemsPerPage]="pageSize" 
                    [canExport]="true" [exportOptions]="exportConfig" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyOndblClick($event)" (bodyKeyDown)="riGridBodyOnKeyDown($event)" (headerClick)="riGridSort()"
                    (onSuccess)="riGridAfterExecute()"></icabs-grid-advanced>
            </div>
        </div>
        <footer class="screen-footer">
            <div class="row mt5">
                <div class="col-sm-9">
                    <div class="col3 pr5">
                        <label class="col24" for="TotalPremises">{{ 'Total Premises' | translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" formControlName="TotalPremises" size="10" [attr.maxlength]="10" eTypeInteger>
                        </div>
                    </div>
                    <div class="col3 pr5">
                        <label class="col24" for="TotalExchanges">{{ 'Annual Units' | translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" formControlName="TotalExchanges" size="10" [attr.maxlength]="10" eTypeInteger>
                        </div>
                    </div>
                    <div class="col3 pr5" [hidden]="hideObj.TotalWEDs">
                        <label class="col24">{{ 'Total W.E.D.' | translate}}</label>
                        <div class="col24" for="TotalWEDs">
                            <input type="text" class="form-control" formControlName="TotalWEDs" size="10" [attr.maxlength]="10" eTypeDecimal1>
                        </div>
                    </div>
                    <div class="col3 pr5">
                        <label class="col24" for="TotalHours">{{ 'Annual Hours' | translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" formControlName="TotalHours" size="10" [attr.maxlength]="10" eTypeText>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 mt20 pull-right">
                    <div class="col24">
                        <icabs-dropdown-static #menuDropdown [inputData]="menuOptions" [disabled]="fieldDisabled.menu" (onSelect)="menuOptionsChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>