<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{'Preview API' | translate}} - {{'Contract' | translate}}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24">{{'Business' | translate}}</label>
                <div class="col8 pr5" style="display:none">
                    <input id="businessCode" [attr.maxlength]="1" formControlName="BusinessCode" class="form-control" type="text" readonly eTypeCode>
                </div>
                <div class="col16">
                    <input id="businessDesc" [attr.maxlength]="30" formControlName="BusinessDesc" class="form-control" type="text" readonly eTypeText>
                </div>

            </div>
            <div class="col-sm-3">
                <label class="col24">{{'API Month' | translate}}</label>
                <div class="col12">
                    <input id="apiMonth" [attr.maxlength]="14" formControlName="MonthName" type="text" class="form-control" placeholder="" readonly
                        eTypeText>
                </div>
            </div>

        </div>
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="this['pageParams'].trBranch">
                <label class="col24">{{'Branch' | translate}}</label>
                <div class="col8 pr5">
                    <input id="branchNumber" [attr.maxlength]="5" formControlName="BranchNumber" class="form-control" type="text" readonly eTypeInteger>
                </div>
                <div class="col16">
                    <input id="branchName" [attr.maxlength]="30" formControlName="BranchName" class="form-control" type="text" readonly eTypeText>
                </div>

            </div>
            <div class="col-sm-3" *ngIf="this['pageParams'].trRegion">
                <label class="col24">{{'Region' | translate}}</label>
                <div class="col8 pr5">
                    <input id="regionCode" [attr.maxlength]="1" formControlName="RegionCode" class="form-control" type="text" readonly eTypeCode>
                </div>
                <div class="col16">
                    <input id="regionDesc" [attr.maxlength]="30" formControlName="RegionDescription" class="form-control" type="text" readonly eTypeText>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Only Include Contracts Less Than Value' | translate}}</label>
                <div class="col16">
                    <input id="lessThan" [attr.maxlength]="14" formControlName="LessThan" type="text" class="form-control" placeholder="" readonly eTypeDecimal2>
                </div>
            </div>
        </div>
    </form>
    <hr class="mt15 mb15">
    <div class="row">
        <div class="col-sm-12">
            <icabs-refresh (onRefresh)="getRefreshData()"> </icabs-refresh>
            <icabs-pagination #apiContractPagination *ngIf="this['pageParams'].totalItems > 0" [totalItems]="this['pageParams'].totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="this['pageParams'].currentPage"
                (getCurrentPage)="getCurrentPage($event)" [canExport]="true" [exportOptions]="{dateColumns: '9'}"></icabs-pagination>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid #apiContractGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="this['pageParams'].currentPage" (gridInfo)="getGridInfo($event)"
                (selectedRowInfo)="getSelectedRowInfo($event)" [validateProperties]="validateProperties"></icabs-grid>
        </div>
    </div>

</div>