<section class="container-fluid custom-container" [ngClass]="{hidden:displayObject.trScreen}">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" [ngClass]="{hidden:displayObject.trBusiness}">
                    <label class="col24">{{'Business' |translate}} </label>
                    <div class="col24">
                        <select class="form-control" formControlName="BusinessCodeText"
                            [attr.disabled]="disableObject.BusinessCode">
                            <option *ngFor="let item of businessDropdown" [value]="item.value">
                                {{item.text  | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" [ngClass]="{hidden:displayObject.trRegion}">
                    <label class="col24">{{'Region' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="11" [attr.maxlength]="11" class="form-control"
                            formControlName="RegionCode" id="RegionCode" [attr.disabled]="disableObject.RegionCode">
                    </div>
                    <div class="col16">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="RegionDesc" id="RegionDesc" [attr.disabled]="disableObject.RegionDesc">
                    </div>
                </div>
                <div class="col-sm-4" [ngClass]="{hidden:displayObject.trBranch}">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col24">
                        <input type="text" class="form-control" formControlName="branchNumberText"
                            [attr.disabled]="true">
                        <icabs-branchsearch [ngClass]="{hidden:true}" #branchSearchDropDown
                            [inputParams]="inputParams.branchParams"
                            (receivedbranchsearch)="onBranchDataReceived($event)" [isDisabled]="true"
                            [active]="inputParams.branchNumberSelected"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Employee' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="EmployeeCode" id="EmployeeCode"
                            [attr.disabled]="disableObject.EmployeeCode" (change)="employeeCodeOnChange()">
                    </div>
                    <div class="col14">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="EmployeeSurname" id="EmployeeSurname"
                            [attr.disabled]="disableObject.EmployeeSurname">
                    </div>
                    <div class="col2 text-right">
                        <icabs-ellipsis #employeeSearchEllipsis [showCloseButton]="true"
                            [childConfigParams]="inputParams.employeeCode" [modalConfig]="modalConfig"
                            [contentComponent]="employeeSearchComponent" (ellipsisData)="onEmployeeDataReceived($event)"
                            [showHeader]="true" [disabled]="disableObject.employeeEllipse"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Supervisor Employee' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="SupervisorEmployeeCode" id="SupervisorEmployeeCode"
                            [attr.disabled]="disableObject.SupervisorEmployeeCode"
                            (change)="supervisorEmployeeCodeOnChange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" class="form-control"
                            formControlName="SupervisorSurname" id="SupervisorSurname"
                            [attr.disabled]="disableObject.SupervisorSurname">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #employeeSupervisionSearchEllipsis [showCloseButton]="true"
                            [childConfigParams]="inputParams.supervisiorEmployee" [modalConfig]="modalConfig"
                            [contentComponent]="employeeSearchComponent"
                            (ellipsisData)="onEmployeeSupervisiorDataReceived($event)" [showHeader]="true"
                            [disabled]="disableObject.employeeSupervisiorEllipse"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col12 pr5">
                        <label class="col24">{{'From' | translate}}<span class="mandatory">*</span></label>
                        <icabs-datepicker id="DateFrom" [dt]="dateFromDt" [isDisabled]="disableObject.DateFrom"
                            (selectedValue)="startDateSelectedValue($event)" [isRequired]="true" [validate]="true"
                            #dateFrom></icabs-datepicker>
                    </div>
                    <div class="col12">
                        <label class="col24">{{'To' | translate}}<span class="mandatory">*</span></label>
                        <icabs-datepicker id="DateTo" [dt]="dateToDt" [isDisabled]="disableObject.DateTo"
                            (selectedValue)="endDateSelectedValue($event)" [isRequired]="true" [validate]="true"
                            #dateTo></icabs-datepicker>

                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" [ngClass]="{hidden:displayObject.trViewBy}">
                    <label class="col24">{{'View By' |translate}} </label>
                    <div class="col24">
                        <select class="form-control" formControlName="ViewBy">
                            <option [value]="'ByBranch'">{{'By Branch' | translate}}</option>
                            <option [value]="'ByRegion'">{{'By Region' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()" [disabled]="isRefreshDisabled"></icabs-refresh>
                    <icabs-pagination [ngClass]="isHidePagination ? 'hidden' : ''"
                        [totalItems]="gridParams.totalRecords" [itemsPerPage]="gridParams.itemsPerPage" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>

            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="gridHScroll">
                        <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)"
                            (TRDblClick)="riGridBodyOnDblClick()"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>