<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ pageTitle | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-5">
                    <label class="col24" for="ContractNumber">{{ 'Contract/Job' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber"
                            size="8" maxlength="8" eTypeCode icabsZeroPad [icabsDirFocus]="setFocusOnContractNumber"
                            (change)="onPopulateDescriptions()">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName"
                            size="30" maxlength="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisConfig.contract.isShowCloseButton"
                            [childConfigParams]="ellipsisConfig.contract.childConfigParams"
                            [autoOpen]="ellipsisConfig.contract.isAutoOpen"
                            [contentComponent]="ellipsisConfig.contract.contentComponent"
                            (ellipsisData)="onContractDataReceived($event)"
                            [disabled]="ellipsisConfig.contract.isDisabled"
                            [showHeader]="ellipsisConfig.contract.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Area' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode"
                            formControlName="BranchServiceAreaCode" size="6" maxlength="4" eTypeCode
                            (change)="onPopulateDescriptions()">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc"
                            formControlName="BranchServiceAreaDesc" size="30" maxlength="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.branchServiceArea.isDisabled"
                            [showCloseButton]="ellipsisConfig.branchServiceArea.isShowCloseButton"
                            [showHeader]="ellipsisConfig.branchServiceArea.isShowHeader"
                            [childConfigParams]="ellipsisConfig.branchServiceArea"
                            [contentComponent]="ellipsisConfig.branchServiceArea.component"
                            (ellipsisData)="onServiceAreaDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber"
                            size="8" maxlength="5" eTypeInteger (change)="onPopulateDescriptions()">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="30"
                            maxlength="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.premise.isDisabled"
                            [showCloseButton]="ellipsisConfig.premise.isShowCloseButton"
                            [showHeader]="ellipsisConfig.premise.isShowHeader"
                            [childConfigParams]="ellipsisConfig.premise.childConfigParams"
                            [contentComponent]="ellipsisConfig.premise.contentComponent"
                            (ellipsisData)="onPremiseDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="col24" for="BranchServiceAreaSeqNo">{{ 'From Seq No' | translate}}</label>
                    <div class="col6">
                        <input type="text" class="form-control" id="BranchServiceAreaSeqNo"
                            formControlName="BranchServiceAreaSeqNo" size="6" maxlength="6" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="ProductCode">{{ 'Product' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ProductCode" formControlName="ProductCode" size="8"
                            maxlength="6" eTypeCode (change)="onPopulateDescriptions()">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ProductDesc" formControlName="ProductDesc" size="30"
                            maxlength="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.serviceCoverSearchParams.isDisabled"
                            [showCloseButton]="ellipsisConfig.serviceCoverSearchParams.isShowCloseButton"
                            [showHeader]="ellipsisConfig.serviceCoverSearchParams.isShowHeader"
                            [childConfigParams]="ellipsisConfig.serviceCoverSearchParams"
                            [contentComponent]="serviceCoverSearchComponent"
                            (ellipsisData)="onProductDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24">{{ 'Visit Freq' | translate}}</label>
                    <div class="col6">
                        <input type="text" class="form-control" id="ServiceVisitFrequency"
                            formControlName="ServiceVisitFrequency" size="3" eTypeInteger>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <div class="row mt10">
        <div class="col-sm-6">
            <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
            <icabs-pagination #riGridPagination [totalItems]=" gridConfig.totalRecords "
                [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid-advanced #riGrid (TRDblClick)="riGridBodyOnDblClick($event)" (headerClick)="onRiGridRefresh()">
            </icabs-grid-advanced>
        </div>
    </div>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>