<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area ( blank = all )' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="8" [attr.maxlength]="4"
                            formControlName="BranchServiceAreaCode" class="form-control"
                            (change)="onChangeBranchServiceAreaCode($event.target.value)"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" size="40" maxlength="40"
                            formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsConf.serviceArea.childConfigParams" [modalConfig]="modalConfig"
                            [contentComponent]="ellipsConf.serviceArea.contentComponent"
                            (ellipsisData)="onChangeBranchServiceAreaCode($event)" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Search' |translate}} </label>
                    <div class="col24 pr5">
                      <select id="DiscrepType" class="form-control" formControlName="DiscrepType"
                        (change)="this['commonGridFunction'].resetGrid(); this.buildGrid()">
                        <option *ngFor="let discrepType of discrepTypeValues" value="{{discrepType.value}}">
                          {{ discrepType.text | translate }}</option>
                      </select>
                    </div>
                  </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
              <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                  [currentPage]="this['pageParams'].gridCurrentPage"
                  [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                  (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                  [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                </icabs-pagination>
              </div>
            </div>
            <div class="row mt10">
              <div class="col-sm-12">
                <div style="overflow-x:auto;">
                  <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (bodyDblClick)="riGridBodyOnDblClick($event)">
                  </icabs-grid-advanced>
                </div>
              </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>
