<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>Customer Contact Update</h1>
        </div>
    </div>
    <div class="row mt5">
        <div class="col-sm-3">
            <label class="col24">Branch</label>
            <div class="col8 pr5">
                 <input type="text" id="BranchNumber" size="6" maxlength="3" class="form-control">
            </div>
            <div class="col14 pr5">
                <input type="text" id="BranchName" size="30" maxlength="30" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label class="col24">Employee</label>
            <div class="col8 pr5">
                <input id="EmployeeCode" size="6" maxlength="6" class="form-control">
            </div>
            <div class="col14 pr5">
                <input type="text" id="EmployeeSurname" size="30" maxlength="30" class="form-control">
            </div>
            <div class="col2">
                <icabs-ellipsis></icabs-ellipsis>
            </div>
        </div>
    </div>
    <hr class="mt15 mb15">
     <div class="row">
        <div class="col-sm-6">
            <icabs-refresh></icabs-refresh>
            <icabs-pagination></icabs-pagination>
        </div>
        <div class="col-sm-12 mt10">
            <icabs-grid></icabs-grid>
        </div>
    </div>
</div>