<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area' |translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="BranchServiceAreaCode" id="BranchServiceAreaCode" [attr.maxlength]="4"
                            (change)="onChangeBranchServiceAreaCode()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" size="40" [attr.maxlength]="40" formControlName="EmployeeSurname" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #branchserviceareacodeEllipsis [showCloseButton]="true" [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams"
                            [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent" (ellipsisData)="onRecieveBranchServiceAreaCode($event)"
                            [showHeader]="true" [disabled]='false'>
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Show' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #contractType class="" [inputData]="contractTypeOptions" [disabled]="" (onSelect)="onContractTypeChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" size="8" maxlength="8" class="form-control" formControlName="ContractNumber" id="ContractNumber" icabsZeroPad
                            (change)="onChangeContractNumber()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="20" maxlength="35" class="form-control" formControlName="ContractName" id="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #contractNumberEllipsis [disabled]="false" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsis.contractNumberEllipsis.childparams"
                            [contentComponent]="ellipsis.contractNumberEllipsis.component" (ellipsisData)="onContractSearchDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{labelPostCode |translate}} </label>
                    <div class="col12">
                        <input type="text" size="15" maxlength="12" class="form-control" id="PremisePostcode" formControlName="PremisePostcode" eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'View By' |translate}} </label>
                    <div class="col24 pr5">
                        <icabs-dropdown-static #groupBy class="" [inputData]="groupByOptions" [disabled]="" (onSelect)="onGroupByChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="isVisibleContractCommenceDate">
                    <label class="col24">{{'Commence Date' |translate}} </label>
                    <div class="col12">
                        <icabs-datepicker [isDirectiveBased]="false" formControlName="ContractCommenceDate"></icabs-datepicker>
                    </div>

                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-4">
                    <label class="col24">{{'Show' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #portfolioStatus class="" [inputData]="portfolioStatusOptions" [disabled]="" (onSelect)="onPortfolioStatusChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-4">
                    <label class="col24">{{'Seq Number' |translate}} </label>
                    <div class="col12">
                        <input type="text" size="15" maxlength="6" class="form-control" formControlName="SeqNumberFrom" id="SeqNumberFrom" eTypeInteger>

                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-4">
                    <label class="col24">{{'Entitlement Products' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #entitlementProd class="" [inputData]="entitlementProdOptions" [disabled]="" (onSelect)="entitlementProdChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4 mt20">
                    <icabs-refresh #refreshBtn (click)="refresh()" [disabled]="this['riGrid']['Mode'] === isDisabled"> </icabs-refresh>
                    <icabs-pagination #serviceAreaSequenceGridPagination *ngIf="isVisiblePagination" [disabled]="this['riGrid']['Mode'] === isDisabled" [canExport]="true"
                        [totalItems]="totalRecords" [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="10" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-6 pull-right">
                    <div class="col6 pr5" *ngIf="isVisibleReSequence">
                        <label class="col24">{{'Sequence In Gaps Of' |translate}} </label>
                        <input type="text" size="3" maxlength="3" class="form-control" formControlName="SequenceGap" id="SequenceGap" eTypeInteger>
                    </div>
                    <div class="col5 mt20 pr5" *ngIf="isVisibleReSequence">
                        <input type="button" id="cmdResequenceNumbers" class="btn btn-additional col24" value="{{ 'Resequence' | translate }}" (click)="onClickResequenceNumbers()">

                    </div>
                    <div class="col6 pr5" *ngIf="isVisibleDesequenceExpired">
                        <label class="col24">{{'Show' |translate}} </label>
                        <icabs-dropdown-static #showType class="" [inputData]="showTypeOptions" [disabled]="" (onSelect)="onShowTypeChange($event)"></icabs-dropdown-static>
                    </div>
                    <div class="col7 mt20" *ngIf="isVisibleDesequenceExpired">
                        <input type="button" id="cmdDesequenceExpired" class="btn btn-additional col24" value="{{ 'Desequence Expired Jobs' | translate }}"
                            (click)="onClickDesequenceExpiredJobs()">

                    </div>
                </div>

            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort($event)" (bodyDblClick)="riGridBodyOnDblClick($event)" (bodyColumnBlur)="onCellBlur($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>