<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Business'|translate}}</label>
                    <div class="col24">
                        <icabs-business-search #prepBranchSearch [inputParams]="inputParamsBranch" [isDisabled]="isBranchDisabled" [active]="negBranchNumberSelected"></icabs-business-search>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Prep'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PrepCode" formControlName="PrepCode" size="5" maxlength="5" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="PrepDesc" formControlName="PrepDesc" size="30" maxlength="40" eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #prepMixPagination [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-3 pull-right">
                    <select class="form-control" id="menu" formControlName="menu" (change)="menuOnchange($event)">
                        <option selected value="">{{'Options'|translate}}</option>
                        <option value="Add">{{'Add Prep Mix'|translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridRowClick($event)" (onSUccess)="riGridBeforeExecute()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>