<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate }}</label>
                    <div class="col7 pr5">
                        <input #EmployeeCode type="text" id="EmployeeCode" size="9" maxlength="6" formControlName="EmployeeCode" class="form-control"
                            tabindex="1" (change)="employeeCode_onchange($event)" eTypeCode>
                    </div>
                    <div class="col15 pr5">
                        <input type="text" id="EmployeeSurname" size="40" maxlength="40" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis tabindex="2" [childConfigParams]="ellipsisParams.employee.childConfigParams" [contentComponent]="ellipsisParams.employee.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Employee', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.employee.disabled" [showCloseButton]="ellipsisParams.employee.showCloseButton"
                            [showHeader]="ellipsisParams.employee.showHeader">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="FormContractNumber">{{ 'Contract Number' | translate }}</label>
                    <div class="col7 pr5">
                        <input type="text" id="FormContractNumber" size="9" maxlength="8" formControlName="FormContractNumber" class="form-control"
                            tabindex="3" (change)="contractNumber_onchange($event)" eTypeCode icabsZeroPad>
                    </div>
                    <div class="col15 pr5">
                        <input type="text" id="FormContractName" size="40" maxlength="40" formControlName="FormContractName" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis tabindex="4" [childConfigParams]="ellipsisParams.contractName.childConfigParams" [contentComponent]="ellipsisParams.contractName.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Contract', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.contractName.disabled" [showCloseButton]="ellipsisParams.contractName.showCloseButton"
                            [showHeader]="ellipsisParams.contractName.showHeader">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="riGrid_onRefresh($event)"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"
                        [currentPage]="gridConfig.currentPage"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="riGrid_BodyOnDblClick($event)" (bodyKeyDown)="riGrid_BodyOnKeyDown($event)"
                        (headerClick)="riGrid_Sort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>