<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Notification Template Details - Maintenance Grid' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyTemplateCode">{{ 'Template Code' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="NotifyTemplateCode" size="15" maxlength="12" formControlName="NotifyTemplateCode">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="NotifyTemplateSystemDesc" size="50" maxlength="50" formControlName="NotifyTemplateSystemDesc">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 mt20">
                    <input class="btn btn-primary" type="button" value="{{ 'Add' | translate }}" (click)="onAddBtnClicked($event)">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="onRiGridRefresh($event)"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords" [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                        [currentPage]="this['pageParams'].gridConfig.currentPage" (getCurrentPage)="onGetCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="onGridBodyDbClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>