<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceAreaListCode">{{ 'Service Area List' | translate }}<span
                            *ngIf="isServiceListActarisk" class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ServiceAreaListCode" size="15" [attr.maxlength]="12"
                            formControlName="ServiceAreaListCode" class="form-control"
                            (change)="serviceAreaListCodeOnChange($event)" eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ServiceAreaList" size="40" [attr.maxlength]="1000"
                            formControlName="ServiceAreaList" class="form-control" (change)="serviceAreaListOnChange()"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="ellipsis.serviceAreaList.modalConfig"
                            [childConfigParams]="ellipsis.serviceAreaList.inputParams"
                            [contentComponent]="ellipsis.serviceAreaList.contentComponent" [showHeader]="true"
                            (ellipsisData)="onListGroupSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col11">
                        <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span></label>
                        <div class="col24">
                            <icabs-datepicker tabindex="2" id="StartDate" formControlName="StartDate"
                                (onChange)="onStartDateSelectedValue($event)" [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col11 ml5">
                        <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                        <div class="col24">
                            <icabs-datepicker tabindex="2" id="EndDate" formControlName="EndDate"
                                (onChange)="onEndDateSelectedValue($event)" [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col1 ml5 mt15">
                        <span class="glyphicon glyphicon-plus plusmin"></span>
                        <span class="glyphicon glyphicon-minus plusmin"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="col6 pr5">
                        <label class="col24" for="WeekNumber">{{ 'Week' | translate }}</label>
                        <input type="text" id="WeekNumber" size="2" [attr.maxlength]="2" formControlName="WeekNumber"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col6 pr5">
                        <label class="col24" for="GridPageSize">{{ 'Display Lines' | translate }}<span
                                class="mandatory">*</span></label>
                        <input type="text" id="GridPageSize" size="2" [attr.maxlength]="2"
                            formControlName="GridPageSize" class="form-control" (change)="onGridPageSizeChange($event)"
                            eTypeInteger>
                    </div>
                    <div class="col6 mt20">
                        <input type="checkbox" id="CManualDates" formControlName="CManualDates"
                            (change)="onChangeCManualDates()">
                        <label class="col24" for="CManualDates">{{ 'Manual Dates' | translate }}</label>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="VisitTypeGroupCode">{{ 'Transaction Group' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="VisitTypeGroupCode" size="15" [attr.maxlength]="12"
                            formControlName="VisitTypeGroupCode" class="form-control"
                            (change)="visitTypeGroupCodeOnChange($event)">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="VisitTypeList" size="40" [attr.maxlength]="1000"
                            formControlName="VisitTypeList" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.visitTypeGroupSearch.inputParams"
                            [contentComponent]="ellipsis.visitTypeGroupSearch.contentComponent" [showHeader]="true"
                            (ellipsisData)="onVisitTypeGroupSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate }}<span
                            *ngIf="isContractActarisk" class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="9" [attr.maxlength]="8"
                            formControlName="ContractNumber" class="form-control" icabsZeroPad
                            (change)="onContractNumberChnage($event)" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" size="40" [attr.maxlength]="40"
                            formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contractTypeSearch.inputParams"
                            [contentComponent]="ellipsis.contractTypeSearch.contentComponent" [showHeader]="true"
                            (ellipsisData)="onContractSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="9" [attr.maxlength]="8"
                            formControlName="PremiseNumber" class="form-control" eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PremiseName" size="40" [attr.maxlength]="40"
                            formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premiseTypeSearch.inputParams"
                            [contentComponent]="ellipsis.premiseTypeSearch.contentComponent" [showHeader]="true"
                            (ellipsisData)="onPremiseSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="VisitStatus">{{ 'Status' | translate }}</label>
                    <div class="col24">
                        <select class="form-control" formControlName="VisitStatus" id="VisitStatus">
                            <option *ngFor="let visitSatatus of visitStatusOption" value="{{visitSatatus.name}}">
                                {{visitSatatus.value | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="col10 pr5">
                        <label class="col24" for="DespatchStatus">{{ 'Despatch Status' | translate }}</label>
                        <select class="form-control" formControlName="DespatchStatus" id="DespatchStatus">
                            <option *ngFor="let despatchStatus of despatchStatusArray" value="{{despatchStatus.value}}">
                                {{despatchStatus.name | translate}}</option>
                        </select>
                    </div>
                    <div class="col12 pr5">
                        <label class="col24" for="ProductCode">{{ 'Product Code' | translate }}</label>
                        <input class="form-control" formControlName="ProductCode" id="ProductCode" size="8"
                            [attr.maxlength]="6" (change)="onProductCodeChnage($event)">
                    </div>
                    <div class="col2 mt20">
                        <icabs-ellipsis [childConfigParams]="ellipsis.productCodeSearch.inputParams"
                            [contentComponent]="ellipsis.productCodeSearch.contentComponent" [showHeader]="true"
                            (ellipsisData)="onProductSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col22 pr5">
                        <label class="col24"
                            for="ProductComponentCode">{{ 'Component Product Code' | translate }}</label>
                        <input class="form-control" formControlName="ProductComponentCode" id="ProductComponentCode"
                            size="8" maxlength="6" (change)="onProductComponentCodeChnage($event)" eTypeCode>
                    </div>
                    <div class="col2 mt20">
                        <icabs-ellipsis [childConfigParams]="ellipsis.productComponentCodeSearch.inputParams"
                            [contentComponent]="ellipsis.productComponentCodeSearch.contentComponent"
                            [showHeader]="true" (ellipsisData)="onProductComponentSearchDataReturn($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Neg Branch' | translate }}</label>
                    <div class="col24">
                        <icabs-branchsearch #branchDropdown [inputParams]="dropDown.branchSearch.inputParamsBranch"
                            (receivedbranchsearch)="onBranchDataReceived($event)"
                            [active]="this['pageParams']['activeBranch']">
                        </icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="col10 pr5">
                        <label class="col24">{{ 'Contract Type' | translate }}</label>
                        <select class="form-control" formControlName="ContractTypeFilter" id="ContractTypeFilter">
                            <option *ngFor="let contractType of contractTypeFilterArray" value="{{contractType.value}}">
                                {{contractType.name | translate}}</option>
                        </select>
                    </div>
                    <div class="col12">
                        <label class="col24">{{ 'Service Type' | translate }}</label>
                        <div class="col24">
                            <icabs-servicetype-search [inputParams]="dropDown.serviceTypeSearch.inputParamsService"
                                [active]="this['pageParams']['activeServiceType']"
                                (receivedServiceTypeData)="onServiceTypeDataReceived($event)">
                            </icabs-servicetype-search>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="ContractNameSearch">{{ 'Name begins' | translate }}</label>
                    <input class="form-control" formControlName="ContractNameSearch" id="ContractNameSearch" size="42"
                        [attr.maxlength]="40" eTypeText>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="TownBegins">{{ 'Town Begins' | translate }}</label>
                    <input class="form-control" formControlName="TownBegins" id="TownBegins" size="42"
                        [attr.maxlength]="40" eTypeText>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="PostcodeSearch">{{ 'Postcode Begins' | translate }}</label>
                    <input class="form-control" formControlName="PostcodeSearch" id="PostcodeSearch" size="10"
                        [attr.maxlength]="8" eTypeText>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="ClientReference">{{ 'Client Reference' | translate }}</label>
                    <input class="form-control" formControlName="ClientReference" id="ClientReference" size="30"
                        [attr.maxlength]="30" eTypeText>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-sm-3">
                    <input type="checkbox" id="ConfApptOnly" formControlName="ConfApptOnly">
                    <label class="col24" for="ConfApptOnly">{{ 'Confirmed Appointments (Only)' | translate }}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div *ngIf="isDivMain3">
                <div class="row mt5">
                    <div class="col-sm-3">
                        <label class="col24"
                            for="BranchServiceAreaCodeChange">{{ 'Change Visit Service Area' | translate }}</label>
                        <div class="col8 pr5">
                            <input type="text" id="BranchServiceAreaCodeChange" size="7" [attr.maxlength]="4"
                                formControlName="BranchServiceAreaCodeChange" class="form-control"
                                (change)="onBranchServiceAreaCodeChange()" eTypeCode>
                        </div>
                        <div class="col14 pr5">
                            <input type="text" id="EmployeeSurnameChange" size="30" [attr.maxlength]="35"
                                formControlName="EmployeeSurnameChange" class="form-control" eTypeText>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="ellipsis.branchnServiceAreaSearch.inputParams"
                                [contentComponent]="ellipsis.branchnServiceAreaSearch.contentComponent"
                                [showHeader]="true" (ellipsisData)="onBranchServiceAreaDataReturn($event)">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col-sm-3 mt20">
                        <input type="button" class="btn btn-additional col18"
                            value="{{'Update Visit Service Area' | translate}}"
                            (click)="onClickUpdateVisitServiceArea()">
                    </div>
                </div>
                <div class="row mt2">
                    <div class="col-sm-3">
                        <div class="col11">
                            <label class="col24">{{ 'Change Visit Date' | translate }}</label>
                            <icabs-datepicker tabindex="2" id="ChangeVisitDate" formControlName="ChangeVisitDate"
                                (onChange)="onChangeVisitDateChange($event)" [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col-sm-3 mt20">
                        <input type="button" class="btn btn-additional col18"
                            value="{{'Update Visit Dates' | translate}}" (click)="onUpdateDatesClick()">
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-3">
                        <label class="col24" for="AssignServiceArea">{{ 'Assign Service Area' | translate }}</label>
                        <div class="col8 pr5">
                            <input type="text" id="AssignServiceArea" size="7" [attr.maxlength]="4"
                                formControlName="AssignServiceArea" class="form-control"
                                (change)="assignServiceAreaOnChange()" eTypeCode>
                        </div>
                        <div class="col14 pr5">
                            <input type="text" id="AssignServiceEmployee" size="30" [attr.maxlength]="35"
                                formControlName="AssignServiceEmployee" class="form-control" eTypeText>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="ellipsis.assignServiceAreaSearch.inputParams"
                                [contentComponent]="ellipsis.assignServiceAreaSearch.contentComponent"
                                [showHeader]="true" (ellipsisData)="onAssignServiceAreaDataReturn($event)">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col-sm-3 mt20">
                        <input type="button" class="btn btn-additional col18"
                            value="{{'Assign Service Area' | translate}}" (click)="onAssignServiceClick($event)">
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-3">
                        <label class="col24"
                            for="UpdateComponentCode">{{ 'Substitute Component Code' | translate }}</label>
                        <div class="col8 pr5">
                            <input type="text" id="UpdateComponentCode" size="7" [attr.maxlength]="4"
                                formControlName="UpdateComponentCode" class="form-control"
                                (change)="onUpdateComponentCodeChange($event)" eTypeText>
                        </div>
                        <div class="col14 pr5">
                            <input type="text" id="UpdateComponentDesc" size="30" [attr.maxlength]="35"
                                formControlName="UpdateComponentDesc" class="form-control">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="ellipsis.updateComponentCodeSearch.inputParams"
                                [contentComponent]="ellipsis.updateComponentCodeSearch.contentComponent"
                                [showHeader]="true" (ellipsisData)="onUpdateComponentSearchDataReturn($event)">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col-sm-3 mt20">
                        <input type="button" class="btn btn-additional col18"
                            value="{{'Update Components' | translate}}" (click)="onUpdateComponentCodeClick($event)">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <div [style.display]="isHidePagination?'none':'inherit'">
                        <icabs-pagination #despatchPagination [currentPage]="this['pageParams']['curPage']"
                            [itemsPerPage]="this['pageParams']['pageSize']" [canExport]="true"
                            (getCurrentPage)="getCurrentPage($event)" [exportOptions]="{datecolumns: '0'}">
                        </icabs-pagination>
                    </div>
                </div>
            </div>
            <div class="row" [ngClass]="{'footerHide': isFooterHide}">
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (bodyClick)="onCellClick($event)"
                        (bodyDblClick)="onGridRowClick($event)" (bodyColumnBlur)="onCellBlur($event)">
                    </icabs-grid-advanced>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt10" *ngIf="!isHidePagination">
                    <div class="col5 pull-right text-right"><label>Total Selected Planned Quantity:<span>
                                {{selectedPlannedQty}}</span></label></div>
                    <div class="col5 pull-right text-right"><label>Total Planned Quantity:<span>
                                {{toSelectedPlannedQty}}</span></label></div>
                </div>
            </div>
            <hr>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
