<div class="container-fluid custom-container">
<form>
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>{{'Account Premises Search' | translate }}</h1>
        </div>
    </div>
    <div class="row mt5">
        <div class="col-sm-4">
            <label class="col24" for="Account Number">{{'Account Number' | translate }}</label>
            <div class="col8 pr5">
                <input type="text" class="form-control" placeholder="" name="AccountNumber" [(ngModel)]="AccountNumber" (blur)="onAccountBlur($event);"
                    [disabled]="true" eTypeText>
            </div>
            <div class="col16">
                <input type="text" class="form-control" placeholder="" name="AccountName" [(ngModel)]="AccountName" [disabled]="true" eTypeText>
            </div>
        </div>
    </div>
    <hr class="mt15 mb15">
    <div class="row">
        <div class="col-sm-12">
            <icabs-refresh (click)="searchload()"></icabs-refresh>
            <icabs-pagination #accountPremisePagination *ngIf="totalRecords > 0" [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage"
                (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid #accountPremise [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (gridInfo)="getGridInfo($event)"
                (selectedRowInfo)="selectedDataOnClick($event)" (getCellData)="onGridCellClick($event)" [sortIndex]="gridSortHeaders"
                (sortInfo)="sortGrid($event)" [validateProperties]="validateProperties"></icabs-grid>
        </div>
    </div>
</form>
</div>