<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="5" [attr.maxlength]="5" class="form-control"
                            formControlName="BranchServiceAreaCode" eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" id="BranchServiceAreaDesc" size="40" [attr.maxlength]="40"
                            class="form-control" formControlName="BranchServiceAreaDesc" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="5"
                            [attr.maxlength]="5" class="form-control" eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" [attr.maxlength]="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="col12 pull-right">
                        <select class="form-control" id="menu" formControlName="menu"
                            (change)="onMenuChange($event.target.value)">
                            <option value="">{{'Options' | translate }}</option>
                            <option value="Add">{{ 'Add' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>