<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{'Sales Order Prospects'|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Employee' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" size="6" maxlength="6" formControlName='EmployeeCode'
                            class="form-control" (change)="onEmployeeCodeChanged($event)" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" size="40" maxlength="40"
                            formControlName='EmployeeSurname' class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="employeeparams"
                            [contentComponent]="employeeSearchComponent" (ellipsisData)="onEmployeeDataReceived($event)"
                            [disabled]="disableEmployeeElipsis" [showHeader]="showHeader"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Status' |translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #StatusSelectDropdown id="StatusSelect"
                            [inputData]="this['pageParams'].ProspectStatus"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Show' |translate}}</label>
                    <div class="col16">
                        <select id="InclusionTypeSelect" class="form-control" formControlName='InclusionTypeSelect'
                            (change)='inclusionTypeSelect_OnChange($event)'>
                            <option value="OpenOnly" selected>{{ 'Open Prospects' | translate }}</option>
                            <option value="OpenOnlyWithDateRange">{{ 'Open Prospects In Date Range' | translate }}
                            </option>
                            <option value="OpenAndClosed">{{ 'Open And Closed Prospects' | translate }}</option>
                            <option value="ClosedOnly">{{ 'Closed Prospects' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Origin' |translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #originSelectDropdown id="OriginSelect"
                            [inputData]="this['pageParams'].ProspectOrigin"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt20" [ngClass]=" this.uiDisplay.cmdReviewGrid ? '': 'hidden'">
                    <input type="button" class="btn btn-primary" id="cmdReviewGrid" (click)='reviewGrid_OnClick()'
                        value="{{'Review Grid' | translate}}">
                </div>
                <div class="col-sm-4">
                    <div class="col12" [ngClass]=" this.uiDisplay.fromDate ? '': 'hidden'">
                        <label class="col24">{{'From' |translate}}</label>
                        <div class="col24 pr5">
                            <icabs-datepicker id="fromDate" [dt]="fromDate" [isRequired]="true"
                                (selectedValue)="fromDateSelectedValue($event)" size="10"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col12" [ngClass]=" this.uiDisplay.toDate ? '': 'hidden'">
                        <label class="col24">{{'To' |translate}}</label>
                        <div class="col24 pr5">
                            <icabs-datepicker id="toDate" [dt]="toDate" [isRequired]="true"
                                (selectedValue)="toDateSelectedValue($event)" size="10"></icabs-datepicker>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #prospectPagination [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)" [canExport]="true"
                        [exportOptions]="{dateColumns: '4'}"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGrid_Sort($event)"
                        (bodyDblClick)="onGridRowClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
        </footer>
        <icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader">
        </icabs-modal>
        <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
        <div class="hidden">
            <input id="SOPReportBranch" formControlName='SOPReportBranch'>
            <input id="SOPReportRegion" formControlName='SOPReportRegion'>
            <input id="SOPReportQuoteStatus" formControlName='SOPReportQuoteStatus'>
            <input id="GridUserCode" formControlName='GridUserCode'>
            <input id="OwnSubmissionsInd" type="checkbox" formControlName='OwnSubmissionsInd'>
            <input id="PassProspectNumber" formControlName='PassProspectNumber'>
            <input id="LocalSystemInd" type="checkbox" formControlName='LocalSystemInd'>
            <input id="SubSystem" value="SalesOrder" formControlName='SubSystem'>
        </div>
    </form>
</section>
