<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col24">
                        <input type="text" maxlength="36" class="form-control" id="Branc" formControlName="Branch">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Show' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #contractType class="" [inputData]="contractTypeOptions" [disabled]="" (onSelect)="oncontractTypeChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" size="11" maxlength="4" class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode"
                            (change)="onChangeBranchServiceAreaCode()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" maxlength="40" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #branchserviceareacodeEllipsis [showCloseButton]="ellipsis.branchServiceAreaCode.showCloseButton" [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams"
                            [modalConfig]="ellipsis.branchServiceAreaCode.modalConfig" [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent"
                            (ellipsisData)="onRecieveBranchServiceAreaCode($event)" [showHeader]="ellipsis.branchServiceAreaCode.showHeader"
                            [disabled]='ellipsis.branchServiceAreaCode.disabled'>
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" [hidden]="isVisibleYearCurrentWeek">
                    <label class="col24">{{'Year' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #selectedYear class="" [inputData]="selectedYearDropDownOptions" [disabled]="" (onSelect)="onSelectedYearChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2" [hidden]="isVisibleYearCurrentWeek">
                <div class="col-sm-3 col-sm-offset-4">
                    <label class="col24">{{'Current Week' |translate}} </label>
                    <div class="col12">
                        <input type="text" size="40" maxlength="40" class="form-control" id="CurrentWeek" formControlName="CurrentWeek">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-4">
                    <label class="col24">{{'View By' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #viewTypeDropDown class="" [inputData]="viewTypeDropDownOptions" [disabled]="" (onSelect)="onViewTypeChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3 col-sm-offset-4">
                    <label class="col24">{{'View' |translate}} </label>
                    <div class="col12">
                        <icabs-dropdown-static #viewDropDown class="" [inputData]="viewDropDownOptions" [disabled]="" (onSelect)="onViewChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #servicePatternPagination [totalItems]="totalRecords" [currentPage]="curPage" [itemsPerPage]="pageSize"
                        (getCurrentPage)="getCurrentPage($event)" *ngIf="isVisiblePagination"></icabs-pagination>
                </div>

            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="gridHScroll">
                        <icabs-grid-advanced #riGrid (onSuccess)="onGridSuccess()"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3 pull-right">
                    <div class="col8 pr5">
                        <label class="col24">{{'Total Visits' |translate}} </label>
                        <input type="text" size="11" maxlength="11" class="form-control" id="TotalPremises" formControlName="TotalPremises" eTypeInteger>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{'Total Units' |translate}} </label>
                        <input type="text" size="11" maxlength="11" class="form-control" id="TotalExchanges" formControlName="TotalExchanges" eTypeInteger>
                    </div>
                    <div class="col8">
                        <label class="col24">{{'Total Hours' |translate}} </label>
                        <input type="text" size="11" maxlength="11" class="form-control" id="TotalHours" formControlName="TotalHours" eTypeText>
                    </div>
                </div>

            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>