<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-5">
                    <label class="col24" for="ContractNumber">{{'Contract Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="ContractNumber" formControlName="ContractNumber" class="form-control" type="text" size="7" [attr.maxlength]="8"
                            eTypeCode>
                    </div>
                    <div class="col18">
                        <input id="ContractName" formControlName="ContractName" class="form-control" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="Reason">{{'Reason' | translate}}</label>
                    <div class="col24">
                        <input id="Reason" formControlName="Reason" class="form-control" type="text" size="30" [attr.maxlength]="30">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="PremiseNumber">{{'Premises Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="PremiseNumber" formControlName="PremiseNumber" class="form-control" type="text" size="7" [attr.maxlength]="5"
                            eTypeInteger>
                    </div>
                    <div class="col18">
                        <input id="PremiseName" formControlName="PremiseName" class="form-control" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="Employee">{{'Employee' | translate}}</label>
                    <div class="col24">
                        <input id="Employee" formControlName="Employee" class="form-control" type="text" size="30" [attr.maxlength]="30">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="ProductCode">{{'Product Code' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="ProductCode" formControlName="ProductCode" class="form-control" type="text" size="7" [attr.maxlength]="6" eTypeCode>
                    </div>
                    <div class="col18">
                        <input id="ProductDesc" formControlName="ProductDesc" class="form-control" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="Processed">{{'Processed' | translate}}</label>
                    <div class="col16">
                        <input id="Processed" formControlName="Processed" class="form-control" type="text" size="30" [attr.maxlength]="30" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="AnnualValueChange">{{'Transaction Value' | translate}}</label>
                    <div class="col9">
                        <input id="AnnualValueChange" formControlName="AnnualValueChange" class="form-control" type="text" size="15" [attr.maxlength]="15">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="Effective">{{'Effective' | translate}}</label>
                    <div class="col16">
                        <input id="Effective" formControlName="Effective" class="form-control" type="text" size="15" [attr.maxlength]="15" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <label class="col24" for="SalesStatsValue">{{'Sales Stats Value' | translate}}</label>
                    <div class="col9">
                        <input id="SalesStatsValue" formControlName="SalesStatsValue" class="form-control" type="text" size="15" [attr.maxlength]="15">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row" [hidden]="!this['pageParams'].tableGrid">
                <div class="col-sm-8">
                    <div class="col14">
                        <icabs-refresh (click)="refresh()"></icabs-refresh>
                        <icabs-pagination [totalItems]="totalRecords" [currentPage]="pageCurrent" [itemsPerPage]="10" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                    </div>
                    <div class="col4">
                        <input type="button" formControlName="btnAdjustment" class="btn btn-primary" value="{{ 'New Adjustment' | translate }}" (click)="btnNewAdjustmentOnclick()">
                    </div>
                </div>
            </div>
            <div class="row mt10" [hidden]="!this['pageParams'].tableGrid">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (headerClick)="riGridSort($event)" (onSuccess)="riGridAfterExecute($event)" (bodyClick)="riGridBodyOnClick($event)"></icabs-grid-advanced>
                </div>
            </div>
            <div [hidden]="!this['pageParams'].tableEmployees">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>{{ 'Sales Stats Adjustments' | translate}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col1"></div>
                        <div class="col6 pr5">
                            <label class="col24" for="Adjustment ">{{'Adjustment' | translate}}</label>
                            <select id="menu" class="form-control" formControlName="menu" (change)="menuOnchange()">
                                <option value="Option" selected>{{'Option' | translate}}</option>
                                <option value="Percent">{{'Percent' | translate}}</option>
                                <option value="Value">{{'Value' | translate}}</option>
                            </select>
                        </div>
                        <div class="col11"></div>
                        <div class="col6">
                            <label class="col24" for="LeftToAllocate ">{{'Starting Value' | translate}}</label>
                            <input id="LeftToAllocate" class="form-control" formControlName="LeftToAllocate" type="text" size="14" [attr.maxlength]="14"
                                eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-sm-6">
                        <div class="col1 mt20">
                        </div>
                        <div class="col4 pr5">
                            <label class="col24" for="LeftToAllocate ">{{'Employee' | translate}}</label>
                        </div>
                        <div class="col13 pr5">
                            <label class="col24" for="LeftToAllocate ">{{'Name' | translate}}</label>
                        </div>
                        <div class="col3 pr5">
                            <label class="col24" for="LeftToAllocate ">{{'Percent' | translate}}</label>
                        </div>
                        <div class="col3">
                            <label class="col24" for="LeftToAllocate ">{{'Value' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1">
                            <label class="col24">{{'' | translate}}</label>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCodeMain" formControlName="TransferToEmployeeCodeMain" class="form-control" type="text" size=6
                                maxlength=6>
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeNameMain" formControlName="TransferToEmployeeNameMain" class="form-control" type="text" size=40
                                maxlength=40>
                        </div>
                        <div class="col5 pr5">
                        </div>
                        <div class="col3">
                            <input id="AdjustValueMain" formControlName="AdjustValueMain" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'1' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode1}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input #TransferToEmployeeCode1 id="TransferToEmployeeCode1" formControlName="TransferToEmployeeCode1" class="form-control"
                                type="text" size="6" (change)="transferToEmployeeCodeOnChange('1')" [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName1" formControlName="TransferToEmployeeName1" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '1')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode1.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue1" formControlName="PercentValue1" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('1')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue1" formControlName="AdjustValue1" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('1')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'2' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode2}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode2" formControlName="TransferToEmployeeCode2" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('2')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName2" formControlName="TransferToEmployeeName2" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '2')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode2.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue2" formControlName="PercentValue2" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('2')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue2" formControlName="AdjustValue2" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('2')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'3' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode3}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode3" formControlName="TransferToEmployeeCode3" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('3')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName3" formControlName="TransferToEmployeeName3" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '3')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode3.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue3" formControlName="PercentValue3" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('3')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue3" formControlName="AdjustValue3" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('3')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'4' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode4}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode4" formControlName="TransferToEmployeeCode4" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('4')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName4" formControlName="TransferToEmployeeName4" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '4')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode4.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue4" formControlName="PercentValue4" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('4')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue4" formControlName="AdjustValue4" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('4')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'5' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode5}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode5" formControlName="TransferToEmployeeCode5" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('5')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName5" formControlName="TransferToEmployeeName5" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '5')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode5.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue5" formControlName="PercentValue5" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('5')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue5" formControlName="AdjustValue5" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('5')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'6' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode6}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode6" formControlName="TransferToEmployeeCode6" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('6')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName6" formControlName="TransferToEmployeeName6" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '6')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode6.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue6" formControlName="PercentValue6" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('6')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue6" formControlName="AdjustValue6" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('6')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'7' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode7}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode7" formControlName="TransferToEmployeeCode7" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('7')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName7" formControlName="TransferToEmployeeName7" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '7')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode7.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue7" formControlName="PercentValue7" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('7')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue7" formControlName="AdjustValue7" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('7')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'8' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode8}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode8" formControlName="TransferToEmployeeCode8" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('8')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName8" formControlName="TransferToEmployeeName8" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '8')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode8.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue8" formControlName="PercentValue8" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('8')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue8" formControlName="AdjustValue8" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('8')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col8">{{'9' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode9}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode9" formControlName="TransferToEmployeeCode9" class="form-control" type="text" size="6" (change)="transferToEmployeeCodeOnChange('9')"
                                [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName9" formControlName="TransferToEmployeeName9" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '9')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode9.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue9" formControlName="PercentValue9" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('9')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue9" formControlName="AdjustValue9" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('9')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
                <div class="row mt5">
                    <div class="col-sm-6">
                        <div class="col1 mt5">
                            <label class="col16">{{'10' | translate}}</label><span class="mandatory" [ngClass]="{'hidden': !this['mandatory'].TransferToEmployeeCode10}">*</span>
                        </div>
                        <div class="col4 pr5">
                            <input id="TransferToEmployeeCode10" formControlName="TransferToEmployeeCode10" class="form-control" type="text" size="6"
                                (change)="transferToEmployeeCodeOnChange('10')" [attr.maxlength]="6">
                        </div>
                        <div class="col11 pr5">
                            <input id="TransferToEmployeeName10" formControlName="TransferToEmployeeName10" class="form-control" type="text" size="40"
                                eTypeText [attr.maxlength]="40">
                        </div>
                        <div class="col2 pr5">
                            <icabs-ellipsis [childConfigParams]="employeeSearchParams" [contentComponent]="employeeSearchComponent" [showHeader]="true"
                                (ellipsisData)="onDataReceived($event, '10')" [disabled]="this['uiForm'].controls.TransferToEmployeeCode10.disabled"></icabs-ellipsis>
                        </div>
                        <div class="col3 pr5">
                            <input id="PercentValue10" formControlName="PercentValue10" class="form-control" type="text" size="4" [attr.maxlength]="4"
                                (change)="percentValueOnChange('10')" eTypeDecimal2>
                        </div>
                        <div class="col3">
                            <input id="AdjustValue10" formControlName="AdjustValue10" class="form-control" type="text" size="14" [attr.maxlength]="14"
                                (change)="adjustValueOnChange('10')" eTypeDecimal2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="hidden">
            <input type="text" formControlName="ServiceCoverNumber">
            <input type="text" formControlName="ServiceValueNumber">
        </div>
    </form>

    <div class="row mt10" [hidden]="!this['pageParams'].tableEmployees">
        <hr class="mt15 mb15 ml15 mr15">
        <div class="col-sm-6">
            <input type="button" class="btn btn-primary" value="{{ 'Save' | translate }}" (click)="btnSaveAdjustmentOnclick()">
            <input type="button" class="btn btn-secondary" value="{{ 'Cancel' | translate }}" (click)="handleCancelClick()">
        </div>
    </div>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>