<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Supervisor' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="SupervisorEmployeeCode" size="8" maxlength="8" formControlName="SupervisorEmployeeCode" class="form-control"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="SupervisorEmployeeName" size="25" maxlength="30" formControlName="SupervisorEmployeeName" class="form-control"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" size="10" maxlength="8" formControlName="ContractNumber" class="form-control" (change)="contractNumberOnChange()"
                            eTypeCode icabsZeroPad>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" size="25" maxlength="30" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="searchConfigs.contractSearchComponent.params" [contentComponent]="searchConfigs.contractSearchComponent.component"
                            [showHeader]="true" (ellipsisData)="setContract($event)" [modalConfig]="searchConfigs.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="8" maxlength="8" formControlName="BranchServiceAreaCode" class="form-control"
                            (change)="branchServiceAreaCodeOnChange()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="BranchServiceAreaDesc" size="25" maxlength="30" formControlName="BranchServiceAreaDesc" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="searchConfigs.branchServiceAreaSearch.params" [contentComponent]="searchConfigs.branchServiceAreaSearch.component"
                            [showHeader]="true" (ellipsisData)="setBranchServiceArea($event)" [modalConfig]="searchConfigs.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Premises Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="10" maxlength="10" formControlName="PremiseNumber" class="form-control" (change)="premiseNumberOnChange()"
                            eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PremiseName" size="25" maxlength="30" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="searchConfigs.premiseSearch.params" [contentComponent]="searchConfigs.premiseSearch.component"
                            [showHeader]="true" (ellipsisData)="setPremise($event)" [modalConfig]="searchConfigs.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Employee' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" size="8" maxlength="10" formControlName="EmployeeCode" class="form-control" (change)="employeeCodeOnChange()"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" size="25" maxlength="30" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="searchConfigs.employeeSearch.params" [contentComponent]="searchConfigs.employeeSearch.component"
                            [showHeader]="true" (ellipsisData)="setEmployee($event)" [modalConfig]="searchConfigs.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Plan' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ServicePlanNumber" size="10" formControlName="ServicePlanNumber" class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col12 pr5">
                        <label class="col24">{{ 'Action Created From Date' | translate }}</label>
                        <div class="col24">
                            <icabs-datepicker [isDirectiveBased]="false" formControlName="ActionFromDate" (onChange)="actionFromDateOnChange($event)"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col24">{{ 'To Date' | translate }}</label>
                        <div class="col24">
                            <icabs-datepicker [isDirectiveBased]="false" formControlName="ActionToDate" (onChange)="actionToDateOnChange($event)"></icabs-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Status' | translate }}</label>
                    <div class="col8 pr5">
                        <select id="FilterStatus" class="form-control" formControlName="FilterStatus">
                            <option value="All">{{ 'All' | translate }}</option>
                            <option value="ToDo">{{ 'To Do' | translate }}</option>
                            <option value="Completed">{{ 'Completed' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Display Number Of Rows' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="DisplayNumberOfRows" size="1" maxlength="2" formControlName="DisplayNumberOfRows" class="form-control"
                            (change)="displayNumberOfRowsOnChange()" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="riGridOnRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination *ngIf="gridParams.totalRecords > 0" [totalItems]="gridParams.totalRecords" [currentPage]="this['pageParams']['currentPage']" [itemsPerPage]="gridParams.itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="sortGrid()" (bodyColumnFocus)="gridFocus($event)" (TRDblClick)="trDoubleClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>