<section class="container-fluid custom-container">
	<header class="screen-header">
		<div class="row">
			<div class="col-sm-12 page-title mt10">
				<h1>
					{{ this['pageTitle'] | translate }}
				</h1>
			</div>
		</div>
	</header>
	<form novalidate [formGroup]="this['uiForm']">
		<section class="screen-body">
			<div class="row mt5">
				<div class="col-sm-4">
					<label class="col24" for="SupervisorEmployeeCode">{{ 'Supervisor' | translate}}</label>
					<div class="col6 pr5">
						<input id="SupervisorEmployeeCode" class="form-control" formControlName="SupervisorEmployeeCode"
							type="text" size="6" maxlength="8" (change)="onSupervisorEmployeeCodeChange()" eTypeCode
							[icabsDirFocus]="setFocusSupervisorEmployeeCode">
					</div>
					<div class="col16 pr5">
						<input id="SupervisorEmployeeName" class="form-control" formControlName="SupervisorEmployeeName"
							type="text" size="20" maxlength="30" eTypeText>
					</div>
					<div class="col2">
						<icabs-ellipsis [childConfigParams]="ellipsisParams.supervisor.childConfigParams"
							[contentComponent]="ellipsisParams.supervisor.contentComponent"
							(ellipsisData)="onEllipsisDataReceived('Supervisor', $event)"
							[modalConfig]="ellipsisParams.common.modalConfig"
							[disabled]="ellipsisParams.supervisor.isDisabled"
							[showCloseButton]="ellipsisParams.supervisor.isShowCloseButton"
							[showHeader]="ellipsisParams.supervisor.isShowHeader"></icabs-ellipsis>
					</div>
				</div>
			</div>
			<hr class="mt15 mb15">
			<div class="row">
				<div class="col-sm-12">
					<icabs-refresh (click)="onRiGridRefresh($event)"></icabs-refresh>
					<icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords"
						[itemsPerPage]="this['pageParams'].gridConfig.pageSize" [canExport]="true"
						[currentPage]="this['pageParams'].gridConfig.currentPage"
						(getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
				</div>
			</div>
			<div class="row mt10">
				<div class="col-sm-12">
					<icabs-grid-advanced #riGrid id="riGrid" (bodyKeyDown)="onRiGridBodyKeyDown($event)"
						(TRDblClick)="onTBodyGridDblClick($event)" (headerClick)="onRiGridSort($event)">
					</icabs-grid-advanced>
				</div>
			</div>
		</section>
	</form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>