<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area'|translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode"
                            formControlName="BranchServiceAreaCode" size="9" [attr.maxlength]="4"
                            [icabsDirFocus]="setFocusOnBranchServiceAC" (change)="onbranchServiceAreaChange()"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname"
                            size="35" [attr.maxlength]="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="branchServiceAreaParams"
                            [contentComponent]="branchServiceAreaParams.component" (ellipsisData)="ellipsisData($event)"
                            [showHeader]="true"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Show'|translate}}</label>
                    <div class="col8 pr5">
                        <icabs-dropdown-static #ctypeSelectDropdown [inputData]="contractTypeCodeArr"
                            [doTranslate]="true" (onSelect)="onContractTypeCodeSelect($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Show'|translate}}</label>
                    <div class="col10">
                        <select class="form-control" id="PortfolioStatusType" formControlName="PortfolioStatusType"
                            (change)="onPortfolioStatusTypeChange()">
                            <option value="All">{{'All'|translate}}</option>
                            <option value="Current" selected>{{'Current Portfolio'|translate}}</option>
                            <option value="NonCurrent">{{'Non Current Portfolio'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15" [ngClass]="this['pageParams']['istdSequence1'] ? '' : 'hidden'">
            <div class="row" [ngClass]="this['pageParams']['istdSequence1'] ? '' : 'hidden'">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="IncludeUnsequenced"
                            formControlName="IncludeUnsequenced">
                        <label for="IncludeUnsequenced">{{'Include 0 Sequence Numbers'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5" [ngClass]="this['pageParams']['istdSequence1'] ? '' : 'hidden'">
                <div class="col-sm-4">
                    <label class="col24">{{'Sequence In Gaps Of'|translate}}<span class="mandatory">*</span></label>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="SequenceGap" formControlName="SequenceGap" size="3"
                            [attr.maxlength]="3" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt10" [ngClass]="this['pageParams']['istdSequence1'] ? '' : 'hidden'">
                <div class="col-sm-4">
                    <input type="button" id="cmdResequenceNumbers" class="btn btn-primary"
                        value="{{'Resequence By Postcode'|translate}}" (click)="onCmdResequenceNumbers($event)"
                        [disabled]="this['pageParams']['isResequenceNumDisable']">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refreshGrid()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="isHidePagination ? 'hidden' : ''"
                        [currentPage]="gridParams.pageCurrent" [totalItems]="gridParams.totalRecords"
                        [itemsPerPage]="gridParams.itemsPerPage" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="riGridSort()" (bodyDblClick)="onGridDblClick()"
                        (bodyColumnBlur)="onCellBlur($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>