<pagination [boundaryLinks]="boundaryLinks" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
    [disabled]="disabled" [(ngModel)]="currentPage" [previousText]="previousText" [nextText]="nextText"
    [firstText]="firstText" [lastText]="lastText" class="pagination" (pageChanged)="currentPageChanged($event)">
</pagination>
<ul [ngClass]="{'disabled': disabled }" class="pagination export" *ngIf="canExport">
    <li>
        <a href="#" aria-label="Export" title="{{'Export' | translate }}" (click)="onExportClick($event)">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </a>
    </li>
</ul>
