
    <div class="col-xs-12"  *ngIf="slides.length > 0">
        <div class="thumbnail"
            [ngClass]="selectedSlide === idx? 'active-slide':'' "
            [ngStyle]="{'background-color':slide.cellColor || '#fff'}"
            *ngFor="let slide of slides; let idx = index;"
            (click)="selectedSlide !== idx ? selectedSlide = idx : selectedSlide = -1;" >
                <div class="row col-xs-2 slide-sign">
                    <a href="javascript:;">
                        <span class="glyphicon "
                            [ngClass]="selectedSlide === idx? 'glyphicon-minus':'glyphicon-plus'"></span>
                    </a>
                </div>
                <div class="row mt4" *ngFor="let slideItem of slide; let idx = index;" [hidden]="!slideItem.show">
                    <div class="col-xs-5 text-right text-bold">{{slideItem['key']}}:</div>
                    <div class="col-xs-7 ellipsesText">{{slideItem['value']}}</div>
                </div>
                <div class="col-xs-12 mt10" *ngIf="enableDrillDown">
                    <input class="btn btn-primary btn-block" type="button" value="{{'Update'|translate}}"
                        (click)="onDrillDown($event, slide)">
                </div>
        </div>
    </div>
