<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{'Notification Template Maintenance'|translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="pageMode !== 'eModeAdd'">
                    <label class="col24">{{'Template Code'|translate}}<span class="mandatory">*</span></label>
                    <div class="col16">
                        <icabs-common-dropdown #templateSearch
                            [inputParams]="dropDown.templateSearch.params"
                            [displayFields]="dropDown.templateSearch.displayFields"
                            [isRequired]="dropDown.templateSearch.isRequired"
                            [isActive]="dropDown.templateSearch.active"
                            [isDisabled]="dropDown.templateSearch.isDisabled"
                            [isFirstItemSelected]="dropDown.templateSearch.isFirstItemSelected"
                            (onDataReceived)="onDataReceived($event)"
                            (getDefaultInfo)="onDataDefaulted($event)"></icabs-common-dropdown>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageMode === 'eModeAdd'">
                    <label class="col24">{{'Template Code'|translate}}<span class="mandatory">*</span></label>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="NotifyTemplateCode" eTypeCode formControlName="NotifyTemplateCode" size="15" maxlength="12">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Template Name'|translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" class="form-control" id="NotifyTemplateSystemDesc" eTypeTextFree formControlName="NotifyTemplateSystemDesc" size="30" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Template Type'|translate}}</label>
                    <div class="col12">
                        <select class="form-control" id="NotifyTemplateType" eTypeTextFree formControlName="NotifyTemplateType">
                            <option value="1">{{'Email' | translate}}</option>
                            <option value="2">{{'SMS' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Maximum SMS Length'|translate}}</label>
                    <div class="col8">
                         <input type="text" class="form-control" id="NotifyMaxSMSLength" eTypeInteger formControlName="NotifyMaxSMSLength" size="8" maxlength="8">
                    </div>
                </div>
            </div>
        </section>
         <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row ">
                    <div class="col-sm-6">
                        <input type="button" id="add" class="btn btn-additional mr10" value="{{'Add' | translate}}" *ngIf="pageMode !== 'eModeAdd'" (click)="checkFormDirty()">
                        <input type="button" id="save" class="btn btn-primary mr10" value="{{'Save'|translate}}" *ngIf="isUpdateEnabled" (click)="save()">
                        <input type="button" id="cancel" class="btn btn-secondary" value="{{'Cancel'|translate}}" (click)="cancel()">
                        <input type="button" id="delete" class="btn btn-additional mr10" value="{{'Delete'|translate}}" *ngIf="pageMode !== 'eModeAdd'" (click)="delete()">
                    </div>
                    <div class="col-sm-2 pull-right">
                        <input type="button" id="btnDetail" class="btn btn-additional" value="{{ 'Template Details' | translate }}" (click)="onClickDetail()" [disabled]="pageMode === 'eModeAdd'">
                    </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>