<div class="notifications" role="dialog">
    <div [className]="jsonObj[key].messageType" *ngFor="let key of arrayOfKeys;">
        <span [className]="jsonObj[key].glyphiconType" aria-hidden="true"></span>
        <a class="close" data-dismiss="alert" aria-label="close" (click)="onCloseClick(key)">&times;</a>
        <div class="alert-text">{{jsonObj[key]['alertMessage'] | translate}}</div>
    </div>
</div>
