<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24" *ngIf="parentMode === 'Business'">
                        <label class="col24">{{ 'Business' | translate }}</label>
                        <div class="col12">
                            <input type="text" id="BusinessDesc" class="formControl" formControlName="BusinessDesc"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24" *ngIf="parentMode !== 'Business'">
                        <label class="col24">{{ 'Branch' | translate }}</label>
                        <div class="col12">
                            <input type="text" id="BranchName" size="30" [attr.maxlength]="40" class="form-control"
                                formControlName="BranchName" eTypeText>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{ 'Service Type' | translate }}</label>
                        <div class="col16">
                            <input type="text" id="ServiceTypes" class="formControl" formControlName="ServiceTypes"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{ 'Show' | translate }}</label>
                        <div class="col12">
                            <select id="SeasonalSelect" class="form-control" formControlName="SeasonalSelect">
                                <option *ngFor="let showTypeValues of sosService.contractSeasonalOptions"
                                    value="{{ showTypeValues.value }}">
                                    {{ showTypeValues.text | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="parentMode === 'Detail'">
                    <div class="col24">
                        <label class="col24">{{ 'Branch Service Area' | translate }}</label>
                        <div class="col12">
                            <input type="text" id="BranchServiceAreaDesc" class="formControl"
                                formControlName="BranchServiceAreaDesc" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24" *ngIf="this['pageParams'].enableCompanyCode">
                        <label class="col24">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col16">
                            <input type="text" id="Company" class="formControl" formControlName="Company"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{ 'Product Group' | translate}}<span></span></label>
                        <div class="col16">
                            <input type="text" id="ProductServiceGroups" class="formControl"
                                formControlName="ProductServiceGroups" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24" *ngIf="parentMode !== 'Detail'">
                        <label class="col24">{{ 'Show By' | translate }}</label>
                        <div class="col12">
                            <select id="ViewBy" class="form-control" formControlName="ViewBy">
                                <option *ngFor="let showTypeByValues of showTypeBy"
                                    value="{{ showTypeByValues.value }}">
                                    {{ showTypeByValues.text | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRefreshClick()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.pageSize"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>