<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="pageType === 'Branch'">
                    <label class="col24">{{ 'Branch' | translate }}
                    </label>
                    <div class="col4 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6"
                            [attr.maxlength]="6" class="form-control" eTypeText>
                    </div>
                    <div class="col8 pr5">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" [attr.maxlength]="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType === 'Business'">
                    <label class="col24">{{ 'Business' | translate }}
                    </label>
                    <div class="col12 pr5">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="41"
                            [attr.maxlength]="40" class="form-control" eTypeText>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="pageType === 'Branch'">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Supervisor' | translate }}
                    </label>
                    <div class="col7 pr5">
                        <input type="text" id="SupervisorEmployeeCode" formControlName="SupervisorEmployeeCode" size="6"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col17 pr5">
                        <input type="text" id="SupervisorSurname" formControlName="SupervisorSurname" size="40"
                            class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}</label>
                    <div class="col7 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" size="8"
                            [attr.maxlength]="8" class="form-control" eTypeCode>
                    </div>
                    <div class="col17 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" size="40"
                            [attr.maxlength]="40" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" *ngIf="this['pageParams'].enableCompanyCode">
                    <div class="col24">
                        <label class="col24">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="CompanyCode" formControlName="CompanyCode" size="2"
                                [attr.maxlength]="2" class="form-control" eTypeCode>
                        </div>
                        <div class="col20 pr5">
                            <input type="text" id="CompanyDesc" formControlName="CompanyDesc" size="40"
                                [attr.maxlength]="40" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="pageType === 'Business'">
                    <label class="col24">{{ 'Show' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <select id="ViewBy" class="form-control" formControlName="ViewBy" (change)="this['commonGridFunction'].resetGrid()">
                            <option *ngFor="let viewBy of sosService.viewBy" value="{{viewBy.value}}">
                                {{ viewBy.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Type' | translate }}</label>
                    <div class="col24 pr5">
                        <input type="text" id="ServiceTypeCode" formControlName="ServiceTypeCode" size="40"
                            [attr.maxlength]="30" class="form-control" eTypeCode>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Show' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="SeasonalSelect" formControlName="SeasonalSelect">
                            <option *ngFor="let item of sosService.seasonalOptions" value="{{ item.value }}">
                                {{ item.text | translate }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Product Group' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <input type="text" id="ProductServiceGroupCode" formControlName="ProductServiceGroupCode"
                            size="40" [attr.maxlength]="30" class="form-control" eTypeCode>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Portfolio Type' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <select id="ShowPortfolioType" class="form-control" formControlName="ShowPortfolioType">
                            <option *ngFor="let showPortfolioValues of sosService.showPortfolioValues"
                                value="{{ showPortfolioValues.value }}">
                                {{ showPortfolioValues.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Report Group' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <input type="text" id="ReportGroupCode" formControlName="ReportGroupCode" size="40"
                            [attr.maxlength]="30" class="form-control" eTypeCode>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Visit Frequency' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <input type="text" id="VisitFrequency" formControlName="VisitFrequency" size="5"
                            [attr.maxlength]="3" class="form-control" eTypeInteger>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'From Date Selection' | translate }}
                    </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="DateSelect" formControlName="DateSelect">
                            <option *ngFor="let dateSelectValues of sosService.dateSelectValues"
                                value="{{ dateSelectValues.value }}">
                                {{ dateSelectValues.text | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-6 pl0" *ngIf="this['pageParams'].fromDateShow">
                        <label class="col24">{{ 'From' | translate }}</label>
                        <div class="col24 pr5">
                            <input type="text" id="DateFrom" formControlName="DateFrom" size="10" [attr.maxlength]="10"
                                class="form-control" eTypeDate>
                        </div>
                    </div>
                    <div class="col-sm-6 pr0" *ngIf="this['pageParams'].toDateShow">
                        <label class="col24">{{ 'To' | translate }}</label>
                        <div class="col24 pr5">
                            <input type="text" id="DateTo" formControlName="DateTo" size="10" [attr.maxlength]="10"
                                class="form-control" eTypeDate>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt20" *ngIf="false">
                    <input class="btn btn-primary" type="button" value="{{'Generate Full Report'|translate}}">
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}" [canExport]="true">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>