<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24" for="ContractNumber">{{ 'Contract' | translate }}<span class="mandatory">*</span></label>
                <div class="col8 pr5">
                    <input id="ContractNumber" formControlName="ContractNumber" class="form-control padding-zero" type="text"
                        [attr.maxlength]="8" (change)="onContractBlur($event)" eTypeCode icabsZeroPad>
                </div>
                <div class="col14 pr5">
                    <input id="ContractName" formControlName="ContractName" class="form-control padding-zero" type="text"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="ellipsis.contract.imputParams"
                        [contentComponent]="ellipsis.contract.component" (ellipsisData)="onContractDataReceived($event)"
                        [showHeader]="true" (ellipsisData)="onContractDataReceived($event)"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col18">
                    <label class="col24" for="FilterType">{{'Filter' | translate}}</label>
                    <select class="form-control" id="FilterType" formControlName="FilterType" (change)="onFilterTypeChange()">
                        <option value="All">{{'All' | translate}}</option>
                        <option value="Ahead">{{'Ahead' | translate}}</option>
                        <option value="Behind">{{'Behind' | translate}}</option>
                        <option value="NotCompleted">{{'Not Completed' | translate}}</option>
                        <option value="NoVisits">{{'No Visits' | translate}}</option>
                        <option value="NotReleased">{{'Not Released' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('FilterType') === 'Ahead' || getControlValue('FilterType') === 'Behind'">
                <label class="col24">{{ '' | translate }}</label>
                <label class="col2">{{'By'|translate}}</label>
                <div class="col8 pr5">
                    <input id="NumberOfVisits" formControlName="NumberOfVisits" class="form-control" type="text"
                        [attr.maxlength]="4" size="5" pattern="^[0-9]*$" eTypeInteger>
                </div>
                <label class="col8">{{'Or More Visits'|translate}}<span class="mandatory">*</span></label>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-4">
                <label for="ServiceType" class="col24">{{ 'Service Type' | translate }}</label>
                <div class="col18">
                    <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch" [active]="dropdown.serviceTypeSearch.active"
                        [isRequired]="false" (receivedServiceTypeData)="onDropDownSelect($event)">
                    </icabs-servicetype-search>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['pageParams'].vShowComboBox">
                <div class="col18">
                    <label class="col24" for="ReportView">{{'View Type' | translate}}</label>
                    <select class="form-control" id="ReportView" formControlName="ReportView">
                        <option value="Exchanges">{{'Exchanges' | translate}}</option>
                        <option value="Values">{{'Values' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Product Group' | translate}}</label>
                <div class="col18">
                    <icabs-sbproductservice-groupsearch [inputParams]="dropdown.productServiceGroupSearch" [active]="dropdown.productServiceGroupSearch.active"
                        [isRequired]="false" (receivedProductServiceGroupSearch)="onDropDownSelect($event)"></icabs-sbproductservice-groupsearch>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-4">
                <div class="col18">
                    <label class="col24" for="DateSelect">{{'From Date Selection' | translate}}</label>
                    <select class="form-control" id="DateSelect" formControlName="DateSelect">
                        <option value="SpecifyDate">{{'Specify From Date' | translate}}</option>
                        <option value="AnniversaryDate">{{'Use Anniversary Date' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('DateSelect')==='SpecifyDate'">
                <label class="col24">{{ 'From' | translate }}
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt5" *ngIf="this['pageParams'].vShowDateDoneBy">
            <div class="col-sm-4">
                <div class="col12 pr5">
                    <label class="col24">{{ '' | translate }}</label>
                    <input id="chkDoneBy" type="checkbox" formControlName="chkDoneBy" (change)="onCheckDoneByChnage()">
                    <label for="chkDoneBy" class="gray">
                        {{'Use Done By Date' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this['isCheckboxDoneByChecked']">
                <label class="col24">{{ 'Done By' | translate }}
                </label>
                <div class="col16">
                    <icabs-datepicker id="DateDone" formControlName="DateDone" [isDirectiveBased]="false">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="this['commonGridFunction'].onRefreshClick()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams']['gridConfig'].totalRecords"
                    [itemsPerPage]="10" [currentPage]="this['pageParams'].gridCurrentPage" (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"></icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (headerClick)="this['commonGridFunction'].onRefreshClick()" (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>