<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24" *ngIf="pageType === 'Business'">
                        <label class="col24">{{ 'Business' | translate }}</label>
                        <div class="col12">
                            <input type="text" id="BusinessDesc" class="formControl" formControlName="BusinessDesc"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24" *ngIf="pageType === 'Branch'">
                        <label class="col24">{{ 'Branch' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="BranchNumber" formControlName="BranchNumber" class="form-control">
                        </div>
                        <div class="col12">
                            <input type="text" id="BranchName" formControlName="BranchName" class="form-control">
                        </div>
                        <label class="col24">{{'Supervisor' | translate}}
                        </label>
                        <div class="col4 pr5">
                            <input type="text" id="SupervisorEmployeeCode" formControlName="SupervisorEmployeeCode"
                                (change)="onDataRecieved($event, 'superVisorEmployeeCode')" size="6" maxlength="6"
                                class="form-control" placeholder="" eTypeCode>
                        </div>
                        <div class="col12 pr5">
                            <input type="text" id="SupervisorSurname" formControlName="SupervisorSurname"
                                class="form-control">
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="dropdown.employee" [showCloseButton]="true"
                                [contentComponent]="employeeSearchComponent"
                                (ellipsisData)="onDataRecieved($event, 'superVisorEmployeeCode')" [showHeader]="true"
                                (change)="onDataRecieved($event, 'superVisorEmployeeCode')">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24" *ngIf="this['pageParams'].enableCompanyCode">
                        <label class="col24">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col16">
                            <icabs-business-company-search [inputParams]="companyInputParams"
                                (receivedCompanyCode)="onDataRecieved($event, 'company')" [active]="companyDefault">
                            </icabs-business-company-search>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{ 'Service Type' | translate }}</label>
                        <div class="col16">
                            <icabs-servicetype-search #serviceType [inputParams]="dropdown.serviceType"
                                (receivedServiceTypeData)="onDataRecieved($event, 'serviceType')" [isMultiSelect]="true"
                                [active]="serviceTypeDefault">
                            </icabs-servicetype-search>
                        </div>
                        <label class="col24">{{ 'Product Group' | translate}}<span></span></label>
                        <div class="col16">
                            <icabs-sbproductservice-groupsearch [inputParams]="dropdown.productServiceGroup"
                                [isRequired]="false"
                                (receivedProductServiceGroupSearch)="onDataRecieved($event, 'productServiceGroup')"
                                [isMultiSelect]="true" [active]="productGroupDefault">
                            </icabs-sbproductservice-groupsearch>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{ 'Show' | translate }}</label>
                        <div class="col12">
                            <select id="ShowType" class="form-control" formControlName="ShowType"
                                (change)="resetValues()">
                                <option *ngFor="let showTypeValues of sosService.showTypeValues"
                                    value="{{ showTypeValues.value }}">
                                    {{ showTypeValues.text | translate}}
                                </option>
                            </select>
                        </div>
                        <label class="col24">{{ 'Aged Month/Year' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="AgedMonth" formControlName="AgedMonth" size="2" maxlength="2"
                                class="form-control">
                        </div>
                        <div class="col8">
                            <input type="text" id="AgedYear" formControlName="AgedYear" size="4" maxlength="4"
                                class="form-control">
                        </div>
                        <div class="col24 mt10">
                            <input class="btn btn-primary" type="button"
                                value="{{'Submit Report Generation'|translate}}" (click)="onGenerateReport()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12" id="trInformation" *ngIf="URLReturn">
                    <label class="col24 message-box info-label">
                        {{ URLReturn | translate }}
                    </label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRefreshClick()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.pageSize"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>