<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body calendarContainer">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Employee' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" size="11" maxlength="8" class="form-control" id="EmployeeCode" formControlName="EmployeeCode" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" size="40" maxlength="40" class="form-control" id="EmployeeSurname" formControlName="EmployeeName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <input type="button" id="cmdGenerate" class="btn btn-additional" value="{{'Refresh' | translate}}" (click)="refreshCalendar()">
                    <input type="button" id="cmdGenerate" class="btn btn-additional" value="{{'Print' | translate}}" (click)="printCalendar()">
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams'].isFullDiaryUpdateAllowed">
                <div class="col-sm-3 pull-right text-right">
                    <label class="col24">{{'Last Update' | translate}}: {{ this.lastUpdated }}</label>
                </div>

            </div>
            <hr class="mt15 mb15">
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col24 topClass">
                        <div class="col24 mt10 mb10">
                            <input type="button" id="cmdGenerate" class="btn btn-additional col24" value="{{'Sort Available Visits' | translate}}" (click)="onClickSort()">
                        </div>
                        <div class="col24 mb10">
                            <input type="button" id="cmdGenerate" class="btn btn-additional col24" value="{{'Colour Key' | translate}}" (click)="onClickLegend()">
                        </div>
                        <div class="col24 mb10">
                            <input type="button" id="cmdGenerate" class="btn btn-additional col24" value="{{'Visit Conflicts' | translate}}" (click)="onClickVisitConflict()">
                        </div>
                        <div class="col24">
                            <h4>
                                {{'Totals'|translate}}
                            </h4>
                        </div>
                        <div class="col24">
                            <label class="col24">{{'Total Visits' |translate}} </label>
                            <div class="col24">
                                <input type="text" size="11" maxlength="11" class="form-control" id="TotalVisits" formControlName="TotalVisits" eTypeInteger>
                            </div>
                        </div>
                        <div class="col24">
                            <label class="col24">{{'Visit Value' |translate}} </label>
                            <div class="col24">
                                <input type="text" size="11" maxlength="11" class="form-control" id="VisitValue" formControlName="VisitValue" eTypeCurrency>
                            </div>
                        </div>
                        <div class="col24">
                            <label class="col24">{{'Visit Time' |translate}} </label>
                            <div class="col24 mb10">
                                <input type="text" size="11" maxlength="11" class="form-control" id="VisitTime" formControlName="VisitTime" eTypeInteger>
                            </div>
                        </div>
                    </div>
                    <div class="col24 mt10 bottomClass availableVisitList">
                        <div class="col24">
                            <h4>
                                {{ 'Available Visit' | translate }}
                            </h4>
                        </div>
                        <div class="col24">
                            <ul>
                                <li *ngFor="let visit of availableVisits.visitList; let idx = index" [isDraggable]="true" [attr.data-event-index]="idx">
                                    <a href="#" (click)="onClickVisitDetails($event, idx)">{{ visit.visitTitle }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9" [isDroppable]="true">
                    <icabs-full-calendar #fullCalendar (onCalendarClick)="onCalendarEventClick()" (onCalendarDayClick)="onCalendarDayClick($event)"
                        (onViewRender)="onCalendarViewRender($event)" (onExternalEventDrop)="onExternalEventDrop($event)" (onCalendarEventDrop)="onCalendarEventDrop($event)"></icabs-full-calendar>
                </div>
            </div>

            <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
            <icabs-google-map #gmap [isHidden]="true"></icabs-google-map>
        </section>
    </form>
</section>

<icabs-modal #legendModal="child" [size]="'xs'" [showHeader]="true">
    <div class="container-fluid custom-container">
        <div class="row mt10">
            <div class="col-sm-12">
                <ul class="colorKeys col24 mb20" *ngFor="let legend of legendDetails; let lastItem = last;" [ngClass]="{ 'clearfix' : !lastItem }">
                    <li class="heading">{{ legend.header.main | translate }}</li>
                    <li class="col24 subHeading">
                        <div class="col3">{{ legend.header.sub.text | translate }}</div>
                        <div class="col21">{{ legend.header.sub.desc | translate }}</div>
                    </li>
                    <li class="col24" *ngFor="let item of legend.body" [style.background-color]="item.color">
                        <div class="col21 pull-right" *ngFor="let text of item.text">{{ text | translate }}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt15">
            <div class="col-sm-12">
                <input type="button" id="btnLegendOk" class="btn btn-primary mr10" value="{{ 'Close' | translate }}" (click)="onModalCancelClick('legendModal')">
            </div>
        </div>
    </div>
</icabs-modal>

<icabs-modal #sortOptionsModal="child" [size]="'xs'" [showHeader]="true">
    <div class="container-fluid custom-container" title="{{ 'Available Visit Filters' | translate }}">
        <div class="row mt10">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Available Visit Filters' | translate }}</h1>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <hr class="col24 mt15 mb15">
                <ul class="col24 radioModalStyle">
                    <li class="mb10" *ngFor="let option of sortOptions; let idx = index">
                        <input type="radio" class="form-control" [id]="option.value" name="AvailableVisitFilters" [value]="option.value" (change)="onSortOptionChange()"
                            [(ngModel)]="availableVisitFilters">
                            <label [for]="option.value">{{ option.text | translate }}</label>
                    </li>
                </ul>
                <hr class="col24 mt15 mb15">
            </div>
        </div>
        <div class="row mt15">
            <div class="col-sm-12">
                <input type="button" id="btnSortVisitOk" class="btn btn-primary mr10" value="{{ 'OK' | translate }}" (click)="onSortOkClick()">
                <input type="button" id="btnSortVisitClose" class="btn btn-primary" value="{{ 'Cancel' | translate }}" (click)="onModalCancelClick('sortOptionsModal')">
            </div>
        </div>
    </div>
</icabs-modal>

<icabs-modal #visitDetailsModal="child" [size]="'xs'" [showHeader]="true">
    <div class="container-fluid custom-container">
        <div class="row mt10">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ visitDetails['modalTitle'] }}</h1>
            </div>
        </div>
        <div class="row mt10" *ngIf='visitDetails["modalSubTitle"]'>
            <div class="col-sm-12 mt10">
                <span>{{ visitDetails['modalSubTitle'] }}</span>
            </div>
        </div>
        <div class="row mt10" *ngIf='visitDetails["modalBody"].length'>
            <div class="col-sm-12">
                <div *ngFor="let item of visitDetails['modalBody']">
                    <span *ngFor="let itemParts of item">{{ itemParts | translate }}</span>
                </div>
                <hr class="col24 mt15 mb15" *ngIf="this['pageParams'].isFullDiaryUpdateAllowed">
            </div>
        </div>
        <div class="row mt15" *ngIf="this['pageParams'].isFullDiaryUpdateAllowed">
            <div class="col-sm-12">
                <div class="col16">
                    <input type="button" id="btnVisitPlan" class="btn btn-primary mr5" value="{{ 'Plan' | translate }}" *ngIf="visitDetails['isVisitPlanningEligible']"
                        (click)="onPlanClick()">
                        <input type="button" id="btnVisits" class="btn btn-primary mr5" value="{{ 'Visits' | translate }}" *ngIf="visitDetails['hasVisitPlan']"
                            (click)="onVisitsClick()">
                            <input type="button" id="btnServiceCover" class="btn btn-primary" value="{{ 'Service Cover' | translate }}" *ngIf="visitDetails['hasVisitServiceCover']"
                                (click)="onServiceCoverClick()">
                </div>
                <div class="col8 pull-right">
                    <input type="button" id="btnUndo" class="btn btn-primary" value="{{ 'Undo' | translate }}" *ngIf="visitDetails['canUndoVisitPlanning']"
                        (click)="onUndoClick()">
                        <input type="button" id="btnRefresh" class="btn btn-primary" value="{{ 'Refresh' | translate }}" *ngIf="visitDetails['canRefreshVisitCalendar']"
                            (click)="refreshCalendar()">
                </div>
            </div>
        </div>
    </div>
</icabs-modal>