<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" class="form-control"
                            size="8" icabsZeroPad eTypeCode 
                            fetchDescription table="Contract" query="ContractNumber" select="ContractName" field="ContractName" 
                            [attr.maxlength]="8" (change)="onDataRecieved($event, 'contract')">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" class="form-control" size="40"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="inputParams.contract.showCloseButton"
                            [childConfigParams]="inputParams.contract" [contentComponent]="inputParams.contract.contentComponent"
                            (ellipsisData)="onDataRecieved($event, 'contract')"
                            [showHeader]="inputParams.contract.showHeader" [autoOpen]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Premises Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col4 pr5">
                        <input type="text" id="PremiseNumber" formControlName="PremiseNumber" class="form-control"
                            size="8" eTypeText (change)="onDataRecieved($event, 'premisePageDown')" >
                    </div>
                    <div class="col18 pr5">
                        <input type="text" id="PremiseName" formControlName="PremiseName" class="form-control" size="40"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="inputParams.premise.disabled" [showCloseButton]="inputParams.premise.showCloseButton"
                            [showHeader]="inputParams.premise.showHeader" [childConfigParams]="inputParams.premise.childConfigParams"
                            [contentComponent]="inputParams.premise.component" (ellipsisData)="onDataRecieved($event, 'premise')"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Site Reference' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <input type="text" id="PNOLSiteRef" formControlName="PNOLSiteRef" class="form-control" maxlength="50" eTypeText>
                    </div>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="submit" id="save" class="btn btn-primary" value="{{ 'Save' | translate }}"
                        (click)="onBtnClick('Save')" [disabled]="isDisabled">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                        (click)="onBtnClick('Cancel')" [disabled]="isDisabled">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>