<!-- Page Content -->
<div class="container-fluid custom-container">
    <!-- Projects Row -->
    <form novalidate [formGroup]="contractFormGroup" (ngSubmit)="onSubmit(contractFormGroup.value, contractFormGroup.valid, $event)">
        <!-- flag -->
        <div class="flag-fixed">
            <ul>
                <li *ngIf="displayList.expired === true">
                    <strong>{{ 'Expired' | translate }}</strong>
                </li>
                <li *ngIf="displayList.nationalAccount === true">
                    <strong>{{ 'National Account' | translate }}</strong>
                </li>
                <li *ngIf="displayList.badDebtAccountCheckbox === true">
                    <input class="custom-checkbox" type="checkbox" id="badDebtAccount" formControlName="BadDebtAccount">
                    <label class="custom-checkbox-label gray" for="" for="badDebtAccount">{{ 'Bad Debt' | translate }}</label>
                </li>
                <li *ngIf="displayList.badDebtAccount === true">
                    <strong>{{ 'Bad Debt Account' | translate }}</strong>
                </li>
                <li *ngIf="displayList.pnol === true">
                    <strong>{{ 'PNOL' | translate }}</strong>
                </li>
                <li *ngIf="displayList.trialPeriodInd === true">
                    <input id="TrialPeriodInd" type="checkbox" formControlName="TrialPeriodInd" (change)='onTrialPeriodIndChange($event)'>
                    <label class="" for="" for="TrialPeriodInd">{{ 'Trial Period' | translate }}</label>
                </li>
                <li>
                    <strong>Expired</strong>
                </li>
            </ul>
        </div>
        <!-- flag -->
        <!-- Page Heading -->
        <div class="row">
            <div class="col-xs-12 page-title mt10">
                <h1>
                    {{this.inputParams.pageHeader | translate}}
                    <span class="font-sm inline-block pl20">
              
          </span>
                </h1>
            </div>
        </div>
        <!--Page Heading-->
        <div #topContainer>
            <div class="row mt10">
                <div class="col-xs-3">
                    <label class="col24" for="ContractNumber">{{labelFields.contractNumber | translate}} <span class="mandatory">* </span></label>
                    <div class="col22 pr5">
                        <input id="ContractNumber" type="text" class="form-control" placeholder="" formControlName="ContractNumber" [attr.maxlength]="8">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="autoOpenSearch" [showCloseButton]="showCloseButton" [childConfigParams]="contractSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="contractSearchComponent" (ellipsisData)="onContractDataReceived($event, true)"
                            [showHeader]="showHeader" (modalHidden)="modalHidden()" [searchModalRoute]="searchModalRoute" [disabled]="isContractEllipsisDisabled"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="col24" for="ContractName">{{ 'Name' | translate }} <span class="mandatory">* </span></label>
                    <div class="col18 pr5">
                        <input type="text" id="ContractName" (change)='onContractNameChange($event)' class="form-control" placeholder="" formControlName="ContractName"
                            [attr.maxlength]="40" id="nameInput" [readonly]="contractNameReadOnly">
                    </div>
                    <div class="col6">
                        <input class="btn btn-lg btn-primary btn-copy col24" formControlName="Copy" data-clipboard-target="#nameInput" (click)="onCopyClick($event)"
                            type="button" value="Copy">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-xs-3" *ngIf="displayList.contractAnnualValue === true">
                    <label class="col24" for="ContractAnnualValue"><span>{{ 'Value' | translate }}</span></label>
                    <div class="col12">
                        <input id="ContractAnnualValue" class="form-control padding-left-zero" type="text" formControlName="ContractAnnualValue"
                            [attr.maxlength]="23">
                    </div>
                    <div class="col12" *ngIf="displayList.future === true">
                        <input class="btn btn-lg btn-primary" type="button" (click)='onCmdValueClick($event)' formControlName="Future" value="Future Change">
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="col24">{{ 'Commence Date' | translate }}<span class="mandatory">* </span></label>
                    <div class="col12 pr5">
                        <icabs-datepicker [dt]='contractCommenceDate' [isDisabled]="!dateObjectsEnabled.contractCommenceDate" (selectedValue)="commenceDateSelectedValue($event)"
                            [isRequired]="true"></icabs-datepicker>
                    </div>
                    <div class="col12">
                        <input class="form-control" type="text" formControlName="Status" [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-xs-3">
                    <label class="col24 " for="AccountNumber">{{ 'Account Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input class="form-control" id="AccountNumber" type="text" name="accountNumber" formControlName="AccountNumber" (blur)='onAccountBlur($event)'
                            [attr.maxlength]="9">
                    </div>
                    <div class="col14 pr5">
                        <input class="form-control" type="text" name="accountDescription" formControlName="AccountName" [attr.maxlength]="40">
                    </div>
                    <div class="col14" *ngIf="displayList.moreThanOneContract === true">
                        <input class="form-control padding-zero" type="text" name="moreThanOneContract" formControlName="MoreThanOneContract">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccount" [modalConfig]="modalConfig"
                            [contentComponent]="accountSearchComponent" (ellipsisData)="onAccountDataReceived($event, false)"
                            [showHeader]="showHeader" [searchModalRoute]="searchModalRoute" [disabled]="isAccountEllipsisDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="displayList.groupAccount === true">
                <div class="col-xs-3">
                    <label class="col24" for="GroupAccountNumber">{{ 'Group Account' | translate }}</label>
                    <div class="col8 pr5">
                        <input class="form-control" type="text" [attr.maxlength]="5" formControlName="GroupAccountNumber" id="GroupAccountNumber"
                            (blur)="onGroupAccountBlur($event)">
                    </div>
                    <div class="col14 pr5">
                        <input class="form-control" type="text" [attr.maxlength]="40" formControlName="GroupName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccount" [modalConfig]="modalConfig"
                            [contentComponent]="groupAccountSearchComponent" (ellipsisData)="onGroupAccountDataReceived($event, false)"
                            [showHeader]="showHeader" [searchModalRoute]="searchModalRoute" [disabled]="isGroupAccountEllipsisDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-xs-3">
                    <label class="col24" for="AccountBalance">{{ 'Account Balance' | translate }}</label>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="AccountBalance" placeholder="" formControlName="AccountBalance">
                    </div>
                    <div class="col8" *ngIf="displayList.customerInformation === true">
                        <input class="btn btn-primary" type="button" (click)='onCustomerInformationClick($event)' value="Customer Information">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-xs-3">
                    <label class="col24" for="NegBranchNumber">{{ 'Negotiating Branch' | translate }}<span class="mandatory">* </span></label>
                    <div class="col8 pr5">
                        <input id="NegBranchNumber" class="form-control" type="text" formControlName="NegBranchNumber" (blur)="onNegBranchNumberBlur($event)"
                            [attr.maxlength]="5">
                    </div>
                    <div class="col16">
                        <input class="form-control" type="text" formControlName="BranchName" [attr.maxlength]="25">
                    </div>
                </div>
            </div>
            <div class="secondarySection mt20">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="sectionHead clearfix">
                            <a class="pull-right open" href="javascript:;">
                Expand
              </a>
                            <div class="sectionHeading pl15">
                                Secondary Action Area
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="sectionCollapcible">
                            <div class="collapcibleContent">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="col24" for="CurrentPremises">{{ 'Premises' | translate }}</label>
                                        <input type="text" class="form-control" placeholder="" id="CurrentPremises" formControlName="CurrentPremises" [attr.maxlength]="3">
                                    </div>
                                    <div class="col-xs-3" *ngIf="displayList.inactiveEffectDate === true">
                                        <label class="col24">{{ 'From' | translate }}<span class="mandatory">* </span></label>
                                        <div class="col12">
                                            <icabs-datepicker [dt]='inactiveEffectDate' [isDisabled]="!dateObjectsEnabled.inactiveEffectDate" (selectedValue)="inactiveEffectDateSelectedValue($event)"></icabs-datepicker>
                                        </div>
                                        <div class="col12">
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-3">
                                        <div *ngIf="displayList.lostBusinessDesc1 === true">
                                            <label class="col24">{{ 'Lost Business Desc 1' | translate }}<span class="mandatory">* </span></label>
                                            <div class="col24">
                                                <input type="text" id="LostBusinessDesc" class="form-control" placeholder="" formControlName="LostBusinessDesc">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-3">
                                        <div *ngIf="displayList.lostBusinessDesc2 === true">
                                            <label class="col24">{{ 'Lost Business Desc 2' | translate }}<span class="mandatory">* </span></label>
                                            <div class="col24">
                                                <input type="text" id="lostBusinessDesc2" class="form-control" placeholder="" formControlName="LostBusinessDesc2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-3">
                                        <div *ngIf="displayList.lostBusinessDesc3 === true">
                                            <label class="col24">{{ 'Lost Business Desc 3' | translate }}<span class="mandatory">* </span></label>
                                            <div class="col24">
                                                <input type="text" id="lostBusinessDesc3" class="form-control" placeholder="" formControlName="LostBusinessDesc3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--collapcibleContent-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-cont margin-top-m" [ngClass]="{'error-tab-a': tabsError.tabA, 'error-tab-b': tabsError.tabB, 'error-tab-c': tabsError.tabC, 'error-tab-d': tabsError.tabD, 'error-tab-e': tabsError.tabE}">
            <icabs-tabs [tabs]="tabs" [componentList]="componentList">
            </icabs-tabs>
        </div>
        <INPUT type="checkbox" class="hidden" formControlName="ShowValueButton" ngDefaultControl>
        <INPUT id="NationalAccount" type="text" class="hidden" formControlName="NationalAccount" ngDefaultControl>
        <!-- the following is used within visitsummary -->
        <INPUT id="IsNationalAccount" class="hidden" formControlName="IsNationalAccount" ngDefaultControl>
        <INPUT id="NationalAccountchecked" class="hidden" type="checkbox" formControlName="NationalAccountchecked" ngDefaultControl>
        <INPUT id="DisableList" class="hidden" formControlName="DisableList" ngDefaultControl>
        <INPUT id="MandateRequired" class="hidden" type="checkbox" formControlName="MandateRequired" ngDefaultControl>
        <INPUT id="ReqAutoNumber" class="hidden" type="checkbox" formControlName="ReqAutoNumber" ngDefaultControl>
        <INPUT id="PaymentTypeWarning" class="hidden" formControlName="PaymentTypeWarning" ngDefaultControl>
        <INPUT id="ProspectNumber" class="hidden" formControlName="ProspectNumber" ngDefaultControl>
        <INPUT id="ErrorMessageDesc" class="hidden" formControlName="ErrorMessageDesc" ngDefaultControl>
        <INPUT id="CustomerInfoAvailable" class="hidden" type="checkbox" formControlName="CustomerInfoAvailable" ngDefaultControl>
        <INPUT id="ContractHasExpired" class="hidden" formControlName="ContractHasExpired" ngDefaultControl>
        <INPUT id="RunningReadOnly" class="hidden" formControlName="RunningReadOnly" ngDefaultControl>
        <INPUT id="CallLogID" class="hidden" formControlName="CallLogID" ngDefaultControl>
        <INPUT id="CurrentCallLogID" class="hidden" formControlName="CurrentCallLogID" ngDefaultControl>
        <input id="WindowClosingName" class="hidden" formControlName="WindowClosingName" ngDefaultControl>
        <input id="ClosedWithChanges" class="hidden" formControlName="ClosedWithChanges" ngDefaultControl>
        <input id="PNOL" class="hidden" type="checkbox" formControlName="PNOL" ngDefaultControl>
        <input id="CICustRefReq" class="hidden" formControlName="CICustRefReq" ngDefaultControl>
        <input id="CIRWOReq" class="hidden" formControlName="CIRWOReq" ngDefaultControl>
        <input id="CICFWOReq" class="hidden" formControlName="CICFWOReq" ngDefaultControl>
        <input id="CICFWOSep" class="hidden" formControlName="CICFWOSep" ngDefaultControl>
        <input id="OrigCICustRefReq" class="hidden" formControlName="OrigCICustRefReq" ngDefaultControl>
        <input id="OrigCIRWOReq" class="hidden" formControlName="OrigCIRWOReq" ngDefaultControl>
        <input id="OrigCICFWOReq" class="hidden" formControlName="OrigCICFWOReq" ngDefaultControl>
        <input id="OrigCICFWOSep" class="hidden" formControlName="OrigCICFWOSep" ngDefaultControl>
        <input id="OrigCICResponseSLA" class="hidden" formControlName="OrigCICResponseSLA" ngDefaultControl>
        <input id="OrigCIFirstSLAEscDays" class="hidden" formControlName="OrigCIFirstSLAEscDays" ngDefaultControl>
        <input id="OrigCISubSLAEscDays" class="hidden" formControlName="OrigCISubSLAEscDays" ngDefaultControl>
    </form>
    <hr>
    <div class="row mt10">
        <div class="col-xs-6">
            <div *ngIf="showControlBtn === true" [hidden]="!addMode && searchMode && !updateMode" [attr.data-hidden]="!addMode && searchMode && !updateMode">
                <input class="btn btn-primary mr5" type="submit" (click)="onSubmit(contractFormGroup.value, contractFormGroup.valid, $event)"
                    value="{{'Save' | translate}}">
                    <input class="btn btn-secondary mr5" type="button" value="{{'Cancel' | translate}}" (click)="onCancel($event)">
            </div>
            <div *ngIf="(!addMode && searchMode && !updateMode && contractStoreData) && showControlBtn === true">
                <input class="btn btn-primary" type="button" (click)="onUpdateButtonClick($event)" value="{{'Update' | translate}}">
            </div>
        </div>
        <div class="col-xs-3 pull-right" *ngIf="displayList.options === true">
            <select [(ngModel)]="options" [disabled]="(addMode && !searchMode && !updateMode) || (searchMode && !contractStoreData)"
                [ngModelOptions]="{standalone: true}" class="form-control" (change)="optionsChange($event.target.value)" name="status"
                name="options">
                <optgroup *ngFor="let item of optionsList" label="{{item.title | translate}}">
                    <option *ngFor="let child of item.list" [ngValue]="child" [selected]="child == 'Options'">
                        {{child}}
                    </option>
                </optgroup>
                </select>
        </div>
    </div>
</div>
<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader">
</icabs-modal>
<icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader">
</icabs-modal>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [title]="promptTitle" [content]="promptContent"
    (saveEmit)="promptSave($event)"></icabs-prompt-modal>