<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Move From Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="SalesAreaCode" size="10" maxlength="4" class="form-control" formControlName="SalesAreaCode" eTypeCode
                            (change)="onFieldChange('SalesAreaCode')">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="SalesAreaDesc" size="20" maxlength="30" class="form-control" formControlName="SalesAreaDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.salesAreaSearch.childConfig" [modalConfig]="modalConfig" [contentComponent]="ellipsisParams.salesAreaSearch.component"
                            [showCloseButton]="true" [showHeader]="true" (ellipsisData)="onSalesAreaDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Show' | translate }}</label>
                    <div class="col24">
                        <select id="PortfolioStatusType" tabindex="-1" formControlName="PortfolioStatusType" class="form-control">
                            <option *ngFor="let option of portfolioStatusOptions" [value]="option.value">{{ option.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'To Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="SalesAreaCodeTo" size="10" maxlength="4" class="form-control" formControlName="SalesAreaCodeTo" eTypeCode
                            (change)="onFieldChange('SalesAreaCodeTo')">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="SalesAreaDescTo" size="20" maxlength="30" class="form-control" formControlName="SalesAreaDescTo" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.salesAreaToSearch.childConfig" [modalConfig]="modalConfig" [contentComponent]="ellipsisParams.salesAreaToSearch.component"
                            [showCloseButton]="true" [showHeader]="true" (ellipsisData)="onSalesAreaToDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Show' | translate }}</label>
                    <div class="col24">
                        <select id="ContractTypeCode" tabindex="-1" formControlName="ContractTypeCode" class="form-control">
                            <option *ngFor="let option of contractTypeCodeOptions" [value]="option.value">{{ option.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" size="10" maxlength="8" class="form-control" formControlName="ContractNumber" eTypeCode
                            icabsZeroPad (change)="onFieldChange('ContractNumber')">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="ContractName" size="20" maxlength="30" class="form-control" formControlName="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.contractSearch.childConfig" [modalConfig]="modalConfig" [contentComponent]="ellipsisParams.contractSearch.component"
                            [showCloseButton]="true" [showHeader]="true" (ellipsisData)="onContractDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PostcodeFilter">{{ 'Postcode' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="PostcodeFilter" size="10" maxlength="8" class="form-control" formControlName="PostcodeFilter" (change)="onFieldChange('PostcodeFilter')"
                            eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Town">{{ 'Town' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="Town" size="20" maxlength="40" class="form-control" formControlName="Town" (change)="onFieldChange('Town')">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="County">{{ 'County' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="County" size="20" maxlength="40" class="form-control" formControlName="County" (change)="onFieldChange('County')">
                    </div>
                </div>
                <div class="col-sm-4">
                    <input type="button" id="cmdRezone" class="btn btn-additional mt20" value="{{ 'Rezone All' | translate }}" [disabled]="this['pageParams']['isRezoneDisabled']"
                        (click)="onRezoneClick()">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="onGridRefresh()"></icabs-refresh>
                    <icabs-pagination #pagination [currentPage]="gridParams.currentPage" [totalItems]="gridParams.totalRecords" *ngIf="gridParams.totalRecords > 0"
                        [itemsPerPage]="10" (getCurrentPage)="onCurrentPageRecieved($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid" (headerClick)="onGridSortClick()" (bodyClick)="onGridBodyClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
        <footer class="screen-footer" *ngIf="batchInformation">
            <div class="row mt10">
                <div class="col-sm-12">
                    <label class="col24 message-box info-label">{{ batchInformation }}</label>
                </div>
            </div>
        </footer>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>