<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col24">
                        <icabs-branchsearch [inputParams]="dropdownConfig.branchSearch.inputParams" [isDisabled]="dropdownConfig.branchSearch.isDisabled"
                            [active]="dropdownConfig.branchSearch.selected" [isRequired]='fieldRequired.BranchNumber'></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area'|translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input #branchServiceAreaCode type="text" class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode"
                            size="7" [attr.maxlength]="4" (blur)="onBlurServiceBranch()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname" size="40" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="isBranchServiceSearchModal" [showCloseButton]="ellipsisConfig.branchService.isShowCloseButton"
                            [showHeader]="ellipsisConfig.branchService.iSShowHeader" [childConfigParams]="ellipsisConfig.branchService.childConfigParams"
                            [contentComponent]="ellipsisConfig.branchService.component" (ellipsisData)="onBranchServiceDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Regulatory Authority'|translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" (blur)="onChangeRegulatoryAuthorityNumber()" class="form-control" id="RegulatoryAuthorityNumber" formControlName="RegulatoryAuthorityNumber"
                            size="7" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="RegulatoryAuthorityName" formControlName="RegulatoryAuthorityName" size="40"
                            [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                            <icabs-ellipsis-generic [showCloseButton]="true" [showHeader]="true"
                                [autoOpen]="ellipsisConfig.regulatoryAuthorityNumber.autoOpen"
                                [ellipsisTitle]="ellipsisConfig.regulatoryAuthorityNumber.ellipsisTitle"
                                [ellipsisColumn]="ellipsisConfig.regulatoryAuthorityNumber.tableColumn"
                                [configParams]="ellipsisConfig.regulatoryAuthorityNumber.configParams"
                                [disabled]="ellipsisConfig.regulatoryAuthorityNumber.disable"
                                (ellipsisData)="onRegulatoryAuthorityDataReceived($event)"
                                [httpConfig]="ellipsisConfig.regulatoryAuthorityNumber.httpConfig">
                            </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{'Date From'|translate}}<span class="mandatory">*</span></label>
                        <icabs-datepicker formControlName="DateFrom" id="DateFrom" [isRequired]="true" (onChange)="onChangeDateFrom($event)" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{'To'|translate}}<span class="mandatory">*</span></label>
                        <icabs-datepicker formControlName="DateTo" id="DateTo" [isRequired]="true" (onChange)="onChangeDateTo($event)" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Report Destination'|translate}}</label>
                    <div class="col8">
                        <select class="form-control" id="RepDest" (change)="onChangeMenu()" formControlName="RepDest">
                             <option value="direct" selected>{{'Report Viewer'|translate}}</option>
                             <option value="Email">{{'Email'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="button" (click)="onClickSubmit()" class="btn btn-primary" id="cmdSubmit" value="{{'Submit Report Generation'|translate}}">
                    </div>
                </div>
                <div class="col-sm-6" [ngClass]="isShowBatchSubmitted ? '' : 'hidden'">
                    <label class="message-box info-label">{{ this.batchSubmittedText }}</label>
                </div>
            </div>
        </section>
    </form>
</section>