<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Service Action Monitor - Branch' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Supervisor'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="SupervisorEmployeeCode" formControlName="SupervisorEmployeeCode" size="6" maxlength="8"
                            (change)="populateDescriptions()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="SupervisorEmployeeName" formControlName="SupervisorEmployeeName" size="20" maxlength="30"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="ellipsisConfig.employee.isShowCloseButton" [showHeader]="ellipsisConfig.employee.isShowHeader"
                            [childConfigParams]="ellipsisConfig.employee.childConfigParams" [contentComponent]="ellipsisConfig.employee.component"
                            (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" #branchServiceAreaCode class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode"
                            size="6" maxlength="8" (change)="populateDescriptions()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="20" maxlength="30"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.branchServiceArea.disabled" [showCloseButton]="ellipsisConfig.branchServiceArea.isShowCloseButton"
                            [showHeader]="ellipsisConfig.branchServiceArea.isShowHeader" [childConfigParams]="ellipsisConfig.branchServiceArea"
                            [contentComponent]="ellipsisConfig.branchServiceArea.component" (ellipsisData)="onServiceAreaDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Date'|translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="DebriefDate" formControlName="DebriefDate" size="10" maxlength="6" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2" hidden>
                <div class="col-sm-4">
                    <label class="col24">{{'RAG Status'|translate}} </label>
                    <div class="col8 pr5">
                        <select class="form-control" id="RAGStatusCode" formControlName="RAGStatusCode">
                            <option value="All" [selected]="true">{{'All'|translate}}</option>
                            <option value="Red">{{'Red'|translate}}</option>
                            <option value="Amber">{{'Amber'|translate}}</option>
                            <option value="Green">{{'Green'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" [checked]="checkboxValue" class="form-control" id="ActiveOnly" formControlName="ActiveOnly" (change)="onCheckboxClicked($event)">
                        <label for="ActiveOnly">{{'Show Live Area Only'|translate}} </label>
                    </div>

                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]=" gridConfig.totalRecords " [itemsPerPage]="gridConfig.pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (TRDblClick)="riGridOnDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>