<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{this['pageTitle'] | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Template' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="8" maxlength="8" class="form-control" id="AnnualCalendarTemplateNumber" formControlName="AnnualCalendarTemplateNumber"
                            (blur)="AnnualCalendarTemplateNumber_onchange($event)" eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" maxlength="40" class="form-control" id="TemplateName" formControlName="TemplateName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="autoOpen" [modalConfig]="modalConfig" [showCloseButton]="ellipsisConfig.calenderTemplateSelect.showCloseButton"
                            [showHeader]="ellipsisConfig.calenderTemplateSelect.showHeader" [childConfigParams]="ellipsisConfig.calenderTemplateSelect.childParams"
                            [contentComponent]="ellipsisConfig.calenderTemplateSelect.component" (ellipsisData)="ellipsisData_Select($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #calenderHistoryPagination [totalItems]="totalItems" [currentPage]="pageCurrent" [itemsPerPage]="itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid #calenderHistoryCodeGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage" [currentPage]="pageCurrent" [sortIndex]="gridSortHeaders"
                        (gridInfo)="getGridInfo($event)" (sortInfo)="sortGrid($event)" (selectedRowInfo)="onDblClick($event)"
                        [validateProperties]="validateProperties"></icabs-grid>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
        </footer>
    </form>
    <div class="row mt2">
        <div class="col-sm-12">
            <icabs-modal #errorModal="child" [showHeader]="true" [showCloseButton]="true">
            </icabs-modal>
        </div>
    </div>
</section>