<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="VehicleType">{{ 'Vehicle Type' | translate}} <span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="VehicleTypeNumber" class="form-control" formControlName="VehicleTypeNumber"
                            eTypeInteger type="text" size="6" [attr.maxlength]="6"
                            (change)="onVehicleTypeNumberChange()">
                    </div>
                    <div class="col14 pr5">
                        <input id="VehicleTypeDesc" class="form-control" formControlName="VehicleTypeDesc" type="text"
                            size="40" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #vehicleTypeSearchEllipsis [autoOpen]="vehicleTypeConfig.autoOpen"
                            [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="vehicleTypeConfig.ellipsisTitle"
                            [ellipsisColumn]="vehicleTypeConfig.tableColumn"
                            [configParams]="vehicleTypeConfig.configParams" [disabled]="vehicleTypeConfig.disable"
                            (ellipsisData)="onDataRecived($event)">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="VehicleWeight">{{ 'Vehicle Weight' | translate}} <span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="Weight" class="form-control" formControlName="Weight" type="text" size="6"
                            [attr.maxlength]="6" eTypeDecimal2>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="Height">{{ 'Height' | translate}}<span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="Height" class="form-control" formControlName="Height" type="text" size="6"
                            [attr.maxlength]="4" eTypeDecimal2>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="Depth">{{ 'Depth' | translate}}<span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="Depth" class="form-control" formControlName="Depth" type="text" size="6"
                            [attr.maxlength]="4" eTypeDecimal2>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="Width">{{ 'Width' | translate}}<span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="Width" class="form-control" formControlName="Width" type="text" size="6"
                            [attr.maxlength]="4" eTypeDecimal2>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="CostPerKM">{{ 'Cost Per KM' | translate}}<span class="mandatory">*
                        </span></label>
                    <div class="col6 pr5">
                        <input id="CostPerKM" class="form-control" formControlName="CostPerKM" type="text" size="6"
                            [attr.maxlength]="4" eTypeDecimal2>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="AverageLoadTime">{{ 'Average Load Time' | translate}}<span
                            class="mandatory">*
                        </span></label>
                    <div class="col10 pr5">
                        <input id="AverageLoadTime" class="form-control" formControlName="AverageLoadTime" type="text"
                            size="4" [attr.maxlength]="4" eTypeTime>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="MaxGrossVehicleWeight">{{ 'Max Cargo Weight' | translate}}</label>
                    <div class="col10 pr5">
                        <input id="MaxGrossVehicleWeight" class="form-control" formControlName="MaxGrossVehicleWeight"
                            type="text" size="10" [attr.maxlength]="10" eTypeDecimal2>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row mt5">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="{{'Save' | translate }}"
                        [disabled]="pageMode === 'eModeSelect'" (click)="onBtnClicked('Save')">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate }}"
                        [disabled]="pageMode === 'eModeSelect'" (click)="onBtnClicked('Cancel')">
                    <input type="submit" class="btn btn-additional" value="{{'Delete' | translate }}"
                        [disabled]="pageMode === 'eModeSelect'" (click)="onBtnClicked('Delete')"
                        *ngIf="pageMode !== 'eModeAdd'">
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="confirmed()">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>