<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Business' | translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" formControlName="BusinessDesc" size="40" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-branchsearch #newBranchNumberSearch [inputParams]="inputParams" (receivedbranchsearch)="onBranchDataReceived($event)"
                            [isRequired]="true" [isDisabled]="isBranchDisable"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="ContractNumber" size="8" maxlength="8" (change)="contractChange()"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" formControlName="ContractName" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #contractSearchEllipsis [autoOpen]="false" [showCloseButton]="true" [childConfigParams]="contractSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="contractSearchComponent" (ellipsisData)="onContractDataReceived($event)"
                            [showHeader]="true" (modalHidden)="false" [searchModalRoute]="searchModalRoute" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="PremiseNumber" size="8" maxlength="5" (change)="premiseChange()"
                            eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" formControlName="PremiseName" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="inputParamsPremise" [contentComponent]="premiseSearchComponent"
                            [modalConfig]="modalConfig" (ellipsisData)="onPremiseDataReceived($event)" [showHeader]="true" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{'From Date' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker #datePickerDateFrom [dt]='currDate' (selectedValue)="formSelectedValue($event)" [isReadonly]="false" [isDisabled]="false"
                            [isRequired]="true"></icabs-datepicker>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{'To Date' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker #datePickerDateTo [dt]='currDate1' (selectedValue)="toDateSelectedValue($event)" [isReadonly]="false" [isDisabled]="false"
                            [isRequired]="true"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Report Destination' | translate}}</label>
                    <div class="col8">
                        <icabs-dropdown-static #repDestDropdown [inputData]="repDestOptions" [disabled]="false" (onSelect)="selectedReport($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="button" class="btn btn-primary" id="cmdSubmit" value="{{'Submit Report Generation'|translate}}" (click)="cmdSubmitOnclick()">
                </div>
                <div class="col-sm-4" [hidden]="isThInformationHide">
                    <div class="message-box info-success" id="thInformation"></div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>