<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{ branchTitle | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'From' | translate }}</label>
                            <div class="row">
                                <div class="col-sm-4 pr0">
                                    <input type="text" id="MonthFrom" formControlName="MonthFrom" size="2" maxlength="2"
                                        class="form-control">
                                </div>
                                <div class="col-sm-7 pr0">
                                    <input type="text" id="YearFrom" formControlName="YearFrom" size="4" maxlength="4"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{ 'To' | translate }}</label>
                            <div class="row">
                                <div class="col-sm-4 pr0">
                                    <input type="text" id="MonthTo" formControlName="MonthTo" size="2" maxlength="2"
                                        class="form-control">
                                </div>
                                <div class="col-sm-7 pr0">
                                    <input type="text" id="YearTo" formControlName="YearTo" size="4" maxlength="4"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt15" *ngIf="showCompanyCode">
                <div class="col-sm-3">
                    <label class="col24" id="spanCompanyCode">{{ 'Company (blank for all)' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="CompanyCode" formControlName="CompanyCode" size="6" maxlength="2"
                            class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="CompanyDesc" formControlName="CompanyDesc" size="40" maxlength="40"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt15" *ngIf="showColumnCode">
                <div class="col-sm-3">
                    <label class="col24" id="spanColumnCode">{{ columnName | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ColumnCode" formControlName="ColumnCode" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="ColumnDesc" formControlName="ColumnDesc" size="40" maxlength="40"
                            class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-3">
                    <label class="col24" id="spanServiceType">{{ 'Service Type  (blank for all)' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ServiceTypeCode" formControlName="ServiceTypeCode" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="ServiceTypeDesc" formControlName="ServiceTypeDesc" size="40"
                            maxlength="40" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-3">
                    <label class="col24"
                        id="spanMarketSegment">{{ 'Market Segment (blank for all)' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="MarketSegmentCode" formControlName="MarketSegmentCode" size="6"
                            maxlength="6" class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="MarketSegmentDesc" formControlName="MarketSegmentDesc" size="40"
                            maxlength="40" class="form-control">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)" [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>