<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{ pageType | translate }}</label>
                    <div class="col24" *ngIf="pageType === 'Business'">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col6 pr5" *ngIf="pageType === 'Branch'">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="pageType === 'Branch'">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="col24">{{ 'From' | translate }}</label>
                            <div class="row">
                                <div class="col-sm-4 pr0">
                                    <input type="text" id="MonthFrom" formControlName="MonthFrom" size="2" maxlength="2"
                                        class="form-control">
                                </div>
                                <div class="col-sm-7 pr0">
                                    <input type="text" id="YearFrom" formControlName="YearFrom" size="4" maxlength="4"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col24">{{ 'To' | translate }}</label>
                            <div class="row">
                                <div class="col-sm-4 pr0">
                                    <input type="text" id="MonthTo" formControlName="MonthTo" size="2" maxlength="2"
                                        class="form-control">
                                </div>
                                <div class="col-sm-7 pr0">
                                    <input type="text" id="YearTo" formControlName="YearTo" size="4" maxlength="4"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'View Type' | translate }}</label>
                    <select id="ViewType" (change)="onViewTypeChange()" formControlName="ViewType" class="form-control">
                        <option *ngFor="let view of this['pageParams'].viewTypeOptions" value="{{ view.value }}">
                            {{ view.text | translate}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-3" *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                    <label class="col24" id="spanCompanyCode">{{ 'Company (blank for all)' | translate }}</label>
                    <div class="col24">
                        <icabs-business-company-search #companyDropdown [inputParams]="dropdown.company.params"
                            (receivedCompanyCode)="onCompanyChange($event)" [active]="dropdown.company.active"
                            [isDisabled]="companyDropdownDisable">
                        </icabs-business-company-search>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="ServiceType" class="col24">{{ 'Service Type (blank for all)' | translate }}</label>
                    <div class="col24">
                        <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                            [active]="dropdown.serviceTypeSearch.active" [isDisabled]="dropdownDisable"
                            (receivedServiceTypeData)="onServiceTypeChange($event)">
                        </icabs-servicetype-search>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Market Segment (blank for all)' | translate }}</label>
                    <div class="col24">
                        <icabs-common-dropdown [inputParams]="dropdown.marketSegment.inputParams" [isRequired]="false"
                            [displayFields]="dropdown.marketSegment.displayColumns"
                            [isActive]="dropdown.marketSegment.active" [isDisabled]="dropdownDisable"
                            (onDataReceived)="onMarketSegmentSelect($event)"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-sm-4" *ngIf="showInnovationMetric">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="InnovationMetricInd"
                            formControlName="InnovationMetricInd">
                        <label for="InnovationMetricInd">{{'Innovation Metric'|translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="true" [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)" [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>