<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-xs-3 mt5">
            <label class="col24" for="Partner Account Code">Partner Account Code</label>
            <div class="col24">
                <input class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 mt2">
            <label class="col24" for="Partner ANA Number">Partner ANA Number</label>
            <div class="col24">
                <input class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 mt10">
            <input type="button" class="btn btn-primary" value="Apply to All Invoice Groups">
        </div>
    </div>
</div>