<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-xs-3 mt5">
            <label class="col24" for="Tier Code">Tier Code</label>
            <div class="col8 pr5">
                <input class="form-control">
            </div>
            <div class="col14 pr5">
                <input class="form-control">
            </div>
            <icabs-ellipsis class="col2"></icabs-ellipsis>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 mt2">
            <label class="col24" for="Account Owner">Account Owner</label>
             <div class="col24">
                <select class="form-control">
                                <option>Hai</option>
                            </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 mt2">
            <label class="col24" for="Customer Category">Customer Category</label>
            <div class="col8 pr5">
                <input class="form-control">
            </div>
            <div class="col14 pr5">
                <input class="form-control">
            </div>
            <icabs-ellipsis class="col2"></icabs-ellipsis>
        </div>
    </div>

    <hr class="mt15 mb15">

    <div class="row">
        <div class="col-xs-6">
            <icabs-refresh></icabs-refresh>
            <icabs-pagination></icabs-pagination>
        </div>
    </div>

    <div class="row mt10">
        <div class="col-xs-12">
            <icabs-grid></icabs-grid>
        </div>
    </div>
</div>