<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Waste Transfer Notes' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" size="7" [attr.maxlength]="5" class="form-control" formControlName="BranchNumber" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="BranchName" size="30" [attr.maxlength]="30" class="form-control" formControlName="BranchName" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Branch Service Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="7" [attr.maxlength]="6" class="form-control" formControlName="BranchServiceAreaCode"
                            [icabsDirFocus]="setFocusOnBranchServiceAreaCode" (change)="branchServiceAreaCodeOnChange($event)"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id=EmployeeSurName size="30" [attr.maxlength]="30" class="form-control" formControlName="EmployeeSurName"
                            eTypeTextFree>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="false" [showCloseButton]="true" [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams"
                            [modalConfig]="ellipsis.branchServiceAreaCode.modalConfig" [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent"
                            (ellipsisData)="branchServiceAreaCodeOnReceived($event, true)" [showHeader]="true" [disabled]="false">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4 mt10 hidden">
                    <input type="checkbox" id="PlanVisitsDue" class="form-control" formControlName="PlanVisitsDue" eTypeCheckBox>
                    <label for="PlanVisitsDue">{{ 'Plan Visits Due' | translate }}</label>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{'Service Date From'|translate}}</label>
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [attr.maxlength]="10" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                    <div class="col8 pr5">
                        <label class="col24">{{'To'|translate}}</label>
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [attr.maxlength]="10" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Regulatory Authority' | translate }}</label>
                    <div class="col16 pr5">
                        <select id="RegulatoryAuthorityNumber" class="form-control" formControlName="RegulatoryAuthorityNumber" (change)="regulatoryAuthorityNumberOnChange($event)">
                            <option selected value="">{{'All' | translate }}</option> 
                            <option *ngFor="let ttRegulatoryAuthority of ttRegulatoryAuthority" [value]="ttRegulatoryAuthority.RegulatoryAuthorityNumber">{{ttRegulatoryAuthority.RegulatoryAuthorityName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="this['pageParams']['totalRecords'] > 0 ? '':'hidden'" [totalItems]="this['pageParams']['totalRecords']"
                        [currentPage]="this['pageParams']['curPage']" [itemsPerPage]="this['pageParams']['pageSize']" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyClick)="riGridBodyOnClick($event)" (onSuccess)="riGridAfterExecute($event)" (bodyDblClick)="riGridBodyOnDblClick($event)"
                        (headerClick)="riGridSort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-12">
                <input type="button" class="btn btn-additional mr5" [disabled]="this['pageParams']['cmdGenerate']" value="{{'Generate' | translate}}"
                    (click)="cmdGenerateOnClick()">
                <input type="button" class="btn btn-additional" [disabled]="this['pageParams']['cmdPrint']" value="{{'Print All' | translate}}"
                    (click)="cmdPrintOnClick()">
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12" id="trInformation" *ngIf="this['pageParams']['isTRInformation']">
                <div class="alert alert-info" id="thInformation">
                    <strong>{{reportGenMsg}}</strong>
                </div>
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>