<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-6">
                    <label class="col24" for="VisitTypeCode">{{ 'Visit Type' | translate }} <span class="mandatory">*</span></label>
                    <div class="col10 pr5">
                        <input type="text" id="VisitTypeCode" size="2" [attr.maxlength]="2" class="form-control" formControlName="VisitTypeCode"
                            *ngIf="this['formMode']===this['c_s_MODE_ADD']" eTypeCode>
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode" *ngIf="this['formMode']!==this['c_s_MODE_ADD']" [isRequired]="searchConfigs.visitTypeSearch.isRequired"
                            [active]="searchConfigs.visitTypeSearch.active" (receivedVisitType)="onVisitTypeReceived($event)"
                            (getDefaultInfo)="initVisitTypeSearch($event)" [inputParams]="searchConfigs.visitTypeSearch.params"></icabs-visit-type-search>
                    </div>
                    <div class="col12 pr5">
                        <input type="text" id="VisitTypeDesc" size="40" [attr.maxlength]="40" class="form-control" formControlName="VisitTypeDesc"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="WeightFactor">{{ 'Weight Factor' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="WeightFactor" size="10" [attr.maxlength]="10" class="form-control" formControlName="WeightFactor"
                            eTypeDecimal2>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="PassToPDAInd" formControlName="PassToPDAInd">
                    <label for="PassToPDAInd">{{'Pass To PDA'|translate}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="OtherInd" formControlName="OtherInd">
                    <label for="OtherInd">{{'Other Visit Type'|translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="VisitTypeNarrative" formControlName="VisitTypeNarrative">
                    <label for="VisitTypeNarrative">{{'Must Have Narrative' | translate}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="InspectionInd" formControlName="InspectionInd">
                    <label for="InspectionInd">{{'Inspection Visit Type' | translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="PestNetInd" formControlName="PestNetInd">
                    <label for="PestNetInd">{{'PestNet' | translate}}</label>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="PestControlInd" formControlName="PestControlInd">
                    <label for="PestControlInd">{{'Pest Control' | translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="ProductSaleInd" formControlName="ProductSaleInd">
                    <label for="ProductSaleInd">{{'Product Sale' | translate}}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="ActiveInd" formControlName="ActiveInd">
                    <label for="ActiveInd">{{'Active' | translate}}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-additional" value="{{ 'Add' | translate }}" (click)="addNewVisitType()" *ngIf="this['formMode']!==this['c_s_MODE_ADD']">
                <input type="submit" class="btn btn-primary" value="{{ 'Save' | translate }}" (click)="promptModalForSave($event)">
                <input type="button" class="btn btn-secondary" value="{{ 'Cancel' | translate }}" (click)="cancelVisitType()">
                <input type="button" class="btn btn-additional" value="{{ 'Delete' | translate }}" (click)="promptModalForDelete()" *ngIf="this['formMode']===this['c_s_MODE_UPDATE']">
            </div>
            <div class="col-sm-6">
                <div class="col8 pull-right">
                    <select class="form-control" (change)="selectedOption($event.target.value)" [disabled]="this['formMode']===this['c_s_MODE_ADD']">
                        <option>{{ 'Options' | translate }}</option>
                        <option value="VisitAction">{{ 'Visit Actions' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>