<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label for="branchNumber" class="col20">{{'Service Branch' | translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch id="branchNumber" #branchSearchDropDown [inputParams]="dropdown.branchParams"
                            (receivedbranchsearch)="dropdownDataReceived($event, 'ServiceBranch')"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Account Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input icabsZeroPad type="text" size="15" [attr.maxlength]="9" class="form-control" id="AccountNumber" formControlName="AccountNumber" (change)="accounNumChange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" size="40" [attr.maxlength]="40" value="" class="form-control" id="AccountName" formControlName="AccountName">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis 
                            [childConfigParams]="ellipsis.accountNumber.childParams" 
                            [contentComponent]="ellipsis.accountNumber.component"
                            (ellipsisData)="onEllipsisDataReceived($event, 'AccountNumber')" 
                            [showHeader]="true"
                            [showCloseButton]="true" 
                            ></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" class="form-control"
                        formControlName="BranchServiceAreaCode" size="8" [attr.maxlength]="4" (change)="serviceAreaChange()" eTypeCode>                    
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" class="form-control"
                        formControlName="EmployeeSurname" size="30" [attr.maxlength]="37" eTypeText>                    
                    </div>
                    <div class="col2 pr5">
                        <icabs-ellipsis #serviceArea 
                            [disabled]="ellipsis.serviceArea.isDisabled"
                            [childConfigParams]="ellipsis.serviceArea.childParams"
                            [contentComponent]="ellipsis.serviceArea.component" 
                            [showHeader]="true"
                            [showCloseButton]="true"
                            (ellipsisData)="onEllipsisDataReceived($event, 'ServiceAreaCode')">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}</label>
                    <div class="col8 pr5">
                        <input icabsZeroPad eTypeCode id="ContractNumber" class="form-control" formControlName="ContractNumber" type="text" size="15"
                            [attr.maxlength]="8" (change)="contractNumChange()">
                    </div>
                    <div class="col14 pr5">
                        <input eTypeText id="ContractName" class="form-control" formControlName="ContractName" type="text" size="40" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="false" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsis.contract.childParams"
                            [contentComponent]="ellipsis.contract.component" (ellipsisData)="onEllipsisDataReceived($event, 'Contract')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label for="ServiceType" class="col24">{{ 'Service Type' | translate }}</label>
                    <div class="col24 pr5">
                        <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                            [active]="dropdown.serviceTypeSearch.active"
                            (receivedServiceTypeData)="dropdownDataReceived($event, 'ServiceType')">
                        </icabs-servicetype-search>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="NumOfVisits" class="col24">{{ 'Number Of Last Visits' | translate }} 
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                    <input type="text" id="NumOfVisits" class="form-control"
                    formControlName="NumOfVisits" size="3" [attr.maxlength]="3" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="VisitTypeCode">{{ 'Only Include Visit Types' | translate }} </label>
                    <div class="col24 pr5">
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode"
                            [active]="dropdown.visitTypeSearch.active" (receivedVisitType)="dropdownDataReceived($event, 'ServiceVisit')"
                            [inputParams]="dropdown.visitTypeSearch.params" [isMultiSelect]="true">
                        </icabs-visit-type-search>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pl0">
                        <label class="col24">{{ 'Date From' | translate }}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col23">
                            <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false"
                            (onChange)="this['commonGridFunction'].resetGrid()"></icabs-datepicker>

                        </div>
                    </div>
                    <div class="col-sm-6 pr0">
                        <label class="col24">{{ 'Date To' | translate }}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col23">
                            <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false"
                            (onChange)="this['commonGridFunction'].resetGrid()"></icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination 
                    [canExport]="true"
                    [exportOptions]="exportConfig"
                    [totalItems]="this['pageParams'].gridConfig.totalItem"
                    [currentPage]="this['pageParams'].gridCurrentPage"
                    [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                    [ngClass]="{hidden: !this['pageParams'].hasGridData}"
                    >
                  </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="riGridBodyOnDblClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>