<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt10">
                <div class="col-sm-3">
                    <label class="col24">{{'Compartment ID' | translate}}<span class="mandatory">*</span></label>
                    <div class="col22" *ngIf="pageMode === 'eModeAdd'">
                        <input type="text" eTypeText id="CompartmentID" size="20" [attr.maxlength]="40"
                            class="form-control" formControlName="CompartmentID">
                    </div>
                    <div class="col22" *ngIf="pageMode !== 'eModeAdd'">
                        <select id="TeamID" class="form-control" formControlName="CompartmentID"
                            (change)="onCompartmentIDSelection()">
                            <option *ngFor="let vehicle of vehicleList" value="{{vehicle.CompartmentID}}">
                                {{vehicle?.CompartmentID}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Load Space Capacity' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" eTypeDecimal2 id="LoadSpaceCapacity" class="form-control" size="7"
                            [attr.maxlength]="7" formControlName="LoadSpaceCapacity">
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Height' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" eTypeDecimal2 id="Height" class="form-control" size="7" [attr.maxlength]="7"
                            formControlName="Height">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Width' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" eTypeDecimal2 id="Width" class="form-control" size="7" [attr.maxlength]="7"
                            formControlName="Width">
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Length' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" eTypeDecimal2 id="Length" class="form-control" size="7" [attr.maxlength]="7"
                            formControlName="Length">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Load Weight Capacity' | translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <input type="text" eTypeDecimal2 id="LoadWeightCapacity" size="7" [attr.maxlength]="7"
                            class="form-control" formControlName="LoadWeightCapacity">
                    </div>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-3">
                    <label class="col24"
                        for="ProductServiceGroupCode">{{ 'Product Service Group Code' | translate}}</label>
                    <div class="col24 pr5">
                        <icabs-sbproductservice-groupsearch #productservice
                            [inputParams]="productGroupServiceSearchParams"
                            (receivedProductServiceGroupSearch)="onProductGroupDataReceived($event)"
                            [isMultiSelect]="true" [active]="productGroupServiceSearchParams.active"
                            [isRequired]="false">
                        </icabs-sbproductservice-groupsearch>
                    </div>
                </div>
            </div>

            <div class="row mt5" hidden>
                <div class="col-sm-3">
                    <label class="col24">{{'Product Codes' | translate}}</label>
                    <div class="col22 pr5">
                        <input id="ProductCodes" class="form-control" size="30" [attr.maxlength]="40"
                            formControlName="ProductCodes" type="text" eTypeText (change)="onProductCodeChange()">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #ProductEllipsis [showCloseButton]=true
                            [childConfigParams]="productCodeEllipsis.childparams"
                            [contentComponent]="productCodeEllipsis.component"
                            (ellipsisData)="onProductSearchDataReceived($event)" [showHeader]=true
                            [disabled]="isDisabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="button" id="add" class="btn btn-additional mr20" value="{{ 'Add' | translate }}"
                        (click)="onAddClick()" *ngIf="pageMode !== 'eModeAdd'">
                    <input type="button" id="save" class="btn btn-primary mr20" value="{{ 'Save' | translate }}"
                        (click)="onSaveClick()" [disabled]="isDisabled">
                    <input type="button" id="cancel" class="btn btn-secondary mr20" value="{{ 'Cancel' | translate }}"
                        (click)="onCancelClick()" [disabled]="isDisabled">
                    <input type="button" id="delete" class="btn btn-additional mr20" value="{{ 'Delete' | translate }}"
                        (click)="onDeleteClick()" *ngIf="pageMode !== 'eModeAdd'" [disabled]="isDisabled">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="onConfirmation($event)" (cancelEmit)="onCancellation()">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>