<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }} </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ numberLabel |translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber" size="9" maxlength="8" (change)="onContractNumberChange($event)"
                            icabsZeroPad eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="isAutoOpenContract" [modalConfig]="modalConfig" [childConfigParams]="inputParamsContractSearch"
                            [disabled]="isContractEllipsisDisabled" [contentComponent]="contrctSearch" [showHeader]="true" (ellipsisData)="onContractSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Status'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="Status" formControlName="Status" size="20" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="AccountNumber" formControlName="AccountNumber" size="9" maxlength="9">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="AccountName" formControlName="AccountName" size="40" maxlength="40">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Address Line 1'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractAddressLine1" formControlName="ContractAddressLine1" size="37" maxlength="40">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Neg Branch'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="NegBranchNumber" formControlName="NegBranchNumber" size="3" maxlength="5">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchName" formControlName="BranchName" size="" maxlength="">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Address Line 2'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractAddressLine2" formControlName="ContractAddressLine2" size="37" maxlength="40">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Invoice Anniv Date'|translate}}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="InvoiceAnnivDate" formControlName="InvoiceAnnivDate" size="10" maxlength="10"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Account Address Line 3'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractAddressLine3" formControlName="ContractAddressLine3" size="37" maxlength="40">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Invoice Frequency'|translate}}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="InvoiceFrequencyCode" formControlName="InvoiceFrequencyCode" size="2" maxlength="2">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Town'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractAddressLine4" formControlName="ContractAddressLine4" size="37" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'County'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractAddressLine5" formControlName="ContractAddressLine5" size="37" maxlength="40">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Value'|translate}}</label>
                    <div class="col8">
                        <input type="text" class="form-control" id="ContractAnnualValue" formControlName="ContractAnnualValue" size="20" maxlength="23"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Postcode'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractPostcode" formControlName="ContractPostcode" size="15" maxlength="15">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Commence Date'|translate}}</label>
                    <div class="col10">
                        <icabs-datepicker tabindex="2" id="ContractCommenceDate" formControlName="ContractCommenceDate" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt2" *ngIf="isLostBusiness">
                <div class="col-sm-4">
                    <label class="col24">{{'Lost Business'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24 pr5">
                        <icabs-lostbusinesslanguagesearch #lostbusinesslanguagesearchDropDown [inputParams]="dropdown.lostBusiness.inputParams" [isRequired]="dropdown.lostBusiness.isRequired"
                            [isDisabled]="dropdown.lostBusiness.isDisabled" [isTriggerValidate]="dropdown.lostBusiness.isTriggerValidate"
                            [active]="activeLostBusinessSearch" (receivedlostbusinesslangsearch)="onLostBusinessLanguageSearch($event)">
                        </icabs-lostbusinesslanguagesearch>
                    </div>
                </div>
            </div>
            <div class="row mt2" [hidden]="isLostBusinessDetail">
                <div class="col-sm-4">
                    <label class="col24">{{'Detail'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24 pr5">
                        <icabs-lostbusinessdetails #icabsLostBusinessLang [inputParams]="dropdown.lostBusinessDetails.inputParams" [isRequired]="dropdown.lostBusinessDetails.isRequired"
                            [isDisabled]="dropdown.lostBusinessDetails.isDisabled" [isTriggerValidate]="dropdown.lostBusinessDetails.isTriggerValidate"
                            [active]="activeLostBusinessDetailSearch" (receivedbranchsearch)="onLostBusinessDetailLangDataReceived($event)"></icabs-lostbusinessdetails>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isEffectDate">
                <div class="col-sm-4">
                    <label class="col24">{{'Effect Date'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col10">
                        <icabs-datepicker #inactiveEffectiveDate tabindex="2" id="InactiveEffectDate" [isRequired]="true" [validate]="true" formControlName="InactiveEffectDate"
                            (onChange)="onChangeInactiveEffectDateDate($event)" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Commission Employee'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="CommissionEmployeeCode" formControlName="CommissionEmployeeCode" size="6" maxlength="6"
                            [ngClass]="{ 'red-bdr': isEmployeeValid}" (change)="onEmployeeCodeChange($event)" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname" size="30" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [contentComponent]="ellipsis.employeeSearch.contentComponent" [childConfigParams]="ellipsis.employeeSearch.childConfigParams"
                            [showHeader]="true" [disabled]="this['uiForm'].controls['CommissionEmployeeCode'].disabled" (ellipsisData)="onCommissionEmployeeChange($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Reason'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="SalesEmployeeText" formControlName="SalesEmployeeText" size="30" maxlength="40"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isText">
                <div class="col-sm-4">
                    <label class="col24">{{'Text'|translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="InactiveContractText" formControlName="InactiveContractText" size="40" maxlength="50"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isVisitNarrative">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Visit Narrative Code'|translate}}</label>
                    <div class="col24">
                        <icabs-common-dropdown [inputParams]="dropdown.narrativeCode.inputParams" [displayFields]="dropdown.narrativeCode.displayFields"
                            (onDataReceived)="onVisitNarrativeCodeChange($event)" [isDisabled]="dropdown.narrativeCode.isDisabled"
                            [isActive]="dropdown.narrativeCode.active" [isRequired]="dropdown.narrativeCode.isRequired"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isRemovalVisitNotes">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Visit Notes'|translate}}</label>
                    <div class="col24">
                        <textarea class="form-control" id="RemovalVisitText" formControlName="RemovalVisitText" eTypeText></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="isContact">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="CreateContact" formControlName="CreateContact" (change)="onCreateContactClick($event)">
                        <label for="CreateContact">{{'Contact Management'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="isCancelProRata">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="CancelProRataChargeInd" formControlName="CancelProRataChargeInd">
                        <label for="CancelProRataChargeInd">{{'Cancel Pro Rata Charges'|translate}}</label>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Save' | translate }}" [ngClass]="{disabled: isBtnSaveDisable}"
                        (click)="onSaveClick()">
                    <input type="button" class="btn btn-secondary" value="{{ 'Cancel' | translate }}" [ngClass]="{disabled: isBtnSaveDisable}"
                        (click)="onCancelClick()">
                </div>
            </div>
        </footer>
    </form>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>