<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="col24"
                        *ngIf="pageType==='Branch' || this['parentMode'] === 'Region' || this['parentMode'] === 'Branch' || this['riExchange'].getParentHTMLValue('ViewBySelected') === 'Branch'">
                        <label class="col24">{{'Branch' |translate}} </label>
                        <div class="col6 pr5">
                            <input type="text" id="BranchNumber" formControlName="BranchNumber" size="3" maxlength="5"
                                class="form-control">
                        </div>
                        <div class="col14">
                            <input type="text" id="BranchName" formControlName="BranchName" size="20" maxlength="35"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24" *ngIf="pageType==='Business' || this['parentMode'] === 'Business'">
                        <label class="col24">{{'Business' |translate}} </label>
                        <div class="col20">
                            <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="20" maxlength="35"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24"
                        *ngIf="pageType==='Region' || this['parentMode'] === 'Region' || this['riExchange'].getParentHTMLValue('ViewBySelected') === 'Region'">
                        <label class="col24">{{'Region' |translate}} </label>
                        <div class="col6 pr5">
                            <input type="text" id="RegionCode" formControlName="RegionCode" size="4" maxlength="4"
                                class="form-control">
                        </div>
                        <div class="col14">
                            <input type="text" id="RegionDesc" formControlName="RegionDesc" size="20" maxlength="35"
                                class="form-control">
                        </div>
                    </div>
                    <div *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                        <label class="col24">{{ 'Company (blank for all)' | translate }}</label>
                        <div class="col20">
                            <icabs-business-company-search [inputParams]="companyInputParams"
                                (receivedCompanyCode)="onDataRecieved($event, 'company')" [active]="companyDefault"
                                [isDisabled]="!pageType">
                            </icabs-business-company-search>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col12">
                        <label class="col24">{{'Processed From' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col16">
                            <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                                (onChange)="this['commonGridFunction'].resetGrid()">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col12">
                        <label class="col24">{{'To' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col16">
                            <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                                (onChange)="this['commonGridFunction'].resetGrid()">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <label class="col24">{{'Exclude Reason' | translate}}</label>
                    <div class="col20">
                        <icabs-invoice-credit-language-search #invoiceCreditReasonCode
                            [inputParams]="dropdown.invoiceCreditReasonCode.params"
                            [isRequired]="dropdown.invoiceCreditReasonCode.isRequired"
                            [isTriggerValidate]="dropdown.invoiceCreditReasonCode.isTriggerValidate"
                            [isDisabled]="!pageType" [active]="dropdown.invoiceCreditReasonCode.isActive"
                            [isFirstItemSelected]="false"
                            (invoiceReasonCodeEmitter)="invoiceCreditReasonCodeSelected($event)">
                        </icabs-invoice-credit-language-search>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24" *ngIf="this['parentMode'] === 'Branch'">
                        <label class="col24">{{'Employee Code' |translate}} </label>
                        <div class="col6 pr5">
                            <input type="text" id="EmployeeCode" formControlName="EmployeeCode" size="6" maxlength="6"
                                class="form-control">
                        </div>
                        <div class="col14">
                            <input type="text" id="EmployeeName" formControlName="EmployeeName" size="40" maxlength="40"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24" *ngIf="pageType==='Business'">
                        <label class="col24" for="ViewBy">{{'View By' |translate}} </label>
                        <div class="col6 pr5">
                            <select id="ViewBy" formControlName="ViewBy" class="form-control"
                                (change)="this['commonGridFunction'].resetGrid()">
                                <option value="Branch">{{ 'Branch' |translate}}</option>
                                <option value="Region">{{ 'Region' |translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                    [currentPage]="this['pageParams'].gridCurrentPage"
                    [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                    [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                </icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>