<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="pageType !== 'Business' && pageType !== 'Region'">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType === 'Region'">
                    <label class="col24">{{'Region' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="2" maxlength="2"
                        class="form-control" eTypeCode icabsZeroPad fetchDescription table="Region" query="RegionCode" select="RegionDesc" >
                    </div>
                    <div class="col14">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                        class="form-control" eTypeText>        
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType === 'Business'">
                    <label class="col24">{{'Business' |translate}} </label>
                    <div class="col20">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                    <label class="col24" id="spanCompanyCode">{{ 'Company (blank for all)' | translate }}</label>
                    <div class="col18">
                        <icabs-business-company-search #companyDropdown [inputParams]="dropdown.company.params"
                            (receivedCompanyCode)="onCompanyChange($event);this['commonGridFunction'].resetGrid()" [active]="dropdown.company.active">
                        </icabs-business-company-search>
                    </div>

                </div>
                <div class="col-sm-3" [ngClass]="{'col-sm-offset-4': !this['pageParams']['vSCEnableCompanyCode']}">
                    <label for="DateFrom" class="col24">{{'From Date' | translate}}
                        <span class="mandatory" *ngIf="isDateMandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false" (onChange)="this['commonGridFunction'].resetGrid()"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="isShowEmployee && !pageType">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}
                        <span class="mandatory" *ngIf="!this['pageParams'].employeeDisable">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input #employeeCode id="EmployeeCode" class="form-control" formControlName="EmployeeCode"
                            type="text" size="6" maxlength="6" (change)="onEmployeeChange();this['commonGridFunction'].resetGrid()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text"
                            size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.employee.childConfigParams"
                            [contentComponent]="ellipsisConfig.employee.component"
                            [disabled]="this['pageParams'].employeeDisable"
                            (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType">
                    <label for="ViewReportBy" class="col24">{{'View By' | translate}}</label>
                    <div class="col20">
                        <select class="form-control" formControlName="ViewReportBy" name="ViewReportBy" (change)="this['commonGridFunction'].resetGrid()">
                            <option *ngFor="let item of viewReport" [value]="item.value">
                                {{ item.key | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" [ngClass]="{'col-sm-offset-4': (!isShowEmployee && !pageType)}">
                    <label for="ServiceType" class="col24">{{ 'Service Type (blank for all)' | translate }}</label>
                    <div class="col18">
                        <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                            [active]="dropdown.serviceTypeSearch.active"
                            (receivedServiceTypeData)="onServiceTypeChange($event);this['commonGridFunction'].resetGrid()">
                        </icabs-servicetype-search>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="DateTo" class="col24">{{'To Date' | translate}}
                        <span class="mandatory" *ngIf="isDateMandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-datepicker #toDate formControlName="DateTo" [isDirectiveBased]="false" (onChange)="this['commonGridFunction'].resetGrid()">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label for="ReceiptType" class="col24">{{'Report Type' | translate}}</label>
                    <div class="col12">
                        <select class="form-control" formControlName="ReportType" name="ReportType"
                            (change)="reportTypeOnChange();this['commonGridFunction'].resetGrid()">
                            <option *ngFor="let item of optionReportTypeList" [value]="item.value">
                                {{ item.text | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Exporting is disabled for Business Page -->
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination 
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}"
                        [canExport]="pageType !== 'Business'" 
                        [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" 
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)" 
                        [exportOptions]="{dateColumns: dateCollist}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-custom-alert #customAlert [alertMessage]="alertMessage" [messageType]="messageType"></icabs-custom-alert>
