<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row mt10">
            <div class="col-sm-12 page-title">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{'Service Area'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" size="7" maxlength="5">
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="40" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Postcode">{{'Postcode'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="Postcode" formControlName="Postcode" size="15" maxlength="15" (change)="onPostChangeEvent();">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="postCodeSearch.childConfigParams" [disabled]="postCodeSearch.disabled" [modalConfig]="postCodeSearch.modalConfig"
                            [contentComponent]="postCodeSearch.contentComponent" [showHeader]="postCodeSearch.showHeader" [showCloseButton]="postCodeSearch.showCloseButton"
                            (ellipsisData)="onPostCodeChange($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="State">{{'State'|translate}}</label>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="State" formControlName="State" size="30" maxlength="30">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Town">{{'Town'|translate}}</label>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="Town" formControlName="Town" size="30" maxlength="30">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="SortOrder">{{'SortOrder'|translate}}</label>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" value="0" id="SortOrder" formControlName="SortOrder" size="9" maxlength="7">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-additional mr10" value="{{'Add' | translate}}" (click)="addMode()" [ngClass]="this['isAddHide'] ? 'hidden' : '' ">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="showSaveConfirm()" [ngClass]="this['isHide'] ? 'hidden' : '' ">
                    <input type="button" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="cancel($event)" [ngClass]="this['isHide'] ? 'hidden' : '' ">
                    <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="onWarnPortFolio()" [ngClass]="this['isDeleteHide'] ? 'hidden' : '' ">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>