<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Prospect Number' | translate }}<span class="mandatory">*</span>
                        </label>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ProspectNumber" size="8" [attr.maxlength]="8" formControlName="ProspectNumber"
                            eTypeAutoNumber>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Account Number' | translate }}<span class="mandatory"></span>
                        </label>
                    </div>
                    <div class="col18">
                        <input type="text" class="form-control" id="AccountNumber" size="9" [attr.maxlength]="9" formControlName="AccountNumber"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Contract Number' | translate }}<span class="mandatory"></span>
                        </label>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="ContractNumber" size="10" [attr.maxlength]="10" formControlName="ContractNumber"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Premises Number' | translate }}<span class="mandatory"></span>
                        </label>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseNumber" size="6" [attr.maxlength]="6" formControlName="PremiseNumber"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="premiseTab" [ngClass]="{'active': tabActive===1, 'red-bdr': validatePremisesTab()}">
                            <a class="nav-link" [ngClass]="{'active': tabActive===1}" (click)="setTabActive(1)" tabindex="0">
                                <span>{{ 'Premises' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="notesTab" [ngClass]="{'active': tabActive===2, 'red-bdr': this['uiForm'].dirty && !this['uiForm'].controls['Narrative'].valid}">
                            <a class="nav-link" [ngClass]="{'active': tabActive===2}" (click)="setTabActive(2)" tabindex="0">
                                <span>{{ 'Notes' | translate }} </span>
                            </a>
                        </li>
                        <li class="nav-item active" id="accountTab" [ngClass]="{'active': tabActive===3}">
                            <a class="nav-link" [ngClass]="{'active': tabActive===3}" (click)="setTabActive(3)" tabindex="0">
                                <span>{{ 'Account' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Tab Contents  -->
            <div class="tab-content">
                <!--Premise section-->
                <div class="tab-pane" [ngClass]="{'active': tabActive===1}" *ngIf="tabActive===1">
                    <div id="premiseTab">
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Name' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseName" size="40" [attr.maxlength]="40" formControlName="PremiseName">
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Address Line 1' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16 mr5">
                                    <input type="text" class="form-control" id="PremiseAddressLine1" size="40" [attr.maxlength]="40" formControlName="PremiseAddressLine1"
                                        eTypeText>
                                </div>
                                <div class="col6">
                                    <input type="button" class="btn btn-primary" value="{{ 'Get Address' | translate }}" id="cmdGetAddress" *ngIf="displayState.cmdGetAddressVisibility"
                                        [disabled]="displayState.cmdGetAddressState" (click)="cmdGetAddressOnClick()">
                                        <icabs-ellipsis #postcodeSearchEllipsis [hideIcon]="true" [disabled]="false" [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="searchConfigs.postCodeSearch.params" [contentComponent]="searchConfigs.postCodeSearch.component"
                                            (ellipsisData)="setAddreddData($event)">
                                            </icabs-ellipsis>
                                            <icabs-ellipsis #riMPAFSearchEllipsis [hideIcon]="true" [disabled]="false" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="searchConfigs.riMPAFSearch.params"
                                                [contentComponent]="searchConfigs.riMPAFSearch.component" (ellipsisData)="setAddreddData($event)">
                                                </icabs-ellipsis>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Address Line 2' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseAddressLine2" size="40" [attr.maxlength]="40" formControlName="PremiseAddressLine2"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2" *ngIf="displayState.trPremiseAddressLine3">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Address Line 3' | translate }}<span class="mandatory" *ngIf="mandatoryState.premiseAddressLine3">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseAddressLine3" size="40" [attr.maxlength]="40" formControlName="PremiseAddressLine3"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Town' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseAddressLine4" size="40" [attr.maxlength]="40" formControlName="PremiseAddressLine4"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'County' | translate }}<span class="mandatory" *ngIf="mandatoryState.premiseAddressLine5">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseAddressLine5" size="40" [attr.maxlength]="40" formControlName="PremiseAddressLine5"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Postcode' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremisePostCode" size="15" [attr.maxlength]="15" formControlName="PremisePostCode"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Contact Name' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseContactName" size="40" [attr.maxlength]="40" formControlName="PremiseContactName"
                                        eTypeText>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Contact Position' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseContactPosition" size="40" [attr.maxlength]="40" formControlName="PremiseContactPosition"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Telephone' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseContactTelephone" [attr.maxlength]="20" formControlName="PremiseContactTelephone"
                                        eTypeText>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Mobile' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseContactMobile" [attr.maxlength]="20" formControlName="PremiseContactMobile"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Fax' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseContactFax" [attr.maxlength]="20" formControlName="PremiseContactFax"
                                        eTypeText>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Email' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PremiseContactEmail" size="50" [attr.maxlength]="50" formControlName="PremiseContactEmail"
                                        eTypeEMail>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Status' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col8 pr5">
                                    <input type="text" class="form-control" id="ProspectStatusCode" size="2" [attr.maxlength]="2" formControlName="ProspectStatusCode"
                                        (change)="prospectStatusCodeOnChange()" (blur)="prospectStatusCodeOnBlur()" eTypeCode>
                                </div>
                                <div class="col14 pr5">
                                    <input type="text" class="form-control" id="ProspectStatusDesc" size="40" [attr.maxlength]="40" formControlName="ProspectStatusDesc"
                                        eTypeText>
                                </div>
                                <div class="col2">
                                        <icabs-ellipsis-generic [autoOpen]="searchConfigs.prospectStatusSearchConfig.autoOpen" [showCloseButton]="true"
                                            [showHeader]="true" [ellipsisTitle]="searchConfigs.prospectStatusSearchConfig.ellipsisTitle"
                                            [ellipsisColumn]="searchConfigs.prospectStatusSearchConfig.tableColumn"
                                            [configParams]="searchConfigs.prospectStatusSearchConfig.configParams"
                                            [disabled]="searchConfigs.prospectStatusSearchConfig.disable" (ellipsisData)="setProspectStatus($event)"
                                            [httpConfig]="searchConfigs.prospectStatusSearchConfig.httpConfig">
                                        </icabs-ellipsis-generic>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Business Origin' | translate }}</label>
                                </div>
                                <div class="col24">
                                    <icabs-business-origin-language-search [inputParams]="searchConfigs.businessOriginLangSearch.params" [active]="searchConfigs.businessOriginLangSearch.active"
                                        (receivedLostBusinessLangSearch)="setBusinessOrigin($event)" [isDisabled]="searchConfigs.businessOriginLangSearch.isDisabled"></icabs-business-origin-language-search>
                                </div>
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-sm-4">
                                <input type="checkbox" class="form-control" id="PDALeadInd" formControlName="PDALeadInd" (change)="pdaLeadIndOnChecked()">
                                <label for="PDALeadInd">{{ 'Submitted by Service Employee' | translate }}</label>
                            </div>
                        </div>
                        <div class="row mt5">
                            <div class="col-sm-4">
                                <div class="col8 pr5">
                                    <input type="text" class="form-control" id="PDALeadEmployeeCode" size="8" formControlName="PDALeadEmployeeCode" eTypeCode>
                                </div>
                                <div class="col14 pr5">
                                    <input type="text" class="form-control" id="PDALeadEmployeeSurname" size="30" formControlName="PDALeadEmployeeSurname" eTypeText>
                                </div>
                                <div class="col2">
                                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="searchConfigs.pdaEmployeeLeadSearch.params" [contentComponent]="searchConfigs.pdaEmployeeLeadSearch.component"
                                        [disabled]="searchConfigs.pdaEmployeeLeadSearch.isDisabled" [showHeader]="true" (ellipsisData)="setPDALeadEmployee($event)"
                                        [modalConfig]="searchConfigs.modalConfig"></icabs-ellipsis>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Total Converted value' | translate }}</label>
                                </div>
                                <div class="col8">
                                    <input type="text" class="form-control" id="TotalConvertedValue" size="10" formControlName="TotalConvertedValue" eTypeCurrency>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Sales Employee' | translate }}<span class="mandatory" *ngIf="mandatoryState.convertedSalesEmployeeCode">*</span>
                                    </label>
                                </div>
                                <div class="col8 pr5">
                                    <input type="text" class="form-control" id="ConvertedSalesEmployeeCode" size="8" formControlName="ConvertedSalesEmployeeCode"
                                        eTypeCode>
                                </div>
                                <div class="col14 pr5">
                                    <input type="text" class="form-control" id="ConvertedSalesEmployeeSurname" size="30" formControlName="ConvertedSalesEmployeeSurname"
                                        eTypeText>
                                </div>
                                <div class="col2">
                                    <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="searchConfigs.salesEmployeeSearch.params" [contentComponent]="searchConfigs.salesEmployeeSearch.component"
                                        [disabled]="searchConfigs.salesEmployeeSearch.isDisabled" [showHeader]="true" (ellipsisData)="setSalesEmployee($event)"
                                        [modalConfig]="searchConfigs.modalConfig"></icabs-ellipsis>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Notes-->
                <div class="tab-pane" [ngClass]="{'active': tabActive===2}" *ngIf="tabActive===2">
                    <div id="notesTab">
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Notes' | translate }}<span class="mandatory">*</span>
                                    </label>
                                </div>
                                <div class="col24">
                                    <textarea class="form-control" id="Narrative" rows="6" cols="63" formControlName="Narrative" eTypeTextFree></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Account-->
                <div class="tab-pane active" [ngClass]="{'active': tabActive===3}" *ngIf="tabActive===3">
                    <div id="accountTab">
                        <div class="row mt5">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Name' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="Name" size="40" [attr.maxlength]="40" formControlName="Name" eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Address Line 1' | translate }}</label>
                                </div>
                                <div class="col16 pr5">
                                    <input type="text" class="form-control" id="AddressLine1" size="40" [attr.maxlength]="40" formControlName="AddressLine1"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Address Line 2' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="AddressLine2" size="40" [attr.maxlength]="40" formControlName="AddressLine2"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2" *ngIf="displayState.trAddressLine3">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Address Line 3' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="AddressLine3" size="40" [attr.maxlength]="40" formControlName="AddressLine3"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Town' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="AddressLine4" size="40" [attr.maxlength]="40" formControlName="AddressLine4"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Country' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="AddressLine5" size="40" [attr.maxlength]="40" formControlName="AddressLine5"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Postcode' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="PostCode" size="15" [attr.maxlength]="15" formControlName="PostCode" eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Contact Name' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="ContactName" size="40" [attr.maxlength]="40" formControlName="ContactName" eTypeText>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Contact Position' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="ContactPosition" size="40" [attr.maxlength]="40" formControlName="ContactPosition"
                                        eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Telephone' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="ContactTelephone" [attr.maxlength]="20" formControlName="ContactTelephone" eTypeText>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Mobile' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="ContactMobile" [attr.maxlength]="20" formControlName="ContactMobile" eTypeText>
                                </div>
                            </div>
                        </div>
                        <div class="row mt2">
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Fax' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="ContactFax" [attr.maxlength]="20" formControlName="ContactFax" eTypeText>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col24">
                                    <label>{{ 'Email' | translate }}</label>
                                </div>
                                <div class="col16">
                                    <input type="text" class="form-control" id="ContactEmail" size="50" [attr.maxlength]="50" formControlName="ContactEmail"
                                        eTypeEMail>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-5">
                <input type="button" class="btn btn-primary mr10" value="{{ 'Save' | translate }}" (click)="promptModalForSave()">
                <input type="button" class="btn btn-secondary mr10" value="{{ 'Cancel' | translate }}" (click)="cancelProspect()">
                <input type="button" class="btn btn-additional mr10" value="{{ 'Export Contact' | translate }}" (click)="onClickExportContact()">
            </div>
            <div class="col-sm-2 pull-right">
                <select id="menu" class="form-control" (change)="selectedOption($event.target.value)">
                    <option value="">{{ 'Options' | translate }}</option>
                    <option value="ProspectConversion">{{ 'Prospect Conversion' | translate }}</option>
                </select>
            </div>
        </div>
    </footer>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>