<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" (ngSubmit)="onSubmit($event)">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate }}<span class="mandatory" *ngIf="pageVariables.addMode">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" size="9" maxlength="8" formControlName="ContractNumber" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ContractName" size="40" maxlength="40" formControlName="ContractName" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate }}<span class="mandatory" *ngIf="pageVariables.addMode">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="PremiseNumber" size="9" maxlength="8" formControlName="PremiseNumber" class="form-control" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate }}<span class="mandatory" *ngIf="pageVariables.addMode">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductCode" size="9" maxlength="6" formControlName="ProductCode" class="form-control" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDesc" size="40" maxlength="40" formControlName="ProductDesc" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductDetailCode">{{ 'Product Detail' | translate }}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" #ProductDetailCode id="ProductDetailCode" size="9" maxlength="6" formControlName="ProductDetailCode" class="form-control"
                            (change)="productDetailCode_onchange($event)" eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" id="ProductDetailDesc" size="40" maxlength="40" formControlName="ProductDetailDesc" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.productDetailCode.childConfigParams" [contentComponent]="ellipsisParams.productDetailCode.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('productDetailCode', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.productDetailCode.isDisabled" [showCloseButton]="ellipsisParams.productDetailCode.isShowCloseButton"
                            [showHeader]="ellipsisParams.productDetailCode.isShowHeader"> </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="InfestationGroupCode">{{ 'Infestation Group' | translate }}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="InfestationGroupCode" size="9" maxlength="2" formControlName="InfestationGroupCode" class="form-control"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="InfestationGroupDesc" size="40" maxlength="40" formControlName="InfestationGroupDesc" class="form-control"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Infestation Site' | translate }}<span class="mandatory">*</span></label>
                    <div class="col22">
                        <icabs-common-dropdown #InfestationLocation [inputParams]="infestationLocationSearchDropdownInputParams" [displayFields]="infestationLocationSearchDropdownColumns"
                            (onDataReceived)="onInfestationLocationDataRecieved($event)" [isActive]="infestationLocationSelected"
                            [isRequired]="infestationLocationCode.isRequired" [isTriggerValidate]="infestationLocationCode.isTriggerValidate"
                            [isDisabled]="infestationLocationCode.isDisabled"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="InfestationLevelCode">{{ 'Infestation Level' | translate }}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" #InfestationLevelCode id="InfestationLevelCode" size="7" maxlength="2" formControlName="InfestationLevelCode"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="InfestationLevelDesc" size="30" maxlength="30" formControlName="InfestationLevelDesc" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.infestationLevelCode.childConfigParams" [contentComponent]="ellipsisParams.infestationLevelCode.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('infestationLevelCode', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="ellipsisParams.infestationLevelCode.isDisabled" [showCloseButton]="ellipsisParams.infestationLevelCode.isShowCloseButton"
                            [showHeader]="ellipsisParams.infestationLevelCode.isShowHeader"> </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <footer class="screen-footer">
                <div class="row mt10">
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" [disabled]="pageVariables.disableSave">
                        <input type="button" class="btn btn-secondary mr5" value="{{'Cancel' | translate}}" (click)="cancel_OnClick($event)" [disabled]="pageVariables.disableCancel">
                        <input type="button" class="btn btn-additional mr5" value="{{'Delete' | translate}}" (click)="delete_OnClick($event)" [disabled]="pageVariables.disableDelete">
                    </div>
                </div>
            </footer>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>