<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="7" [attr.maxlength]="5"
                            eTypeCode>
                    </div>
                    <div class="col18 pr5">
                        <input id="BranchServiceAreaDesc" class="form-control" formControlName="BranchServiceAreaDesc" type="text" size="40" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #prodServiCeGrpEntry [autoOpen]="ellipsis.prodServiCeGrpEntry.autoOpen" [childConfigParams]="ellipsis.prodServiCeGrpEntry.childConfigParams"
                            [contentComponent]="ellipsis.prodServiCeGrpEntry.contentComponent" [showHeader]="true" [showCloseButton]="true"
                            [hideIcon]="true" [modalConfig]="ellipsis.prodServiCeGrpEntry.modalConfig" (ellipsisData)="onProdServiceGroupSelect($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductServiceGroupCode">{{ 'Product Group' | translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-sbproductservice-groupsearch #productservice [inputParams]="dropDown.productServiceGroup.inputParams" [active]="dropDown.productServiceGroup.active"
                            (receivedProductServiceGroupSearch)="onProductSearchReceived($event)"></icabs-sbproductservice-groupsearch>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-additional mr5" value="{{'Search' | translate}}" [disabled]="!isSearchEnabled" (click)="onSearchClick()">
                <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" (click)="onAddClick()" [disabled]="!isSaveEnabled">
                <input type="button" class="btn btn-secondary mr5" value="{{'Cancel' | translate}}" [disabled]="!isCancelEnabled" (click)="onCancelClick()">
                <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" [disabled]="!isDeleteEnabled" (click)="onDeleteClick()">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>