<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch Number'| translate}}</label>
                    <input type="text" class="form-control" id="BranchName" formControlName="BranchName" size="9" maxlength="8" eTypeCode>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch Service Area Code'| translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" size="9" maxlength="8"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="25" maxlength="35"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Plan Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ServicePlanNumber" formControlName="ServicePlanNumber" size="10" maxlength="10"
                            eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Plan Start Date'| translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ServicePlanStartDate" formControlName="ServicePlanStartDate" size="10" maxlength="10"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Plan End Date'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ServicePlanEndDate" formControlName="ServicePlanEndDate" size="10" maxlength="10"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Plan Description'|translate}}</label>
                    <input type="text" class="form-control" id="ServicePlanDescription" formControlName="ServicePlanDescription" size="40" maxlength="40"
                        eTypeText [icabsDirFocus]="setFocusOnServicePlanDescription">
                </div>
            </div>
        </section>
        <footer>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="button" class="btn btn-primary mr10" id="save" value="{{'Save' | translate}}" (click)="actionButtonClicked('save')"
                        [disabled]="this['pageParams']['isDisableSave']">
                        <input type="button" class="btn btn-secondary" id="cancel" value="{{'Cancel' | translate}}" (click)="actionButtonClicked('cancel')"
                            [disabled]="this['pageParams']['isDisableCancel']">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['pageParams']['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>