<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3 mr30">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>{{pageHeading | translate}}</h4>
                        </div>
                        <div class="col-sm-12">
                            <label>{{'Product' | translate}}</label>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" size="36" formControlName="ProductDescription" eTypeTextFree>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'Std Unit Price' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="14" formControlName="StandardUnitPrice" eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'Order Quantity' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="OrderQuantity" size="6" [attr.maxlength]="6" formControlName="OrderQuantity"
                                (change)="orderQuantityOnChange()" eTypeInteger>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'Unit Price' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="14" formControlName="ProductUnitPrice" (change)="productUnitPriceOnChange()"
                                eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'Disc Perc' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="6" [attr.maxlength]="6" formControlName="DiscountPercentage" (change)="discountPercentageOnChange()"
                                eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'Disc Amount' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="8" [attr.maxlength]="8" formControlName="DiscountAmount" (change)="discountAmountOnChange()"
                                eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'List Excl Tax' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="14" [attr.maxlength]="14" formControlName="ListPriceExclTax" eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row" [hidden]="fieldHidden.ListPriceInclTax">
                        <div class="col-sm-12">
                            <label>{{'List Incl Tax' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="14" [attr.maxlength]="14" formControlName="ListPriceInclTax" eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>{{'Total Excl Tax' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="14" [attr.maxlength]="14" formControlName="AgreedValue" (change)="agreedValueOnChange()"
                                eTypeDecimal2>
                        </div>
                    </div>
                    <div class="row" [hidden]="fieldHidden.AgreedValueInclTax">
                        <div class="col-sm-12">
                            <label>{{'Total Incl Tax' | translate}}</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" size="14" [attr.maxlength]="14" formControlName="AgreedValueInclTax" eTypeDecimal2>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div clas="col-sm-12">
                        <h4>{{'Telesales Order Line Status' | translate}}</h4>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <div class="col-sm-4 col-sm-offset-2">
                                <label><strong>{{'Date' | translate}}</strong></label>
                            </div>
                            <div class="col-sm-2">
                                <label><strong>{{'Time' | translate}}</strong></label>
                            </div>

                            <div class="col-sm-4 mt10">
                                <label><strong>{{'User Name' | translate}}</strong></label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt17">
                        <div class="col-sm-12">
                            <div class="col-sm-2 mt5">{{'Created' | translate}}</div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="8" formControlName="OLCreatedDate" eTypeDate>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" size="4" formControlName="OLCreatedTime" eTypeTime>
                            </div>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="20" formControlName="OLCreatedUserName" eTypeTextFree>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <div class="col-sm-2 mt5">{{'Cancelled' | translate}}</div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="8" formControlName="OLCancelledDate" eTypeDate>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" size="4" formControlName="OLCancelledTime" eTypeTime>
                            </div>

                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="20" formControlName="OLCancelledUserName" eTypeTextFree>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <div class="col-sm-2 mt5">{{'Stock Sent' | translate}}</div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="8" formControlName="OLStockDate" eTypeDate>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" size="4" formControlName="OLStockTime" eTypeTime>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <div class="col-sm-2 mt5">{{'Delivered' | translate}}</div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="8" formControlName="OLDeliveredDate" eTypeDate>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" size="4" formControlName="OLDeliveredTime" eTypeTime>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <div class="col-sm-2 mt5">{{'Supplier' | translate}}</div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" size="8" formControlName="OLSupplierID" eTypeInteger>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" size="31" formControlName="OLSupplierName" eTypeTextFree>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-sm-12">
                            <div class="col-sm-2 mt5">{{'Stock Req' | translate}}</div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" size="20" formControlName="OLStockRequestNumber" eTypeInteger>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-6">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save' | translate}}" [disabled]="btnDisable.cmdSave" (click)="saveOrderLine()">
                    <input type="button" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" [disabled]="btnDisable.cmdCancel" (click)="cancelClick()">
                    <input type="button" class="btn btn-additional" value="{{'Cancel Order Line' | translate}}" (click)="cancelOrderLine()" [disabled]="btnDisable.cmdCancelOrder">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>