<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="5"
                            [attr.maxlength]="5" class="form-control" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" [attr.maxlength]="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="5" [attr.maxlength]="5" class="form-control"
                            formControlName="BranchServiceAreaCode" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="BranchServiceAreaDesc" size="40" [attr.maxlength]="40"
                            class="form-control" formControlName="BranchServiceAreaDesc" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Employee'|translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" id="EmployeeCode" size="8" [attr.maxlength]="8" class="form-control"
                            formControlName="EmployeeCode" eTypeCode fetchDescription table="Employee"
                            query="EmployeeCode" select="EmployeeSurname">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="EmployeeSurname" size="30" [attr.maxlength]="40" class="form-control"
                            formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="employeeEllipsisConfig.childparams"
                            [contentComponent]="employeeEllipsisConfig.component" [showHeader]="true"
                            (ellipsisData)="onEmployeeDataReceived($event)"
                            [disabled]="employeeEllipsisConfig.disabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="button" id="Add" class="btn btn-primary" value="{{'Add' | translate}}"
                        (click)="onBtnClick('Add')"
                        *ngIf="this['parentMode'] !== 'GridBranchServiceAreaEmployeeUpdate' && this['pageParams']['pageMode'] !== MntConst.eModeAdd">
                    <input type="button" id="save" class="btn btn-primary" value="{{'Save' | translate}}"
                        (click)="onBtnClick('Save')" *ngIf="this['pageParams']['pageMode'] === MntConst.eModeAdd">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{'Cancel' | translate}}"
                        (click)="onBtnClick('Cancel')" *ngIf="this['pageParams']['pageMode'] === MntConst.eModeAdd">
                    <input type="button" id="delete" class="btn btn-additional" value="{{'Delete' | translate}}"
                        (click)="onBtnClick('Delete')" *ngIf="this['pageParams']['pageMode'] !== MntConst.eModeAdd">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>