<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" (ngSubmit)="onSubmit($event)">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24">
                        <label>{{ this['pageParams']['contractLabel'] | translate}}<span class="mandatory">*</span></label>
                    </div>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ContractNumber" size="9" maxlength="8" formControlName="ContractNumber" eTypeCode
                            icabsZeroPad (change)="onContractNumberChange($event)">
                    </div>
                    <div class="col15 pr5">
                        <input type="text" class="form-control" id="ContractName" size="40" maxlength="40" formControlName="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="isAutoOpenContractSearch" [childConfigParams]="this['pageParams'].ellipsisParams.contractNumber.childConfigParams"
                            [contentComponent]="this['pageParams'].ellipsisParams.contractNumber.contentComponent" (ellipsisData)="onEllipsisDataReceived('ContractNumber', $event)"
                            [modalConfig]="this['pageParams'].ellipsisParams.common.modalConfig" [disabled]="this['pageParams'].ellipsisParams.contractNumber.isDisabled"
                            [showCloseButton]="this['pageParams'].ellipsisParams.contractNumber.isShowCloseButton" [showHeader]="this['pageParams'].ellipsisParams.contractNumber.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col24">
                        <label>{{ 'Premises Number' | translate}}<span class="mandatory">*</span></label>
                    </div>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" size="9" maxlength="6" formControlName="PremiseNumber" eTypeInteger
                            (change)="onPremiseNumberChange($event)">
                    </div>
                    <div class="col15 pr5">
                        <input type="text" class="form-control" id="PremiseName" size="40" maxlength="40" formControlName="PremiseName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="this['pageParams'].ellipsisParams.premiseNumber.childConfigParams" [contentComponent]="this['pageParams'].ellipsisParams.premiseNumber.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('PremiseNumber', $event)" [modalConfig]="this['pageParams'].ellipsisParams.common.modalConfig"
                            [disabled]="this['pageParams'].ellipsisParams.premiseNumber.isDisabled" [showCloseButton]="this['pageParams'].ellipsisParams.premiseNumber.isShowCloseButton"
                            [showHeader]="this['pageParams'].ellipsisParams.premiseNumber.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col24">
                        <label>{{ 'Product Code' | translate}}<span class="mandatory">*</span></label>
                    </div>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ProductCode" size="9" maxlength="6" formControlName="ProductCode" eTypeCode (change)="onProductCodeChange($event)">
                    </div>
                    <div class="col15 pr5">
                        <input type="text" class="form-control" id="ProductDesc" size="40" maxlength="40" formControlName="ProductDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="isAutoOpenProductSearch" [childConfigParams]="this['pageParams'].ellipsisParams.productCode.childConfigParams"
                            [contentComponent]="this['pageParams'].ellipsisParams.productCode.contentComponent" (ellipsisData)="onEllipsisDataReceived('ProductCode', $event)"
                            [modalConfig]="this['pageParams'].ellipsisParams.common.modalConfig" [disabled]="this['pageParams'].ellipsisParams.productCode.isDisabled"
                            [showCloseButton]="this['pageParams'].ellipsisParams.productCode.isShowCloseButton" [showHeader]="this['pageParams'].ellipsisParams.productCode.isShowHeader"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col24">
                        <label>{{ 'Status' | translate}}<span class="mandatory">*</span></label>
                    </div>
                    <div class="col22 pr5">
                        <input type="text" class="form-control" id="Status" size="20" maxlength="20" formControlName="Status" eTypeText>
                    </div>
                </div>
            </div>

            <!---tab sectio starts-->
            <div class="row mt15">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item" id="grdGeneral" [ngClass]="{'active': tab.tab1.active }" (click)="riTab.TabFocus(1)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab1.active }">
                                <span>{{ 'General' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdSeasonal" [ngClass]="{'active': tab.tab2.active }" (click)="riTab.TabFocus(2)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab2.active }">
                                <span>{{ 'Seasonal' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!--General-->
                        <div class="tab-pane" [ngClass]="{'active': tab.tab1.active }">
                            <div id="grdGeneral" class="mt10">
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <div class="col24">
                                            <label>{{ 'Commence Date' | translate}}</label>
                                        </div>
                                        <div class="col12">
                                            <input type="text" class="form-control center" id="ServiceCommenceDate" size="10" maxlength="10" formControlName="ServiceCommenceDate"
                                                eTypeDate>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <div class="col24">
                                            <label>{{ 'Visit Frequency' | translate}}</label>
                                        </div>
                                        <div class="col12">
                                            <input type="text" class="form-control right" id="ServiceVisitFrequency" size="10" maxlength="3" formControlName="ServiceVisitFrequency"
                                                eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <div class="col24">
                                            <label>{{ 'Service Quantity' | translate}}</label>
                                        </div>
                                        <div class="col12">
                                            <input type="text" class="form-control right" id="ServiceQuantity" size="10" maxlength="3" formControlName="ServiceQuantity"
                                                eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <div class="col24">
                                            <label>{{ 'Service Anniversary Date' | translate}}</label>
                                        </div>
                                        <div class="col12">
                                            <input type="text" class="form-control center" id="ServiceVisitAnnivDate" size="10" maxlength="10" formControlName="ServiceVisitAnnivDate"
                                                eTypeDate>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <div class="col24">
                                            <input type="checkbox" class="form-control" id="SeasonalServiceInd" formControlName="SeasonalServiceInd" (change)="onSeasonalServiceIndChange()"
                                                [icabsDirFocus]="setFocusSeasonalServiceInd">
                                            <label for="SeasonalServiceInd">{{ 'Seasonal Service' | translate}}<span class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-3">
                                        <div class="col24">
                                            <label>{{ 'Effective Date' | translate}}<span class="mandatory">*</span></label>
                                        </div>
                                        <div class="col12">
                                            <icabs-datepicker formControlName="LastChangeEffectDate" [isDirectiveBased]="false" (onChange)="onLastChangeEffectDateChange()"></icabs-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---Seasonal-->
                        <div class="tab-pane" [ngClass]="{'active': tab.tab2.active }">
                            <div id="grdSeasonal" class="mt10">
                                <div class="row mt2">
                                    <div class="col-sm-4">
                                        <div class="col24">
                                            <label>{{ 'Number Of Seasons' | translate}}<span *ngIf="this['pageParams']['isCurrentSeasonalInd']" class="mandatory">*</span></label>
                                        </div>
                                        <div class="col7">
                                            <input type="text" class="form-control right" id="NumberOfSeasons" maxlength="{{this['pageParams']['seasonMaxLength']}}"
                                                size="3" formControlName="NumberOfSeasons" eTypeInteger (change)="onNumberOfSeasonsChange()">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col24">
                                            <label>{{ 'Seasonal Template' | translate}}</label>
                                        </div>
                                        <div class="col7 pr5">
                                            <input type="text" class="form-control right" id="SeasonalTemplateNumber" maxlength="4" size="4" formControlName="SeasonalTemplateNumber"
                                                eTypeInteger (change)="onSeasonalTemplateNumberChange()">
                                        </div>
                                        <div class="col15 pr5">
                                            <input type="text" class="form-control" id="TemplateName" maxlength="40" size="30" formControlName="TemplateName" eTypeText>
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis [childConfigParams]="this['pageParams'].ellipsisParams.seasonalTemplate.childConfigParams" [contentComponent]="this['pageParams'].ellipsisParams.seasonalTemplate.contentComponent"
                                                (ellipsisData)="onEllipsisDataReceived('SeasonalTemplate', $event)" [modalConfig]="this['pageParams'].ellipsisParams.common.modalConfig"
                                                [disabled]="this['pageParams'].ellipsisParams.seasonalTemplate.isDisabled" [showCloseButton]="this['pageParams'].ellipsisParams.seasonalTemplate.isShowCloseButton"
                                                [showHeader]="this['pageParams'].ellipsisParams.seasonalTemplate.isShowHeader"></icabs-ellipsis>
                                        </div>
                                        <div class="col24 mt10 mb10">
                                            <input type="checkbox" class="form-control" id="SeasonalBranchUpdate" formControlName="SeasonalBranchUpdate" (change)="onSeasonalBranchUpdateChange()">
                                            <label for="SeasonalBranchUpdate">{{ 'Update from Template' | translate}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt2">
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <label>{{ 'Annual Season' | translate}}<span *ngIf="this['pageParams']['isMandatorySeason']" class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <label>{{ 'From Date' | translate}}<span *ngIf="this['pageParams']['isMandatorySeason']" class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <label>{{ 'From Week/Year' | translate}}<span *ngIf="this['pageParams']['isMandatorySeason']" class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <label>{{ 'To Date' | translate}}<span *ngIf="this['pageParams']['isMandatorySeason']" class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <label>{{ 'To Week/Year' | translate}}<span *ngIf="this['pageParams']['isMandatorySeason']" class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <label>{{ 'No Of Visits' | translate}}<span *ngIf="this['pageParams']['isMandatoryNoOfVisits']" class="mandatory">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt5" *ngFor="let item of this['pageParams']['annualSeasonLayoutArr']">
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <input type="text" class="form-control" id="SeasonNumber{{item}}" formControlName="SeasonNumber{{item}}" size="4" maxlength="{{this['pageParams']['seasonMaxLength']}}"
                                                eTypeInteger>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <icabs-datepicker formControlName="SeasonalFromDate{{item}}" [isDirectiveBased]="false" (onChange)="onSeasonalFromDateChange(item)"></icabs-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col11">
                                            <input type="text" class="form-control" id="SeasonalFromWeek{{item}}" formControlName="SeasonalFromWeek{{item}}" size="2"
                                                maxlength="2" eTypeInteger (change)="onSeasonalFromWeekChange(item)">
                                        </div>
                                        <span class="col1">/</span>
                                        <div class="col11">
                                            <input type="text" class="form-control" id="SeasonalFromYear{{item}}" formControlName="SeasonalFromYear{{item}}" size="4"
                                                maxlength="4" eTypeInteger (change)="onSeasonalFromYearChange(item)">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <icabs-datepicker formControlName="SeasonalToDate{{item}}" [isDirectiveBased]="false" (onChange)="onSeasonalToDateChange(item)"></icabs-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col11">
                                            <input type="text" class="form-control" id="SeasonalToWeek{{item}}" formControlName="SeasonalToWeek{{item}}" size="2" maxlength="2"
                                                eTypeInteger (change)="onSeasonalToWeekChange(item)">
                                        </div>
                                        <span class="col1">/</span>
                                        <div class="col11">
                                            <input type="text" class="form-control" id="SeasonalToYear{{item}}" formControlName="SeasonalToYear{{item}}" size="4" maxlength="4"
                                                eTypeInteger (change)="onSeasonalToYearChange(item)">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col24">
                                            <input type="text" class="form-control" id="SeasonNoOfVisits{{item}}" formControlName="SeasonNoOfVisits{{item}}" size="4"
                                                maxlength="3" eTypeInteger>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-6">
                    <input type="button" id="dummy" class="btn dummy" value="" (focus)="focusSave($event)">
                    <input type="submit" id="save" class="btn btn-primary mr5" value="{{ 'Save' | translate}}" [disabled]="this['pageParams']['isDisableSave']">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{ 'Cancel' | translate}}" [disabled]="this['pageParams']['isDisableCancel']"
                        (click)="onCancelClick();">
                </div>
                <div class="col-sm-3 pull-right">
                    <select id="menu" class="form-control" (change)="onMenuChange($event.srcElement.value)" formControlName="Menu">
                        <option selected value="Options">{{ 'Options' | translate}}</option>
                        <option value="ServiceSeasons">{{ 'Service Seasons' | translate}}</option>
                        <option value="PlanVisit">{{ 'Planned Visits' | translate}}</option>
                    </select>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>