<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Waste Consignment Note Number' | translate }}</label>
                    <div class="col18 pr5">
                        <input type="text" id="WasteConsignmentNoteNo" formControlName="WasteConsignmentNoteNo"
                            size="50" maxlength="50" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-5">
                            <label class="col24">{{ 'From Date' | translate }} <span class="mandatory">*</span></label>
                            <icabs-datepicker #FromDate formControlName="FromDate" [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                        <div class="col-sm-5">
                            <label class="col24">{{ 'To' | translate }} <span class="mandatory">*</span></label>
                            <icabs-datepicker #ToDate formControlName="ToDate" [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch Service Area' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id=BranchServiceAreaCode size="6" maxlength="4"
                            formControlName="BranchServiceAreaCode" class="form-control"
                            (change)="onChangeCommon('ServiceArea')" eTypeCode>
                    </div>
                    <div class="col12 pr5">
                        <input type="text" id=BranchServiceAreaDesc size="40" maxlength="40"
                            formControlName="BranchServiceAreaDesc" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.serviceAreaEllipsis.childConfigParams"
                            [contentComponent]="ellipsis.serviceAreaEllipsis.component"
                            (ellipsisData)="onDataReceivedServiceSearch($event)" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate}}
                    </label>
                    <div class="col6 pr5">
                        <input #employeeCode id="EmployeeCode" class="form-control" formControlName="EmployeeCode"
                            type="text" size="6" maxlength="6" (change)="onChangeCommon('Employee')" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text"
                            size="30" maxlength="30" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsis.employee.childConfigParams"
                            [contentComponent]="ellipsis.employee.component"
                            (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <label for="Manual" class="col24">{{'Manual' | translate}}</label>
                    <div class="col18">
                        <select class="form-control" formControlName="ManualWasteConsignmentNote"
                            name="ManualWasteConsignmentNote">
                            <option *ngFor="let item of consignmentNote" [value]="item.value">
                                {{ item.key | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="WasteTransferTypeCode">{{'Transfer Type'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="WasteTransferTypeCode"
                            formControlName="WasteTransferTypeCode" size="7" maxlength="2" eTypeCode
                            (change)="onChangeCommon('WasteControl');">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="WasteTransferTypeDesc"
                            formControlName="WasteTransferTypeDesc" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic
                            [autoOpen]="ellipsis.WasteTransferTypeEllipsisConfig.autoOpen" [showCloseButton]="true"
                            [showHeader]="true" [ellipsisTitle]="ellipsis.WasteTransferTypeEllipsisConfig.ellipsisTitle"
                            [ellipsisColumn]="ellipsis.WasteTransferTypeEllipsisConfig.tableColumn"
                            [configParams]="ellipsis.WasteTransferTypeEllipsisConfig.configParams"
                            [disabled]="ellipsis.WasteTransferTypeEllipsisConfig.disable"
                            (ellipsisData)="onWasteTransferDataRecieved($event)"
                            [httpConfig]="ellipsis.WasteTransferTypeEllipsisConfig.httpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label for="ReturnedStatus" class="col24">{{'Returned Status' | translate}}</label>
                    <div class="col18">
                        <select class="form-control" formControlName="ReturnedStatus" name="ReturnedStatus">
                            <option *ngFor="let item of returnedStatus" [value]="item.value">
                                {{ item.key | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-5">
                            <label for="WasteConsignmentNoteStatus" class="col24">{{'Status' | translate}}</label>
                            <div class="col20">
                                <select class="form-control" formControlName="WasteConsignmentNoteStatus"
                                    name="WasteConsignmentNoteStatus">
                                    <option *ngFor="let item of noteStatus" [value]="item.value">
                                        {{ item.key | translate }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5 pl0">
                            <label for="PaperworkReceivedDate"
                                class="col24">{{'Paperwork Returned Date' | translate}}</label>
                            <icabs-datepicker #toDate formControlName="PaperworkReceivedDate"
                                [isDirectiveBased]="false">
                            </icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>