<section class="container-fluid custom-container" [formGroup]="this['uiForm']">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{'Advantage Service Cover Maintenance'|translate}}
                </h1>
            </div>
        </div>
    </header>
    <section class="screen-body">

        <div class="row mt5">
            <div class="col-sm-3">
                <label class="col24" for="dlPremiseRef">{{'Premises Reference'|translate}}</label>
                <div class="col24">
                    <input type="text" size="30" maxlength="30" class="form-control" placeholder="" id="dlPremiseRef" formControlName="dlPremiseRef"
                        eTypeCode>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" for="ContractTypeCode">{{'Type'|translate}}
                    <span *ngIf="fieldRequired.ContractTypeCode === true" class="mandatory">* </span>
                </label>
                <div class="col24">
                    <input type="text" size="1" class="form-control" placeholder="" id="ContractTypeCode" formControlName="ContractTypeCode"
                        eTypeCode>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="col24" for="dlStatusCode">{{'Status'|translate}}</label>
                <div class="col6 pr5">
                    <input type="text" size="1" maxlength="2" class="form-control" placeholder="" id="dlStatusCode" formControlName="dlStatusCode"
                        eTypeCode>
                </div>
                <div class="col16">
                    <input type="text" size="15" class="form-control" placeholder="" id="dlStatusDesc" formControlName="dlStatusDesc" eTypeTextFree>
                </div>
            </div>
        </div>

        <!--Tab function-->
        <div class="row mt15">
            <div class="col-sm-12" id="tabCont">
                <ul class="nav nav-tabs">
                    <li class="nav-item " id="Product" [ngClass]="{'active': uiDisplay.tab.tab1.active, 'error': uiDisplay.tab.tab1.error, 'hidden': !uiDisplay.tab.tab1.visible}">
                        <a class="nav-link " [ngClass]="{'active': uiDisplay.tab.tab1.active}" (click)="renderTab(1)">
                            <span>{{'Product'|translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item " id="Guarantee" [ngClass]="{'active': uiDisplay.tab.tab2.active, 'error': uiDisplay.tab.tab2.error, 'hidden': !uiDisplay.tab.tab2.visible}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab2.active}" (click)="renderTab(2)">
                            <span>{{'Guarantee'|translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item " id="Values" [ngClass]="{'active': uiDisplay.tab.tab3.active, 'error': uiDisplay.tab.tab3.error, 'hidden': !uiDisplay.tab.tab3.visible}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab3.active}" (click)="renderTab(3)">
                            <span>{{'Values'|translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item active" id="ServiceCoverDetails" [ngClass]="{'active': uiDisplay.tab.tab4.active, 'error': uiDisplay.tab.tab4.error, 'hidden': !uiDisplay.tab.tab4.visible}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab4.active}" (click)="renderTab(4)">
                            <span>{{'SC Details'|translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="Preps" [ngClass]="{'active': uiDisplay.tab.tab5.active, 'error': uiDisplay.tab.tab5.error, 'hidden': !uiDisplay.tab.tab5.visible}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab5.active}" (click)="renderTab(5)">
                            <span>{{'Preps'|translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="Instructions" [ngClass]="{'active': uiDisplay.tab.tab6.active, 'error': uiDisplay.tab.tab6.error, 'hidden': !uiDisplay.tab.tab6.visible}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab6.active}" (click)="renderTab(6)">
                            <span>{{'Instructions'|translate}}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="TimeWindows" [ngClass]="{'active': uiDisplay.tab.tab7.active, 'error': uiDisplay.tab.tab7.error, 'hidden': !uiDisplay.tab.tab7.visible}">
                        <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab7.active}" (click)="renderTab(7)">
                            <span>{{'Time Windows'|translate}}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane " [ngClass]="{'active': uiDisplay.tab.tab1.active, 'hidden': !uiDisplay.tab.tab1.visible}">
                        <div class="mt10">
                            <div class="row mt5">
                                <div class="col-sm-4">
                                    <label class="col24" for="ProductCode">{{'Product Code'|translate}}
                                        <span *ngIf="fieldRequired.ProductCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="8" maxlength="6" class="form-control" placeholder="" id="ProductCode" formControlName="ProductCode"
                                            (change)="onProductCodeChange($event)" eTypeCode>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="25" maxlength="25" class="form-control" placeholder="" id="ProductDesc" formControlName="ProductDesc"
                                            eTypeText>
                                    </div>
                                    <div class="col2 pl5">
                                        <icabs-ellipsis [autoOpen]='false' [showCloseButton]="showCloseButton" [childConfigParams]="ellipsis.productCode.inputParams"
                                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.productCode.contentComponent"
                                            (ellipsisData)="onProductCodeReceived($event)" [showHeader]="showHeader" [disabled]="ellipsis.productCode.isEllipsisDisabled"></icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10" *ngIf="fieldVisibility.GuaranteeRequired === true">
                                <div class="col-sm-3">
                                    <div class="col24">
                                        <input type="checkbox" size="2" maxlength="2" id="GuaranteeRequired" formControlName="GuaranteeRequired" (change)="onGuaranteeRequiredChange($event)">
                                        <label for="GuaranteeRequired">{{'Guarantee Required'|translate}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="ServiceVisitFrequency">{{'Visit Frequency'|translate}}
                                        <span *ngIf="fieldRequired.ServiceVisitFrequency === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8">
                                        <input type="text" size="4" class="form-control" placeholder="" id="ServiceVisitFrequency" formControlName="ServiceVisitFrequency"
                                            eTypeInteger>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.ServiceQuantityChange === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="ServiceQuantityChange">{{'Quantity'|translate}}
                                        <span *ngIf="fieldRequired.ServiceQuantityChange === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col10">
                                        <input type="text" size="8" class="form-control" placeholder="" id="ServiceQuantityChange" formControlName="ServiceQuantityChange"
                                            eTypeInteger>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.BusinessOriginCode === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="BusinessOriginCode">{{'Business Origin'|translate}}
                                        <span *ngIf="fieldRequired.BusinessOriginCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col24" for="">
                                        <icabs-business-origin-language-search [triggerValidate]="dropdown.businessOriginLang.triggerValidate" [active]="dropdown.businessOriginLang.active"
                                            [inputParams]="dropdown.businessOriginLang.inputParams" [isRequired]="dropdown.businessOriginLang.isRequired"
                                            [isDisabled]="dropdown.businessOriginLang.isDisabled" (receivedLostBusinessLangSearch)="onBusinessOriginLangReceived($event)"></icabs-business-origin-language-search>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.BusinessOriginDetailCode === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="BusinessOriginDetailCode">{{'Origin Detail'|translate}}
                                        <span *ngIf="fieldRequired.BusinessOriginDetailCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="6" maxlength="8" class="form-control" placeholder="" id="BusinessOriginDetailCode" formControlName="BusinessOriginDetailCode"
                                            eTypeCode>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="25" maxlength="25" class="form-control" placeholder="" id="BusinessOriginDetailDesc" formControlName="BusinessOriginDetailDesc"
                                            eTypeText>
                                    </div>
                                    <div class="col2 pl5">
                                        <icabs-ellipsis [autoOpen]='false' [showCloseButton]="showCloseButton" [childConfigParams]="ellipsis.businessOriginDetailCode.inputParams"
                                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.businessOriginDetailCode.contentComponent"
                                            (ellipsisData)="onBusinessOriginDetailCodeReceived($event)" [showHeader]="showHeader"
                                            [disabled]="ellipsis.businessOriginDetailCode.isEllipsisDisabled"></icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3" for="">
                                    <label class="col24" for="ServiceSalesEmployee">{{'Commission Employee'|translate}}
                                        <span *ngIf="fieldRequired.ServiceSalesEmployee === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="6" maxlength="6" class="form-control" placeholder="" id="ServiceSalesEmployee" formControlName="ServiceSalesEmployee"
                                            (change)="onSalesEmployeeChange($event);" eTypeCode>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="25" maxlength="25" class="form-control" placeholder="" id="EmployeeSurname" formControlName="EmployeeSurname"
                                            eTypeText>
                                    </div>
                                    <div class="col2 pl5">
                                        <icabs-ellipsis [autoOpen]='false' [showCloseButton]="showCloseButton" [childConfigParams]="ellipsis.employeeSearch.inputParams"
                                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.employeeSearch.contentComponent"
                                            (ellipsisData)="onEmployeeCodeReceived($event)" [showHeader]="showHeader" [disabled]="ellipsis.employeeSearch.isEllipsisDisabled"></icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="ServiceTypeCode">{{'Service Type Code'|translate}}
                                        <span *ngIf="fieldRequired.ServiceTypeCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col24">
                                        <icabs-servicetype-search [isTriggerValidate]="dropdown.serviceType.triggerValidate" [active]="dropdown.serviceType.active"
                                            [inputParams]="dropdown.serviceType.inputParams" [isRequired]="dropdown.serviceType.isRequired"
                                            [isDisabled]="dropdown.serviceType.isDisabled" (receivedServiceTypeData)="onServiceTypeReceived($event)"></icabs-servicetype-search>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="TaxCode">{{'Tax Code'|translate}}
                                        <span *ngIf="fieldRequired.TaxCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="5" maxlength="5" class="form-control" placeholder="" id="TaxCode" formControlName="TaxCode" (change)="onTaxCodeChange($event);"
                                            eTypeCode>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="30" maxlength="30" class="form-control" placeholder="" id="TaxCodeDesc" formControlName="TaxCodeDesc"
                                            eTypeText>
                                    </div>
                                    <div class="col2 pl5">
                                            <icabs-ellipsis-generic [autoOpen]="ellipsis.TaxCodeSearchConfig.autoOpen" [showCloseButton]="true"
                                                [showHeader]="true" [ellipsisTitle]="ellipsis.TaxCodeSearchConfig.ellipsisTitle"
                                                [ellipsisColumn]="ellipsis.TaxCodeSearchConfig.tableColumn"
                                                [configParams]="ellipsis.TaxCodeSearchConfig.configParams" [disabled]="ellipsis.TaxCodeSearchConfig.disable"
                                                (ellipsisData)="onTaxCodeReceived($event)" [httpConfig]="ellipsis.TaxCodeSearchConfig.httpConfig">
                                            </icabs-ellipsis-generic>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="ServiceBranchNumber">{{'Service Branch'|translate}}
                                        <span *ngIf="fieldRequired.ServiceBranchNumber === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="5" maxlength="5" class="form-control" placeholder="" id="ServiceBranchNumber" formControlName="ServiceBranchNumber"
                                            (change)="onServiceBranchChange($event);" eTypeInteger>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="40" maxlength="40" class="form-control" placeholder="" id="BranchName" formControlName="BranchName"
                                            eTypeText>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="BranchServiceAreaCode">{{'Service Area Code'|translate}}
                                        <span *ngIf="fieldRequired.BranchServiceAreaCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="7" maxlength="4" class="form-control" placeholder="" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode"
                                            (change)="onBranchServiceAreaCodeChange($event)" eTypeCode>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="40" maxlength="40" class="form-control" placeholder="" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc"
                                            eTypeText>
                                    </div>
                                    <div class="col2 pl5">
                                        <icabs-ellipsis [autoOpen]='false' [showCloseButton]="showCloseButton" [childConfigParams]="ellipsis.serviceArea.inputParams"
                                            [modalConfig]="modalConfig" [contentComponent]="ellipsis.serviceArea.contentComponent"
                                            (ellipsisData)="onServiceAreaReceived($event)" [showHeader]="showHeader" [disabled]="ellipsis.serviceArea.isEllipsisDisabled"></icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="ServiceEmployeeCode">{{'Service Employee'|translate}} </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="7" maxlength="6" class="form-control" placeholder="" id="ServiceEmployeeCode" formControlName="ServiceEmployeeCode"
                                            eTypeCode>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="40" maxlength="40" class="form-control" placeholder="" id="ServiceEmployeeSurname" formControlName="ServiceEmployeeSurname"
                                            eTypeText>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <div class="col24">
                                        <input type="checkbox" id="WasteTransferRequired" formControlName="WasteTransferRequired">
                                        <label for="WasteTransferRequired">{{'Waste Transfer Required'|translate}}</label>
                                    </div>
                                </div>
                            </div>

                            <!--end of product-->
                        </div>
                    </div>
                    <!--end of tabpane-->
                    <div class="tab-pane " [ngClass]="{'active': uiDisplay.tab.tab2.active, 'hidden': !uiDisplay.tab.tab2.visible}">
                        <div class="mt10">
                            <div class="row mt2" *ngIf="fieldVisibility.NoGuaranteeCode === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="NoGuaranteeCode">{{'No Guarantee Reason'|translate}}
                                        <span *ngIf="fieldRequired.NoGuaranteeCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col16">
                                        <icabs-common-dropdown [inputParams]="dropdown.noGuarenteeSearch.params" [isRequired]="dropdown.noGuarenteeSearch.isRequired"
                                            [isTriggerValidate]="dropdown.noGuarenteeSearch.isTriggerValidate" [isDisabled]="dropdown.noGuarenteeSearch.isDisabled"
                                            [isActive]="dropdown.noGuarenteeSearch.active" [displayFields]="dropdown.noGuarenteeSearch.displayFields"
                                            (onDataReceived)="onNoGuaranteeCodeReceived($event)">
                                        </icabs-common-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.AgeofProperty === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="AgeofProperty">{{'Age of Property'|translate}}</label>
                                    <div class="col10">
                                        <input type="text" size="5" maxlength="5" class="form-control" placeholder="" id="AgeofProperty" formControlName="AgeofProperty"
                                            eTypeInteger>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.NumberBedrooms === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="NumberBedrooms">{{'Number of Bedrooms'|translate}} </label>
                                    <div class="col8 pr5">
                                        <input type="text" size="5" maxlength="5" class="form-control" placeholder="" id="NumberBedrooms" formControlName="NumberBedrooms"
                                            eTypeInteger>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.ListedCode === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="ListedCode">{{'Listed Building'|translate}} </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="6" maxlength="8" class="form-control" placeholder="" id="ListedCode" formControlName="ListedCode"
                                            eTypeText>
                                    </div>
                                    <div class="col14">
                                        <input type="text" size="40" maxlength="40" class="form-control" placeholder="" id="ListedDescription" formControlName="ListedDescription"
                                            eTypeText>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of Guarantee-->
                    </div>
                    <!--end of tabpane-->
                    <div class="tab-pane " [ngClass]="{'active': uiDisplay.tab.tab3.active, 'hidden': !uiDisplay.tab.tab3.visible}">
                        <div class="mt10">
                            <div class="row mt5">
                                <div class="col-sm-3">
                                    <label class="col24" for="StandardTreatmentTime">{{'Routine Treatment Time'|translate}} </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="5" class="form-control" placeholder="" id="StandardTreatmentTime" formControlName="StandardTreatmentTime"
                                            eTypeTime>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="ChargeRateCode">{{'Charge Rate'|translate}}
                                        <span *ngIf="fieldRequired.ChargeRateCode === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col24">
                                        <icabs-common-dropdown [inputParams]="dropdown.chargeRateCode.inputParams" [displayFields]="dropdown.chargeRateCode.displayFields"
                                            (onDataReceived)="onChargeRateCodeReceived($event)" [isActive]="dropdown.chargeRateCode.active"
                                            [isRequired]="dropdown.chargeRateCode.isRequired" [isDisabled]="dropdown.chargeRateCode.isDisabled"
                                            [isTriggerValidate]="dropdown.chargeRateCode.isTriggerValidate"></icabs-common-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <div class="col24">
                                        <input type="checkbox" id="StandardTimeInd" formControlName="StandardTimeInd">
                                        <label for="StandardTimeInd">{{'STD Time'|translate}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="AccessHireValue">{{'Supplier cost to Customer'|translate}} </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="10" class="form-control" placeholder="" id="AccessHireValue" formControlName="AccessHireValue" (change)="onAccessHireValueChange($event)"
                                            eTypeCurrency>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-6">
                                    <div class="col5">
                                        <label class="col24" for="MaterialsValue">{{'Materials Value'|translate}}
                                            <span *ngIf="fieldRequired.MaterialsValue === true" class="mandatory">* </span>
                                        </label>
                                        <div class="col24 pr5">
                                            <input type="text" size="10" class="form-control" placeholder="" id="MaterialsValue" formControlName="MaterialsValue" (change)="onMaterialsValueChange($event)"
                                                eTypeCurrency>
                                        </div>
                                    </div>
                                    <div class="col14">
                                        <label class="col24" for="MaterialsDesc">{{'Materials Value Reason/Narrative'|translate}}</label>
                                        <div class="col24">
                                            <input type="text" size="60" maxlength="60" class="form-control" placeholder="" id="MaterialsDesc" formControlName="MaterialsDesc"
                                                eTypeTextFree>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.InitialValue === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="InitialValue">{{'Initial/Install Charge'|translate}} </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="10" maxlength="10" class="form-control" placeholder="" id="InitialValue" formControlName="InitialValue"
                                            eTypeCurrency>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="TotalValue">{{'Advantage Price'|translate}} </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="10" class="form-control" placeholder="" id="TotalValue" formControlName="TotalValue" eTypeCurrency>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="fieldVisibility.AnnualValueChange === true">
                                <div class="col-sm-3">
                                    <label class="col24" for="AnnualValueChange">{{ otherVariables['AnnualValueChangeLabel'] | translate }}
                                        <span *ngIf="fieldRequired.AnnualValueChange === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="10" maxlength="10" class="form-control" placeholder="" id="AnnualValueChange" formControlName="AnnualValueChange"
                                            eTypeCurrency>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="CalculatedDiscount">{{'Calc Discount percent'|translate}} </label>
                                    <div class="col10 pr5">
                                        <input type="text" size="8" class="form-control" placeholder="" id="CalculatedDiscount" formControlName="CalculatedDiscount"
                                            eTypeTextFree>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col24" for="DiscountReason">{{'Price Variation Reason'|translate}}
                                        <span *ngIf="fieldRequired.DiscountReason === true" class="mandatory">* </span>
                                    </label>
                                    <div class="col14">
                                        <input type="text" size="60" maxlength="500" class="form-control" placeholder="" id="DiscountReason" formControlName="DiscountReason"
                                            eTypeTextFree>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of Values-->
                    </div>
                    <!--end of tabpane-->
                    <div class="tab-pane " [ngClass]="{'active': uiDisplay.tab.tab4.active, 'hidden': !uiDisplay.tab.tab4.visible}">
                        <div class="mt10">
                            <div class="row mt10">
                                <div class="col-sm-3 mt20">
                                    <icabs-refresh (click)="refreshGridServiceCover()"></icabs-refresh>
                                    <icabs-pagination *ngIf="grid.gridServiceCover.totalRecords > 0" [totalItems]="grid.gridServiceCover.totalRecords" [itemsPerPage]="grid.gridServiceCover.itemsPerPage"
                                        (getCurrentPage)="getCurrentPageServiceCover($event)" [currentPage]="grid.gridServiceCover.paginationCurrentPage"></icabs-pagination>
                                </div>
                                <div class="col-sm-2 pull-right">
                                    <label class="col24" for="SDFilter">{{'Detail Filter'|translate}} </label>
                                    <div class="col24">
                                        <input type="text" size="10" class="form-control" placeholder="" id="SDFilter" formControlName="SDFilter" (keydown)="onSDFilterKeyDown($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-12">
                                    <icabs-grid #gridServiceCover [maxColumns]="grid.gridServiceCover.maxColumns" [itemsPerPage]="grid.gridServiceCover.itemsPerPage"
                                        [currentPage]="grid.gridServiceCover.currentPage" (gridInfo)="getGridInfoServiceCover($event)"
                                        (selectedRowInfo)="onGridRowDblClickA($event)" (getCellData)="onGridCellClickA($event)"
                                        (sortInfo)="sortGridServiceCover($event)" [validateProperties]="validatePropertiesServiceCover"></icabs-grid>
                                </div>
                            </div>
                        </div>
                        <!--end of Service Cover Details-->
                    </div>
                    <!--end of tabpane-->

                    <div class="tab-pane " [ngClass]="{'active': uiDisplay.tab.tab5.active, 'hidden': !uiDisplay.tab.tab5.visible}">
                        <div id="Preps" class="mt10">
                            <div class="row mt10">
                                <div class="col-sm-3 mt20">
                                    <icabs-refresh (click)="refreshGridPrep()"></icabs-refresh>
                                    <icabs-pagination *ngIf="grid.gridPrep.totalRecords > 0" [totalItems]="grid.gridPrep.totalRecords" [itemsPerPage]="grid.gridPrep.itemsPerPage"
                                        (getCurrentPage)="getCurrentPagePrep($event)" [currentPage]="grid.gridPrep.paginationCurrentPage"></icabs-pagination>
                                </div>
                                <div class="col-sm-2 pull-right">
                                    <label class="col24" for="PrepFilter">{{'Prep Filter'|translate}} </label>
                                    <div class="col24">
                                        <input type="text" size="9" maxlength="9" class="form-control" placeholder="" id="PrepFilter" formControlName="PrepFilter"
                                            (keydown)="onPrepFilterKeyDown($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-sm-12">
                                    <icabs-grid #gridPrep [maxColumns]="grid.gridPrep.maxColumns" [itemsPerPage]="grid.gridPrep.itemsPerPage" [currentPage]="grid.gridPrep.currentPage"
                                        (gridInfo)="getGridInfoPrep($event)" (selectedRowInfo)="onGridRowDblClickB($event)" (getCellData)="onGridCellClickB($event)"
                                        (sortInfo)="sortGridPrep($event)" [validateProperties]="validatePropertiesPrep"></icabs-grid>
                                </div>
                            </div>
                        </div>
                        <!--end of Material-->
                    </div>
                    <!--end of tabpane-->

                    <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab6.active, 'hidden': !uiDisplay.tab.tab6.visible}">
                        <div class="row" *ngIf="fieldVisibility.ServiceSpecialInstructions === true">
                            <label class="col-sm-12" for="ServiceSpecialInstructions">{{'Special Instructions' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div id="Instructions " class="col-sm-9">
                                <textarea class="form-control" id="ServiceSpecialInstructions" formControlName="ServiceSpecialInstructions"
                                    style="WIDTH: 650px; HEIGHT: 300px" eTypeTextFree></textarea>
                            </div>
                        </div>
                        <!--end of Instructions-->
                    </div>
                    <!--end of tabpane-->
                    <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab7.active, 'hidden': !uiDisplay.tab.tab7.visible}">
                        <div class="mt10" *ngIf="fieldVisibility.grdTimeWindow === true">
                            <div class="row mt10">
                                <div class="col-sm-9">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2">{{'Start' | translate}}</th>
                                                <th colspan="2">{{'End' | translate}}</th>
                                                <th colspan="2">{{'Start' | translate}}</th>
                                                <th colspan="2">{{'End' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ 'Sunday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth01" formControlName="WindowStarth01" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth01" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm01" formControlName="WindowStartm01" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm01" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh01" formControlName="WindowEndh01" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh01" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm01" formControlName="WindowEndm01" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm01" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth08" formControlName="WindowStarth08" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth08" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm08" formControlName="WindowStartm08" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm08" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh08" formControlName="WindowEndh08" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh08" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm08" formControlName="WindowEndm08" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm08" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'Monday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth02" formControlName="WindowStarth02" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth02" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm02" formControlName="WindowStartm02" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm02" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh02" formControlName="WindowEndh02" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh02" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm02" formControlName="WindowEndm02" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm02" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth09" formControlName="WindowStarth09" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth09" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm09" formControlName="WindowStartm09" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm09" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh09" formControlName="WindowEndh09" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh09" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm09" formControlName="WindowEndm09" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm09" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'Tuesday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth03" formControlName="WindowStarth03" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth03" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm03" formControlName="WindowStartm03" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm03" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh03" formControlName="WindowEndh03" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh03" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm03" formControlName="WindowEndm03" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm03" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth10" formControlName="WindowStarth10" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth10" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm10" formControlName="WindowStartm10" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm10" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh10" formControlName="WindowEndh10" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh10" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm10" formControlName="WindowEndm10" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm10" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'Wednesday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth04" formControlName="WindowStarth04" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth04" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm04" formControlName="WindowStartm04" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm04" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh04" formControlName="WindowEndh04" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh04" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm04" formControlName="WindowEndm04" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm04" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth11" formControlName="WindowStarth11" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth11" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm11" formControlName="WindowStartm11" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm11" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh11" formControlName="WindowEndh11" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh11" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm11" formControlName="WindowEndm11" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm11" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'Thursday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth05" formControlName="WindowStarth05" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth05" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm05" formControlName="WindowStartm05" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm05" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh05" formControlName="WindowEndh05" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh05" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm05" formControlName="WindowEndm05" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm05" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth12" formControlName="WindowStarth12" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth12" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm12" formControlName="WindowStartm12" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm12" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh12" formControlName="WindowEndh12" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh12" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm12" formControlName="WindowEndm12" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm12" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'Friday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth06" formControlName="WindowStarth06" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth06" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm06" formControlName="WindowStartm06" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm06" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh06" formControlName="WindowEndh06" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh06" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm06" formControlName="WindowEndm06" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm06" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth13" formControlName="WindowStarth13" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth13" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm13" formControlName="WindowStartm13" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm13" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh13" formControlName="WindowEndh13" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh13" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm13" formControlName="WindowEndm13" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm13" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'Saturday' | translate}}</td>
                                                <td>
                                                    <select id="WindowStarth07" formControlName="WindowStarth07" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth07" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm07" formControlName="WindowStartm07" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm07" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh07" formControlName="WindowEndh07" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh07" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm07" formControlName="WindowEndm07" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm07" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStarth14" formControlName="WindowStarth14" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStarth14" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowStartm14" formControlName="WindowStartm14" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowStartm14" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndh14" formControlName="WindowEndh14" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndh14" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="WindowEndm14" formControlName="WindowEndm14" class="col24">
                                                        <option *ngFor="let a of dropdownList.WindowEndm14" [ngValue]="a.value">{{a.text}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <!--end of TimeWindows-->
                    </div>
                    <!--end of tabpane-->
                </div>
                <!--end of tabcontent-->
            </div>
        </div>
        <!--end ofTab-->

    </section>
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-3" *ngIf="otherVariables['UpdateableIndBoolean'] === true">
                <input class="btn btn-primary" formControlName="Save" type="button" value="{{ 'Save' | translate }}" (keyup)="onSaveKey($event)"
                    (click)="onSave($event)">
                <input class="btn btn-secondary" formControlName="Cancel" type="button" value="{{ 'Cancel' | translate }}" (click)="onCancel($event)">
            </div>
        </div>
    </footer>
</section>

<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader" [config]="modalConfig">
</icabs-modal>
<icabs-modal #messageModal [(showHeader)]="showMessageHeader" [config]="modalConfig">
</icabs-modal>
<icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [title]="promptTitle" [content]="promptContent"
    (saveEmit)="promptSave($event)" [config]="modalConfig"></icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>