<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" novalidate>
        <div id="grdEntitlement" class="">

            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{'Contact Number' | translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" formControlName="ContractNumber" class="form-control" />
                    </div>
                    <div class="col18 pr5">
                        <input type="text" formControlName="ContractName" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{'Premises Number' | translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" formControlName="PremiseNumber" class="form-control" />
                    </div>
                    <div class="col18 pr5">
                        <input type="text" formControlName="PremiseName" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24" for="ProductCode">{{'Product Code' | translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" formControlName="ProductCode" class="form-control" />
                    </div>
                    <div class="col18 pr5">
                        <input type="text" formControlName="ProductDesc" class="form-control" maxlength="25" size="25" />
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-5">
                    <div class="row mt2">
                        <div class="col-sm-7">
                            <label class="col24" for="EntitlementAnnivDate">{{
                                this['pageParams'].spanEntitlementAnnivDateLab_innerText | translate }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <icabs-datepicker [dt]="pageParams.dtEntitlementAnnivDate" id="EntitlementAnnivDate"
                                    [isDirectiveBased]="false" formControlName="EntitlementAnnivDate" (onChange)="dateToSelectedValue($event, 'EntitlementAnnivDate')"></icabs-datepicker>

                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-7">
                            <label class="col24" for="EntitlementAnnualQuantity">{{
                                this['pageParams'].spanEntitlementAnnualQuantityLab_innerText | translate
                                }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <input type="text" id="EntitlementAnnualQuantity" eTypeInteger pattern="^\d+$"
                                    formControlName="EntitlementAnnualQuantity" class="form-control" (change)="EntitlementAnnualQuantity_OnChange($event.target.value, 'EntitlementAnnualQuantity')">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-7">
                            <label class="col24" for="EntitlementNextAnnualQuantity">{{
                                this['pageParams'].spanEntitlementNextAnnualQuantityLab_innerText | translate
                                }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <input type="text" id="EntitlementNextAnnualQuantity" eTypeInteger pattern="^\d+$"
                                    formControlName="EntitlementNextAnnualQuantity" class="form-control" (change)="EntitlementNextAnnualQuantity_OnChange($event.target.value, 'EntitlementNextAnnualQuantity')">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2 hidden">
                        <div class="col-sm-7">
                            <label class="col24" for="EntitlementOrderedQuantity">{{ 'Ordered Quantity' |
                                translate }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <input type="text" id="EntitlementOrderedQuantity" eTypeInteger pattern="^\d+$"
                                    formControlName="EntitlementOrderedQuantity" class="form-control" (change)="updateFormFieldOnChange($event.target.value, 'EntitlementOrderedQuantity')">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" for="EntitlementYTDQuantity">{{ 'Year To Date Quantity' |
                                translate }}</label>
                            <div class="col16">
                                <input type="text" id="EntitlementYTDQuantity" eTypeInteger pattern="^\d+$"
                                    formControlName="EntitlementYTDQuantity" class="form-control" (change)="updateFormFieldOnChange($event.target.value, 'EntitlementYTDQuantity')">
                            </div>
                        </div>
                    </div>

                    <div class="row mt2">
                        <div class="col-sm-6">
                            <label class="col24" for="EntitlementServiceQuantity">{{ 'Entitlement Service
                                Quantity' |
                                translate }}</label>
                            <div class="col16">
                                <input type="text" id="EntitlementServiceQuantity" eTypeInteger pattern="^\d+$"
                                    formControlName="EntitlementServiceQuantity" class="form-control" (change)="updateFormFieldOnChange($event.target.value, 'EntitlementServiceQuantity')">
                            </div>
                            <div class="col8 pl10">
                                <input type="button" class="btn btn-primary" value="{{ 'Default Value' | translate }}"
                                    (click)="btnDefaultServiceQuantity_onClick()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-12 mt10">
                            <input type="checkbox" id="MinCommitQty" eTypeCheckBox formControlName="MinCommitQty" class="form-control"
                                (change)="minCommitQtyToggle()" (change)="updateFormFieldOnChange($event.target.checked, 'MinCommitQty')">
                            <label for="MinCommitQty">{{'Minimum Commitment Quantity' | translate}}</label>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-7">
                            <div class="col9 pr5">
                                <label class="col24" for="EntitlementPricePerUnit">{{ 'Price Per Unit' |
                                    translate }}
                                    <span class="mandatory">*</span>
                                </label>
                                <div class="col24">
                                    <input type="text" id="EntitlementPricePerUnit" eTypeCurrency formControlName="EntitlementPricePerUnit"
                                        class="form-control" (change)="onEntitlementPricePerUnitChange($event.target.value, 'EntitlementPricePerUnit')">
                                </div>
                            </div>
                            <div class="col15">
                                <label class="col24" for="UnitDesc">{{ 'Unit Description' | translate }}
                                    <span class="mandatory">&nbsp;</span>
                                </label>
                                <div class="col24">
                                    <input type="text" id="UnitDesc" eTypeText formControlName="UnitDesc" class="form-control"
                                        (change)="updateFormFieldOnChange($event.target.value, 'UnitDesc')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6" *ngIf="extendedEntitlementFields">
                    <div class="row mt2" id="EntitlementCalculationLevelContainer">
                        <div class="col-sm-6">
                            <label class="col24" for="EntitlementCalculationLevel">{{ 'Calculation Level' |
                                translate
                                }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <select class="form-control" formControlName="EntitlementCalculationLevel" id="EntitlementCalculationLevel"
                                    (change)="updateFormFieldOnChange($event.target.value, 'EntitlementCalculationLevel')">
                                    <option *ngFor="let option of entitlmentBusinessRegistryData[0].EntitlementCalculationLevelOptions"
                                        [value]="option.value">{{option.title}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2" id="EntitlementCalculationPeriodContainer">
                        <div class="col-sm-6">
                            <label class="col24" for="EntitlementCalculationPeriod">{{ 'Calculation Period' |
                                translate
                                }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <select class="form-control" formControlName="EntitlementCalculationPeriod" id="EntitlementCalculationPeriod"
                                    (change)="updateFormFieldOnChange($event.target.value, 'EntitlementCalculationPeriod')">
                                    <option *ngFor="let option of entitlmentBusinessRegistryData[1].EntitlementCalculationPeriodOptions"
                                        [value]="option.value">{{option.title}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2" id="EntitlementInvoiceFrequencyCodeContainer">
                        <div class="col-sm-6">
                            <label class="col24" for="EntitlementInvoiceFrequencyCode">{{ 'Invoice Period' |
                                translate
                                }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <select class="form-control" formControlName="EntitlementInvoiceFrequencyCode" id="EntitlementInvoiceFrequencyCode"
                                    (change)="updateFormFieldOnChange($event.target.value, 'EntitlementInvoiceFrequencyCode')">
                                    <option *ngFor="let option of entitlmentBusinessRegistryData[2].EntitlementInvoiceFrequencyCodeOptions"
                                        [value]="option.value">{{option.title}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10" id="EntitlementRequiredIndContainer">
                        <div class="col-sm-9">
                            <div class="col24">
                                <input class="form-control" id="EntitlementPRCInd" type="checkbox" value=""
                                    formControlName="EntitlementPRCInd" (change)="onMasterServiceCoverChange($event.target.checked)">
                                <label class="" for="EntitlementPRCInd">{{ 'Master Service Cover' | translate
                                    }}</label>
                                <input type="text" id="MasterServiceCoverDetailsText" class="pull-right col15 form-control"
                                    disabled formControlName="MasterServiceCoverDetailsText" [ngClass]="{'marked-in-red': this['isMarkedInRed']}">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-6" id="EntitlementApprovalReqdIndContainer">

                            <div class="col24">
                                <input class="form-control" id="EntitlementApprovalReqdInd" type="checkbox"
                                    formControlName="EntitlementApprovalReqdInd" eTypeCheckBox (change)="updateFormFieldOnChange($event.target.checked, 'EntitlementApprovalReqdInd')">
                                <label class="col24" for="EntitlementApprovalReqdInd">{{ 'Approval Required' |
                                    translate }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt2" id="PeriodTDQuantityContainer" *ngIf="extendedEntitlementFields">
                        <div class="col-sm-6">
                            <label class="col24" for="PeriodTDQuantity">{{ 'Period To Date Quantity' |
                                translate }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <input type="text" id="PeriodTDQuantity" eTypeInteger class="form-control"
                                    formControlName="PeriodTDQuantity" (change)="updateFormFieldOnChange($event.target.value, 'PeriodTDQuantity')">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2" id="LastCalculationDateContainer">
                        <div class="col-sm-6">
                            <label class="col24" for="LastCalculationDate">{{ 'Last Calculation Date' |
                                translate }}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col16">
                                <icabs-datepicker id="LastCalculationDate" [dt]="pageParams.dtLastCalculationDate"
                                    [isDisabled]="!uiForm.controls.EntitlementPRCInd.value" formControlName="LastCalculationDate"
                                    [isDirectiveBased]="false" (onChange)="dateToSelectedValue($event, 'LastCalculationDate')"></icabs-datepicker>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr class="mt15 mb15">

        <footer>
            <div class="">
                <div class="container ml5">
                    <input type="button" class="btn btn-primary mr10" id="save" value="{{'Save' | translate}}" (click)="handleSaveClick()">
                    <input type="button" class="btn btn-secondary mr10" id="cancel" value="{{'Cancel' | translate}}"
                        (click)="handleCancel()">
                    <input type="button" class="btn btn-additional hidden" id="delete" value="{{'Delete' | translate}}">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-modal #successModal [showCloseButton]="true" [showHeader]="true" (modalClose)="successModalClose($event)"></icabs-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>