<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']" (ngSubmit)="onSubmit($event)">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ '^1^ Number' | replaceText:['\\^1\\^']:[this['pageParams']['currentContractTypeLabel']] | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber" size="8" maxlength="8" eTypeCode
                            icabsZeroPad (change)="getLookupData('C')">
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.contractNumber.childConfigParams" [contentComponent]="ellipsisParams.contractNumber.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('ContractNumber', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="false" [showCloseButton]="true" [showHeader]="true" [hideIcon]="ellipsisParams.contractNumber.isHideIcon"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber" size="8" maxlength="5" eTypeInteger
                            (change)="getLookupData('P')">
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.premiseNumber.childConfigParams" [contentComponent]="ellipsisParams.premiseNumber.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Premises', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="false" [showCloseButton]="true" [showHeader]="true" [hideIcon]="ellipsisParams.premiseNumber.isHideIcon"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Service Employee' | translate}}
                        <span *ngIf="!this['pageParams']['isDisableEmployeeUpdate']" class="mandatory">*</span>
                    </label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="EmployeeCode" formControlName="EmployeeCode" size="6" maxlength="6" eTypeCode
                            (change)="getLookupData('E')" [icabsDirFocus]="setFocusEmployeeCode">
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname" size="25" maxlength="25" eTypeText>
                    </div>
                    <div class="col2 pl5">
                        <icabs-ellipsis [childConfigParams]="ellipsisParams.employee.childConfigParams" [contentComponent]="ellipsisParams.employee.contentComponent"
                            (ellipsisData)="onEllipsisDataReceived('Employee', $event)" [modalConfig]="ellipsisParams.common.modalConfig"
                            [disabled]="false" [showCloseButton]="true" [showHeader]="true" [hideIcon]="ellipsisParams.employee.isHideIcon"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Date' | translate}}
                        <span *ngIf="!this['pageParams']['isDisableEmployeeUpdate']" class="mandatory">*</span>
                    </label>
                    <div class="col9">
                        <icabs-datepicker formControlName="ServiceDateStart" [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ActualStartTime">{{ 'Actual Start Time' | translate}}
                        <span *ngIf="!this['pageParams']['isDisableEmployeeUpdate']" class="mandatory">*</span>
                    </label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control center" id="ActualStartTime" formControlName="ActualStartTime" size="5" maxlength="5"
                            eTypeTime>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ActualEndTime">{{ 'Actual End Time' | translate}}
                        <span *ngIf="!this['pageParams']['isDisableEmployeeUpdate']" class="mandatory">*</span>
                    </label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control center" id="ActualEndTime" formControlName="ActualEndTime" size="5" maxlength="5"
                            eTypeTime>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseContactName">{{ 'Contact Name' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col22">
                        <input type="text" class="form-control" id="PremiseContactName" formControlName="PremiseContactName" size="50" maxlength="50"
                            eTypeText [icabsDirFocus]="setFocusPremiseContactName">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="JobTitleNumber">{{ 'Job Title' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="JobTitleNumber" formControlName="JobTitleNumber" size="3" eTypeInteger (change)="getLookupData('J')">
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="JobTitleDesc" formControlName="JobTitleDesc" size="30" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isShowReasonNumber']">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Signature Unavailable Reason' | translate}}</label>
                    <div class="col22">
                        <icabs-common-dropdown [inputParams]="dropdown.noSignatureReasonSearch.inputParams" [displayFields]="dropdown.noSignatureReasonSearch.columns"
                            [isActive]="dropdown.noSignatureReasonSearch.active" 
                            (onDataReceived)="onNoSignatureReasonSearchDataRecieved($event)"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isSCEnableVisitRef']">
                <div class="col-sm-4">
                    <label class="col24" for="VisitReference">{{ 'Visit Reference' | translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="VisitReference" formControlName="VisitReference" size="8" maxlength="100" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="AttemptedPrintInd" formControlName="AttemptedPrintInd" size="1">
                        <label for="AttemptedPrintInd">{{ 'Attempted Print' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="SuccessfulPrintInd" formControlName="SuccessfulPrintInd" size="1">
                        <label for="SuccessfulPrintInd">{{ 'Successful Print' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="this['pageParams']['isSCEnableNoServiceReasons']">
                <div class="col-sm-4">
                    <label class="col24" for="NoPremiseVisitReasonCode">{{ 'No Premises Visit Reason' | translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" id="NoPremiseVisitReasonCode" formControlName="NoPremiseVisitReasonCode" size="6"
                            maxlength="6" eTypeCode>
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="NoPremiseVisitReasonDesc" formControlName="NoPremiseVisitReasonDesc" size="40"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isSCEnableBarcodes']">
                <div class="col-sm-4">
                    <label class="col24" for="NoBarcodeReasonCode">{{ 'No Barcode Reason' | translate}}</label>
                    <div class="col7 pr5">
                        <input type="text" class="form-control" input id="NoBarcodeReasonCode" formControlName="NoBarcodeReasonCode" size="6" maxlength="6"
                            eTypeCode>
                    </div>
                    <div class="col15">
                        <input type="text" class="form-control" id="NoBarcodeReasonDesc" formControlName="NoBarcodeReasonDesc" size="40" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="this['pageParams']['isShowSignature']">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseContactSignature">{{ 'Signature' | translate}}</label>
                    <div class="col24 mb5" *ngIf="this['pageParams']['isShowPremiseContactSignature']">
                        <img id="PremiseContactSignature" [src]="this['pageParams']['premiseContactSignatureSrc']">
                    </div>
                    <div>
                        <label *ngIf="this['pageParams']['isShowPremiseContactPrintedNameTitle']" class="col24" for="PremiseContactPrintedName">{{ 'Name' | translate}}</label>
                        <div class="col24" *ngIf="this['pageParams']['isShowPremiseContactPrintedName']">
                            <img id="PremiseContactPrintedName" [src]="this['pageParams']['premiseContactPrintedNameSrc']">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="this['pageParams']['isShowReasonDesc']">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseContactReason">{{ 'Signature Unavailable Reason' | translate}}</label>
                    <div class="col22">
                        <textarea id="PremiseContactReason" formControlName="PremiseContactReason" class="form-control" type="text" rows="10" cols="35"
                            maxlength="500" size="500" eTypeText></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RepDestSelect">{{ 'Report Destination' | translate}}</label>
                    <div class="col22">
                        <select id="RepDestSelect" class="form-control" formControlName="RepDestSelect">
                            <option value="direct">{{ 'Report Viewer' | translate}}</option>
                            <option value="EmailAccount">{{ 'Email - Account' | translate}}</option>
                            <option value="EmailContract">{{ 'Email - Contract' | translate}}</option>
                            <option value="EmailPremises">{{ 'Email - Premises' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="chkConsumablesOnly" formControlName="chkConsumablesOnly">
                        <label for="chkConsumablesOnly">{{ 'Consumables only' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="button" class="btn btn-primary mr10" value="{{ 'Submit Report Generation' | translate}}" (click)="onSubmitReportGenerationClick();">
                    </div>
                </div>
                <div class="col-sm-9 mt10" [ngClass]="isShowBatchSubmitted ? '' : 'hidden'">
                    <label class="message-box info-label">{{ this.batchSubmittedText }}</label>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-primary mr10" value="{{ 'Save' | translate}}">
                    <input type="button" class="btn btn-secondary mr10" value="{{ 'Cancel' | translate}}" (click)="onCancelClick();">
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="col24">
                        <select id="Menu" class="form-control" formControlName="Menu" (change)="onMenuChange($event.srcElement.value)">
                            <option value="">{{ 'Options' | translate}}</option>
                            <option *ngIf="this['pageParams']['isSCEnableBarcodes']" value="ScannedBarcodes">{{ 'Barcode' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>