<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <label>{{ 'Template Number' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="AnnualCalendarTemplateNumber" (change)="templateNumberChange($event.target.value)"
                            formControlName="AnnualCalendarTemplateNumber" maxlength="8" eTypeInteger/>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="TemplateName" formControlName="TemplateName" maxlength="40" eTypeText />
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #CalendarTemplateEllipsis [childConfigParams]="inputParamsCalendarTemplate" [contentComponent]="CalendarTemplateSearchComponent"
                            [showHeader]="true" [autoOpen]="autoOpenSearch" (addModeOn)="onAddMode()" [modalConfig]="modalConfig"
                            [disabled]="calendarTemplateEllipsisdisabled" (ellipsisData)="onCalendarTemplateDataReturn($event)"></icabs-ellipsis>
                    </div>
                    <input type="text" class="form-control hidden" id="AnnualCalendarTemplateROWID" formControlName="AnnualCalendarTemplateROWID"
                    />

                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Owning Branch' | translate }} <span class="mandatory">* </span></label>
                    </div>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [isDisabled]="branchsearchDisabled" [inputParams]="inputParamsBranchSearch" (receivedbranchsearch)="onBranchDataReceived($event)"
                            [active]="branchNumberSelected" [isRequired]="true"></icabs-branchsearch>
                        <input type="text" class="hidden" id="OwnerBranchNumber" size="3" maxlength="5" formControlName="OwnerBranchNumber" eTypeInteger>
                        <input type="text" class="hidden" id="BranchName" size="40" maxlength="40" formControlName="BranchName" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Number Of Visits' | translate }} <span class="mandatory">* </span></label>
                    </div>
                    <div class="col8">
                        <input type="text" pattern="^[1-9]\d*$" class="form-control" id="VisitFrequency" size="3" maxlength="3" formControlName="VisitFrequency"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="DisplayAsAppointment" Type="checkBox" size="1" maxlength="1" formControlName="DisplayAsAppointment">
                        <label for="DisplayAsAppointment">{{ 'Display As Appointment' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2" [hidden]="isCalendarRolloverType">
                <div class="col-sm-3">
                    <div class="col24">
                        <label>{{ 'Rollover Method' | translate }}</label>
                    </div>
                    <div class="col16">
                        <select id="SelCalendarRolloverTypeCode" class="form-control" formControlName="SelCalendarRolloverTypeCode" (change)="optionsChange($event.target.value)">
                           <option *ngFor="let item of calendarRolloverlist" value="{{item.calendarRolloverTypeCodeList}}" >{{item.calendarRolloverTypeDescList}} </option>             			
                        </select>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-12">
                <input type="button" [disabled]="SaveDisabled" class="btn btn-primary mr10" value="{{ 'Save' | translate }}" (click)="onSubmit('save')">
                <input type="button" [disabled]="CancelDisabled" class="btn btn-secondary mr10" value="{{ 'Cancel' | translate }}" (click)="onCancel()">
                <input type="button" [disabled]="DeleteDisabled" class="btn btn-additional" value="{{ 'Delete' | translate }}" (click)="onSubmit('delete')">
                <div class="col6 pull-right">
                    <select id="menu" [disabled]="menuDisabled" class="form-control" (change)="optionsChange($event.target.value)">
                            <option>{{ 'Options' | translate }}</option>
                            <option value="calendar">{{ 'Calendar' | translate }}</option>
                            <option value="access">{{ 'Branch Access' | translate }}</option>
                            <option value="templateuse">{{ 'Template Use' | translate }}</option>
                            <option value="history">{{ 'History' | translate }}</option>
                        </select>
                </div>
            </div>
        </div>
    </footer>
</section>
<icabs-modal #errorModal="child" [showHeader]="true">
</icabs-modal>
<icabs-modal #messageModal="child" [showHeader]="true" (modalClose)="messageModalClose()">
</icabs-modal>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-prompt-modal #promptModalForSave="child" [showHeader]="true" [content]="promptContentSave" [config]="promptModalConfigSave"
    (saveEmit)="promptContentSaveData($event)"></icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>