<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-xs-12 page-title mt10">
            <h1>{{ 'Invoice Reprint Maintenance' | translate }}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-xs-3">
                <label class="col24">{{'Account Number' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" id="AccountNumber" formControlName="AccountNumber" size="11" maxlength="9" class="form-control">
                </div>
                <div class="col16">
                    <input type="text" id="AccountName" formControlName="AccountName" size="35" maxlength="40" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-xs-3">
                <label class="col24">{{'Invoice Number' | translate }}</label>
                <div class="col8 pr5">
                    <input type="text" id="InvoiceNumber" formControlName="InvoiceNumber" size="10" maxlength="8" class="form-control">
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-xs-3">
                <label class="col24">{{'Contact Name' | translate }}</label>
                <div class="col16">
                    <input type="text" id="dInvoiceContactName" formControlName="dInvoiceContactName" size="45" maxlength="40" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-xs-3">
                <label class="col24">{{'Contact Email' | translate }}</label>
                <div class="col16">
                    <input type="text" id="dInvoiceContactEmail" formControlName="dInvoiceContactEmail" size="45" maxlength="40" class="form-control">
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-xs-12">
                <input type="button" id="cmdView" class="btn btn-primary mr10" value="{{'View Internal Copy' | translate }}" (click)="onCmdView()">
                <input type="button" id="cmdEmail" class="btn btn-primary" value="{{'Email' | translate }}" (click)="onCmdEmail()">
            </div>
        </div>
        <div class="row">
            <input id="InvoiceContactName" size="45" maxlength="40" style="display:none">
<input id="InvoiceContactEmail" size="45" maxlength="40" style="display:none">
<input id="mmfield" style="display:none">
</div>
</form>
</div>
<icabs-modal #errorModal="child">
</icabs-modal>
<icabs-modal #messageModal="child">
</icabs-modal>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>