<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Preparation Mix Maintenance' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="PrepCode">{{ 'Prep Code' | translate}}</label>
                    <div class="col6 pr5">
                        <input #prepCode type="text" eTypeCode id="PrepCode" size="5" [attr.maxlength]="3" class="form-control" formControlName="PrepCode"
                            (change)="onPrepCodeChange();">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" eTypeText id="PrepDesc" size="40" [attr.maxlength]="40" class="form-control" formControlName="PrepDesc">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis (ellipsisData)="onPrepCodeDataReceived($event)" [childConfigParams]="ellipsis.prepCodeEllipsis.inputParams"
                            [disabled]="ellipsis.prepCodeEllipsis.isEllipsisDisabled" [contentComponent]="ellipsis.prepCodeEllipsis.contentComponent"
                            [modalConfig]="modalConfig" [autoOpen]="ellipsis.prepCodeEllipsis.autoOpen" [showHeader]="ellipsis.prepCodeEllipsis.showHeader"
                            [showCloseButton]="true"></icabs-ellipsis>

                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PrepMixCode">{{ 'Prep mix code' | translate}}<span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['PrepMixCode']">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input #prepMixCode type="text" eTypeCode id="PrepMixCode" size="5" [attr.maxlength]="12" class="form-control" formControlName="PrepMixCode"
                            (change)="onPrepMixCodeChange();">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PrepMixLabel">{{ 'Description' | translate}}<span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['PrepMixLabel']">*</span>
                    </label>
                    <div class="col24">
                        <input type="text" id="PrepMixLabel" eTypeText size="50" [attr.maxlength]="100" class="form-control" formControlName="PrepMixLabel">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="MeasureBy">{{ 'Unit Of Measure' | translate}}<span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['MeasureBy']">*</span>
                    </label>
                    <div class="col8">
                        <input type="text" id="MeasureBy" eTypeText size="10" [attr.maxlength]="40" class="form-control" formControlName="MeasureBy">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Formulation">{{ 'Formulation' | translate}}<span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['Formulation']">*</span>
                    </label>
                    <div class="col8">
                        <input type="text" id="Formulation" eTypeText size="10" [attr.maxlength]="400" class="form-control" formControlName="Formulation">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="MixRatio">{{ 'Mix Ratio' | translate}}<span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['MixRatio']">*</span>
                    </label>
                    <div class="col8">
                        <input type="text" id="MixRatio" eTypeDecimal5 size="10" [attr.maxlength]="10" class="form-control" formControlName="MixRatio">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-6">
                    <input type="button" formControlName="Add" class="btn btn-additional mr10" *ngIf="this['formMode'] !== this['c_s_MODE_ADD'] && this['pageParams']['functionAdd']"
                        value="{{'Add' | translate}}" (click)="addOnClick();">
                    <input type="button" formControlName="Save" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="saveOnClick();">
                    <input type="button" formControlName="Cancel" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="cancelOnClick();">
                    <input type="button" formControlName="Delete" class="btn btn-additional" *ngIf="this['formMode'] !== this['c_s_MODE_ADD']"
                        value="{{'Delete' | translate}}" (click)="deleteOnClick();">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>