<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{this['pageTitle'] | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24" for="ProspectNumber">{{'Prospect Number' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col8 pr5">
                            <input type="text" class="form-control" id="ProspectNumber" size="8" maxlength="8" formControlName="ProspectNumber" eTypeInteger>
                        </div>
                        <div class="col16">
                            <input type="text" class="form-control" id="ProspectName" size="40" maxlength="40" formControlName="ProspectName" eTypeText>
                        </div>
                    </div>
                </div>
            </div>
            <hr class=" mb15 mt15">
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24" for="ConvertedToNumber">{{'Contract/Job Number' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col8 pr5">
                            <input type="text" class="form-control" id="ConvertedToNumber" size="8" [attr.maxlength]="8" formControlName="ConvertedToNumber"
                                eTypeText (change)="convertedToNumberOnChange($event)" icabsZeroPad>
                        </div>
                        <div class="col15 pr5">
                            <input type="text" class="form-control" id="ConvertedToName" size="40" maxlength="40" formControlName="ConvertedToName" eTypeText>
                        </div>
                        <div class="col1">
                            <icabs-ellipsis [showCloseButton]="true" [showHeader]="true" [modalConfig]="modalConfig" [childConfigParams]="ellipsConf.convertedToNumber.childConfigParams"
                                [contentComponent]="ellipsConf.convertedToNumber.contentComponent" (ellipsisData)="onConvertedToNumberEllipsisDataReceived($event)"
                                [disabled]="ellipsConf.convertedToNumber.disabled"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24" for="ContractTypeCode">{{'Contract Type Code' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col8">
                            <select id="ContractTypeCode" class="form-control" formControlName="ContractTypeCode">
                                <option *ngFor="let item of ttContractTypeLang" [ngValue]="item.contractTypeCode">{{item.contractTypeDesc | translate}}</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24" for="ConvertedDate">{{'Converted Date' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col8">
                            <icabs-datepicker formControlName="ConvertedDate" [isDirectiveBased]="false" [required]="true" (onChange)="onSelecteDatePicker($event)"></icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24" for="ConvertedSalesEmployeeCode">{{'Sales Employee' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col8 pr5">
                            <input type="text" class="form-control" id="ConvertedSalesEmployeeCode" size="10" maxlength="10" formControlName="ConvertedSalesEmployeeCode"
                                eTypeCode (change)="convertedSalesEmployeeCodeOnChange($event)">
                        </div>
                        <div class="col15 pr5">
                            <input type="text" class="form-control" id="ConvertedSalesEmployeeCodeName" size="40" maxlength="40" formControlName="ConvertedSalesEmployeeCodeName"
                                eTypeText>
                        </div>
                        <div class="col1">
                            <icabs-ellipsis [showCloseButton]="true" [showHeader]="true" [modalConfig]="modalConfig" [childConfigParams]="ellipsConf.salesEmployee.childConfigParams"
                                [contentComponent]="ellipsConf.salesEmployee.contentComponent" (ellipsisData)="onSalesEmployeeEllipsisDataReceived($event)"></icabs-ellipsis>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col24">
                        <label class="col24" for="ConvertedValue">{{'Converted value' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col8">
                            <input type="text" class="form-control" id="ConvertedValue" size="10" [attr.maxlength]="15" formControlName="ConvertedValue"
                                eTypeCurrency>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-5">
                    <input class="btn btn-primary mr10" type="submit" value="{{'Save' | translate}}" (click)="onClickSaveBtn()">
                    <input class="btn btn-secondary" type="button" value="{{'Cancel' | translate}}" (click)="onClickCancelBtn()">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>