<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24" for="EmployeeCode">{{ 'Employee' | translate }}<span
                            class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input eTypeCode [icabsDirFocus]="setEmployeeFocus" type="text" id="EmployeeCode" size="9"
                            maxlength="8" formControlName="EmployeeCode" class="form-control">
                    </div>
                    <div class="col14 pr5">
                        <input eTypeText type="text" id="EmployeeSurname" size="40" maxlength="40"
                            formControlName="EmployeeSurname" class="form-control">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['EmployeeCode'].disabled"
                            [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.employee.childConfigParams"
                            [contentComponent]="ellipsisConfig.employee.component"
                            (ellipsisData)="fetchEllipsisData($event, 'employee', true)">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Date' | translate }}<span class="mandatory">*</span></label>
                    <div class="col12 pr5">
                        <icabs-datepicker [isDirectiveBased]="false" id="ServiceDateStart"
                            formControlName="ServiceDateStart"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="ActivityTypeCode">{{ 'Activity' | translate }}<span
                            class="mandatory">*</span></label>
                    <div class="col8 pr5" *ngIf="this['pageParams']['isActivityTypeCodeVisible']">
                        <input eTypeInteger type="text" id="ActivityTypeCode" size="9" maxlength="2"
                            formControlName="ActivityTypeCode" class="form-control">
                    </div>
                    <div class="col14 pr5">
                        <input eTypeText type="text" id="ActivityTypeDesc" size="40" maxlength="40"
                            formControlName="ActivityTypeDesc" class="form-control">
                    </div>
                    <div class="col2" *ngIf="this['pageParams']['isActivityTypeCodeVisible']">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['ActivityTypeCode'].disabled"
                            [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.activityType.childConfigParams"
                            [contentComponent]="ellipsisConfig.activityType.component"
                            (ellipsisData)="fetchEllipsisData($event, 'activityType', true)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isActivityStatusErrorMessageVisible']">
                <div class="col-sm-3">
                    <label class="col24" for="ActivityStatusErrorMessage">{{ 'Rejection Reason' | translate }}</label>
                    <textarea id="ActivityStatusErrorMessage" formControlName="ActivityStatusErrorMessage"
                        class="form-control" type="text" size="100" maxlength="100"></textarea>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt30">
                <div class="col-sm-12">
                    <ul #NavTabs class="nav nav-tabs" *ngIf="this['parentMode'] !== 'ServiceActivityAdd'">
                        <li class="nav-item" id="grdMain" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab1.active}"
                                (click)="renderTab(1)">
                                <span>{{ 'Main' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="grdAdditional" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab2.active}"
                                (click)="renderTab(2)">
                                <span>{{ 'Additional' | translate }}</span>
                            </a>
                        </li>

                        <li class="nav-item" id="grdOutcard"
                            [ngClass]="{'active': uiDisplay.tab.tab3.active, 'hidden': !this['pageParams']['isOutcardTabVisible']}">
                            <a class="nav-link" [ngClass]="{'active': uiDisplay.tab.tab3.active}"
                                (click)="renderTab(3)">
                                <span>{{ 'Outcard Details' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                    <div #TabContent class="tab-content">
                        <!--1st tab-->
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab1.active}">
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Status' | translate }}</label>
                                    <div class="col12 pr5" *ngIf="this['pageParams']['isActivityStatusSelectVisible']">
                                        <select id="ActivityStatusSelect" formControlName="ActivityStatusSelect"
                                            class="form-control" (change)="activityStatusSelectOnChange()">
                                            <option *ngFor="let status of statusArray" [value]="status.value">
                                                {{status.text | translate}}
                                            </option>
                                        </select>
                                    </div>
                                    <td id="tdActivityStatusDesc"
                                        *ngIf="this['pageParams']['isActivityStatusDescVisible']">
                                        <input eTypeText id="ActivityStatusDesc" formControlName="ActivityStatusDesc"
                                            size="30" maxlength="40" class="form-control">
                                    </td>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isOutcardVisible']">
                                <div class="col-sm-3">
                                    <label class="col24" for="OutcardNumber">{{ 'Outcard Number' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="OutcardNumber" size="8" maxlength="8"
                                            formControlName="OutcardNumber" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isConsNoteVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="WasteConsignmentNoteNumber">{{ 'Waste Consignment Note Number' | translate }}</label>
                                    <div class="col20 pr5">
                                        <input type="text" id="WasteConsignmentNoteNumber" size="20" maxlength="50"
                                            formControlName="WasteConsignmentNoteNumber" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-4">
                                    <label class="col24" for="ContractNumber">{{ 'Contract Number' | translate }}<span
                                            class="mandatory"
                                            *ngIf="this['pageParams']['isContractNumberRequired']">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeCode icabsZeroPad type="text" id="ContractNumber" size="9"
                                            maxlength="8" formControlName="ContractNumber" class="form-control"
                                            (change)="contractPremiseProductOnChange($event)"
                                            (blur)="contractPremiseOnBlur('contract')">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="ContractName" size="40" maxlength="40"
                                            formControlName="ContractName" class="form-control">
                                    </div>
                                    <div class="col2">
                                        <icabs-ellipsis [disabled]="this['uiForm'].controls['ContractNumber'].disabled"
                                            [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="ellipsisConfig.contract.childConfigParams"
                                            [contentComponent]="ellipsisConfig.contract.component"
                                            (ellipsisData)="fetchEllipsisData($event, 'contract', true)">
                                        </icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-4">
                                    <label class="col24" for="PremiseNumber">{{ 'Premises Number' | translate }}<span
                                            class="mandatory"
                                            *ngIf="this['pageParams']['isPremiseNumberRequired']">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeInteger type="text" id="PremiseNumber" size="9" maxlength="5"
                                            formControlName="PremiseNumber" class="form-control"
                                            (change)="contractPremiseProductOnChange($event)"
                                            (blur)="contractPremiseOnBlur('premise')">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="PremiseName" size="40" maxlength="40"
                                            formControlName="PremiseName" class="form-control">
                                    </div>
                                    <div class="col2">
                                        <icabs-ellipsis [disabled]="this['uiForm'].controls['PremiseNumber'].disabled"
                                            [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="ellipsisConfig.premise.childConfigParams"
                                            [contentComponent]="ellipsisConfig.premise.component"
                                            (ellipsisData)="fetchEllipsisData($event, 'premise', true)">
                                        </icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-4">
                                    <label class="col24" for="ProductCode">{{ 'Product Code' | translate }}<span
                                            class="mandatory"
                                            *ngIf="this['pageParams']['isProductCodeRequired']">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="ProductCode" size="9" maxlength="6"
                                            formControlName="ProductCode" class="form-control"
                                            (change)="contractPremiseProductOnChange($event, 'ProductCode')"
                                            (blur)="productOnBlur()">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="ProductDesc" size="40" maxlength="40"
                                            formControlName="ProductDesc" class="form-control">
                                    </div>
                                    <div class="col2">
                                        <icabs-ellipsis #serviceCoverSearch
                                            [disabled]="this['uiForm'].controls['ProductCode'].disabled"
                                            [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="ellipsisConfig.product.childConfigParams"
                                            [contentComponent]="ellipsisConfig.product.component"
                                            (modalHidden)="onServiceCoverModalClose()"
                                            (ellipsisData)="fetchEllipsisData($event, 'product', true)">
                                        </icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isItemDescriptionVisible']">
                                <div class="col-sm-4">
                                    <label class="col24"
                                        for="ItemDescription">{{ 'Item Description' | translate }}</label>
                                    <input eTypeText type="text" id="ItemDescription" size="20" maxlength="50"
                                        formControlName="ItemDescription" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Visit Type' | translate }}<span class="mandatory"
                                            *ngIf="this['pageParams']['isVisitTypeCodeRequired']">*</span></label>
                                    <div class="col22">
                                        <icabs-visit-type-search #VisitTypeSearch id="VisitTypeCode"
                                            [isRequired]="dropdownConfig.visitType.isRequired"
                                            [triggerValidate]="dropdownConfig.visitType.triggerValidate"
                                            [active]="dropdownConfig.visitType.active"
                                            [inputParams]="dropdownConfig.visitType.inputParams"
                                            (receivedVisitType)="visitTypeSelectedValue($event)">
                                        </icabs-visit-type-search>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt20" *ngIf="this['pageParams']['isCmdCompReplacementVisible']">
                                <div class="col-sm-3">
                                    <input type="button" id="cmdCompReplacement" class="btn btn-additional"
                                        (click)="cmdCompReplacementOnClick()"
                                        value="{{ 'Create Component Replacement' | translate }}">
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isComponentRemovedVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="ProductComponentRemoved">{{ 'Component Removed' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeText type="text" id="ProductComponentRemoved" size="9" maxlength="6"
                                            formControlName="ProductComponentRemoved" class="form-control">
                                    </div>
                                    <div class="col16">
                                        <input eTypeText type="text" id="ProductComponentRemDesc" size="40"
                                            maxlength="40" formControlName="ProductComponentRemDesc"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isComponentInstalledVisible']">
                                <div class="col-sm-6">
                                    <label class="col24"
                                        for="ProductComponentCode">{{ 'Component Installed' | translate }}</label>
                                    <div class="col5 pr5">
                                        <input eTypeText type="text" id="ProductComponentCode" size="9" maxlength="6"
                                            formControlName="ProductComponentCode" class="form-control"
                                            (change)="productComponentCodeOnChange()">
                                    </div>
                                    <div class="col2">
                                        <icabs-ellipsis
                                            [disabled]="this['uiForm'].controls['ProductComponentCode'].disabled"
                                            [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="ellipsisConfig.productComponent.childConfigParams"
                                            [contentComponent]="ellipsisConfig.productComponent.component"
                                            (ellipsisData)="fetchEllipsisData($event, 'productComponent', true)">
                                        </icabs-ellipsis>
                                    </div>
                                    <div class="col5 pr5">
                                        <input eTypeCode type="text" id="AlternateProductCode" size="9" maxlength="20"
                                            formControlName="AlternateProductCode" class="form-control"
                                            (change)="alternateProductCodeOnChange()">
                                    </div>
                                    <div class="col2">
                                        <icabs-ellipsis
                                            [disabled]="this['uiForm'].controls['AlternateProductCode'].disabled"
                                            [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="ellipsisConfig.alternateProduct.childConfigParams"
                                            [contentComponent]="ellipsisConfig.alternateProduct.component"
                                            (ellipsisData)="fetchEllipsisData($event, 'alternateProduct', true)">
                                        </icabs-ellipsis>
                                    </div>
                                    <div class="col10">
                                        <input eTypeText [icabsDirFocus]="setCompDescFocus" type="text"
                                            id="ProductComponentDesc" size="40" maxlength="40"
                                            formControlName="ProductComponentDesc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="ServicedQuantity">{{ 'Serviced Quantity' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeInteger type="text" id="ServicedQuantity" size="9" maxlength="10"
                                            formControlName="ServicedQuantity" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="PlanVisitNumber">{{ 'Plan Visit Number' | translate }}<span
                                            class="mandatory"
                                            *ngIf="this['pageParams']['isPlanVisitNumberRequired']">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeInteger type="text" id="PlanVisitNumber" size="9" maxlength="5"
                                            formControlName="PlanVisitNumber" class="form-control">
                                    </div>
                                    <div class="col2">
                                        <icabs-ellipsis [disabled]="this['uiForm'].controls['PlanVisitNumber'].disabled"
                                            [showCloseButton]="true" [showHeader]="true"
                                            [childConfigParams]="ellipsisConfig.planVisit.childConfigParams"
                                            [contentComponent]="ellipsisConfig.planVisit.component"
                                            (ellipsisData)="fetchEllipsisData($event, 'planVisit', true)">
                                        </icabs-ellipsis>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isDeliveryVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="DeliveryNoteNumber">{{ 'Delivery Note Number' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="DeliveryNoteNumber" size="10" maxlength="10"
                                            formControlName="DeliveryNoteNumber" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isActualTimesVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="ActualStartTime">{{ 'Actual Start Time' | translate }}<span
                                            class="mandatory"
                                            *ngIf="this['pageParams']['isActualTimeRequired']">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeTime type="text" id="ActualStartTime" size="9" maxlength="6"
                                            formControlName="ActualStartTime" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col24" for="ActualEndTime">{{ 'End Time' | translate }}<span
                                            class="mandatory"
                                            *ngIf="this['pageParams']['isActualTimeRequired']">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeTime type="text" id="ActualEndTime" size="9" maxlength="6"
                                            formControlName="ActualEndTime" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="KeyedStartTime">{{ lblKeyedStartTime | translate }}<span
                                            class="mandatory">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeTime type="text" id="KeyedStartTime" size="9" maxlength="6"
                                            formControlName="KeyedStartTime" class="form-control"
                                            (change)="keyedTimeOnChange()">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col24" for="KeyedEndTime">{{ 'End Time' | translate }}<span
                                            class="mandatory">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeTime type="text" id="KeyedEndTime" size="9" maxlength="6"
                                            formControlName="KeyedEndTime" class="form-control"
                                            (change)="keyedTimeOnChange()">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="StandardDuration">{{ 'Standard Duration' | translate }}<span
                                            class="mandatory">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeTime type="text" id="StandardDuration" size="6" maxlength="6"
                                            formControlName="StandardDuration" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OvertimeDuration">{{ 'Overtime Duration' | translate }}<span
                                            class="mandatory">*</span></label>
                                    <div class="col8 pr5">
                                        <input eTypeTime type="text" id="OvertimeDuration" size="6" maxlength="6"
                                            formControlName="OvertimeDuration" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isStartMileageVisible']">
                                <div class="col-sm-3">
                                    <label class="col24" for="StartMileage">{{ 'Mileage' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeInteger type="text" id="StartMileage" size="6" maxlength="6"
                                            formControlName="StartMileage" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--2nd tab-->
                        <div #SecondTabPane class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab2.active}">
                            <hr class="mt15 mb15">
                            <div class="row mt2" *ngIf="this['pageParams']['isManualVisitReasonVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="ManualVisitReasonCode">{{ 'Manual Visit Reason' | translate }}</label>
                                    <div class="col22 pr5">
                                        <icabs-common-dropdown [inputParams]="dropdownConfig.manualVisitReason.params"
                                            [isRequired]="dropdownConfig.manualVisitReason.isRequired"
                                            [isDisabled]="dropdownConfig.manualVisitReason.isDisabled"
                                            [isActive]="dropdownConfig.manualVisitReason.active"
                                            [displayFields]="dropdownConfig.manualVisitReason.displayFields"
                                            (onDataReceived)="onManualVisitDataReceived($event)">
                                        </icabs-common-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isNoPremiseVisitVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="NoPremiseVisitReasonCode">{{ 'No Premise Visit Reason' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="NoPremiseVisitReasonCode" size="9"
                                            maxlength="6" formControlName="NoPremiseVisitReasonCode"
                                            class="form-control">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="NoPremiseVisitReasonDesc" size="40"
                                            maxlength="40" formControlName="NoPremiseVisitReasonDesc"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isNoPremiseVisitVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="NoPremiseVisitManualCode">{{ 'No Premise Visit Manual' | translate }}</label>
                                    <div class="col22 pr5">
                                        <icabs-common-dropdown [inputParams]="dropdownConfig.noPremiseManual.params"
                                            [isRequired]="dropdownConfig.noPremiseManual.isRequired"
                                            [isDisabled]="dropdownConfig.noPremiseManual.isDisabled"
                                            [isActive]="dropdownConfig.noPremiseManual.active"
                                            [displayFields]="dropdownConfig.noPremiseManual.displayFields"
                                            (onDataReceived)="onPremiseManualDataReceived($event)">
                                        </icabs-common-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isNoServiceVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="NoServiceReasonCode">{{ 'No Service Reason' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="NoServiceReasonCode" size="9" maxlength="6"
                                            formControlName="NoServiceReasonCode" class="form-control">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="NoServiceReasonDesc" size="40" maxlength="40"
                                            formControlName="NoServiceReasonDesc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isNoServiceVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="NoServiceManualCode">{{ 'No Service Manual' | translate }}</label>
                                    <div class="col22 pr5">
                                        <icabs-common-dropdown [inputParams]="dropdownConfig.noServiceManual.params"
                                            [isRequired]="dropdownConfig.noServiceManual.isRequired"
                                            [isDisabled]="dropdownConfig.noServiceManual.isDisabled"
                                            [isActive]="dropdownConfig.noServiceManual.active"
                                            [displayFields]="dropdownConfig.noServiceManual.displayFields"
                                            (onDataReceived)="onServiceManualDataReceived($event)">
                                        </icabs-common-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isNoBarcodeVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="NoBarcodeReasonCode">{{ 'No Barcode Reason' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="NoBarcodeReasonCode" size="9" maxlength="6"
                                            formControlName="NoBarcodeReasonCode" class="form-control">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="NoBarcodeReasonDesc" size="40" maxlength="40"
                                            formControlName="NoBarcodeReasonDesc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isNoBarcodeVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="NoBarcodeManualCode">{{ 'No Barcode Manual' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCode type="text" id="NoBarcodeManualCode" size="9" maxlength="6"
                                            formControlName="NoBarcodeManualCode" class="form-control">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="NoBarcodeManualDesc" size="40" maxlength="40"
                                            formControlName="NoBarcodeManualDesc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isReasonVisible']">
                                <div class="col-sm-3">
                                    <label class="col24" for="ReasonNumber">{{ 'Reason Number' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeInteger type="text" id="ReasonNumber" size="9" maxlength="6"
                                            formControlName="ReasonNumber" class="form-control">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="ReasonDesc" size="40" maxlength="40"
                                            formControlName="ReasonDesc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'No Signature Manual Number' | translate }}</label>
                                    <div class="col22 pr5">
                                        <icabs-common-dropdown [inputParams]="dropdownConfig.noSignatureManual.params"
                                            [isRequired]="dropdownConfig.noSignatureManual.isRequired"
                                            [isActive]="dropdownConfig.noSignatureManual.active"
                                            [isDisabled]="dropdownConfig.noSignatureManual.isDisabled"
                                            [displayFields]="dropdownConfig.noSignatureManual.displayFields"
                                            (onDataReceived)="onNoSignatureManualDataRecieved($event)">
                                        </icabs-common-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isSignatureVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="PremiseContactSignature">{{ 'Premises Contact Signature' | translate }}</label>
                                    <div class="col22 pr5">
                                        <img *ngIf="this['pageParams']['isPremiseContactSignatureVisible']"
                                            id="PremiseContactSignature"
                                            [src]="uiForm.controls.PremiseContactSignatureURL?.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2" *ngIf="this['pageParams']['isPremiseContactVisible']">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="PremiseContactName">{{ 'Contact Name' | translate }}</label>
                                    <input *ngIf="this['pageParams']['isPremiseContactNameVisible']" type="text"
                                        id="PremiseContactName" size="40" maxlength="40"
                                        formControlName="PremiseContactName" class="form-control">
                                    <img *ngIf="this['pageParams']['isPremiseContactPrintedNameVisible']"
                                        id="PremiseContactPrintedName"
                                        [src]="uiForm.controls.PremiseContactPrintedNameURL?.value">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="VisitNote">{{ 'Visit Notes' | translate }}</label>
                                    <textarea eTypeText id="VisitNote" formControlName="VisitNote" class="form-control"
                                        type="text" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--3rd tab-->
                        <div class="tab-pane" [ngClass]="{'active': uiDisplay.tab.tab3.active}">
                            <hr class="mt15 mb15">
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardPremiseContactName">{{ 'Outcard Name' | translate }}</label>
                                    <input eTypeText type="text" id="OutcardPremiseContactName" size="40" maxlength="40"
                                        formControlName="OutcardPremiseContactName" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardAddressLine1">{{ 'Outcard Address' | translate }}</label>
                                    <input eTypeText type="text" id="OutcardAddressLine1" size="40" maxlength="40"
                                        formControlName="OutcardAddressLine1" class="form-control">
                                </div>
                            </div>
                            <div class="row mt20">
                                <div class="col-sm-3">
                                    <input eTypeText type="text" id="OutcardAddressLine2" size="40" maxlength="40"
                                        formControlName="OutcardAddressLine2" class="form-control">
                                </div>
                            </div>
                            <div class="row mt20">
                                <div class="col-sm-3">
                                    <input eTypeText type="text" id="OutcardAddressLine3" size="40" maxlength="40"
                                        formControlName="OutcardAddressLine3" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardAddressLine4">{{ 'Outcard City' | translate }}</label>
                                    <input eTypeText type="text" id="OutcardAddressLine4" size="40" maxlength="40"
                                        formControlName="OutcardAddressLine4" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardAddressLine5">{{ 'Outcard County' | translate }}</label>
                                    <input eTypeText type="text" id="OutcardAddressLine5" size="40" maxlength="40"
                                        formControlName="OutcardAddressLine5" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardPremisePostcode">{{ 'Outcard PostCode' | translate }}</label>
                                    <input eTypeText type="text" id="OutcardPremisePostcode" size="40" maxlength="40"
                                        formControlName="OutcardPremisePostcode" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="OutcardPhone">{{ 'Outcard Phone' | translate }}</label>
                                    <input eTypeText type="text" id="OutcardPhone" size="40" maxlength="40"
                                        formControlName="OutcardPhone" class="form-control">
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardServiceTypeCode">{{ 'Outcard Service Type' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeText type="text" id="OutcardServiceTypeCode" size="10"
                                            maxlength="10" formControlName="OutcardServiceTypeCode"
                                            class="form-control">
                                    </div>
                                    <div class="col14 pr5">
                                        <input eTypeText type="text" id="ServiceTypeDesc" size="40" maxlength="40"
                                            formControlName="ServiceTypeDesc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24" for="OutcardPrice">{{ 'Outcard Price' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeCurrency type="text" id="OutcardPrice" size="10" maxlength="10"
                                            formControlName="OutcardPrice" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24"
                                        for="OutcardVisitFrequency">{{ 'Outcard Visit Frequency' | translate }}</label>
                                    <div class="col8 pr5">
                                        <input eTypeInteger type="text" id="OutcardVisitFrequency" size="10"
                                            maxlength="10" formControlName="OutcardVisitFrequency" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row mt15">
            <div class="col-sm-6">
                <input type="button" id="dummy" class="btn dummy" value="" (focus)="focusSave($event)">
                <input #Save type="submit" id="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}"
                    (click)="onSaveClick()">
                <input type="button" id="cancel" class="btn btn-secondary mr5" value="{{'Cancel' | translate}}"
                    (click)="onCancelClick()">
                <input type="button" class="btn btn-secondary" value="{{'Delete' | translate}}"
                    (click)="onDeleteClick()">
            </div>
            <div class="col-sm-3 pull-right">
                <select [disabled]="this['pageParams']['isMenuDisabled']" id="menu" class="form-control"
                    (change)="onOptionChange($event.target.value)">
                    <option value="Options" *ngFor="let option of menuArray" [value]="option.value">
                        {{ option.text | translate }}</option>
                </select>
            </div>
        </div>
    </footer>

    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>