<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="">{{'Expense Code'| translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ExpenseCode" formControlName="ExpenseCode" size="10" [attr.maxlength]="7" class="form-control" placeholder="">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ExpenseDesc" formControlName="ExpenseDesc" size="40" [attr.maxlength]="40" class="form-control" placeholder="">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #expenseCodeEllipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent" [childConfigParams]="inputParamsExpenseCode"
                            [showHeader]="true" [showCloseButton]="true" (ellipsisData)="onExpenseCodeReceived($event)" [autoOpen]="isAutoOpen"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt5">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="{{'Save' | translate}}" (click)="promptModalForSaveData()" [disabled]="this['formMode']!==this['c_s_MODE_ADD'] && !this['uiForm'].dirty">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="cancelExpenseCode()">
                    <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="promptModalForDeleteData()" *ngIf="this['formMode']===this['c_s_MODE_UPDATE']">
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-prompt-modal #promptModalForSave="child" [showHeader]="true" [showCloseButton]="true" [content]="promptContentSave"
    [config]="modalConfig" (saveEmit)="saveExpenseCode()"></icabs-prompt-modal>
<icabs-prompt-modal #promptModalForDelete="child" [showHeader]="true" [showCloseButton]="true" [content]="promptContentDelete"
    [config]="modalConfig" (saveEmit)="deleteExpenseCode()"></icabs-prompt-modal>
<icabs-modal #messageModal="child" [showHeader]="true">
</icabs-modal>
<icabs-modal #errorModal="child" [showHeader]="true">
</icabs-modal>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>