<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ 'Waste Consignment Note Range Maintenance' | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="RangeNumber">{{'Range Number'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="RangeNumber" formControlName="RangeNumber" size="9"
                            maxlength="9">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="RangeActive" formControlName="RangeActive">
                        <label for="RangeActive">{{'Range Active'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24"
                        for="RegulatoryAuthorityNumber">{{'Regulatory Authority Number'|translate}}<span
                            *ngIf="this['pageParams']['fieldRequired']['RegulatoryAuthorityNumber']"
                            class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="RegulatoryAuthorityNumber"
                            formControlName="RegulatoryAuthorityNumber" size="7" maxlength="7" eTypeInteger
                            (change)="regulatoryAuthorityOnChange();">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="RegulatoryAuthorityName"
                            formControlName="RegulatoryAuthorityName" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                            <icabs-ellipsis-generic [showCloseButton]="true" [showHeader]="true"
                                [autoOpen]="ellipsis['regulatoryAuthorityNumber'].autoOpen"
                                [ellipsisTitle]="ellipsis['regulatoryAuthorityNumber'].ellipsisTitle"
                                [ellipsisColumn]="ellipsis['regulatoryAuthorityNumber'].tableColumn"
                                [configParams]="ellipsis['regulatoryAuthorityNumber'].configParams" [disabled]="ellipsis['regulatoryAuthorityNumber'].disable"
                                (ellipsisData)="regulatoryAuthorityOnDataRecieved($event)"
                                [httpConfig]="ellipsis['regulatoryAuthorityNumber'].httpConfig">
                            </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24"
                        for="WasteConsignmentNoteRangeType">{{'Waste Consignment Note Range Type'|translate}}<span
                            class="mandatory"
                            *ngIf="this['pageParams']['fieldRequired']['WasteConsignmentNoteRangeType']">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="WasteConsignmentNoteRangeType"
                            formControlName="WasteConsignmentNoteRangeType" size="7" maxlength="2" eTypeCode
                            (change)="wasteConsignmentNoteOnChange();">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ConsignmentNoteRangeTypeDesc"
                            formControlName="ConsignmentNoteRangeTypeDesc" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                            <icabs-ellipsis-generic [autoOpen]="ellipsis['inputParamsWasteConsignmentNoteRangeSearchConfig'].autoOpen"
                                [showCloseButton]="true" [showHeader]="true"
                                [ellipsisTitle]="ellipsis['inputParamsWasteConsignmentNoteRangeSearchConfig'].ellipsisTitle"
                                [ellipsisColumn]="ellipsis['inputParamsWasteConsignmentNoteRangeSearchConfig'].tableColumn"
                                [configParams]="ellipsis['inputParamsWasteConsignmentNoteRangeSearchConfig'].configParams"
                                [disabled]="ellipsis['inputParamsWasteConsignmentNoteRangeSearchConfig'].disable"
                                (ellipsisData)="wasteConsignmentNoteOnDataRecieved($event)"
                                [httpConfig]="ellipsis['inputParamsWasteConsignmentNoteRangeSearchConfig'].httpConfig">
                            </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col24" id="branchSearch">
                        <icabs-branchsearch [inputParams]="dropdown.branchSearch.inputParams"
                            (receivedbranchsearch)="branchOnDataRecieved($event)"
                            [active]="dropdown.branchSearch.active" [isDisabled]="dropdown.branchSearch.isDisabled"
                            [isRequired]="dropdown.branchSearch.isRequired"
                            [isTriggerValidate]="dropdown.branchSearch.isTriggerValidate"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="WasteTransferTypeCode">{{'Waste Transfer Type'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="WasteTransferTypeCode"
                            formControlName="WasteTransferTypeCode" size="7" maxlength="2" eTypeCode
                            (change)="wasteTransferTypeOnChange();">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="WasteTransferTypeDesc"
                            formControlName="WasteTransferTypeDesc" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #WasteTransferTypeSearchEllipsis
                            [autoOpen]="WasteTransferTypeEllipsisConfig.autoOpen" [showCloseButton]="true"
                            [showHeader]="true" [ellipsisTitle]="WasteTransferTypeEllipsisConfig.ellipsisTitle"
                            [ellipsisColumn]="WasteTransferTypeEllipsisConfig.tableColumn"
                            [configParams]="WasteTransferTypeEllipsisConfig.configParams"
                            [disabled]="WasteTransferTypeEllipsisConfig.disable"
                            (ellipsisData)="wasteTransferTypeOnDataRecieved($event)"
                            [httpConfig]="WasteTransferTypeSearchhttpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RangePrefix">{{'Range Prefix'|translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="RangePrefix" formControlName="RangePrefix" size="9"
                            maxlength="40" eTypeTextFree>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RangeStart">{{'Range Start'|translate}}<span class="mandatory"
                            *ngIf="this['pageParams']['fieldRequired']['RangeStart']">*</span></label>
                    <div class="col12 pr5">
                        <input type="text" class="form-control" id="RangeStart" formControlName="RangeStart" size="10"
                            maxlength="10" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RangeEnd">{{'Range End'|translate}}<span class="mandatory"
                            *ngIf="this['pageParams']['fieldRequired']['RangeEnd']">*</span></label>
                    <div class="col12 pr5">
                        <input type="text" class="form-control" id="RangeEnd" formControlName="RangeEnd" size="10"
                            maxlength="10" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RangeExpiryDate">{{'Range Expiry Date'|translate}}</label>
                    <div class="col12 pr5">
                        <icabs-datepicker [isDirectiveBased]="false" id="RangeExpiryDate"
                            formControlName="RangeExpiryDate" (onChange)="rangeExpiryDateOnChange($event)">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RangeNextNumber">{{'Range Next Number'|translate}}<span class="mandatory"
                            *ngIf="this['pageParams']['fieldRequired']['RangeNextNumber']">*</span></label>
                    <div class="col12 pr5">
                        <input type="text" class="form-control" id="RangeNextNumber" formControlName="RangeNextNumber"
                            size="10" maxlength="9" eTypeInteger>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" formControlName="Add" class="btn btn-additional mr10"
                        *ngIf="this['formMode'] === this['c_s_MODE_UPDATE'] && this['pageParams']['functionAdd']"
                        value="{{'Add' | translate}}" (click)="addOnClick();">
                    <input type="button" formControlName="Save" class="btn btn-primary mr10"
                        value="{{'Save' | translate}}" (click)="saveOnClick();">
                    <input type="button" formControlName="Cancel" class="btn btn-secondary mr10"
                        value="{{'Cancel' | translate}}" (click)="cancelOnClick();">
                    <input type="button" formControlName="Delete" class="btn btn-additional"
                        *ngIf="this['formMode'] === this['c_s_MODE_UPDATE']" value="{{'Delete' | translate}}"
                        (click)="deleteOnClick();">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>