<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'System Visit Type Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="SystemVisitTypeCode" formControlName="SystemVisitTypeCode" size="2" maxlength="2"
                            (change)="onSystemVisitTypeCodeChange()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="SystemVisitTypeDesc" formControlName="SystemVisitTypeDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic [autoOpen]="systemVisitTypeSearchConfig.autoOpen"
                            [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="systemVisitTypeSearchConfig.ellipsisTitle"
                            [ellipsisColumn]="systemVisitTypeSearchConfig.tableColumn"
                            [configParams]="systemVisitTypeSearchConfig.configParams" [disabled]="this['formMode'] === this['c_s_MODE_ADD']"
                            (ellipsisData)="onSystemVisitTypeDataReceived($event)" [httpConfig]="systemVisitTypeSearchConfig.httpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Business Visit Type Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-visit-type-search #visitTypeSearch id="VisitTypeCode" [uiFormGroup]="this['uiForm']" [controlName]="'VisitTypeCode'"
                            [isRequired]="visitTypeConfig.isRequired" [triggerValidate]="visitTypeConfig.isTriggerValidate" [isDisabled]="this['formMode'] === this['c_s_MODE_SELECT']"
                            [active]="visitTypeConfig.active" [inputParams]="visitTypeConfig.inputParams" (receivedVisitType)="onVisitTypeChange($event)"></icabs-visit-type-search>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="onSave()">
                    <input type="button" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="onCancel()">
                    <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="onDelete()" [disabled]="this['formMode'] === this['c_s_MODE_ADD']">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>