<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area Code' | translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input eTypeCode (change)="fetchBranchServieAreaDescription()" id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode"
                            type="text" size="7" maxlength="4">
                    </div>
                    <div class="col16 pr5">
                        <input eTypeText id="BranchServiceAreaDesc" class="form-control" formControlName="BranchServiceAreaDesc" type="text" size="40"
                            maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.branchServiceArea.isDisabled" [showCloseButton]="ellipsisConfig.branchServiceArea.isShowCloseButton"
                            [showHeader]="ellipsisConfig.branchServiceArea.isShowHeader" [childConfigParams]="ellipsisConfig.branchServiceArea"
                            [contentComponent]="ellipsisConfig.branchServiceArea.component" (ellipsisData)="onServiceAreaReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="EmployeeCode">{{ 'Employee Code' | translate }}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input eTypeCode (change)="fetchEmployeeSurname()" id="EmployeeCode" class="form-control" formControlName="EmployeeCode"
                            type="text" size="6" maxlength="6">
                    </div>
                    <div class="col16 pr5">
                        <input eTypeText id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.employeeCode.disabled" [showCloseButton]="ellipsisConfig.employeeCode.showCloseButton"
                            [showHeader]="ellipsisConfig.employeeCode.showHeader" [childConfigParams]="ellipsisConfig.employeeCode"
                            [contentComponent]="ellipsisConfig.employeeCode.component" (ellipsisData)="onEmployeeCodeReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="isFieldNotHidden.trTechRetentionInd">
                <div class="col-sm-4">
                    <div class="col24">
                        <input eTypeCheckBox type="checkbox" class="form-control" id="TechRetentionInd" formControlName="TechRetentionInd">
                        <label class="col24" for="TechRetentionInd">{{'Retain Technicians'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceAreaNoOfCalls">{{ 'Number Of Premises' | translate}}</label>
                    <div class="col6">
                        <input eTypeInteger id="ServiceAreaNoOfCalls" class="form-control" formControlName="ServiceAreaNoOfCalls" type="text" size="6"
                            maxlength="4">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceAreaNoOfExchanges">{{ 'Number Of Units' | translate}}</label>
                    <div class="col6">
                        <input eTypeInteger id="ServiceAreaNoOfExchanges" class="form-control" formControlName="ServiceAreaNoOfExchanges" type="text"
                            size="6" maxlength="4">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isFieldNotHidden.serviceAreaWED">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceAreaWED">{{ 'Qty of WEDS' | translate}}</label>
                    <div class="col6">
                        <input eTypeDecimal1 id="ServiceAreaWED" class="form-control" formControlName="ServiceAreaWED" type="text" size="6" maxlength="4">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="DepotNumber">{{ 'Depot Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input eTypeInteger id="DepotNumber" class="form-control" formControlName="DepotNumber" type="text" size="2" maxlength="2">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #businessOriginCodeEllipsis
                            [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="ellipsisConfig.depotNumber.ellipsisTitle"
                            [ellipsisColumn]="ellipsisConfig.depotNumber.tableColumn"
                            [configParams]="ellipsisConfig.depotNumber.configParams" [disabled]="ellipsisConfig.depotNumber.disable"
                            (ellipsisData)="onDepotSearchReceived($event)" [httpConfig]="ellipsisConfig.depotNumber.httpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input eTypeCheckBox type="checkbox" class="form-control" id="LiveServiceArea" formControlName="LiveServiceArea">
                        <label class="col24" for="LiveServiceArea">{{'Live Service Area'|translate}}<span class="mandatory">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input eTypeCheckBox type="checkbox" class="form-control" id="MultiBranchArea" formControlName="MultiBranchArea">
                        <label class="col24" for="MultiBranchArea">{{'Multi Branch Service Area'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="isFieldNotHidden.weeklySequenceNumberRepeat">
                <div class="col-sm-4">
                    <label class="col24" for="WeeklySequenceNumberRepeat">{{ 'Sequence Number Repeat' | translate}}</label>
                    <div class="col6 pr5">
                        <input eTypeInteger id="WeeklySequenceNumberRepeat" class="form-control" formControlName="WeeklySequenceNumberRepeat" type="text"
                            size="2">
                    </div>
                    <div class="col6">
                        <label class="col24">{{ 'Weeks' | translate}}</label>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input *ngIf="isFieldNotHidden.addButton" [disabled]="isFieldDisable.addButton" type="button" (click)="onBranchServiceAreaAdd()"
                    class="btn btn-additional" value="{{'Add' | translate}}">
                <input [disabled]="isFieldDisable.saveButton" type="button" (click)="saveBranchServiceArea()" class="btn btn-primary mr5"
                    value="{{'Save' | translate}}">
                <input [disabled]="isFieldDisable.cancelButton" (click)="onBranchServiceAreaCancel()" type="button" class="btn btn-secondary mr5"
                    value="{{'Cancel' | translate}}">
                <input *ngIf="isFieldNotHidden.deleteButton" [disabled]="isFieldDisable.deleteButton" type="button" (click)="deleteBranchServiceArea()"
                    class="btn btn-additional" value="{{'Delete' | translate}}">
            </div>
            <div class="col-sm-offset-4 col-sm-2">
                <div class="col24">
                    <select class="form-control" [disabled]="isFieldDisable.menuOptions" id="menu" (change)="optionBranchServiceAreaChange($event.target.value)">
                        <option selected value="">{{ 'Options' | translate}}</option>
                        <option value="Postcode">{{ 'Postcode' | translate}}</option>
                        <option value="ProductServiceGroup">{{ 'Product Group' | translate}}</option>
                        <option value="Employees">{{ 'Employees' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>