<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt2" id="grdInvoicePrintHeader">
                <div class="col-sm-3">
                    <label class="col24" for="CompanyCode">{{ 'Company Code' | translate }}</label>
                    <div class="col8 pr5">
                        <input id="CompanyCode" formControlName="CompanyCode" class="form-control" type="text" [attr.maxlength]="2" size="4" eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="CompanyDesc" formControlName="CompanyDesc" class="form-control padding-zero" type="text" [attr.maxlength]="40"
                            size="40" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="CompanyInvoiceNumber">{{ 'Invoice Number' | translate }}</label>
                    <div class="col8">
                        <input id="CompanyInvoiceNumber" formControlName="CompanyInvoiceNumber" class="form-control" type="text" [attr.maxlength]="2"
                            size="4" eTypeInteger>
                    </div>
                    <div class="hidden">
                        <input id="InvoiceNumber" formControlName="InvoiceNumber" class="form-control" type="text" size="10" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="InvoicePrintLineNumber">{{ 'Invoice Print Line Number' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8">
                        <input id="InvoicePrintLineNumber" formControlName="InvoicePrintLineNumber" class="form-control" type="text" [attr.maxlength]="2"
                            size="4" eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24" for="InvoicePrintLineDesc">{{ 'Invoice Print Line Description' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <textarea id="InvoicePrintLineDesc" formControlName="InvoicePrintLineDesc" class="form-control" type="text" size="80" eTypeText></textarea>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
        <footer class="screen-footer">
            <div class="row mt5">
                <div class="col-sm-12">
                    <input type="submit" (click)="onClickPostCode()" class="btn btn-primary" value="{{ 'Save' | translate }}">
                    <input type="button" (click)="cancelPage()" class="btn btn-secondary" value="{{ 'Cancel' | translate }}">
                </div>
            </div>
        </footer>
    </form>
    <icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [title]="promptTitle" (saveEmit)="savePost()"></icabs-prompt-modal>
    <icabs-modal #messageModal [(showHeader)]="showHeader"></icabs-modal>
</section>