<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'From Service Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="5" [attr.maxlength]="5"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="BranchServiceAreaDesc" class="form-control" formControlName="BranchServiceAreaDesc" type="text" size="40" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCodeTo">{{ 'To Service Area' | translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCodeTo" class="form-control" formControlName="BranchServiceAreaCodeTo" type="text" size="5" [attr.maxlength]="5"
                            eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="BranchServiceAreaDescTo" class="form-control" formControlName="BranchServiceAreaDescTo" type="text" size="40"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Town">{{ 'Town' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="Town" class="form-control" formControlName="Town" type="text" size="15" [attr.maxlength]="15" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="State">{{ 'State' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="State" class="form-control" formControlName="State" type="text" size="15" [attr.maxlength]="15" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Postcode">{{ 'Postcode' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="Postcode" class="form-control" formControlName="Postcode" type="text" size="15" [attr.maxlength]="15" eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ProductServiceGroupCode">{{ 'Product Group' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ProductServiceGroupCode" class="form-control" formControlName="ProductServiceGroupCode" type="text" size="2" [attr.maxlength]="2"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="ProductServiceGroupDesc" class="form-control" formControlName="ProductServiceGroupDesc" type="text" size="30"
                            [attr.maxlength]="30" eTypeText>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" (click)="onClickSave()">
                <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="onClickCancel()">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>