<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24" for="CanPlanVisits">{{ cancelVisitLabel | translate}}</label>
                    <div class="col8 pr5">
                        <input id="CanPlanVisits" class="form-control" formControlName="CanPlanVisits" type="text" size="5" maxlength="5">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isVisible.isReason">
                <div class="col-sm-3">
                    <div class="col24">
                        <label class="col24" for="SelReason">{{ 'Reason' | translate}}</label>
                        <icabs-dropdown-static #ddReasonCode [inputData]="reasonCodeDropdown" (change)="onReasonCodeChange()">
                        </icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isVisible.isPassword">
                <div class="col-sm-3">
                    <label class="col24" for="Password">{{ 'Password' | translate}}</label>
                    <div class="col8">
                        <input id="Password" class="form-control" formControlName="Password" type="Password" size="16" maxlength="30">
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isVisible.isServiceArea">
                <div class="col-sm-3">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Place In Service Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="10" maxlength="10"
                            (change)="onBranchServiceAreaChange()" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="20" maxlength="20">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsisConfig.branchServiceArea.isDisabled" [showCloseButton]="ellipsisConfig.branchServiceArea.isShowCloseButton"
                            [showHeader]="ellipsisConfig.branchServiceArea.isShowHeader" [childConfigParams]="ellipsisConfig.branchServiceArea"
                            [contentComponent]="ellipsisConfig.branchServiceArea.component" (ellipsisData)="onServiceAreaEllipsisDataReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="isVisible.isResetCancelledPlans">
                <div class="col-sm-3">
                    <input type="checkbox" class="form-control" id="ResetPlansToInPlanning" formControlName="ResetPlansToInPlanning">
                    <label class="col24" for="ResetPlansToInPlanning">{{'Reset Planned Visits To "In Planning"'|translate}}</label>
                </div>
            </div>
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary mr5" value="{{'Save' | translate}}" (click)="onSave()">
                <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="callParentPage()">
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-prompt-modal #promptModal [showHeader]="true" [title]="promptTitle"
    [content]="promptContent"  (saveEmit)="promptYes()" [optValueYesorNo]="true" [showCloseButton]= "false"  [showCancelBtn] = "false" [disableEscape]="true" >
</icabs-prompt-modal>