<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-5 control-group">
                    <div class="row mt10">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'Service + Planning Export Request' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Business' | translate }}</label>
                            <div class="col6 pr5">
                                <input type="text" id="BusinessCode" formControlName="BusinessCode" size="6"
                                    maxlength="6" class="form-control">
                            </div>
                            <div class="col18">
                                <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30"
                                    maxlength="30" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Branch'|translate }}</label>
                            <div class="col6 pr5">
                                <input type="text" id="BranchNumber" size="5" maxlength="5" class="form-control"
                                    formControlName="BranchNumber" eTypeText>
                            </div>
                            <div class="col18">
                                <input type="text" id="BranchName" size="30" maxlength="40" class="form-control"
                                    formControlName="BranchName" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <div class="col-sm-6 pl0">
                                <label class="col24">{{ 'Dates From' | translate }}
                                </label>
                                <div class="col24">
                                    <icabs-datepicker id="DateFrom" formControlName="DateFrom"
                                        [isDirectiveBased]="false">
                                    </icabs-datepicker>
                                </div>
                            </div>
                            <div class="col-sm-6 pr0">
                                <label class="col16">{{'To' | translate}}<span class="mandatory">*</span>
                                </label>
                                <div class="col24">
                                    <icabs-datepicker id="DateFrom" formControlName="DateTo" [isDirectiveBased]="false">
                                    </icabs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <input type="submit" id="save" class="btn btn-primary"
                                value="{{ 'Request SPPL Export' | translate }}" (click)="onBtnClick('Export')"
                                [disabled]="isExportDisabled">
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row mt10">
                <div class="col-sm-5 control-group">
                    <div class="row mt10">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'Service + Planning Import Request' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Business' | translate }}</label>
                            <div class="col18">
                                <input type="text" id="BusinessDescImport" formControlName="BusinessDescImport"
                                    size="30" maxlength="30" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <label class="col24">{{ 'Branch'|translate }}</label>
                            <div class="col6 pr5">
                                <input type="text" id="BranchNumberImport" size="5" maxlength="5" class="form-control"
                                    formControlName="BranchNumberImport" eTypeText>
                            </div>
                            <div class="col12">
                                <input type="text" id="BranchNameImport" size="30" maxlength="40" class="form-control"
                                    formControlName="BranchNameImport" eTypeText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-8">
                            <input type="submit" id="save" class="btn btn-primary"
                                value="{{ 'Request SPPL Import' | translate }}" (click)="onBtnClick('Import')"
                                [disabled]="isImportDisabled">

                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
        </section>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>