<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="UserCode">{{ 'UserCode' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['UserCode']">*</span>
                    </label>
                    <div class="col12 pr5">
                        <input id="UserCode" eTypeCode class="form-control" (change)="userCodeOnChange()" formControlName="UserCode" type="text"
                            size="15" [attr.maxlength]="10">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis['riMUserSearch']['autoOpen']" [childConfigParams]="ellipsis['riMUserSearch']['inputParams']"
                            [modalConfig]="modalConfig" [contentComponent]="ellipsis['riMUserSearch']['contentComponent']" (ellipsisData)="riMUserSearchOnDataRecieved($event)"
                            [showHeader]="ellipsis['riMUserSearch']['showHeader']" [disabled]="ellipsis['riMUserSearch']['isEllipsisDisabled']"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="UserName">{{ 'Name' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['UserName']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input #userName id="UserName" *ngIf="this['pageParams'].vSCCapitalFirstLtr" eTypeTextFree class="form-control" formControlName="UserName"
                            type="text" size="20" [attr.maxlength]="20">
                        <input #userName id="UserName" *ngIf="!this['pageParams'].vSCCapitalFirstLtr" eTypeText class="form-control" formControlName="UserName"
                            type="text" size="20" [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LanguageCode">{{ 'Language Code' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['LanguageCode']">*</span>
                    </label>
                    <div class="col12 pr5">
                        <input id="LanguageCode" (change)="languageCodeOnChange()" eTypeCode class="form-control" formControlName="LanguageCode"
                            type="text" size="3" [attr.maxlength]="3">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis['riMGLanguageSearch']['autoOpen']" [childConfigParams]="ellipsis['riMGLanguageSearch']['inputParams']"
                            [modalConfig]="modalConfig" [contentComponent]="ellipsis['riMGLanguageSearch']['contentComponent']"
                            (ellipsisData)="riMGLanguageSearchOnDataRecieved($event)" [showHeader]="ellipsis['riMGLanguageSearch']['showHeader']"
                            [disabled]="ellipsis['riMGLanguageSearch']['isEllipsisDisabled']"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="LanguageDescription">{{ 'Description' | translate}}</label>
                    <div class="col14 pr5">
                        <input id="LanguageDescription" eTypeText class="form-control" formControlName="LanguageDescription" type="text" size="20"
                            [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Email">{{ 'Email Address' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['Email']">*</span>
                    </label>
                    <div class="col24 pr5">
                        <input id="Email" eTypeText class="form-control" formControlName="Email" type="text" size="50" [attr.maxlength]="50">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PhoneNumber">{{ 'Phone Number' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['PhoneNumber']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input id="PhoneNumber" eTypeText class="form-control" formControlName="PhoneNumber" type="text" size="20" [attr.maxlength]="20">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="FaxNumber">{{ 'Fax Number' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['FaxNumber']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input id="FaxNumber" eTypeText class="form-control" formControlName="FaxNumber" type="text" size="20" [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="Password">{{ this['pageParams'].PasswordLabel | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['Password']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input id="Password" eTypeCode class="form-control" formControlName="Password" type="password" size="20" [attr.maxlength]="30"
                            (blur)="passwordOnChange()">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="PasswordlastChangedDate">{{ 'Last Changed' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['PasswordlastChangedDate']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <icabs-datepicker [isDirectiveBased]="false" id="PasswordlastChangedDate" formControlName="PasswordlastChangedDate" (onChange)="passwordLastChangedDateOnChange($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PasswordRetries">{{ 'Password Retries' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['PasswordRetries']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input id="PasswordRetries" eTypeInteger class="form-control" formControlName="PasswordRetries" type="text" size="2" [attr.maxlength]="2">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="DateLastLoggedOn">{{ 'Last Logged On' | translate}}</label>
                    <div class="col14 pr5">
                        <icabs-datepicker [isDirectiveBased]="false" id="DateLastLoggedOn" formControlName="DateLastLoggedOn" (onChange)="dateLastLoggedOnChange($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="LocalDocumentServer">{{ 'Local Document Server' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['LocalDocumentServer']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input id="LocalDocumentServer" eTypeText class="form-control" formControlName="LocalDocumentServer" type="text" size="25"
                            [attr.maxlength]="25">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ReportServer">{{ 'Report Server' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['ReportServer']">*</span>
                    </label>
                    <div class="col14 pr5">
                        <input id="ReportServer" eTypeText class="form-control" formControlName="ReportServer" type="text" size="25" [attr.maxlength]="25">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="UserTypeCode">{{ 'User Type Code' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['UserTypeCode']">*</span>
                    </label>
                    <div class="col12 pr5">
                        <input id="UserTypeCode" (change)="userTypeCodeOnChange()" eTypeText class="form-control" formControlName="UserTypeCode"
                            type="text" size="3" [attr.maxlength]="3">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic [autoOpen]="ellipsis['riMUserTypeSearch'].autoOpen"
                            [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="ellipsis['riMUserTypeSearch'].ellipsisTitle"
                            [ellipsisColumn]="ellipsis['riMUserTypeSearch'].tableColumn"
                            [configParams]="ellipsis['riMUserTypeSearch'].configParams" [disabled]="ellipsis['riMUserTypeSearch'].disable"
                            (ellipsisData)="riMUserTypeSearchOnDataRecieved($event)" [httpConfig]="ellipsis['riMUserTypeSearch'].httpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="UserTypeDescription">{{ 'User Type Description' | translate}}</label>
                    <div class="col14 pr5">
                        <input id="UserTypeDescription" eTypeText class="form-control" formControlName="UserTypeDescription" type="text" size="20"
                            [attr.maxlength]="20">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ApprovalLevelCode">{{ 'Credit Approval Level Codes' | translate}}
                        <span class="mandatory" *ngIf="this['pageParams']['fieldRequired']['ApprovalLevelCode']">*</span>
                    </label>
                    <div class="col14 pr5">

                        <select id="ApprovalLevelCode" class="form-control" formControlName="ApprovalLevelCode">
                            <option *ngFor="let item of creditAppLevelList" [value]="item.ApprovalLevelCode">{{item.ApprovalLevelCode}} - {{item.ApprovalLevelDescription}} - {{item.ApprovalLevelLowerLimit}}
                                - {{item.ApprovalLevelUpperLimit}} - {{item.ApprovalLevelMonthlyLimit}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="SOUserQuoteTypeGroupCode">{{ 'SOQuote Type Group' | translate}}</label>
                    <div class="col14 pr5">
                        <input id="SOUserQuoteTypeGroupCode" eTypeText class="form-control" formControlName="SOUserQuoteTypeGroupCode" type="text"
                            size="4" [attr.maxlength]="4">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="OwnSubmissionsInd" formControlName="OwnSubmissionsInd">
                        <label class="col24" for="OwnSubmissionsInd">{{'Own Submissions Only'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="Inactive" formControlName="Inactive">
                        <label class="col24" for="Inactive">{{'InActive'|translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <h3>
                        {{ 'riModel' | translate }}
                    </h3>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="riDeveloper" formControlName="riDeveloper">
                        <label class="col24" for="riDeveloper">{{'riDeveloper'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="this['pageParams'].riMessagingEnabled === true">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="riMessagingEnabled" formControlName="riMessagingEnabled">
                        <label class="col24" for="riMessagingEnabled">{{'Messaging Enabled'|translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="riProgramRequestStats" formControlName="riProgramRequestStats">
                        <label class="col24" for="riProgramRequestStats">{{'Run Request Status'|translate}}
                        </label>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row">
                <div class="col-sm-6">
                    <input type="button" formControlName="Save" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="saveOnClick();">
                    <input type="button" formControlName="Cancel" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="cancelOnClick();">
                    <input type="button" formControlName="Delete" class="btn btn-additional" *ngIf="this['formMode'] === this['c_s_MODE_UPDATE']"
                        value="{{'Delete' | translate}}" (click)="deleteOnClick();">
                </div>
            </div>
            <div class="col-sm-offset-4 col-sm-2">
                <div class="col24">
                    <input type="button" *ngIf="this['pageParams'].btnMembers === true" id="btnMembers" formControlName="btnMembers" class="btn btn-additional mr5"
                        value="{{'Team Membership' | translate}}">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>