<div [formGroup]="this['uiForm']">
        <input id="ShowValueButton" formControlName="ShowValueButton" type="checkbox">
        <input id="ForwardQuantityReduction" formControlName="ForwardQuantityReduction" type="checkbox">
        <input id="InstallationRequired" formControlName="InstallationRequired" type="checkbox">
        <input id="RequireAnnualTimeInd" formControlName="RequireAnnualTimeInd" type="checkbox">
        <input id="FieldHideList" formControlName="FieldHideList">
        <input id="FieldShowList" formControlName="FieldShowList">
        <input id="FirstInvoicedDate" formControlName="FirstInvoicedDate">
        <input id="CurrentServiceCoverRowID" formControlName="CurrentServiceCoverRowID">
        <input id="DetailRequired" formControlName="DetailRequired" type="checkbox">
        <input id="LostBusinessRequestNumber" formControlName="LostBusinessRequestNumber">
        <input id="NegBranchNumber" formControlName="NegBranchNumber">
        <input id="NewPremise" formControlName="NewPremise">
        <input id="QuantityChange" formControlName="QuantityChange">
        <input id="SavedServiceQuantity" formControlName="SavedServiceQuantity">
        <input id="PendingReduction" formControlName="PendingReduction">
        <input id="PendingDeletion" formControlName="PendingDeletion">
        <input id="StockOrderAllowed" formControlName="StockOrderAllowed">
        <input id="GenContractNumber" formControlName="GenContractNumber">
        <input id="GenPremiseNumber" formControlName="GenPremiseNumber">
        <input id="ErrorMessage" formControlName="ErrorMessage">
        <input id="NationalAccountChecked" formControlName="NationalAccountChecked" type="checkbox">
        <input id="NationalAccount" formControlName="NationalAccount">
        <input id="PatternWarningString" formControlName="PatternWarningString">
        <input id="CustomerInfoAvailable" formControlName="CustomerInfoAvailable" type="checkbox">
        <input id="InvoiceTypeVal" formControlName="InvoiceTypeVal">
        <input id="InvoiceTypeDesc" formControlName="InvoiceTypeDesc">
        <input id="InvoiceTypeNumber" formControlName="InvoiceTypeNumber">
        <input id="FixedNumberOfSeasons" formControlName="FixedNumberOfSeasons">
        <input id="FirstSeasonStartDate" formControlName="FirstSeasonStartDate">
        <input id="FOCMessageText" formControlName="FOCMessageText">
        <input id="SeasonalServiceInd" formControlName="SeasonalServiceInd" type="checkbox">
        <input id="AnnualCalendarInd" formControlName="AnnualCalendarInd" type="checkbox">
        <input id="ServiceBasis" formControlName="ServiceBasis">
        <input id="VisitFrequencyWarningMessage" formControlName="VisitFrequencyWarningMessage">
        <input id="VisitFrequencyWarningColour" formControlName="VisitFrequencyWarningColour">
        <input id="VFPNumberOfWeeks" formControlName="VFPNumberOfWeeks">
        <input id="VFPNumberOfVisitsPerWeek" formControlName="VFPNumberOfVisitsPerWeek">
        <input id="CalendarUpdateAllowed" formControlName="CalendarUpdateAllowed">
        <input id="LeadInd" formControlName="LeadInd" type="checkbox">
        <input id="ContractHasExpired" formControlName="ContractHasExpired">
        <input id="RunningReadOnly" formControlName="RunningReadOnly">
        <input id="RequiresManualVisitPlanningInd" formControlName="RequiresManualVisitPlanningInd" type="checkbox">
        <input id="CallLogID" formControlName="CallLogID">
        <input id="CurrentCallLogID" formControlName="CurrentCallLogID">
        <input id="WindowClosingName" formControlName="WindowClosingName">
        <input id="ClosedWithChanges" formControlName="ClosedWithChanges">
        <input id="LinkedServiceCoverNumber" formControlName="LinkedServiceCoverNumber">
        <input id="SelectedComponent" formControlName="SelectedComponent">
        <input id="ComponentGridCacheTime" formControlName="ComponentGridCacheTime">
        <input id="CompositeProductInd" formControlName="CompositeProductInd" type="checkbox">
        <input id="CompositePricingType" formControlName="CompositePricingType">
        <input id="CompositeProductCode" formControlName="CompositeProductCode">
        <input id="CompositeCodeList" formControlName="CompositeCodeList">
        <input id="CompositeDescList" formControlName="CompositeDescList">
        <input id="DetailRequiredInd" formControlName="DetailRequiredInd" type="checkbox">
        <input id="SelectChange" formControlName="SelectChange">
        <input id="TaxCode" formControlName="TaxCode">
        <input id="EmployeeLimitChildDrillOptions" formControlName="EmployeeLimitChildDrillOptions">
        <input id="DisplayLevelInd" formControlName="DisplayLevelInd" type="checkbox">
        <input id="ExcludeUnConfirmedValues" formControlName="ExcludeUnConfirmedValues" type="checkbox">
        <input id="DeliveryConfirmationInd" formControlName="DeliveryConfirmationInd" type="checkbox">
        <input id="CalcAnnualValue" formControlName="CalcAnnualValue">
        <input id="CalcAnnualValueChange" formControlName="CalcAnnualValueChange">
        <input id="VisitTriggered" formControlName="VisitTriggered" type="checkbox">
        <input id="OriBranchServiceAreaCode" formControlName="OriBranchServiceAreaCode">
        <input id="MessageDisplay" formControlName="MessageDisplay">
        <input id="TaxDesc" formControlName="TaxDesc">
        <input id="PNOL" formControlName="PNOL" type="checkbox">
        <input id="RequireExemptNumberInd" formControlName="RequireExemptNumberInd" type="checkbox">
        <input id="PremiseDefaultTimesInd" formControlName="PremiseDefaultTimesInd" type="checkbox">
        <input id="InitialInvoicePeriodInYears" formControlName="InitialInvoicePeriodInYears">
        <input id="LocationsEnabled" formControlName="LocationsEnabled" type="checkbox">
        <input id="ValueRequiredInd" formControlName="ValueRequiredInd" type="checkbox">
        <input id="LOSName" formControlName="LOSName">
        <input id="HardSlotType" formControlName="HardSlotType">
        <input id="HardSlotInd" formControlName="HardSlotInd" type="checkbox">
        <input id="HardSlotTemplateNumber" formControlName="HardSlotTemplateNumber">
        <input id="HardSlotVersionNumber" formControlName="HardSlotVersionNumber">
        <input id="HardSlotEffectDate" formControlName="HardSlotEffectDate">
        <input id="HardSlotUpdate" formControlName="HardSlotUpdate">
        <input id="InvoiceUnitValueRequired" formControlName="InvoiceUnitValueRequired" type="checkbox">
        <input id="ServiceCoverInvTypeString" formControlName="ServiceCoverInvTypeString">
        <input id="SubjectToUplift" formControlName="SubjectToUplift">
        <input id="UpliftVisitPosition" formControlName="UpliftVisitPosition">
        <input id="AutoAllocation" formControlName="AutoAllocation">
        <input id="AutoPattern" formControlName="AutoPattern">
        <input id="ValidateServiceArea" formControlName="ValidateServiceArea" type="checkbox">
        <input id="TodayDate" formControlName="TodayDate">
        <input id="VisitOnDayCount" formControlName="VisitOnDayCount">
        <input id="VisitPatternRowID" formControlName="VisitPatternRowID">
        <input id="ChangeDateInd" formControlName="ChangeDateInd" type="checkbox">
        <input id="CapableOfUplift" formControlName="CapableOfUplift" type="checkbox">
        <input id="CopiedVisitCycleInWeeks" formControlName="CopiedVisitCycleInWeeks">
        <input id="CopiedVisitsPerCycle" formControlName="CopiedVisitsPerCycle">
        <input id="CopiedVisitCycleInWeeksOverrideNote" formControlName="CopiedVisitCycleInWeeksOverrideNote">
        <input id="ShowFreeCallouts" formControlName="ShowFreeCallouts" type="checkbox">
        <input id="PremiseWindowStart01" formControlName="PremiseWindowStart01">
        <input id="PremiseWindowEnd01" formControlName="PremiseWindowEnd01">
        <input id="PremiseWindowStart02" formControlName="PremiseWindowStart02">
        <input id="PremiseWindowEnd02" formControlName="PremiseWindowEnd02">
        <input id="PremiseWindowStart03" formControlName="PremiseWindowStart03">
        <input id="PremiseWindowEnd03" formControlName="PremiseWindowEnd03">
        <input id="PremiseWindowStart04" formControlName="PremiseWindowStart04">
        <input id="PremiseWindowEnd04" formControlName="PremiseWindowEnd04">
        <input id="PremiseWindowStart05" formControlName="PremiseWindowStart05">
        <input id="PremiseWindowEnd05" formControlName="PremiseWindowEnd05">
        <input id="PremiseWindowStart06" formControlName="PremiseWindowStart06">
        <input id="PremiseWindowEnd06" formControlName="PremiseWindowEnd06">
        <input id="PremiseWindowStart07" formControlName="PremiseWindowStart07">
        <input id="PremiseWindowEnd07" formControlName="PremiseWindowEnd07">
        <input id="PremiseWindowStart08" formControlName="PremiseWindowStart08">
        <input id="PremiseWindowEnd08" formControlName="PremiseWindowEnd08">
        <input id="PremiseWindowStart09" formControlName="PremiseWindowStart09">
        <input id="PremiseWindowEnd09" formControlName="PremiseWindowEnd09">
        <input id="PremiseWindowStart10" formControlName="PremiseWindowStart10">
        <input id="PremiseWindowEnd10" formControlName="PremiseWindowEnd10">
        <input id="PremiseWindowStart11" formControlName="PremiseWindowStart11">
        <input id="PremiseWindowEnd11" formControlName="PremiseWindowEnd11">
        <input id="PremiseWindowStart12" formControlName="PremiseWindowStart12">
        <input id="PremiseWindowEnd12" formControlName="PremiseWindowEnd12">
        <input id="PremiseWindowStart13" formControlName="PremiseWindowStart13">
        <input id="PremiseWindowEnd13" formControlName="PremiseWindowEnd13">
        <input id="PremiseWindowStart14" formControlName="PremiseWindowStart14">
        <input id="PremiseWindowEnd14" formControlName="PremiseWindowEnd14">
        <input id="DefaultWindowStart01" formControlName="DefaultWindowStart01">
        <input id="DefaultWindowEnd01" formControlName="DefaultWindowEnd01">
        <input id="DefaultWindowStart02" formControlName="DefaultWindowStart02">
        <input id="DefaultWindowEnd02" formControlName="DefaultWindowEnd02">
        <input id="DefaultWindowStart03" formControlName="DefaultWindowStart03">
        <input id="DefaultWindowEnd03" formControlName="DefaultWindowEnd03">
        <input id="DefaultWindowStart04" formControlName="DefaultWindowStart04">
        <input id="DefaultWindowEnd04" formControlName="DefaultWindowEnd04">
        <input id="DefaultWindowStart05" formControlName="DefaultWindowStart05">
        <input id="DefaultWindowEnd05" formControlName="DefaultWindowEnd05">
        <input id="DefaultWindowStart06" formControlName="DefaultWindowStart06">
        <input id="DefaultWindowEnd06" formControlName="DefaultWindowEnd06">
        <input id="DefaultWindowStart07" formControlName="DefaultWindowStart07">
        <input id="DefaultWindowEnd07" formControlName="DefaultWindowEnd07">
        <input id="DefaultWindowStart08" formControlName="DefaultWindowStart08">
        <input id="DefaultWindowEnd08" formControlName="DefaultWindowEnd08">
        <input id="DefaultWindowStart09" formControlName="DefaultWindowStart09">
        <input id="DefaultWindowEnd09" formControlName="DefaultWindowEnd09">
        <input id="DefaultWindowStart10" formControlName="DefaultWindowStart10">
        <input id="DefaultWindowEnd10" formControlName="DefaultWindowEnd10">
        <input id="DefaultWindowStart11" formControlName="DefaultWindowStart11">
        <input id="DefaultWindowEnd11" formControlName="DefaultWindowEnd11">
        <input id="DefaultWindowStart12" formControlName="DefaultWindowStart12">
        <input id="DefaultWindowEnd12" formControlName="DefaultWindowEnd12">
        <input id="DefaultWindowStart13" formControlName="DefaultWindowStart13">
        <input id="DefaultWindowEnd13" formControlName="DefaultWindowEnd13">
        <input id="DefaultWindowStart14" formControlName="DefaultWindowStart14">
        <input id="DefaultWindowEnd14" formControlName="DefaultWindowEnd14">
        <input id="ServiceCoverROWID" formControlName="ServiceCoverROWID">
        <input id="ContractTypeCode" formControlName="ContractTypeCode">
        <input id="riGridHandle" formControlName="riGridHandle">
        <input id="ReplacementIncludeInd" type="checkbox" formControlName="ReplacementIncludeInd">
</div>