<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-4">
                    <label class="col24" for="BusinessOriginCode">{{ 'Business Origin' | translate }}<span class="mandatory">* </span></label>
                    <div class="col6 pr5">
                        <input class="form-control" type="text" id="BusinessOriginCode" formControlName="BusinessOriginCode" size="2" [attr.maxlength]="2"
                            (change)="businessOriginCodeOnkeydown($event)" [icabsDirFocus]="setFocusOnBusinessOriginCode" eTypeCode>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #businessOriginCodeEllipsis [autoOpen]="ellipsis.businessOriginCode.autoOpen"
                            [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="ellipsis.businessOriginCode.ellipsisTitle"
                            [ellipsisColumn]="ellipsis.businessOriginCode.tableColumn"
                            [configParams]="ellipsis.businessOriginCode.configParams" [disabled]="ellipsis.businessOriginCode.disable"
                            (ellipsisData)="businessSourceCodeOnSelect($event)" [httpConfig]="ellipsis.businessOriginCode.httpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BusinessOriginSystemDesc">{{ 'System Description' | translate }}<span class="mandatory">* </span></label>
                    <div class="col24 pr5">
                        <input class="form-control" type="text" id="BusinessOriginSystemDesc" formControlName="BusinessOriginSystemDesc" size="40"
                            [attr.maxlength]="40" [icabsDirFocus]="setFocusOnBusinessOriginSystemDesc" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BusinessSourceCode">{{ 'Business Source Code' | translate }}</label>
                    <div class="col6 pr5">
                        <input class="form-control" type="text" id="BusinessSourceCode" formControlName="BusinessSourceCode" size="8" [attr.maxlength]="8"
                            (change)="businessSourceCodeOnkeydown()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input class="form-control" type="text" id="BusinessSourceDesc" formControlName="BusinessSourceDesc" size="30" [attr.maxlength]="30"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #businessSourceCodeEllipsis [autoOpen]="ellipsis.businessSourceCode.autoOpenSearch" [showCloseButton]="ellipsis.businessSourceCode.showCloseButton"
                            [childConfigParams]="ellipsis.businessSourceCode.childConfigParams" [modalConfig]="ellipsis.businessSourceCode.modalConfig"
                            [contentComponent]="ellipsis.businessSourceCode.contentComponent" (ellipsisData)="businessSourceCodeOnSelect($event)"
                            [showHeader]="ellipsis.businessSourceCode.showHeader" [disabled]='ellipsis.businessSourceCode.disabled'>
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ContactMediumCode">{{ 'Prospect Contact Medium Code' | translate }}</label>
                    <div class="col6 pr5">
                        <input class="form-control" type="text" id="ContactMediumCode" formControlName="ContactMediumCode" size="2" [attr.maxlength]="2"
                            (change)="contactMediumCodeOnkeydown()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input class="form-control" type="text" id="ContactMediumDesc" formControlName="ContactMediumDesc" size="30" [attr.maxlength]="30"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #contactMediumCodeEllipsis [autoOpen]="ellipsis.contactMediumCode.autoOpen" [showCloseButton]="ellipsis.contactMediumCode.showCloseButton"
                            [childConfigParams]="ellipsis.contactMediumCode.childConfigParams" [contentComponent]="ellipsis.contactMediumCode.contentComponent"
                            (ellipsisData)="contactMediumCodeOnSelect($event)" [showHeader]="ellipsis.contactMediumCode.showHeader"
                            [disabled]='ellipsis.contactMediumCode.disabled'>
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="NewBusinessInd" formControlName="NewBusinessInd" eTypeCheckBox>
                    <label for="NewBusinessInd">{{'Valid For New Business' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="ValidForReneg" formControlName="ValidForReneg" eTypeCheckBox>
                    <label for="ValidForReneg">{{'Valid For Renegs' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="ValidForContract" formControlName="ValidForContract" eTypeCheckBox>
                    <label for="ValidForContract">{{'Valid For Contracts' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="ValidForJob" formControlName="ValidForJob" eTypeCheckBox>
                    <label for="ValidForJob">{{'Valid For Jobs' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="ValidForProductSale" formControlName="ValidForProductSale" eTypeCheckBox>
                    <label for="ValidForProductSale">{{'Valid For Product Sales' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="LeadInd" formControlName="LeadInd" eTypeCheckBox>
                    <label for="LeadInd">{{'Include in Lead Extract' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="ActiveInd" formControlName="ActiveInd" eTypeCheckBox>
                    <label for="ActiveInd">{{'Active' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="DetailRequiredInd" formControlName="DetailRequiredInd" eTypeCheckBox>
                    <label for="DetailRequiredInd">{{'Detail Required' | translate }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="checkbox" id="TransferCodeInd" formControlName="TransferCodeInd" eTypeCheckBox>
                    <label for="TransferCodeInd">{{'Transfer Code' | translate }}</label>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-4">
                    <input type="button" [disabled]="this['pageParams']['isEnableSelect']" class="btn btn-primary" value="{{ 'Save' | translate }}"
                        (click)="save()">
                    <input type="button" [disabled]="this['pageParams']['isEnableSelect']" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                        (click)="cancel()">
                    <input type="button" *ngIf="this['pageParams']['isEnableUpdate']" class="btn btn-additional" value="{{ 'Delete' | translate }}"
                        (click)="delete()">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>