<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Change Employee Number' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">

                    <label class="col24">{{ 'Employee Number' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="EmployeeCode" size="7" maxlength="6"
                            (change)="employeeCodeOnChange($event.target.value)" formControlName="EmployeeCode"
                            value={{employeeCode}} eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" size="40" maxlength="40"
                            formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParamsEmployeeSearch"
                            [contentComponent]="empSearchComponent" [showHeader]="showHeader" [title]="modalTitle"
                            [modalConfig]="modalConfig" [autoOpen]="autoOpenSearch" [disabled]="false"
                            (ellipsisData)="onEmployeeDataReturn($event)"></icabs-ellipsis>
                    </div>

                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">

                    <label class="col24">{{'Move Type' | translate}}</label>
                    <div class="col24">
                        <select class="form-control" id="MoveType" formControlName="MoveType"
                            (change)="moveTypeOnChange($event.target.value)">
                            <option value="ChangeBranch" selected>{{ 'Change Branch' | translate}}</option>
                            <option value="CorrectNumber">{{'Correct Number' | translate}}</option>
                        </select>
                    </div>

                </div>
            </div>

            <hr class="mt20 mb20">

            <div class="row mt5">
                <div class="col-sm-3" [ngClass]="isShowNewEmpNum ? '' : 'hidden'">

                    <label class="col24">{{'New Employee Number' | translate}}<span class="mandatory">*</span></label>
                    <div class="col22 pr5">
                        <input type="text" class="form-control" id="NewEmployeeCode" size="7" maxlength="6"
                            formControlName="NewEmployeeCode" value={{newEmployeeCode}}
                            (change)="newEmployeeCodeOnChange()" eTypeCode>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParamsNewEmployeeSearch"
                            [contentComponent]="empSearchComponent" [showHeader]="showHeader" [title]="modalTitle"
                            [disabled]="newEmployeeNumberEllipsisDisable"
                            (ellipsisData)="onNewEmployeeDataReturn($event)"></icabs-ellipsis>
                    </div>


                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">

                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col24">
                        <input type="text" id="BranchNumber" size="3" maxlength="5" formControlName="BranchNumber"
                            class="form-control" eTypeInteger>
                    </div>



                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3" [ngClass]="isShowNewBranch ? '' : 'hidden'">

                    <label class="col24">{{'New Branch'|translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-branchsearch #newBranchNumberSearch [inputParams]="inputParams"
                            (receivedbranchsearch)="onBranchDataReceived($event)" [isRequired]="serviceBranchRequired"
                            [isDisabled]="selectNewBranchDisable"></icabs-branchsearch>
                    </div>

                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">

                    <label class="col24">{{'Report Destination'|translate}}</label>
                    <div class="col11 pr5">
                        <select class="form-control" id="RepDest"
                            (change)="reportDestinationOnChange($event.target.value)"
                            [disabled]="selectReportDestinationDisable">
                            <option value="ReportViewer" selected>{{ 'Report Viewer'|translate}}</option>
                            <option value="Email">{{'Email'|translate}}</option>

                        </select>
                    </div>

                    <div class="col2">
                        <input type="submit" class="btn btn-primary" value="{{'Submit Batch Process'|translate}}"
                            [disabled]="cmdSubmit" (click)="submitReportRequest()">
                    </div>
                </div>
                <div class="col-sm-9 mt20" [ngClass]="isShowBatchSubmitted ? '' : 'hidden'">
                    <label class="message-box info-label">{{ this.batchSubmittedText }}</label>
                </div>
            </div>

        </section>
    </form>
    <hr class="mt20 mb20">
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-xs-12">
                <input class="btn btn-primary" type="button" value="{{ 'Save' | translate}}" (click)="saveData()"
                    [disabled]="this.btnSaveDisable">
                <input class="btn btn-secondary" type="button" value="{{ 'Cancel' | translate}} "
                    (click)="riMaintenanceAfterAbandon()" [disabled]="this.btnCancelDisable">
            </div>
        </div>
    </footer>
    <icabs-modal #messageModal [(showHeader)]="showHeader" [title]="messageTitle" [content]="messageContent"
        [(showCloseButton)]="showCloseButton"></icabs-modal>
    <icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader"></icabs-modal>
    <icabs-prompt-modal #promptModal="child" [(showHeader)]="showPromptHeader" [title]="promptTitle"
        [content]="promptContent" (saveEmit)="promptSave()"></icabs-prompt-modal>
</section>