<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Vehicle Class' | translate}}</label>
                    <div class="col6 pr5">
                        <input *ngIf="this['pageParams']['pageMode'] == MntConst.eModeAdd; else EditModeInputBox"
                            id="ClassNumber" class="form-control" formControlName="ClassNumber" eTypeInteger type="text"
                            size="3" [attr.maxlength]="5">
                        <ng-template #EditModeInputBox>
                            <input id="ClassNumber" class="form-control" formControlName="ClassNumber" eTypeInteger
                                type="text" size="3" [attr.maxlength]="5" (change)="onVehicleClassChange()">
                        </ng-template>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #vehicleClassSearchEllipsis
                            [autoOpen]="ellipsisConfigs.vehicleClass.autoOpen" [showCloseButton]="true"
                            [showHeader]="true" [ellipsisTitle]="ellipsisConfigs.vehicleClass.ellipsisTitle"
                            [ellipsisColumn]="ellipsisConfigs.vehicleClass.tableColumn"
                            [configParams]="ellipsisConfigs.vehicleClass.configParams"
                            [disabled]="ellipsisConfigs.vehicleClass.disable"
                            (ellipsisData)="onEllipsisDataRecived($event, 'vehicleClass')">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <!--Tab function-->
            <div class="row mt15">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active" id="{{tab.tab1.id}}"
                            [ngClass]="{'active': tab.tab1.active, 'hidden': !tab.tab1.visible}"
                            (click)="riTab.TabFocus(1)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab1.active}"
                                (click)="commonMaintenanceFunction.setFocusToTabElement()">
                                <span>{{tab.tab1.name | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="{{tab.tab2.id}}"
                            [ngClass]="{'active': tab.tab2.active, 'hidden': !tab.tab2.visible}"
                            (click)="riTab.TabFocus(2)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab2.active}"
                                (click)="commonMaintenanceFunction.setFocusToTabElement()">
                                <span>{{tab.tab2.name | translate}}</span>
                            </a>
                        </li>
                        <li class="nav-item" id="{{tab.tab3.id}}"
                            [ngClass]="{'active': tab.tab3.active, 'hidden': !tab.tab3.visible}"
                            (click)="riTab.TabFocus(3)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab3.active}"
                                (click)="commonMaintenanceFunction.setFocusToTabElement()">
                                <span>{{tab.tab3.name | translate}}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': tab.tab1.active, 'hidden': !tab.tab1.visible}">
                            <div id="{{tab.tab1.id}}" class="mt10">

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <input type="checkbox" id="TemporaryVehicle" class="form-control"
                                            formControlName="TemporaryVehicle" (change)="onTempVehicleChange()">
                                        <label for="TemporaryVehicle">{{'Temporary Vehicle' | translate }}</label>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Class Start Date' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDate id="ClassStartDate" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="ClassStartDate">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Class End Date' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDate id="ClassEndDate" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="ClassEndDate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Make' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col16 pr5">
                                            <input type="text" eTypeText id="Make" size="40" [attr.maxlength]="40"
                                                class="form-control" formControlName="Make"
                                                (change)="onMakeOrModelChange()">
                                        </div>
                                        <div class="col2">
                                            <icabs-ellipsis-generic #vehicleManufacturerModelEllipsis
                                                [autoOpen]="ellipsisConfigs.manufacturerModel.autoOpen"
                                                [showCloseButton]="true" [showHeader]="true"
                                                [ellipsisTitle]="ellipsisConfigs.manufacturerModel.ellipsisTitle"
                                                [ellipsisColumn]="ellipsisConfigs.manufacturerModel.tableColumn"
                                                [configParams]="ellipsisConfigs.manufacturerModel.configParams"
                                                [disabled]="ellipsisConfigs.manufacturerModel.disable"
                                                (ellipsisData)="onEllipsisDataRecived($event, 'vehicleModel')">
                                            </icabs-ellipsis-generic>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Vehicle Class Type' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <select id="ClassType" class="form-control" formControlName="ClassType">
                                                <option value="">None</option>
                                                <option *ngFor="let classType of dropdownData?.vehicleClassTypes"
                                                    value="{{classType}}">
                                                    {{classType}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Model' | translate}}<span
                                                class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="Model" class="form-control" size="40"
                                                [attr.maxlength]="40" formControlName="Model"
                                                (change)="onMakeOrModelChange()">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Compartment IDs' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col24" *ngIf="!isDepotMappingEnabled">
                                            <input type="text" eTypeText id="CompartmentIDs" class="form-control"
                                                size="40" [attr.maxlength]="40" formControlName="CompartmentIDs">
                                        </div>
                                        <div class="col24" *ngIf="isDepotMappingEnabled">
                                            <select id="CompartmentIDs" class="form-control"
                                                formControlName="CompartmentIDs">
                                                <option *ngFor="let vehicle of vehicleList"
                                                    value="{{vehicle.CompartmentID}}">
                                                    {{vehicle?.CompartmentID}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Wheel Base' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <select id="WheelBase" class="form-control" formControlName="WheelBase">
                                                <option value="">None</option>
                                                <option *ngFor="let wheelBase of dropdownData?.wheelBases"
                                                    value="{{wheelBase}}">
                                                    {{wheelBase}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Engine Size' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeInteger id="EngineSize" class="form-control"
                                                size="20" [attr.maxlength]="5" formControlName="EngineSize">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fuel Type' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <select id="FuelType" class="form-control" formControlName="FuelType">
                                                <option value="">None</option>
                                                <option *ngFor="let fuelType of dropdownData?.fuelTypes"
                                                    value="{{fuelType}}">
                                                    {{fuelType}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Engine Type' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="EngineType" class="form-control" size="20"
                                                [attr.maxlength]="40" formControlName="EngineType">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-6">
                                        <div class="col24">
                                            <label class="col24">{{'Vehicle Notes' | translate}}<span
                                                    *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                            <textarea id="VehicleNotes" eTypeText rows="4" cols="80"
                                                [attr.maxlength]="100" class="form-control"
                                                formControlName="VehicleNotes"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="{'active': tab.tab2.active, 'hidden': !tab.tab2.visible}">
                            <div id="{{tab.tab2.id}}" class="mt10">

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fixed Cost ' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDecimal2 id="FixedCost" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="FixedCost">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Variable Costs' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDecimal2 id="VariableCost" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="VariableCost">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Max Gross Unladen Weight' | translate}}
                                            <span class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDecimal2 id="MaxGrossUnladenWeight"
                                                class="form-control" size="10" [attr.maxlength]="10"
                                                formControlName="MaxGrossUnladenWeight">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Max Vehicle Height' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDecimal2 id="MaxVehicleHeight" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="MaxVehicleHeight">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Max Gross Weight' | translate}}
                                            <span class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDecimal2 id="MaxGrossWeight" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="MaxGrossWeight">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Max Vehicle Length' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col12">
                                            <input type="text" eTypeDecimal2 id="MaxVehicleLength" class="form-control"
                                                size="10" [attr.maxlength]="10" formControlName="MaxVehicleLength">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Urban Route Fuel Consumption' | translate}}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fuel Consumption (MPG)' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeDecimal2 id="FuelConsumptionValue1"
                                                class="form-control" size="20" [attr.maxlength]="40"
                                                formControlName="FuelConsumptionValue1">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label
                                            class="col24">{{'Extra-Urban Route Fuel Consumption' | translate}}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fuel Consumption (MPG)' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeDecimal2 id="FuelConsumptionValue2"
                                                class="form-control" size="20" [attr.maxlength]="40"
                                                formControlName="FuelConsumptionValue2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Combined Route Fuel Consumption' | translate}}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Fuel Consumption (MPG)' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeDecimal2 id="FuelConsumptionValue3"
                                                class="form-control" size="20" [attr.maxlength]="40"
                                                formControlName="FuelConsumptionValue3">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" [ngClass]="{'active': tab.tab3.active, 'hidden': !tab.tab3.visible}">
                            <div id="{{tab.tab3.id}}" class="mt10">

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <input type="checkbox" id="Tachograph" class="form-control"
                                            formControlName="Tachograph">
                                        <label for="Tachograph">{{'Tachograph' | translate }}</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="checkbox" id="TailLift" class="form-control"
                                            formControlName="TailLift">
                                        <label for="TailLift">{{'Tail Lift' | translate }}</label>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Over Night Parking' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <select id="OverNightParking" class="form-control"
                                                formControlName="OverNightParking">
                                                <option value="">None</option>
                                                <option *ngFor="let overnightParking of dropdownData?.overnightParkings"
                                                    value="{{overnightParking}}">
                                                    {{overnightParking}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Vehicle Type IDs' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col16">
                                            <input type="text" eTypeText id="VehicleTypeIDs" class="form-control"
                                                size="20" [attr.maxlength]="40" formControlName="VehicleTypeIDs">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Restriction Time Start' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col10">
                                            <input type="text" eTypeTime id="RestrictionTimeStart" class="form-control"
                                                size="6" [attr.maxlength]="8" formControlName="RestrictionTimeStart">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Restriction Time End' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col10">
                                            <input type="text" eTypeTime id="RestrictionTimeEnd" class="form-control"
                                                size="6" [attr.maxlength]="8" formControlName="RestrictionTimeEnd">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt10">
                                    <div class="col-sm-3">
                                        <label class="col24">{{'Speed Limiter' | translate}}<span
                                                *ngIf="!isTempVehicleChecked" class="mandatory">*</span></label>
                                        <div class="col10">
                                            <input type="text" eTypeInteger id="SpeedLimiter" class="form-control"
                                                size="6" [attr.maxlength]="8" formControlName="SpeedLimiter">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="checkbox" id="OpenClosed" class="form-control"
                                            formControlName="OpenClosed">
                                        <label for="OpenClosed">{{'Open Vehicle' | translate }}</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-8">
                    <input type="button" id="save" class="btn btn-primary" value="{{ 'Save' | translate }}"
                        (click)="onBtnClick('Save')" [disabled]="isDisabled"
                        (keyup)="commonMaintenanceFunction.onSaveFocus($event)">
                    <input type="button" id="cancel" class="btn btn-secondary" value="{{ 'Cancel' | translate }}"
                        (click)="onBtnClick('Cancel')" [disabled]="isDisabled">
                    <input type="button" id="delete" class="btn btn-additional" value="{{ 'Delete' | translate }}"
                        (click)="onBtnClick('Delete')" *ngIf="this['pageParams']['pageMode'] !== MntConst.eModeAdd"
                        [disabled]="isDisabled">
                </div>
            </div>
        </footer>
    </form>
</section>

<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>