<section class="container-fluid custom-container sub">
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <!-- *********** Employee Block - Starts *********** -->
            <div class="row mt5" *ngIf="type === 'Employee'">
                <div class="col-sm-6">
                    <label class="col24"></label>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="RaisedByEmployee" name="EmployeeType"
                            formControlName="EmployeeType" value="RaisedByEmployee" (change)="onOwnerTypeChange()">
                        <label for="RaisedByEmployee">{{ 'Created By' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="CurrentOwnerEmployee" name="EmployeeType"
                            formControlName="EmployeeType" value="CurrentOwnerEmployee" (change)="onOwnerTypeChange()">
                        <label for="CurrentOwnerEmployee">{{ 'Current Owner' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="CurrentActionerEmployee" name="EmployeeType"
                            formControlName="EmployeeType" value="CurrentActionerEmployee"
                            (change)="onOwnerTypeChange()">
                        <label for="CurrentActionerEmployee">{{ 'Current Actioner' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Filter' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="SelStatus" formControlName="SelStatus">
                            <option value="AllEmp">{{ 'All Employees' | translate }}</option>
                            <option value="CurrentEmp">{{ 'Current Employees' | translate }}</option>
                            <option value="LeftEmp">{{ 'Left Employees' | translate }}</option>
                            <option value="CurrentBra">{{ 'Current Branch' | translate }}</option>
                            <option value="SpecBra">{{ 'Specific Branch ' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Surname' | translate }}</label>
                    <input type="text" id="SelEmployeeSurname" class="form-control" size="40" [attr.maxlength]="20"
                        formControlName="SelEmployeeSurname">
                </div>
                <div class="col-sm-2" *ngIf="getControlValue('SelStatus') === 'SpecBra'">
                    <label class="col24">{{ 'Branch' | translate }}</label>
                    <icabs-branchsearch #branchSearchDropDown [inputParams]="inputParams.branchParams"
                        (receivedbranchsearch)="onBranchDataRecived($event)">
                    </icabs-branchsearch>
                </div>
            </div>
            <!-- *********** Employee Block - Ends *********** -->

            <!-- *********** Team Block - Starts *********** -->
            <div class="row mt5" *ngIf="type === 'Team'">
                <div class="col-sm-6">
                    <label class="col24"></label>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="RaisedByTeam" name="TeamType"
                            formControlName="TeamType" value="RaisedByTeam" (change)="onOwnerTypeChange()">
                        <label for="RaisedByTeam">{{ 'Created By' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="CurrentTeam" name="TeamType"
                            formControlName="TeamType" value="CurrentTeam" (change)="onOwnerTypeChange()">
                        <label for="CurrentTeam">{{ 'Current Owner' | translate }}</label>
                    </div>
                </div>
            </div>
            <!-- *********** Team Block - Ends *********** -->

            <!-- *********** Branch Block - Starts *********** -->
            <div class="row mt5" *ngIf="type === 'Branch'">
                <div class="col-sm-4">
                    <label class="col24"></label>
                    <div class="col10 pr5">
                        <input type="radio" class="form-control" id="CurrentActionerBranch" name="BranchType"
                            formControlName="BranchType" value="CurrentActionerBranch" (change)="onOwnerTypeChange()">
                        <label for="CurrentActionerBranch">{{ 'Current Actioner' | translate }}</label>
                    </div>
                    <div class="col10 pr5">
                        <input type="radio" class="form-control" id="ServiceBranch" name="BranchType"
                            formControlName="BranchType" value="ServiceBranch" (change)="onOwnerTypeChange()">
                        <label for="ServiceBranch">{{ 'Service' | translate }}</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col10">
                        <label class="col24">{{ 'Region' | translate }}</label>
                        <select class="form-control col24" id="RegionCode" formControlName="RegionCode">
                            <option value=""></option>
                            <option *ngFor="let item of regionList" value="{{ item.RegionCode }}">
                                {{ item.RegionCode }} - {{ item.RegionDesc | translate }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- *********** Branch Block - Ends *********** -->

            <!-- *********** Region Block - Starts *********** -->
            <div class="row mt5" *ngIf="type === 'Region'">
                <div class="col-sm-6">
                    <label class="col24"></label>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="CurrentOwnerRegion" name="RegionType"
                            formControlName="RegionType" value="CurrentOwnerRegion" (change)="onOwnerTypeChange()">
                        <label for="CurrentOwnerRegion">{{ 'Current Owner' | translate }}</label>
                    </div>
                    <div class="col6 pr5">
                        <input type="radio" class="form-control" id="CurrentActionerRegion" name="RegionType"
                            formControlName="RegionType" value="CurrentActionerRegion" (change)="onOwnerTypeChange()">
                        <label for="CurrentActionerRegion">{{ 'Current Actioner' | translate }}</label>
                    </div>
                </div>
            </div>
            <!-- *********** Region Block - Ends *********** -->

            <!-- *********** Account Block - Starts *********** -->
            <div class="row mt5" *ngIf="type === 'Account'">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Search By' | translate}}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="AccountSearchType" formControlName="AccountSearchType">
                            <option value="namebegins">{{ 'Name begins' | translate }}</option>
                            <option value="namematches">{{ 'Name matches' | translate }}</option>
                            <option value="number">{{ 'Number' | translate }}</option>
                            <option value="postcode">{{ 'Post Code' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Search' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <input type="text" id="AccountSearchValue" class="form-control" size="40" [attr.maxlength]="20"
                            formControlName="AccountSearchValue">
                    </div>
                </div>
            </div>
            <!-- *********** Account Block - Ends *********** -->

            <!-- *********** Group Account Block - Starts *********** -->
            <div class="row mt5" *ngIf="type === 'GroupAccount'">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Search By' | translate}}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="GroupAccountSearchType"
                            formControlName="GroupAccountSearchType">
                            <option value="namebegins">{{ 'Name begins' | translate }}</option>
                            <option value="namematches">{{ 'Name matches' | translate }}</option>
                            <option value="number">{{ 'Number' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Search' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <input type="text" id="GroupAccountSearchValue" class="form-control" size="40"
                            [attr.maxlength]="20" formControlName="GroupAccountSearchValue">
                    </div>
                </div>
            </div>
            <!-- *********** Group Account Block - Ends *********** -->

            <div class="row mt20">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRefreshClick()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [currentPage]="this['pageParams'].currentPage"
                        [totalItems]="gridConfig.totalRecords" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyClick)="onGridBodyClick()" [idPrefix]="type">
                    </icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
