<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Business' | translate }} </label>
                    <div class="col24 pr5">
                        <input type="text" id="businessCode" class="form-control hide" formControlName="BusinessCode"
                            eTypeText readonly>
                        <input type="text" id="businessDesc" class="form-control" formControlName="BusinessDesc"
                            eTypeText readonly disabled>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'Date From' | translate}}
                    </label>
                    <div class="col18">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'View' | translate }} </label>
                    <select id="ViewType" formControlName="ViewType" class="form-control" (change)="onChangeFilterBy($event, 'contractType')">
                        <option *ngFor="let viewFilter of viewFilterValues" value={{viewFilter.value}}>
                            {{ viewFilter.value | translate }}</option>
                    </select>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-3">
                    <label class="col24">{{'Date' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="DateType" formControlName="DateType" (change)="onChangeFilterBy($event, 'dateType')">
                            <option *ngFor="let dateFilter of dateFilterValues" value="{{dateFilter.value}}">
                                {{dateFilter.value | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'Date To' | translate}}<span class="mandatory">*</span>
                    </label>
                    <div class="col18">
                        <icabs-datepicker id="DateFrom" formControlName="DateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'View By' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ViewBy" formControlName="ViewBy" (change)="onChangeFilterBy($event, 'viewBy')">
                            <option *ngFor="let viewByFilter of viewByFilterValues" value="{{viewByFilter.value}}">
                                {{viewByFilter.value | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="gridConfig.totalRecords > 0" [totalItems]="gridConfig.totalRecords"
                        [itemsPerPage]="gridConfig.pageSize" [currentPage]="gridConfig.currentPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>

                <div class="row mt10">
                    <div class="col-sm-12">
                        <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                            (bodyDblClick)="onGridBodyDoubleClick($event)"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>