<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col16">
                        <label for="BusinessDesc" class="col24">{{'Business' | translate}}</label>
                        <input id="BusinessDesc" formControlName="BusinessDesc" class="form-control" type="text" size="40" maxlength="40" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="isHideCompany">
                <div class="col-sm-3">
                    <label for="CompanyCode" class="col24">{{'Company (blank for all)' | translate}}</label>
                    <div class="col12">
                        <icabs-business-company-search #bCompanySearchComponent [inputParams]="dropdown.company.params" (receivedCompanyCode)="onChangeDD($event, dropdown.company.type)"
                            [active]="dropdown.company.active"></icabs-business-company-search>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label for="BranchNumber" class="col24">{{'Branch (blank for all)' | translate}}</label>
                    <div class="col12">
                        <icabs-branchsearch [inputParams]="dropdown.branch.params" (receivedbranchsearch)="onChangeDD($event, dropdown.branch.type)"
                            [active]="dropdown.branch.active"></icabs-branchsearch>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label for="DateFrom" class="col24">{{'From Date' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false" (onChange)="onSelecteDatePicker($event, datepickerType.dateFrom)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label for="DateTo" class="col24">{{'To Date' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false" (onChange)="onSelecteDatePicker($event, datepickerType.dateTo)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label for="ReportType" class="col24">{{'Report Type' | translate}}</label>
                    <div class="col12">
                        <select class="form-control" id="ReportType" formControlName="ReportType">
                            <option value="Processed" selected>{{'Processed Date' | translate}}</option>
                            <option value="Installation">{{'Installation Date' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label for="ReceiptType" class="col24">{{'Report Type' | translate}}</label>
                    <div class="col12">
                        <select class="form-control" id="ReceiptType" formControlName="ReceiptType">
                            <option value="All" selected>{{'All' | translate}}</option>
                            <option value="Installation">{{'Installation' | translate}}</option>
                            <option value="Removal">{{'Removal' | translate}}</option>
                            <option value="CallOut">{{'Call Out' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label for="RepDest" class="col24">{{'Report Destination' |translate}}</label>
                    <div class="col12">
                        <select class="form-control" id="RepDest" formControlName="RepDest">
                            <option value="direct" selected>{{'Report Viewer' |translate}}</option>
                            <option value="Email">{{'Email' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary" value="{{ 'Submit Report Generation' | translate }}" (click)="onClickSubmit()">
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12" id="trInformation" *ngIf="isTRInformation">
                    <div class="alert alert-info" id="thInformation">
                        <strong>{{reportGenMsg}}</strong>
                    </div>
                </div>
            </div>
        </footer>
    </form>
    <icabs-spinner [isRunning]="this[ 'isRequesting']"></icabs-spinner>
</section>