<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24">
                        <div class="col24">
                            <label class="col24">{{'From Employee'|translate}} <span class="mandatory">*</span></label>
                        </div>
                        <div class="col7 pr5">
                            <input id="EmployeeCode" size="8" [attr.maxlength]="6" class="form-control"
                                formControlName="EmployeeCode" (change)="onEmployeeChange('FromEmp')" eTypeCode>
                        </div>
                        <div class="col12 pr5">
                            <input type="text" id="EmployeeSurname" size="30" [attr.maxlength]="30" class="form-control"
                                formControlName="EmployeeSurname" eTypeText>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="ellipsis.employeeEllipsis.childparams"
                                [contentComponent]="ellipsis.employeeEllipsis.component" [showHeader]="true"
                                (ellipsisData)="onEmployeeDataReceived($event,'FromEmp')"
                                [disabled]="pageMode === 'eModeUpdate'"></icabs-ellipsis>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24">
                        <div class="col24">
                            <label class="col24">{{'Delegate To Employee'|translate}} <span
                                    class="mandatory">*</span></label>
                        </div>
                        <div class="col7 pr5">
                            <input id="EmployeeCodeTo" size="8" [attr.maxlength]="6" class="form-control"
                                formControlName="EmployeeCodeTo" (change)="onEmployeeChange('DelegateEmp')" eTypeCode>
                        </div>
                        <div class="col12 pr5">
                            <input type="text" id="EmployeeSurnameTo" size="30" [attr.maxlength]="30"
                                class="form-control" formControlName="EmployeeSurnameTo" eTypeText>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="ellipsis.employeeEllipsis.childparamsEmpTo"
                                [contentComponent]="ellipsis.employeeEllipsis.component" [showHeader]="true"
                                (ellipsisData)="onEmployeeDataReceived($event,'DelegateEmp')"></icabs-ellipsis>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col-sm-5 pl0">
                        <div class="col24">
                            <label class="col24">{{'Date From'|translate}} <span class="mandatory">*</span></label>
                        </div>
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                    <div class="col-sm-5 pr0">
                        <div class="col24">
                            <label class="col24">{{'Date To'|translate}} <span class="mandatory">*</span></label>
                        </div>
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>

            </div>

            <div class="row mt15">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" id="RedirectMessagingInd" formControlName="RedirectMessagingInd"
                            class="form-control">
                        <label for="RedirectMessagingInd">{{ 'Redirect Messaging' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" id="RedirectEmployeeInd" formControlName="RedirectEmployeeInd"
                            class="form-control">
                        <label
                            for="RedirectEmployeeInd">{{ 'Redirect Tickets To Delegated Employee' | translate }}</label>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row mt5">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="{{'Add' | translate }}"
                        (click)="onBtnClicked('Add')" *ngIf="pageMode === 'eModeUpdate'">
                    <input type="submit" class="btn btn-primary" value="{{'Save' | translate }}"
                        (click)="onBtnClicked('Save')">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate }}"
                        (click)="onBtnClicked('Cancel')">
                    <input type="submit" class="btn btn-additional" value="{{'Delete' | translate }}"
                        (click)="onBtnClicked('Delete')" *ngIf="pageMode === 'eModeUpdate'">
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-prompt-modal #promptModal="child" [showHeader]="true" [content]="promptConfirmContent" [showCloseButton]="true"
    [showCancelBtn]="true" [disableEscape]="true" (saveEmit)="confirmed()">
</icabs-prompt-modal>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>