<div id="AddressStatement" class="tab-pane fade in" [formGroup]="addressStatementFormGroup">
    <div class="row mt10">
        <div class="col-sm-12">
            <input type="button" class="btn btn-sm btn-primary mr10" value="{{ 'Premises Address' | translate }}" [disabled]="buttonStates.PremisesAddress || disableForm"
                (click)="getStatementTabPremisesAddress()">
            <input type="button" class="btn btn-sm btn-primary mr10" value="{{ 'Account Address' | translate }}" [disabled]="buttonStates.AccountAddress || disableForm"
                (click)="getStatementTabAccountAddress()">
            <input type="button" class="btn btn-sm btn-primary" value="{{ 'Invoice Address' | translate }}" [disabled]="buttonStates.InvoiceAddress || disableForm"
                (click)="getStatementTabInvoiceAddress()">
        </div>
    </div>
    <div class="row mt5">
        <div class="col-sm-3">
            <label class="col24">{{'Name' | translate}}
                <span class="mandatory">*</span>
            </label>
            <div class="col24">
                <input type="text" size="9" [maxlength]="maxLen" class="form-control" id="StatementName" formControlName="StatementName"
                    (change)="onInvoiceNameChange()">
            </div>
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-sm btn-primary mt20" value="{{ 'Get Address' | translate }}" *ngIf="elementShowHide.GetAddress"
                (click)="getAddressClick()" [disabled]="disableForm">
        </div>
    </div>

    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'Address Line 1' | translate}}
                <span class="mandatory">*</span>
            </label>
            <div class="col24">
                <input type="text" size="9" [maxlength]="maxLen" class="form-control" id="StatementAddressLine1" formControlName="StatementAddressLine1">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'Address Line 2' | translate}} </label>
            <div class="col24">
                <input type="text" size="9" [maxlength]="maxLen" class="form-control" id="StatementAddressLine2" formControlName="StatementAddressLine2">
            </div>
        </div>
    </div>
    <div class="row mt2" *ngIf="elementShowHide.AddressLine3">
        <div class="col-sm-3">
            <label class="col24">{{'Address Line 3' | translate}}
                <span class="mandatory" class="mandatory" *ngIf="elementShowHide.AddressLine3Required">*</span>
            </label>
            <div class="col24">
                <input type="text" size="9" [maxlength]="maxLen" class="form-control" id="StatementAddressLine3" formControlName="StatementAddressLine3">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'Town' | translate}}
                <span class="mandatory" class="mandatory" *ngIf="elementShowHide.StatementAddressLine4Required">*</span>
            </label>
            <div class="col24">
                <input type="text" size="9" [maxlength]="maxLen" class="form-control" id="StatementAddressLine4" formControlName="StatementAddressLine4"
                    (blur)="onStatementAddressLine4Blur()">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'County' | translate}}
                <span class="mandatory" class="mandatory" *ngIf="elementShowHide.StatementAddressLine5Required">*</span>
            </label>
            <div class="col24">
                <input type="text" size="9" [maxlength]="maxLen" class="form-control" id="StatementAddressLine5" formControlName="StatementAddressLine5"
                    (blur)="onStatementAddressLine5Blur()">
            </div>
        </div>
    </div>
    <div class="row" *ngIf="elementShowHide.PostCode">
        <div class="col-sm-3">
            <label class="col24">{{'Postcode' | translate}}
                <span class="mandatory">*</span>
            </label>
            <div class="col24">
                <input type="text" size="9" maxlength="15" class="form-control" id="StatementPostcode" formControlName="StatementPostcode"
                    (blur)="onPostCodeBlur()" (change)="onPostCodeChange()">
            </div>
        </div>
    </div>
    <div class="row mt2" *ngIf="elementShowHide.GPSCoordinates">
        <div class="col-sm-3">
            <label class="col24">{{'GPS Coordinate X' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" maxlength="15" class="form-control" id="StatementGPSCoordinateX" formControlName="StatementGPSCoordinateX">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">{{'GPS Coordinate Y' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" maxlength="15" class="form-control" id="StatementGPSCoordinateY" formControlName="StatementGPSCoordinateY">
            </div>
        </div>
    </div>
    <hr class="mt15 mb15">
    <div class="row">
        <div class="col-sm-3">
            <label class="col24">{{'Contact Name' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" maxlength="40" class="form-control" id="StatementContactName" formControlName="StatementContactName">
            </div>
        </div>
        <div class="col-sm-3 mt20" *ngIf="elementShowHide.ContactDetails">
            <div class="col24">
                <input type="button" class="btn btn-primary" value="{{ 'Contact Details' | translate }}" (click)="getContactDetails()" [disabled]="disableForm">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'Position' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" maxlength="40" class="form-control" id="StatementContactPosition" formControlName="StatementContactPosition">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">{{'Department' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" maxlength="40" class="form-control" id="StatementContactDepartment" formControlName="StatementContactDepartment">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'Telephone' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" maxlength="40" class="form-control" id="StatementContactTelephone" formControlName="StatementContactTelephone">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">{{'Mobile' | translate}} </label>
            <div class="col24">
                <input type="text" size="9" maxlength="40" class="form-control" id="StatementContactMobile" formControlName="StatementContactMobile">
            </div>
        </div>
    </div>
    <div class="row mt2">
        <div class="col-sm-3">
            <label class="col24">{{'Email' | translate}}</label>
            <div class="col24">
                <input type="text" size="9" [attr.maxlength]="50" class="form-control" id="StatementContactEmail" formControlName="StatementContactEmail">
            </div>
        </div>
        <div class="col-sm-3">
            <label class="col24">{{'Fax' | translate}} </label>
            <div class="col24">
                <input type="text" size="9" maxlength="40" class="form-control" id="StatementContactFax" formControlName="StatementContactFax">
            </div>
        </div>
    </div>
</div>
<icabs-ellipsis [hidden]="showPremiseSearchEllipsis" #premiseSearchEllipsis [childConfigParams]="inputParamsPremise" [contentComponent]="premiseSearchComponent"
    [showHeader]="true" [disabled]="false" [modalConfig]='modalConfig' (ellipsisData)="onPremiseDataReturn($event)" [disabled]="true"
    (modalHidden)="onPremiseDataReturn()"></icabs-ellipsis>
<icabs-ellipsis #postcodeSearchEllipsis [childConfigParams]="inputParamsPostcode" [contentComponent]="postcodeSearchComponent"
    [showHeader]="true" [disabled]="false" [modalConfig]='modalConfig' (ellipsisData)="onPostcodeDataReturn($event)" [hideIcon]="true"></icabs-ellipsis>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>