<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ReportType">{{ 'Report Type' | translate}}</label>
                    <div class="col24">
                        <select #ReportType id="ReportType" class="form-control" formControlName="ReportType">
                           <option value="Actual">{{ 'Actual' | translate}}</option>
                           <option value="Forecast">{{ 'Forecast' | translate}}</option>
                         </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ContractorJob">{{ 'Contract/ Job' | translate}}</label>
                    <div class="col8">
                        <select id="ContractorJob" class="form-control" formControlName="ContractorJob">
                           <option value="Contract">{{ 'Contract' | translate}}</option>
                           <option value="Job">{{ 'Job' | translate}}</option>
                         </select>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceBranchName">{{ 'Service Branch' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="ServiceBranchNumber" class="form-control" formControlName="ServiceBranchNumber" type="text" size="5" [attr.maxlength]="5">
                    </div>
                    <div class="col16">
                        <input id="ServiceBranchName" class="form-control" formControlName="ServiceBranchName" type="text" size="40" [attr.maxlength]="40">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeCode id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="8"
                            [attr.maxlength]="4" (change)="branchServiceAreaCodeOnChange()">
                    </div>
                    <div class="col14 pr5">
                        <input eTypeText id="BranchServiceAreaDesc" class="form-control" formControlName="BranchServiceAreaDesc" type="text" size="20"
                            [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="false" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.serviceArea.childConfigParams"
                            [contentComponent]="ellipsisConfig.serviceArea.component" (ellipsisData)="fetchEllipsisData($event, 'serviceArea')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchName">{{ 'Neg Branch' | translate}}</label>
                    <div class="col24">
                        <icabs-branchsearch #BranchName [inputParams]="dropdownConfig.negBranch.inputParams" (receivedbranchsearch)="negBranchOnChange($event)"
                            [active]="dropdownConfig.negBranch.active" [isDisabled]="false" [isRequired]="false"></icabs-branchsearch>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}</label>
                    <div class="col8 pr5">
                        <input icabsZeroPad eTypeCode id="ContractNumber" class="form-control" formControlName="ContractNumber" type="text" size="8"
                            [attr.maxlength]="8" (change)="contractNumberOnChange()">
                    </div>
                    <div class="col14 pr5">
                        <input eTypeText id="ContractName" class="form-control" formControlName="ContractName" type="text" size="20" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="false" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.contract.childConfigParams"
                            [contentComponent]="ellipsisConfig.contract.component" (ellipsisData)="fetchEllipsisData($event, 'contract')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-offset-4 col-sm-4">
                    <label class="col24" for="PercentageOverUnder">{{ 'Percentage (Over/Under)' | translate}}</label>
                    <div class="col8 pr5">
                        <input eTypeDecimal2 id="PercentageOverUnder" class="form-control" formControlName="PercentageOverUnder" type="text" size="6"
                            [attr.maxlength]="6">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refreshGrid()"></icabs-refresh>
                    <icabs-pagination [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyClick)="gridBodyOnClick($event)" (onSuccess)="gridAfterExecute()" (headerClick)="fetchGridData()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>