<div class="grdAccountBank">
    <form novalidate [formGroup]="bankDetailsFormGroup" (ngSubmit)="$event.preventDefault();">
        <div class="row mt10">
            <div class="col-sm-3">
                <label class="col24" for="Accounttype">{{'Bank Account Type Code' | translate }} </label>
                <div class="col22 pr5">
                    <icabs-common-dropdown #bankAccountTypeCodeCommonDropDown [inputParams]="inputParamsBankAccountTypeSearch" [displayFields]="bankAccountTypeSearchDisplayFields"
                        [isTriggerValidate]="fieldRequired.isBankAccountTypeCodeRequired" [isRequired]="fieldRequired.isBankAccountTypeCodeRequired"
                        [isDisabled]="!this['bankDetailsFormGroup'].controls['BankAccountTypeCode'].enabled" (onDataReceived)="onBankAccountTypeCodeSearchDataReceived($event)"
                        [isActive]="bankAccountTypeActiveItem"></icabs-common-dropdown>
                </div>
                <div class="col2">
                    <input type="hidden" class="form-control" formControlName="BankAccountTypeCode" size="1" [attr.maxlength]="1" eTypeCode>
                    <input type="hidden" class="form-control" formControlName="BankAccountTypeDesc" size="40" [attr.maxlength]="30">
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="Accountsort"><span id="spanBankAccountSortCode"></span><span id="BankAccountSortCodeLab">{{ iBANFlag ? 'BIC'  : 'Bank Account SortCode'  | translate }}</span> </label>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="BankAccountSortCode" size="12" [attr.maxlength]="12">
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-5">
                <label class="col24" for="Accountnumber"><span id="spanBankAccountNumber"></span><span id="BankAccountNumberLab">{{ iBANFlag ? 'IBAN'  : 'Bank Account Number' | translate }}</span> </label>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="BankAccountNumber" size="46" [attr.maxlength]="40" eTypeText>
                </div>

            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="Virtualnumber"><span id="spanVirtualBankAccountNumber"></span>{{'Virtual Bank Account Number' | translate }} </label>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="VirtualBankAccountNumber" size="46" [attr.maxlength]="40" eTypeText />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-3">
                <label class="col24" for="Accountinfo"><span id="spanBankAccountInfo"></span>{{'Bank Account Info' | translate }} </label>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="BankAccountInfo" size="46" [attr.maxlength]="30" eTypeText />
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.SEPAMandateRef === true">
            <div class="col-sm-3">
                <label class="col24" for="SEPAmandatenumber"><span id="spanSEPAMandateRef"></span>{{'SEPA Mandate Reference' | translate }} </label>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="MandateNumberSEPA" size="46" [attr.maxlength]="40" eTypeText>
                </div>
                <div class="col6 pr5">
                    <input class="btn btn-sm btn-primary" type="button" value="{{'Generate New' | translate}}" formControlName="cmdGenerateNew"
                        (click)="onCmdGenerateNewClick($event)">
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.FinanceMandateRef === true">
            <div class="col-sm-3">
                <label class="col24" for="Financenumber"><span id="spanFinanceMandateRef"></span>{{'Finance Mandate Reference' | translate }} </label>
                <div class="col16 pr5">
                    <input type="text" class="form-control" formControlName="MandateNumberFinance" size="46" [attr.maxlength]="40" eTypeText />
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.MandateDate === true">
            <div class="col-sm-3">
                <label class="col24" for="Mandatedate"><span id="spanMandateDate"></span>{{'Mandate Date' | translate }} </label>
                <div class="col16">
                    <input type="hidden" class="form-control" formControlName="MandateDate" size="10" [attr.maxlength]="10">
                    <icabs-datepicker id="dtMandateDate" [dt]="dtMandateDate" [isDisabled]="idMandateDateDisabled" [isRequired]="fieldRequired.isMandateDateRequired"
                        (selectedValue)="onMandateDateSelectedValue($event)"></icabs-datepicker>
                </div>
            </div>
        </div>
        <div class="row mt2" *ngIf="fieldVisibility.SEPADirectDebit === true">
            <div class="col-sm-3">
                <label class="col24" for="debittype">{{'SEPA Direct Debit Type' | translate }} </label>
                <div class="col16">
                    <select id="selMandateTypeCode" class="form-control" formControlName="selMandateTypeCode">
                        <option selected value="" >{{'None' | translate }}</option>  
                        <option *ngFor="let item of ttMandateType" [value]="item.MandateTypeCode" >{{item.MandateTypeDesc}} </option>             			
                    </select>
                </div>
            </div>
        </div>
    </form>

</div>
<icabs-prompt-modal #promptModalBankDetail="child" [(showHeader)]="showMessageHeader" [title]="promptTitle" [content]="promptContent"
    (saveEmit)="promptSave($event)"></icabs-prompt-modal>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader"></icabs-modal>