<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch' | translate }}</label>
                    <div class="col24">
                        <input type="text" id="BranchNumber" size="5" maxlength="5" formControlName="BranchNumber" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col8 pr5">
                        <label class="col24">{{ 'Date From' | translate }}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker [isDirectiveBased]="false" id="SelectDateFrompicker" formControlName="SelectDateFrompicker"></icabs-datepicker>
                    </div>
                    <div class="col8">
                        <label class="col24">{{ 'To' | translate }}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker [isDirectiveBased]="false" id="SelectDateTopicker" formControlName="SelectDateTopicker"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="7" maxlength="4" formControlName="BranchServiceAreaCode" class="form-control"
                            (change)="getEmployeeSurname()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="EmployeeSurname" size="40" maxlength="40" formControlName="EmployeeSurname" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #BranchServiceAreaSearchEllipsis [autoOpen]="false" [showCloseButton]="true" [childConfigParams]="branchServiceAreaSearchParams"
                            [modalConfig]="modalConfig" [contentComponent]="branchServiceAreaSearchComponent" (ellipsisData)="onBranchServiceAreaSearchReceived($event)"
                            [showHeader]="true" (modalHidden)=false [searchModalRoute]="searchModalRoute" [disabled]="false"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RegulatoryAuthorityNumber">{{ 'Regulatory Authority' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="RegulatoryAuthorityNumber" size="7" maxlength="4" formControlName="RegulatoryAuthorityNumber" class="form-control"
                            eTypeCode (change)="getRegulatoryAuthorityName()">
                    </div>
                    <div class="col16 pr5">
                        <input type="text" id="RegulatoryAuthorityName" size="40" maxlength="40" formControlName="RegulatoryAuthorityName" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                            <icabs-ellipsis-generic [showCloseButton]="true" [showHeader]="true"
                                [autoOpen]="regulatoryAuthorityNumber.autoOpen"
                                [ellipsisTitle]="regulatoryAuthorityNumber.ellipsisTitle"
                                [ellipsisColumn]="regulatoryAuthorityNumber.tableColumn"
                                [configParams]="regulatoryAuthorityNumber.configParams"
                                [disabled]="regulatoryAuthorityNumber.disable"
                                (ellipsisData)="onRegulatoryAuthoritySearchReceived($event)"
                                [httpConfig]="regulatoryAuthorityNumber.httpConfig">
                            </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"  [canExport]="true" [exportOptions]="expCfg"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid id="riGrid"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>