<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Business' | translate}} </label>
                    <div class="col16 pr5">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40" maxlength="8"
                            class="form-control" eTypeText>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label class="col20">{{'Branch' | translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="5"
                            class="form-control" eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="BranchName" formControlName="BranchName" size="38" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                        <label class="col20">{{'Company (blank for all)' | translate}} </label>
                        <div class="col20">
                            <icabs-business-company-search #companyDropdown [inputParams]="dropdown.company.params"
                                (receivedCompanyCode)="onCompanyChange($event)" [active]="dropdown.company.active">
                            </icabs-business-company-search>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Employee (blank for all)' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="EmployeeCode" formControlName="EmployeeCode" size="6" maxlength="6"
                            class="form-control" (change)="onEmployeeCodeChange()" eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" size="38"
                            maxlength="40" class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.employeeSearch.childConfigParams"
                            [contentComponent]="ellipsis.employeeSearch.component" [showHeader]="true"
                            (ellipsisData)="onEmployeeSearchDataReturn($event)">
                        </icabs-ellipsis>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label class="col20">{{'Sales Type' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="SalesType" class="form-control" formControlName="SalesType">
                            <option value="All">{{'All' | translate}}</option>
                            <option value="SalesEmp">{{'Sales Employee' | translate}}</option>
                            <option value="ServiceSales">{{'Service/Sales Emp' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'From Date' |translate}}</label>
                    <div class="col14 pr5">
                        <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col20">{{'To Date' |translate}}</label>
                    <div class="col14 pr5">
                        <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Date Type' |translate}}</label>
                    <select id="ReportMode" class="form-control" formControlName="ReportMode">
                        <option value="Processed">{{'Processed' | translate}}</option>
                        <option value="Effective">{{'Effective' | translate}}</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <label class="col20">{{'Report Destination' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="RepDest" class="form-control" formControlName="RepDest">
                            <option value="direct">{{'Report Viewer' | translate}}</option>
                            <option value="Email">{{'Email' | translate}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label class="col20"></label>
                    <input type="button" class="btn btn-primary mr10"
                        value="{{ 'Submit Report Generation' | translate }}" (click)="onSubmit()">
                </div>
            </div>
        </section>
    </form>

    <div class="row mt10" *ngIf="message">
        <div class="col-sm-12" id="trInformation">
            <label class="col24 message-box info-label">
                {{ message | translate }}
            </label>
        </div>
    </div>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>