<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="pageParent ==='business'">
                    <label class="col20">{{'Business' |translate}} </label>
                    <div class="col20 pr5">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="9" maxlength="9"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageParent ==='region'">
                    <label class="col24">{{'Region Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageParent ==='branch'">
                    <label class="col24">{{'Branch Number' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageParent ==='employee'">
                    <label class="col24">{{'Employee Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="EmployeeCode" formControlName="EmployeeCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" size="40"
                            maxlength="40" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageParent ==='Postcode'">
                    <label class="col24">{{'Postcode' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="Postcode" formControlName="Postcode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-5">
                            <label for="From" class="col20">{{ strReportMode + ' From' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <input type="text" id="DateFrom" formControlName="DateFrom" size="40" maxlength="40"
                                    class="form-control" eTypeText>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <label for="To" class="col20">{{ strReportMode + ' To' | translate}}
                                <span class="mandatory">*</span>
                            </label>
                            <div class="col24">
                                <input type="text" id="DateTo" formControlName="DateTo" size="40" maxlength="40"
                                    class="form-control" eTypeText>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strReportMode.toLowerCase()==='wcni'">
                    <label for="From" class="col20">{{'Effective' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col14">
                        <icabs-datepicker formControlName="DateOnBefore" (change)="onDateChange()"
                            [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4" *ngIf="strLevel ==='Region'">
                    <label class="col24">{{'Region Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strLevel ==='Branch'">
                    <label class="col24">{{'Branch Number' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strLevel ==='Employee' || strLevel ==='ProductQuantity'">
                    <label class="col24">{{'Employee Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="EmployeeCode" formControlName="EmployeeCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" size="40"
                            maxlength="40" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strLevel ==='Product'">
                    <label class="col24">{{'Product Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductCode" formControlName="ProductCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="ProductDesc" formControlName="ProductDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strLevel ==='Origin'">
                    <label class="col24">{{'Origin Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="OriginCode" formControlName="OriginCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="OriginDesc" formControlName="OriginDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strLevel ==='Postcode'">
                    <label class="col24">{{'Postcode' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="Postcode" formControlName="Postcode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="strLevel ==='ExpenseCode'">
                    <label class="col24">{{'Expense Code' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="ExpenseCode" formControlName="ExpenseCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="ExpenseDesc" formControlName="ExpenseDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="filterByTxt">
                    <label class="col24">{{filterByTxt |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="FilterCode" formControlName="FilterCode" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="FilterDesc" formControlName="FilterDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this['pageParams']['vSCEnableCompanyCode']">
                    <label class="col24" id="spanCompanyCode">{{ 'Company (blank for all)' | translate }}</label>
                    <div class="col20">
                        <input type="text" id="CompanyDesc" formControlName="CompanyDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Filter' |translate}} </label>
                    <div class="col20">
                        <input type="text" id="FilterColumn" formControlName="FilterColumn" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalRecords"
                        [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                        [currentPage]="this['pageParams'].gridCurrentPage" [canExport]="true"
                        (getCurrentPage)="getCurrentPage($event)" [exportOptions]="{dateColumns: '0,16'}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div style="overflow-x:auto;">
                        <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"></icabs-grid-advanced>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
