<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{this['pageTitle'] | translate}} </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Job/Contract Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" size="11" [attr.maxlength]="8" class="form-control" formControlName="ContractNumber" [icabsDirFocus]="setFocusOnContractNumber"
                            id="ContractNumber" (change)="contractNumberFormatOnChange()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" [attr.maxlength]="30" class="form-control" formControlName="ContractName" id="ContractName"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contractNumberSearch.childConfigParams" [contentComponent]="ellipsis.contractNumberSearch.contentComponent"
                            [showHeader]="ellipsis.contractNumberSearch.isShowHeader" [showCloseButton]="ellipsis.contractNumberSearch.showCloseButton"
                            [disabled]="ellipsis.contractNumberSearch.isDisabled" [modalConfig]="ellipsis.contractNumberSearch.modalConfig"
                            (ellipsisData)="contractNumberOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12 pr5">
                        <label class="col24">{{'Service Date From' | translate}}</label>
                        <icabs-datepicker formControlName="DateFrom" id="DateFrom" (onChange)="dateFromOnChange($event)" [isDirectiveBased]="false"
                            [attr.maxlength]="10"></icabs-datepicker>
                    </div>
                    <div class="col12">
                        <label class="col24">{{'To' | translate}}</label>
                        <icabs-datepicker formControlName="DateTo" id="DateTo" (onChange)="dateToOnChange($event)" [isDirectiveBased]="false" [attr.maxlength]="10"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Premises Number' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" size="11" [attr.maxlength]="8" class="form-control" formControlName="PremiseNumber" id="PremiseNumber"
                            (change)="premiseNumberOnChnage()" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" [attr.maxlength]="30" formControlName="PremiseName" class="form-control" id="PremiseName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premiseNumberSearch.childConfigParams" [contentComponent]="ellipsis.premiseNumberSearch.contentComponent"
                            [showHeader]="ellipsis.premiseNumberSearch.isShowHeader" [showCloseButton]="ellipsis.premiseNumberSearch.showCloseButton"
                            [disabled]="ellipsis.premiseNumberSearch.isDisabled" [modalConfig]="ellipsis.premiseNumberSearch.modalConfig"
                            (ellipsisData)="premiseNumberOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code' | translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" size="11" [attr.maxlength]="8" formControlName="ProductCode" class="form-control" id="ProductCode" (change)="productCodeOnChnage()"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" size="40" [attr.maxlength]="30" formControlName="ProductDesc" class="form-control" id="ProductDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.productSearch.childConfigParams" [contentComponent]="ellipsis.productSearch.contentComponent"
                            [showHeader]="ellipsis.productSearch.isShowHeader" [showCloseButton]="ellipsis.productSearch.showCloseButton"
                            [disabled]="ellipsis.productSearch.isDisabled" [modalConfig]="ellipsis.productSearch.modalConfig"
                            (ellipsisData)="productCodeOnReceive($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Visit Freq' | translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" size="8" [attr.maxlength]="3" class="form-control" formControlName="ServiceVisitFrequency" id="ServiceVisitFrequency"
                            eTypeInteger>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="this['pageParams']['totalRecords'] > 0 ? '':'hidden'" [totalItems]="this['pageParams']['totalRecords']"
                        [currentPage]="this['pageParams']['curPage']" [itemsPerPage]="this['pageParams']['pageSize']" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyClick)="riGridBodyOnClick($event)" (bodyDblClick)="riGridBodyOnDblClick($event)" (bodyKeyDown)="riGridBodyOnKeyDown($event)"
                        (headerClick)="riGridSort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>