<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>


    <section class="screen-body">
        <form novalidate [formGroup]="this['uiForm']">
            <div class="row mt5">
                <div class="col-sm-2">
                    <label for="ResvStockReportTime"
                        class="col24">{{reserveStockRptConstant.lblTime | translate}}</label>
                    <div class="col8">
                        <input type="text" id="ResvStockReportTime" eTypeTime formControlName="ResvStockReportTime"
                            maxlength="5">
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="resvStockReportBranch"
                        class="col24">{{reserveStockRptConstant.lblBranch | translate}}</label>
                    <div class="col8">
                        <input type="text" id="ResvStockReportBranch" formControlName="ResvStockReportBranch"
                            maxlength="25">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col12 pr5">
                        <label
                            for="ResvStockReportStartDate">{{ reserveStockRptConstant.lblPlanDtFrom | translate }}</label>
                        <input type="text" id="ResvStockReportStartDate" eTypeDate
                            formControlName="ResvStockReportStartDate" maxlength="25">
                    </div>
                    <div class="col12">
                        <label class="col24" for="ResvStockReportEndDate">{{ reserveStockRptConstant.lblPlanDtTo |
                            translate }}</label>
                        <input type="text" id="ResvStockReportEndDate" eTypeDate
                            formControlName="ResvStockReportEndDate" maxlength="25">
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-2">
                    <label for="ResvStockReportProdCode" class="col24">{{reserveStockRptConstant.lblProdCode |
                        translate}}</label>
                    <div>
                        <select class="col17" (change)="onSelect('iCABSProduct')" formControlName="iCABSProduct">
                            <option value="">{{reserveStockRptConstant.dropDownDefault | translate}}</option>
                            <option value="{{prodCode}}" *ngFor="let prodCode of prodCodeOptions; let idx = index;">{{
                                prodCode | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="ResvStockReportProdDepot" class="col24">{{reserveStockRptConstant.lblDepot |
                        translate}}</label>
                    <div>
                        <select class="col17" (change)="onSelect('DepotCode')" formControlName="DepotCode">
                            <option value="">{{reserveStockRptConstant.dropDownDefault}}</option>
                            <option value="{{depotCode}}" *ngFor="let depotCode of depotOptions; let idx = index;">{{
                                depotCode | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="ResvStockReportCompanyCode" class="col24">{{reserveStockRptConstant.lblCompanyCode |
                        translate}}</label>
                    <div>
                        <select class="col17" (change)="onSelect('CompanyCode')" formControlName="CompanyCode">
                            <option value="">{{reserveStockRptConstant.dropDownDefault}}</option>
                            <option value="{{compCode}}" *ngFor="let compCode of compCodeOptions; let idx = index;">{{
                                compCode | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>

        <hr class="mt15 mb15">
        <div id="nav-error-list" *ngIf="naverrorlist && naverrorlist.pageData && naverrorlist.pageData.numResults">
            <h4>Nav Error(s) count: {{naverrorlist.pageData.numResults}}</h4>
            <ul>
                <li *ngFor="let error of naverrorlist.records">
                    {{ error.Message }}
                </li>
            </ul>
        </div>
        <div class="row mt10">
            <div class="col-sm-5">
                <icabs-refresh (click)="onRefresh()"></icabs-refresh>
            </div>

            <div class="col-sm-12 mt10">
                <div class="col-sm-12">
                    <icabs-table #navErrorDataTable [isEnableSort]="true" [columns]="columns" [isStaticMode]="true"
                        [showPagination]="false" [isRefreshVisible]="false" [showEmptyBlock]="true">
                    </icabs-table>
                </div>
            </div>
        </div>

    </section>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>

</section>