<section class="container-fluid custom-container">
  <header class="screen-header">
    <div class="row">
      <div class="col-sm-12 page-title mt10">
        <h1>{{ this['pageTitle'] | translate }}</h1>
      </div>
    </div>
  </header>
  <form novalidate [formGroup]="this['uiForm']">
    <section class="screen-body">
      <div class="row mt5">

        <div class="col-sm-4" *ngIf="pageType==='Business'">
          <label class="col20">{{'Business' |translate}} </label>
          <div class="col6 pr5">
            <input type="text" id="BusinessCode" formControlName="BusinessCode" size="2" maxlength="9"
              class="form-control" style="display:none" eTypeCode>
          </div>
          <div class="col20 pr5">
            <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="9" maxlength="9"
              class="form-control" eTypeText>
          </div>
        </div>

        <div class="col-sm-4" *ngIf="pageType==='Branch'">
          <label class="col24">{{'Branch' |translate}} </label>
          <div class="col6 pr5">
            <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
              class="form-control" eTypeInteger>
          </div>
          <div class="col14">
            <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
              class="form-control" eTypeText>
          </div>
        </div>

        <div class="col-sm-4" *ngIf="pageType==='Region'">
          <label class="col24">{{'Region' |translate}} </label>
          <div class="col6 pr5">
            <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9" class="form-control"
              eTypeCode>
          </div>
          <div class="col14">
            <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
              class="form-control" eTypeText>
          </div>
        </div>
      </div>

      <div class="row mt5">
        <div class="col-sm-3">
          <label class="col20">{{'From' |translate}}<span class="mandatory">*</span></label>
          <div class="col16 pr5">
            <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false">
            </icabs-datepicker>
          </div>
        </div>
        <div class="col-sm-3">
          <label class="col20">{{'To' |translate}}<span class="mandatory">*</span></label>
          <div class="col16 pr5">
            <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false">
            </icabs-datepicker>
          </div>
        </div>
      </div>

      <div class="row mt5">
        <div class="col-sm-3">
          <label class="col24">{{ 'Ticket Type' | translate }}</label>
          <div class="col24 pr5">
            <select class="form-control" id="ContactTypeCode" formControlName="ContactTypeCode"
              (change)="onContactTypeChange()">
              <option value="all">{{ 'All' | translate }}</option>
              <option *ngFor="let item of this['pageParams'].contactTypes" value="{{ item.value }}">
                {{ item.text | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <label class="col24">{{ 'Detail' | translate }}</label>
          <div class="col24 pr5">
            <select class="form-control" id="ContactTypeDetailCode" formControlName="ContactTypeDetailCode">
              <option *ngFor="let item of this['pageParams'].contactTypeDetails" value="{{ item.value }}">
                {{ item.text | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="col24">
            <label>{{ 'Root Cause' | translate }}</label>
          </div>
          <div class="col16">
            <select id="RootCauseCode" class="form-control" formControlName="RootCauseCode">
              <option value="all">{{ 'All' | translate }}</option>
              <option *ngFor="let item of ttRootCause" [value]="item.ttRootCauseCode">
                {{item.ttRootCauseSystemDescription }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt2">
        <div class="col-sm-3">
          <label class="col24" for="spanCustomerTypeCode">{{ 'Customer Type (blank for all)' | translate }}</label>
          <div class="col8 pr5">
            <input type="text" id="CustomerTypeCode" size="9" maxlength="9" formControlName="CustomerTypeCode"
              class="form-control" fetchDescription table="CustomerTypeLanguage" query="CustomerTypeCode"
              select="CustomerTypeDesc" eTypeCode>
          </div>
          <div class="col14 pr5">
            <input id="CustomerTypeDesc" formControlName="CustomerTypeDesc" class="form-control" size="40"
              maxlength="40" type="text">
          </div>
          <div class="col2">
            <icabs-ellipsis #customerTypeSearchEllipsis
              [showCloseButton]="ellipsis.customerTypeCodeEllipsis.showCloseButton"
              [childConfigParams]="ellipsis.customerTypeCodeEllipsis.childparams"
              [contentComponent]="ellipsis.customerTypeCodeEllipsis.component"
              (ellipsisData)="onCustomerTypeDataReceived($event)"
              [showHeader]="ellipsis.customerTypeCodeEllipsis.showHeader"
              [disabled]="ellipsis.customerTypeCodeEllipsis.disabled"></icabs-ellipsis>
          </div>
        </div>

        <div class="col-sm-4">
          <label class="col24"></label>
          <div class="col24">
            <input type="button" (click)="submitReportGeneration()" class="btn btn-primary" id="cmdSubmit"
              value="{{'Submit Report Generation'|translate}}">
          </div>
        </div>
        <div class="col-sm-8" *ngIf="reportMessage">
          <label class="col24 mt20 message-box info-label">
            {{ reportMessage | translate }}
          </label>
        </div>
      </div>

      <hr class="mt15 mb15">

      <div class="row">
        <div class="col-sm-6">
          <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
          <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
            [currentPage]="this['pageParams'].gridCurrentPage"
            [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
            (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
            [ngClass]="{hidden: !this['pageParams'].hasGridData}">
          </icabs-pagination>
        </div>
      </div>

      <div class="row mt10">
        <div class="col-sm-12">
          <div style="overflow-x:auto;">
            <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (bodyDblClick)="riGridBodyOnDblClick()">
            </icabs-grid-advanced>
          </div>
        </div>
      </div>
    </section>
  </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>