<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">

                <div class="col-sm-4" *ngIf="pageType==='Business'">
                    <label class="col20">{{'Business' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BusinessCode" formControlName="BusinessCode" size="2" maxlength="9"
                            class="form-control" style="display:none" eTypeCode>
                    </div>
                    <div class="col20 pr5">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="9" maxlength="9"
                            class="form-control" eTypeText>
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="pageType==='Branch' && this.showBranch">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="pageType==='Region' || this.showRegion">
                    <label class="col24">{{'Region' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                            class="form-control" eTypeCode>
                    </div>
                    <div class="col14">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>

            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Report Number' | translate }}</label>
                    <div class="col16">
                        <input type="text" id="ReportNumber" size="10" maxlength="10" class="form-control"
                            formControlName="ReportNumber">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col20">{{'From' |translate}}</label>
                    <div class="col14">
                        <input type="text" id="DateFrom" formControlName="DateFrom" size="40" maxlength="40"
                            class="form-control" eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col20">{{'To' |translate}}</label>
                    <div class="col14">
                        <input type="text" id="DateTo" formControlName="DateTo" size="40" maxlength="40"
                            class="form-control" eTypeDate>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="pageType==='Business' && this.pageMode !=='LookUp'">
                    <label class="col20">{{'View By' |translate}} </label>
                    <div class="col20 pr5">
                        <select id="ViewBy" formControlName="ViewBy" class="form-control"
                            (change)="setInitialValues(true)">
                            <option value="Branch">{{ 'Branch' |translate}}</option>
                            <option value="Region">{{ 'Region' |translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Ticket Type' | translate }}</label>
                    <div class="col14">
                        <input type="text" id="ContactType" formControlName="ContactType" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Detail' | translate }}</label>
                    <div class="col14">
                        <input type="text" id="ContactTypeDetail" formControlName="ContactTypeDetail" size="40"
                            maxlength="40" class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Root Cause' | translate }}</label>
                    <div class="col14">
                        <input type="text" id="RootCause" formControlName="RootCause" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Customer Type' | translate }}</label>
                    <div class="col14 pr5">
                        <input id="CustomerType" formControlName="CustomerType" class="form-control" size="40"
                            maxlength="40" type="text">
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()"
                        (bodyDblClick)="riGridBodyOnDblClick()">
                    </icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>