// ----------------------------------------------------------------------

  // Box Shadow

// ----------------------------------------------------------------------

 // example: @include box-shadow(1px, 2px, 2px, 2px, #000);

@mixin box-shadow($hoff: false, $voff: false, $blur: false, $spread: false, $color: false){
	-moz-box-shadow: $hoff $voff $blur $spread $color;
	-webkit-box-shadow: $hoff $voff $blur $spread $color;
  	box-shadow: $hoff $voff $blur $spread $color;
}
