<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-4">
                <label class="col24">{{'User Code'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="UserCode" size="12" maxlength="12" class="form-control"
                        formControlName="UserCode" eTypeCode (change)="onUserCodeChange()">
                </div>
                <div class="col14 pr5">
                    <input type="text" id="UserName" size="50" maxlength="50" class="form-control"
                        formControlName="UserName" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [autoOpen]="ellipsis['riMUserSearch']['autoOpen']" [childConfigParams]="ellipsis['riMUserSearch']['inputParams']"
                            [modalConfig]="modalConfig" [contentComponent]="ellipsis['riMUserSearch']['contentComponent']" (ellipsisData)="riMUserSearchOnDataRecieved($event)"
                            [showHeader]="ellipsis['riMUserSearch']['showHeader']" [disabled]="ellipsis['riMUserSearch']['isEllipsisDisabled']"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="col24">{{'Team Code'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="TeamID" size="12" maxlength="12" class="form-control"
                        formControlName="TeamID" eTypeCode (change)="onTeamChange()">
                </div>
                <div class="col16 pr5">
                    <input type="text" id="TeamSystemName" size="50" maxlength="50" class="form-control"
                        formControlName="TeamSystemName" eTypeText>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-4">
                <div class="col20">
                    <label class="col24" for="TeamClosureSecurityLevel">{{'Team Closure Security Level' | translate}}</label>
                    <select class="form-control" id="TeamClosureSecurityLevel" formControlName="TeamClosureSecurityLevel">
                        <option value="0">{{'Use Team Settings' | translate}}</option>
                        <option value="1">{{'Cannot Close Any Tickets' | translate}}</option>
                        <option value="2">{{'Close From Home Branch Only' | translate}}</option>
                        <option value="3">{{'Close Based Upon Branch Write Access Setup' | translate}}</option>
                        <option value="4">{{'Close All Tickets' | translate}}</option>
                        
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col20 mt20">
                    <input type="checkbox" class="form-control" id="DefaultTeamInd" formControlName="DefaultTeamInd">
                    <label for="DefaultTeamInd">{{'Default Team' | translate}}</label>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="col20 mt20">
                    <input type="checkbox" class="form-control" id="AdministratorInd"
                        formControlName="AdministratorInd" [disabled]="pageMode === 'eModeDelete'">
                    <label for="AdministratorInd">{{'Administrator' | translate}}</label>
                </div>
            </div>
        </div>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row mt10">
            <div class="col-sm-8">
                <input type="button" id="add" class="btn btn-additional mr20" value="{{ 'Add' | translate }}"
                    (click)="onAddClick()" *ngIf="pageMode !== 'eModeAdd'">
                <input type="button" id="save" class="btn btn-primary mr20" value="{{ 'Save' | translate }}"
                    (click)="onSaveClick()" [disabled]="pageMode === 'eModeDelete'">
                <input type="button" id="cancel" class="btn btn-secondary mr20" value="{{ 'Cancel' | translate }}"
                    (click)="onCancelClick()" [disabled]="pageMode === 'eModeDelete'">
                <input type="button" id="delete" class="btn btn-additional mr20" value="{{ 'Delete' | translate }}"
                    (click)="onDelete()" *ngIf="pageMode !== 'eModeAdd'" [disabled]="pageMode === 'eModeDelete'">
            </div>
        </div>
    </footer>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>