<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col9 pr10">
                        <label for="From" class="col24">{{'From' | translate}}</label>
                        <input type="text" id="DateFrom" formControlName="DateFrom" size="10" maxlength="10"
                            class="form-control" eTypeDate>
                    </div>
                    <div class="col8">
                        <label for="To" class="col24">{{'To' | translate}}</label>
                        <input type="text" id="DateTo" formControlName="DateTo" size="10" maxlength="10"
                            class="form-control" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Prep' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="PrepCode" formControlName="PrepCode" size="6" maxlength="6"
                            class="form-control" eTypeCode>
                    </div>
                    <div class="col14">
                        <input type="text" id="PrepDesc" formControlName="PrepDesc" size="10" maxlength="10"
                            class="form-control" eTypeText>
                    </div>
                    <label class="col24">{{'Measured In'|translate}}</label>
                    <div class="col6 pr5">
                        <input id="MeasuredIn" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="MeasuredIn" eTypeText>
                    </div>
                </div>
            </div>

        </section>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                    [currentPage]="this['pageParams'].gridCurrentPage"
                    [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                    [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                </icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>