<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4" *ngIf="this.pageType==='Branch'">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="9" maxlength="9"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this.pageType === 'Business' || this.pageType === 'Premises'">
                    <label class="col24">{{ 'Business' | translate }}</label>
                    <div class="col5 pr5">
                        <input type="text" id="BusinessCode" formControlName="BusinessCode" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col15">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="pageType==='Region'">
                    <label class="col24">{{'Region' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                            class="form-control" eTypeCode>
                    </div>
                    <div class="col14">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this.pageType==='Detail'">
                    <label class="col24">{{'Prep' |translate}} </label>
                    <div class="col6 pr5">
                        <input type="text" id="PrepCode" formControlName="PrepCode" size="6" maxlength="6"
                            class="form-control" eTypeCode>
                    </div>
                    <div class="col14">
                        <input type="text" id="PrepDesc" formControlName="PrepDesc" size="10" maxlength="10"
                            class="form-control" eTypeText>
                    </div>
                    <label class="col24">{{'Measured In'|translate}}</label>
                    <div class="col6 pr5">
                        <input id="MeasuredIn" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="MeasuredIn" (change)="onChange($event, 'MeasuredIn')" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col9 pr10">
                        <label for="From" class="col24">{{'From' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker formControlName="DateFrom" (onChange)="this['commonGridFunction'].resetGrid()"
                            [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                    <div class="col8">
                        <label for="To" class="col24">{{'To' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker formControlName="DateTo" (onChange)="this['commonGridFunction'].resetGrid()"
                            [isDirectiveBased]=" false">
                        </icabs-datepicker>
                    </div>
                    <div *ngIf="this.pageType==='Detail' && this['parentMode'] === 'Region'">
                        <label class="col24">{{'Region' |translate}} </label>
                        <div class="col6 pr5">
                            <input type="text" id="RegionCode" formControlName="RegionCode" size="9" maxlength="9"
                                class="form-control" eTypeInteger>
                        </div>
                        <div class="col14">
                            <input type="text" id="RegionDesc" formControlName="RegionDesc" size="40" maxlength="40"
                                class="form-control" eTypeText>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="this.pageType === 'Premises'">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductCode" size="8" [attr.maxlength]="8" class="form-control"
                            formControlName="ProductCode" (change)="onChange($event, 'Product')" eTypeCode
                            fetchDescription table="Product" query="ProductCode" select="ProductDesc">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ProductDesc" size="30" [attr.maxlength]="35" class="form-control"
                            formControlName="ProductDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.product.childConfigParams"
                            [contentComponent]="ellipsis.product.component"
                            (ellipsisData)="onEllipsisDataReceived($event, 'Product')" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Show'|translate}}</label>
                    <div class="col9 pr10">
                        <select id="ShowType" class="form-control" formControlName="ShowType">
                            <option value="All">{{'All' | translate}}</option>
                            <option value="C">{{'Contracts' | translate}}</option>
                            <option value="J">{{'Jobs' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4" *ngIf="this.pageType === 'Premises'">
                    <label class="col24">{{'Product Detail Code'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ProductDetailCode" size="8" [attr.maxlength]="8" class="form-control"
                            formControlName="ProductDetailCode" eTypeCode fetchDescription table="ProductDetail"
                            query="ProductDetailCode" select="ProductDetailDesc"
                            (change)="onChange($event, 'ProductDetail')">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ProductDetailDesc" size="30" [attr.maxlength]="35" class="form-control"
                            formControlName="ProductDetailDesc" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.productDetail.childConfigParams"
                            [contentComponent]="ellipsis.productDetail.component"
                            (ellipsisData)="onEllipsisDataReceived($event, 'ProductDetail')" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this.pageType==='Branch'">
                    <label class="col24">{{'Contract Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ContractNumber" size="10" maxlength="8" class="form-control"
                            formControlName="ContractNumber" (change)="onChange($event, 'Contract')" eTypeCode
                            icabsZeroPad>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" size="30" [attr.maxlength]="30" class="form-control"
                            formControlName="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.contract.childConfigParams"
                            [contentComponent]="ellipsis.contract.component" (ellipsisData)="onValueChange($event)"
                            [showHeader]="true"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this.pageType!=='Detail'">
                    <div class="col12 pr5  mt20">
                        <div class="col24">
                            <input type="checkbox" formControlName="EnvironmentMetricInd" id="EnvironmentMetricInd"
                                class="form-control" (change)="this['commonGridFunction'].resetGrid()">
                            <label for="EnvironmentMetricInd">{{ 'Environmental Metric' | translate }}</label>
                        </div>
                    </div>
                    <div class="col8" *ngIf="this.getControlValue('EnvironmentMetricInd')">
                        <div class="col24">
                            <label for="SelEnvironmentUsage" class="col24">{{'Usage' | translate}}
                            </label>
                            <select id="SelEnvironmentUsage" tabindex="-1" formControlName="SelEnvironmentUsage"
                                class="form-control" (change)="onChange($event.target.value, 'Environment')">
                                <option *ngFor="let environment of environmentalUsages"
                                    value="{{ environment.EnvironmentCode }}">
                                    {{environment.EnvironmentDesc | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="this.pageType === 'Premises'">
                <div class="col-sm-4">
                    <label class="col24">{{'Regulatory Authority'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" id="RegulatoryAuthorityNumber" size="8" [attr.maxlength]="8"
                            class="form-control" formControlName="RegulatoryAuthorityNumber" eTypeCode fetchDescription
                            table="RegulatoryAuthority" query="RegulatoryAuthorityNumber"
                            select="RegulatoryAuthorityName">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="RegulatoryAuthorityName" size="30" [attr.maxlength]="35"
                            class="form-control" formControlName="RegulatoryAuthorityName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic [showCloseButton]="true" [showHeader]="true"
                            [autoOpen]="ellipsis.regulatoryAuthority.autoOpen"
                            [ellipsisTitle]="ellipsis.regulatoryAuthority.ellipsisTitle"
                            [ellipsisColumn]="ellipsis.regulatoryAuthority.tableColumn"
                            [configParams]="ellipsis.regulatoryAuthority.configParams"
                            [disabled]="ellipsis.regulatoryAuthority.disable"
                            (ellipsisData)="onEllipsisDataReceived($event, 'RegulatoryAuthority')"
                            [httpConfig]="ellipsis.regulatoryAuthority.httpConfig">
                        </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                    [currentPage]="this['pageParams'].gridCurrentPage"
                    [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                    [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                </icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (headerClick)="onRiGridRefresh()" (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>