<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <div class="col24">
                        <label> {{'Prospect Number' | translate }}</label>
                    </div>
                    <div class="col16 pr5">
                        <input eTypeAutoNumber type="text" class="form-control" id="ProspectNumber" size="6" [attr.maxlength]="6" formControlName="ProspectNumber"
                            (change)="onChangeControl($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this.isAddEnabled" [autoOpen]="ellipsisConfig.prospect.autoOpen" [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.prospect.childConfigParams" [contentComponent]="ellipsisConfig.prospect.component"
                            (ellipsisData)="fetchEllipsisData($event, 'prospect')">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label> {{'Account' | translate }}<span class="mandatory">*</span></label>
                    </div>
                    <div class="col18 pr5">
                        <input #AccountNumber eTypeCode icabsZeroPad type="text" class="form-control" id="AccountNumber" size="9" [attr.maxlength]="9"
                            formControlName="AccountNumber" (change)="onChangeControl($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['AccountNumber'].disabled" [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.account.childConfigParams" [contentComponent]="ellipsisConfig.account.component"
                            (ellipsisData)="fetchEllipsisData($event, 'account')">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label> {{'Contract' | translate }}</label>
                    </div>
                    <div class="col16 pr5">
                        <input #ContractNumber eTypeCode icabsZeroPad type="text" class="form-control" id="ContractNumber" size="8" [attr.maxlength]="8"
                            formControlName="ContractNumber" (change)="onChangeControl($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="this['uiForm'].controls['ContractNumber'].disabled" [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.contract.childConfigParams" [contentComponent]="ellipsisConfig.contract.component"
                            (ellipsisData)="fetchEllipsisData($event, 'contract')">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <label> {{'Premises' | translate }}</label>
                    </div>
                    <div class="col16 pr5">
                        <input #PremiseNumber eTypeInteger type="text" class="form-control" id="PremiseNumber" size="5" [attr.maxlength]="5" formControlName="PremiseNumber"
                            (change)="onChangeControl($event)">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #PremiseModal [disabled]="this['uiForm'].controls['PremiseNumber'].disabled" [showCloseButton]="true" [showHeader]="true"
                            [childConfigParams]="ellipsisConfig.premise.childConfigParams" [contentComponent]="ellipsisConfig.premise.component"
                            (ellipsisData)="fetchEllipsisData($event, 'premise')">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt15">
                <div class="col-xs-12">
                    <ul #NavTabs class="nav nav-tabs">
                        <li class="nav-item" [ngClass]="{'active': tab.tab1.active}" (click)="riTab.TabFocus(1)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab1.active}">
                                <span>{{'General' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" [ngClass]="{'active': tab.tab2.active}" (click)="riTab.TabFocus(2)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab2.active}">
                                <span>{{ 'Premises' | translate }}</span>
                            </a>
                        </li>
                        <li class="nav-item" [ngClass]="{'active': tab.tab3.active}" (click)="riTab.TabFocus(3)">
                            <a class="nav-link" [ngClass]="{'active': tab.tab3.active}">
                                <span>{{ 'Notes' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div #TabContent class="tab-content">
                <!--General section-->
                <div id="grdMain" class="tab-pane" [ngClass]="{'active': tab.tab1.active}">
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Name' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="Name" size="40" [attr.maxlength]="40"
                                    formControlName="Name" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="Name" size="40" [attr.maxlength]="40"
                                    formControlName="Name">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Address Line 1' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16 pr5">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine1" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine1" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine1" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine1">
                            </div>
                            <div class="col8" *ngIf="isBtnGetAddressVisible">
                                <input type="button" [disabled]="isBtnGetAddressDisabled" class="btn btn-primary" value="{{'Get Address' | translate}}" id="cmdGetAddress"
                                    (click)="cmdGetAddressOnClick()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Address Line 2' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine2" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine2" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine2" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine2">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Town' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine4" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine4" (blur)="addressLine4OnBlur()" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine4" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine4" (blur)="addressLine4OnBlur()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'County' | translate }}<span *ngIf="this['pageParams']['isSCAddressLine5Logical']" class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine5" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine5" (blur)="addressLine5OnBlur()" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="AddressLine5" size="40" [attr.maxlength]="40"
                                    formControlName="AddressLine5" (blur)="addressLine5OnBlur()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Postcode' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input eTypeCode type="text" class="form-control" id="Postcode" size="15" [attr.maxlength]="15" formControlName="Postcode"
                                    (blur)="postcodeOnBlur()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Contact Name' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="ContactName" size="40" [attr.maxlength]="40"
                                    formControlName="ContactName" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="ContactName" size="40" [attr.maxlength]="40"
                                    formControlName="ContactName">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Contact Position' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input eTypeText type="text" class="form-control" id="ContactPosition" size="40" [attr.maxlength]="40" formControlName="ContactPosition">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Telephone' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input eTypeText type="text" class="form-control" id="ContactTelephone" [attr.maxlength]="20" formControlName="ContactTelephone">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Mobile' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input eTypeText type="text" class="form-control" id="ContactMobile" [attr.maxlength]="20" formControlName="ContactMobile">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Fax' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input eTypeText type="text" class="form-control" id="ContactFax" [attr.maxlength]="20" formControlName="ContactFax">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Email' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input eTypeEMail type="text" class="form-control" id="ContactEmail" size="50" [attr.maxlength]="50" formControlName="ContactEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Business Origin' | translate }}</label>
                            </div>
                            <div class="col18">
                                <icabs-business-origin-language-search [isDisabled]="dropdownConfig.businessOrigin.isDisabled" [inputParams]="dropdownConfig.businessOrigin.inputParams"
                                    [active]="dropdownConfig.businessOrigin.active" [isRequired]="false" [triggerValidate]="dropdownConfig.businessOrigin.triggerValidate"
                                    (receivedLostBusinessLangSearch)="onBusinessOriginReceived($event)"></icabs-business-origin-language-search>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Prospect Origin (Contact Medium)' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeCode type="text" class="form-control" id="ContactMediumCode" size="6" [attr.maxlength]="2" formControlName="ContactMediumCode">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="ContactMediumDesc" size="40" [attr.maxlength]="40" formControlName="ContactMediumDesc">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['ContactMediumCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.contactMediumLang.childConfigParams" [contentComponent]="ellipsisConfig.contactMediumLang.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'contactMediumLang')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isAssignToEmployeeVisible" class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Assign To' | translate }}</label>
                            </div>
                            <div class="col8 pr5">
                                <input type="txet" class="form-control" id="AssignToEmployeeCode" size="6" [attr.maxlength]="6" formControlName="AssignToEmployeeCode">
                            </div>
                            <div class="col4 pr5">
                                <input type="text" class="form-control" id="AssignToEmployeeName" size="40" [attr.maxlength]="40" formControlName="AssignToEmployeeName">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['AssignToEmployeeCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.assignToEmployee.childConfigParams" [contentComponent]="ellipsisConfig.assignToEmployee.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'assignToEmployee')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isPDALeadVisible" class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Submitted By Service Employee' | translate }}</label>
                            </div>
                            <div class="col2 pr5">
                                <input type="checkbox" class="form-control" id="PDALeadInd" formControlName="PDALeadInd">
                            </div>
                            <div class="col8 pr5">
                                <input eTypeCode type="text" class="form-control" id="PDALeadEmployeeCode" size="8" formControlName="PDALeadEmployeeCode">
                            </div>
                            <div class="col14 pr5">
                                <input type="text" class="form-control" id="PDALeadEmployeeSurname" size="30" formControlName="PDALeadEmployeeSurname">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['PDALeadEmployeeCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.PDALeadEmployee.childConfigParams" [contentComponent]="ellipsisConfig.PDALeadEmployee.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'PDALeadEmployee')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isSMSMessageVisible" class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'SMS Message' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input type="text" class="form-control" id="SMSMessage" size="50" [attr.maxlength]="140" formControlName="SMSMessage" (onChange)="onChangeControl($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Premises-->
                <div id="grdPremise" class="tab-pane" [ngClass]="{'active': tab.tab2.active}">
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Premises Name' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseName" size="40" [attr.maxlength]="40"
                                    formControlName="PremiseName" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseName" size="40" [attr.maxlength]="40"
                                    formControlName="PremiseName">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Premises Address Line 1' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16 pr5">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine1" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine1" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine1" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine1">
                            </div>
                            <div class="col8" *ngIf="isBtnGetPremiseAddressVisible">
                                <input type="button" class="btn btn-primary" [disabled]="isBtnGetPremiseAddressDisabled" value="{{'Get Address' | translate }}"
                                    id="cmdGetPremiseAddress" (click)="cmdGetPremiseAddressOnClick()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Premises Address Line 2' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine2" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine2" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine2" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine2">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Town' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine4" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine4" (blur)="premiseAddressLine4OnBlur()"
                                    eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine4" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine4" (blur)="premiseAddressLine4OnBlur()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'County' | translate }}<span *ngIf="this['pageParams']['isSCAddressLine5Logical']" class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine5" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine5" (blur)="premiseAddressLine5OnBlur()"
                                    eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseAddressLine5" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseAddressLine5" (blur)="premiseAddressLine5OnBlur()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Postcode' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input eTypeCode type="text" class="form-control" id="PremisePostcode" size="15" [attr.maxlength]="15" formControlName="PremisePostcode"
                                    (blur)="premisePostcodeOnBlur()" (change)="premisePostCodeOnChange()">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Contact Name' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input *ngIf="this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseContactName" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseContactName" eTypeText>
                                <input *ngIf="!this['pageParams']['isSCCapitalFirstLtr']" type="text" class="form-control" id="PremiseContactName" size="40"
                                    [attr.maxlength]="40" formControlName="PremiseContactName">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Contact Position' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input eTypeText type="text" class="form-control" id="PremiseContactPosition" size="40" [attr.maxlength]="40" formControlName="PremiseContactPosition">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Telephone' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <input eTypeText type="text" class="form-control" id="PremiseContactTelephone" [attr.maxlength]="20" formControlName="PremiseContactTelephone">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Commence Date' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col16">
                                <icabs-datepicker [isDirectiveBased]="false" id="CommenceDate" formControlName="CommenceDate" (onChange)="getExpiryDate()"></icabs-datepicker>
                                <input type="text" class="form-control hidden" id="CommenceDate" formControlName="CommenceDate">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Expiry Date' | translate }}<span class="mandatory" *ngIf="this['pageParams']['isContractExpiryDateRequired']">*</span></label>
                            </div>
                            <div class="col16">
                                <icabs-datepicker [isDirectiveBased]="false" id="ContractExpiryDate" formControlName="ContractExpiryDate"></icabs-datepicker>
                                <input type="text" class="form-control hidden" id="ContractExpiryDate" formControlName="ContractExpiryDate">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4" *ngIf="isAnnualValueVisible">
                            <div class="col24">
                                <label> {{'Value' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input eTypeCurrency type="text" class="form-control" id="AnnualValue" size="10" [attr.maxlength]="10" formControlName="AnnualValue">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Payment Type' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeCode type="text" class="form-control" id="PaymentTypeCode" size="3" [attr.maxlength]="3" formControlName="PaymentTypeCode">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="PaymentDesc" size="20" [attr.maxlength]="40" formControlName="PaymentDesc">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis-generic [showCloseButton]="showCloseButton" [showHeader]="showHeader"
                                    [ellipsisTitle]="ellipsisConfig.paymentTypeSearchConfig.ellipsisTitle"
                                    [ellipsisColumn]="ellipsisConfig.paymentTypeSearchConfig.tableColumn"
                                    [configParams]="ellipsisConfig.paymentTypeSearchConfig.configParams"
                                    [disabled]="this['uiForm'].controls['PaymentTypeCode'].disabled" (ellipsisData)="fetchEllipsisData($event, 'paymentType')"
                                    [httpConfig]="ellipsisConfig.paymentTypeSearchConfig.httpConfig">
                                </icabs-ellipsis-generic>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Invoice Group' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeInteger type="text" class="form-control" id="InvoiceGroupNumber" size="7" [attr.maxlength]="6" formControlName="InvoiceGroupNumber">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="InvoiceGroupDesc" size="20" [attr.maxlength]="40" formControlName="InvoiceGroupDesc">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['InvoiceGroupNumber'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.invoiceGroup.childConfigParams" [contentComponent]="ellipsisConfig.invoiceGroup.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'invoiceGroup')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Customer Type' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeCode type="text" class="form-control" id="CustomerTypeCode" size="12" [attr.maxlength]="10" formControlName="CustomerTypeCode">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="CustomerTypeDesc" size="20" [attr.maxlength]="40" formControlName="CustomerTypeDesc">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['CustomerTypeCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.customerType.childConfigParams" [contentComponent]="ellipsisConfig.customerType.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'customerType')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Neg Sales Employee' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeCode type="text" class="form-control" id="NegotiatingSalesEmployeeCode" size="7" [attr.maxlength]="6" formControlName="NegotiatingSalesEmployeeCode">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="NegotiatingSalesEmployeeSurname" size="20" [attr.maxlength]="40" formControlName="NegotiatingSalesEmployeeSurname">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['NegotiatingSalesEmployeeCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.negSalesEmployee.childConfigParams" [contentComponent]="ellipsisConfig.negSalesEmployee.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'negSalesEmployee')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Servicing Branch' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeInteger type="text" class="form-control" id="BranchNumber" size="3" [attr.maxlength]="5" formControlName="BranchNumber">
                            </div>
                            <div class="col16">
                                <input type="text" class="form-control" id="BranchName" size="20" [attr.maxlength]="40" formControlName="BranchName">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Service Sales Employee' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeCode type="text" class="form-control" id="ServicingSalesEmployeeCode" size="7" [attr.maxlength]="6" formControlName="ServicingSalesEmployeeCode">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="ServicingSalesEmployeeSurname" size="20" [attr.maxlength]="40" formControlName="ServicingSalesEmployeeSurname">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis [disabled]="this['uiForm'].controls['ServicingSalesEmployeeCode'].disabled" [showCloseButton]="true" [showHeader]="true"
                                    [childConfigParams]="ellipsisConfig.serviceSalesEmployee.childConfigParams" [contentComponent]="ellipsisConfig.serviceSalesEmployee.component"
                                    (ellipsisData)="fetchEllipsisData($event, 'serviceSalesEmployee')">
                                </icabs-ellipsis>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Purchase Order No' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input type="text" class="form-control" id="PurchaseOrderNumber" size="20" [attr.maxlength]="20" formControlName="PurchaseOrderNumber">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col24">
                                <label> {{'Client Reference' | translate }}</label>
                            </div>
                            <div class="col16">
                                <input type="text" class="form-control" id="ClientReference" size="20" [attr.maxlength]="30" formControlName="ClientReference">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Notes-->
                <div id="grdNotes" class="tab-pane" [ngClass]="{'active': tab.tab3.active}">
                    <div class="row mt2">
                        <div class="col-sm-6">
                            <div class="col24">
                                <label> {{'Notes' | translate }}<span class="mandatory">*</span></label>
                            </div>
                            <div class="col24">
                                <textarea class="form-control" id="Narrative" rows="6" cols="63" formControlName="Narrative"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-4" *ngIf="isProspectStatusVisible">
                            <div class="col24">
                                <label> {{'Status' | translate }}<span *ngIf="isProspectStatusRequired" class="mandatory">*</span></label>
                            </div>
                            <div class="col6 pr5">
                                <input eTypeCode type="text" class="form-control" id="ProspectStatusCode" size="2" [attr.maxlength]="2" formControlName="ProspectStatusCode">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" class="form-control" id="ProspectStatusDesc" size="40" [attr.maxlength]="40" formControlName="ProspectStatusDesc">
                            </div>
                            <div class="col2">
                                <icabs-ellipsis-generic [autoOpen]="ellipsisConfig.prospectStatusSearchConfig.autoOpen" [showCloseButton]="true"
                                    [showHeader]="true" [ellipsisTitle]="ellipsisConfig.prospectStatusSearchConfig.ellipsisTitle"
                                    [ellipsisColumn]="ellipsisConfig.prospectStatusSearchConfig.tableColumn"
                                    [configParams]="ellipsisConfig.prospectStatusSearchConfig.configParams"
                                    [disabled]="this['uiForm'].controls['ProspectStatusCode'].disabled"
                                    (ellipsisData)="fetchEllipsisData($event, 'prospectStatus')"
                                    [httpConfig]="ellipsisConfig.prospectStatusSearchConfig.httpConfig">
                                </icabs-ellipsis-generic>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isConvertedToNumberVisible" class="row mt2">
                        <div class="col-sm-3">
                            <div class="col24">
                                <label> {{'Converted To Job' | translate }}</label>
                            </div>
                            <div class="col8">
                                <input eTypeCode type="text" class="form-control" id="ConvertedToNumber" size="9" [attr.maxlength]="8" formControlName="ConvertedToNumber">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isConfirmButtonsVisible" class="row mt2">
                        <div class="col-sm-6">
                            <div class="col8 pr5">
                                <input type="checkbox" class="form-control" id="chkAuthorise" formControlName="chkAuthorise" (change)="onCheckboxSelect($event)">
                                <label for="chkAuthorise"> {{'Authorise' | translate }}</label>
                            </div>
                            <div class="col8 pr5">
                                <input type="checkbox" class="form-control" id="chkReject" formControlName="chkReject" (change)="onCheckboxSelect($event)">
                                <label for="chkReject"> {{'Reject' | translate }}</label>
                            </div>
                            <div class="col8 pr5">
                                <input type="checkbox" class="form-control" id="chkBranch" formControlName="chkBranch" (change)="onCheckboxSelect($event)">
                                <label for="chkBranch"> {{'Await Branch Update' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <icabs-ellipsis #PremiseSearchModal [hideIcon]="true" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.accountPremise.childConfigParams"
                [contentComponent]="ellipsisConfig.accountPremise.component" (ellipsisData)="fetchEllipsisData($event, 'accountPremise')">
            </icabs-ellipsis>
            <icabs-ellipsis #PostCodeEllipsis [hideIcon]="true" [disabled]="false" [showCloseButton]="true" [showHeader]="true" [childConfigParams]="ellipsisConfig.postCode.childConfigParams"
                [contentComponent]="ellipsisConfig.postCode.component" (ellipsisData)="fetchEllipsisData($event, 'postCode')">
            </icabs-ellipsis>
            <icabs-ellipsis #PremisePostCodeEllipsis [hideIcon]="true" [disabled]="false" [showCloseButton]="true" [showHeader]="true"
                [childConfigParams]="ellipsisConfig.premisePostCode.childConfigParams" [contentComponent]="ellipsisConfig.premisePostCode.component"
                (ellipsisData)="fetchEllipsisData($event, 'premisePostCode')">
            </icabs-ellipsis>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row mt10">
                <div class="col-sm-5">
                    <input type="button" id="dummy" class="btn dummy" value="" (focus)="focusSave($event)">
                    <input id="save" type="button" [disabled]="isSaveDisabled" class="btn btn-primary mr10" value="{{'Save' | translate }}" (click)="confirmSave()">
                    <input id="cancel" type="button" [disabled]="isSaveDisabled" class="btn btn-secondary mr10" value="{{'Cancel' | translate }}"
                        (click)="onCancelClick()">
                </div>
                <div class="col-sm-3 pull-right">
                    <select id="menu" formControlName="OptionMenu" class="form-control" (change)="onOptionChange($event.target.value)">
                        <option value="Options" *ngFor="let option of menuArray" [value]="option.value">{{ option.text | translate }}</option>
                    </select>
                </div>
            </div>
        </footer>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
    <icabs-routeaway #routeAwayComponent></icabs-routeaway>
</section>