<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3" *ngIf="blnNatAccount">
                    <label class="col24" for="ContractNumber">{{ 'Contract' | translate}}<span
                            class="mandatory">*</span></label>
                    <div class="col7 pr5">
                        <input icabsZeroPad id="ContractNumber" #contractNumber formControlName="ContractNumber"
                            class="form-control" type="text" [attr.maxlength]="8" size="8"
                            (change)="onValueChange('Contract')" eTypeCode>
                    </div>
                    <div class="col15 pr5">
                        <input id="ContractName" formControlName="ContractName" class="form-control padding-zero"
                            type="text" size="34" [attr.maxlength]="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contract.childConfigParams"
                            [contentComponent]="ellipsis.contract.contentComponent"
                            (ellipsisData)="onDataRcv($event,'Contract')" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="!blnNatAccount">
                    <label class="col24">{{'Service Area'|translate}}</label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCode" size="10" [attr.maxlength]="4" class="form-control"
                            formControlName="BranchServiceAreaCode" (change)="onValueChange('Branch Service Area')"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" size="30" [attr.maxlength]="30" class="form-control"
                            formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.serviceArea.childConfigParams"
                            [contentComponent]="ellipsis.serviceArea.component"
                            (ellipsisData)="onDataRcv($event,'Service Area')" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="!blnNatAccount">
                    <label class="col24">{{ 'Sales Area' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="SalesAreaCode" class="form-control" formControlName="SalesAreaCode"
                            [attr.maxlength]="4" (change)="onValueChange('Sales Area')" eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="SalesAreaDesc" size="30" [attr.maxlength]="37" class="form-control"
                            formControlName="SalesAreaDesc" eTypeText>
                    </div>
                    <div class="col2 pr5">
                        <icabs-ellipsis [childConfigParams]="ellipsis.salesArea.childParams"
                            [contentComponent]="ellipsis.salesArea.component" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onDataRcv($event, 'Sales Area')">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="{{blnNatAccount ? 'col-sm-3' : 'col-sm-2'}}">
                    <label class="col24">{{'Date From' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="{{blnNatAccount ? 'col14' : 'col24'}}">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                            (change)="onDateChange()"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{'Date To' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                            (change)="onDateChange()"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24" for="InfestationGroupCode">{{ 'Infestation Group' | translate }}</label>
                    <div class="col24 pr5">
                        <icabs-common-dropdown [inputParams]="dropdown.infestationGroupSearch.params"
                            [isActive]="dropdown.infestationGroupSearch.active"
                            [displayFields]="dropdown.infestationGroupSearch.displayFields"
                            (onDataReceived)="onDataRcv($event,'Infestation Group Code')">
                        </icabs-common-dropdown>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Level' | translate}} </label>
                    <div class="col24 pr5">
                        <select class="form-control" id="SelLevel" formControlName="SelLevel">
                            <option *ngFor="let selLevel of selLevelValues" value="{{selLevel.value}}">
                                {{selLevel.key | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="DeletedInd" formControlName="DeletedInd"
                            eTypeCheckBox>
                        <label for="DeletedInd">{{'Include deleted premises'|translate}}</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="DetailsInd" formControlName="DetailsInd"
                            (change)="onCheckboxChange()" eTypeCheckBox>
                        <label for="DetailsInd">{{'Detail'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Service Type' | translate }}</label>
                    <div class="col24">
                        <icabs-servicetype-search #serviceTypeSearch [inputParams]="dropdown.serviceTypeSearch"
                            [active]="dropdown.serviceTypeSearch.active"
                            [isDisabled]="dropdown.serviceTypeSearch.disabled"
                            (receivedServiceTypeData)="onDataRcv($event,'Service Type Search')">
                        </icabs-servicetype-search>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="InfestationGroupCode">{{ 'Location' | translate }}</label>
                    <div class="col24 pr5">
                        <icabs-common-dropdown [inputParams]="dropdown.infestationLocationSearch.params"
                            [isActive]="dropdown.infestationLocationSearch.active"
                            [displayFields]="dropdown.infestationLocationSearch.displayFields"
                            (onDataReceived)="onDataRcv($event,'Infestation Location')">
                        </icabs-common-dropdown>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="ExcludeProductInd"
                            formControlName="ExcludeProductInd" eTypeCheckBox>
                        <label for="ExcludeProductInd">{{'Exclude Infestations Covered'|translate}}</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="ExcludeNoInfestInd"
                            formControlName="ExcludeNoInfestInd" eTypeCheckBox>
                        <label for="ExcludeNoInfestInd">{{'Exclude Visits With No Infestations'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-3" *ngIf="!blnNatAccount">
                    <label class="col24">{{'Supervisor / Line Manager'|translate}}</label>
                    <div class="col8 pr5">
                        <input id="SupervisorEmployeeCode" size="6" [attr.maxlength]="6" class="form-control"
                            formControlName="SupervisorEmployeeCode" (change)="onValueChange('Supervisor')" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="SupervisorSurname" size="20" [attr.maxlength]="30" class="form-control"
                            formControlName="SupervisorSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.supervisorEmployee.childparams"
                            [contentComponent]="ellipsis.supervisorEmployee.component" [showHeader]="true"
                            (ellipsisData)="onDataRcv($event,'Supervisor Employee')"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{'Infestation Found' | translate}}</label>
                    <div class="col22 pr5">
                        <input formControlName="ProductDetailCodeString" id="ProductDetailCodeString" size="9"
                        [attr.maxlength]="50" value="" class="form-control" eTypeCode>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="ellipsis.productCoverSearch.childConfigParams"
                            [contentComponent]="ellipsis.productCoverSearch.contentComponent"
                            (ellipsisData)="onDataRcv($event,'Product Detail Code')" [showHeader]="true">
                        </icabs-ellipsis>
                    </div>

                </div>
                <div class="col-sm-3">
                    <label class="col24" for="NumOfVisits">{{ 'Number Of Last Visits' | translate }} </label>
                    <div class="col16 pr5">
                        <input id="NumOfVisits" class="form-control" formControlName="NumOfVisits" type="text" size="3"
                        [attr.maxlength]="3" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col24 mt20">
                        <input type="checkbox" class="form-control" id="ExcludeInfestInTreatPlan"
                            formControlName="ExcludeInfestInTreatPlan" (change)="onCheckboxChange()" eTypeCheckBox>
                        <label
                            for="ExcludeInfestInTreatPlan">{{'Exclude Infestations In Treatment Plans'|translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [canExport]="true" [exportOptions]="{dateColumns: dateCollist}"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>