<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyGroupCode">{{ 'Group Code' | translate}}<span class="mandatory" >*</span></label>
                    <div class="col24" [ngClass]="!this['pageParams']['isGroupCodeDropdownHide'] ? 'hidden' : ''">
                        <icabs-common-dropdown #notificationGroupSearch [inputParams]="notificationGroupCode.params" [displayFields]="notificationGroupCode.displayFields"
                            [isFirstItemSelected]="notificationGroupCode.isFirstItemSelected" [isRequired]="notificationGroupCode.isRequired"
                            [isActive]="notificationGroupCode.active" [isDisabled]="notificationGroupCode.isDisabled" (onDataReceived)="onSelectedValue($event)"
                            (getDefaultInfo)="onNotificationGroupSearchDataDefaulted($event)"></icabs-common-dropdown>
                    </div>
                    <div class="col24" [ngClass]="!this['pageParams']['isGroupCodeAddHide'] ? 'hidden' : ''">
                        <input type="text" class="form-control" id="NotifyGroupCode" formControlName="NotifyGroupCode" size="15" [attr.maxlength]="12"
                            eTypeCode>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="NotifyGroupSystemDesc">{{ 'Group Name' | translate}}<span class="mandatory" >*</span></label>
                    <div class="col24">
                        <input type="text" class="form-control" id="NotifyGroupSystemDesc" formControlName="NotifyGroupSystemDesc" size="40" [attr.maxlength]="40"
                            (change)="onNotifyGroupSystemDescChange($event)" eTypeTextFree>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <hr class="mt15 mb15">
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-6">
                <input type="button" class="btn btn-additional mr10" value="{{'Add' | translate}}" (click)="actionButtonClicked('add')" [ngClass]="!this['pageParams']['isAddDeleteButton'] ? 'hidden' : ''">
                <input type="submit" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="actionButtonClicked('save')">
                <input type="button" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="actionButtonClicked('cancel')">
                <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="actionButtonClicked('delete')"
                    [ngClass]="!this['pageParams']['isAddDeleteButton'] ? 'hidden' : ''">
            </div>
            <div class="col-sm-3 pull-right text-right">
                <input type="button" class="btn btn-additional" value="{{'Group Details' | translate}}" [disabled]="this['pageParams']['isGroupDetailsButton']"
                    (click)="actionButtonClicked('groupDetail')">
            </div>
        </div>
    </footer>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>