<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Product Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ProductCode" eTypeCode formControlName="ProductCode"
                            size="6" maxlength="10" (change)="onChangeProductDetails()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ProductDesc" eTypeText formControlName="ProductDesc"
                            size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisQueryParams.productSearch.childConfigParams"
                            [disabled]="ellipsisQueryParams.productSearch.disabled"
                            [modalConfig]="ellipsisQueryParams.productSearch.modalConfig"
                            [contentComponent]="ellipsisQueryParams.productSearch.contentComponent"
                            [showHeader]="ellipsisQueryParams.productSearch.showHeader"
                            [showCloseButton]="ellipsisQueryParams.productSearch.showCloseButton"
                            [hideIcon]="ellipsisQueryParams.productSearch.hideIcon"
                            [autoOpen]="ellipsisQueryParams.productSearch.autoOpenSearch"
                            (ellipsisData)="productDetailsOnkeydown($event)"></icabs-ellipsis>
                        <icabs-ellipsis #ProductExpenseMaintenanceEllipsis
                            [childConfigParams]="ellipsisQueryParams.productExpense.childConfigParams"
                            [disabled]="ellipsisQueryParams.productExpense.disabled"
                            [modalConfig]="ellipsisQueryParams.productExpense.modalConfig"
                            [contentComponent]="ellipsisQueryParams.productExpense.contentComponent"
                            [showHeader]="ellipsisQueryParams.productExpense.showHeader"
                            [showCloseButton]="ellipsisQueryParams.productExpense.showCloseButton"
                            [hideIcon]="ellipsisQueryParams.productExpense.hideIcon"
                            [autoOpen]="ellipsisQueryParams.productExpense.autoOpenSearch"
                            (ellipsisData)="productSearchOnchange($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Contract Type'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col16">
                        <icabs-common-dropdown [inputParams]="dropdown.contractTypeSearch.params" [isRequired]="true"
                            [isDisabled]="dropdown.contractTypeSearch.isDisabled"
                            [displayFields]="dropdown.contractTypeSearch.displayFields"
                            [isActive]="dropdown.contractTypeSearch.isActive"
                            [isTriggerValidate]="dropdown.contractTypeSearch.isTriggerValidate"
                            (onDataReceived)="onContractTypeDataReceive($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Expense Code'|translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ExpenseCode" eTypeCode formControlName="ExpenseCode"
                            size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ExpenseDesc" eTypeText formControlName="ExpenseDesc"
                            size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onExpenseCodeReceived($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Initial Expense Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="InitialChargeExpenseCode" eTypeCode
                            formControlName="InitialChargeExpenseCode" size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="InitialChargeExpenseDesc" eTypeText
                            formControlName="InitialChargeExpenseDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onInitialExpenseCodeReceived($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Installation Expense Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="InstallationChargeExpenseCode" eTypeCode
                            formControlName="InstallationChargeExpenseCode" size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="InstallationChargeExpenseDesc" eTypeText
                            formControlName="InstallationChargeExpenseDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onInstallationExpenseCodeReceived($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Expense Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="RemovalChargeExpenseCode" eTypeCode
                            formControlName="RemovalChargeExpenseCode" size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="RemovalChargeExpenseDesc" eTypeText
                            formControlName="RemovalChargeExpenseDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onRemovalExpenseCodeReceived($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="pageParams.isvbMultipleTaxRates">
                    <label class="col24">{{'Materials Expense Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="MaterialsExpenseCode" eTypeCode
                            formControlName="MaterialsExpenseCode" size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="MaterialsExpenseDesc" eTypeText
                            formControlName="MaterialsExpenseDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onMaterialsExpenseCodeReceived($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="pageParams.isvbMultipleTaxRates">
                    <label class="col24">{{'Labour Expense Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="LabourExpenseCode" eTypeCode
                            formControlName="LabourExpenseCode" size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="LabourExpenseDesc" eTypeText
                            formControlName="LabourExpenseDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onLabourExpenseCodeReceived($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="pageParams.isvbMultipleTaxRates">
                    <label class="col24">{{'Replacement Expense Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ReplacementExpenseCode" eTypeCode
                            formControlName="ReplacementExpenseCode" size="10" [attr.maxlength]="7">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ReplacementExpenseDesc" eTypeText
                            formControlName="ReplacementExpenseDesc" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [modalConfig]="modalConfig" [contentComponent]="expenseCodeSearchComponent"
                            [childConfigParams]="ellipsisQueryParams.expenseCode.childConfigParams" [showHeader]="true"
                            [showCloseButton]="true" (ellipsisData)="onReplacementExpenseCodeReceived($event)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4" *ngIf="pageParams.isvSCEnableTaxCodeDefaulting">
                    <label class="col24">{{'Default Tax Code'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="TaxCode" formControlName="TaxCode" eTypeCode
                            size="10" maxlength="7" (change)="onChangeTaxCode($event)">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="TaxCodeDesc" formControlName="TaxCodeDesc" eTypeText
                            size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis-generic #TaxCodeEllipsis [autoOpen]="ellipsisQueryParams.TaxCodeSearchConfig.autoOpen" [showCloseButton]="true"
                                    [showHeader]="true" [ellipsisTitle]="ellipsisQueryParams.TaxCodeSearchConfig.ellipsisTitle"
                                    [ellipsisColumn]="ellipsisQueryParams.TaxCodeSearchConfig.tableColumn" [configParams]="ellipsisQueryParams.TaxCodeSearchConfig.configParams"
                                    [disabled]="ellipsisQueryParams.TaxCodeSearchConfig.disable" (ellipsisData)="onDefaultTaxChange($event)"
                                    [httpConfig]="ellipsisQueryParams.TaxCodeSearchConfig.httpConfig">
                                </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <footer class="screen-footer">
            <div class="row ">
                <div class="col-sm-12">
                    <input type="button" class="btn btn-primary mr10" value="{{ 'Save' | translate }}"
                        (click)="saveData()" [disabled]="this[ 'riMaintenance'][ 'FunctionSelect']"
                        [ngClass]="this[ 'riMaintenance'][ 'FunctionSelect'] ? 'disabled' : '' ">
                    <input type="button" class="btn btn-secondary mr10" value="{{ 'Cancel' | translate }}"
                        (click)="cancel()" [disabled]="this[ 'riMaintenance'][ 'FunctionSelect']"
                        [ngClass]="this[ 'riMaintenance'][ 'FunctionSelect'] ? 'disabled' : '' ">
                    <input type="button" class="btn btn-additional" value="{{ 'Delete' | translate }}"
                        (click)="deleteData()" [disabled]="!this[ 'riMaintenance'][ 'FunctionDelete']"
                        [ngClass]="!this[ 'riMaintenance'][ 'FunctionDelete'] ? 'disabled' : '' ">
                </div>
            </div>
        </footer>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-prompt-modal #promptConfirmModal="child" [content]="promptConfirmContent" (saveEmit)="promptConfirm('save')">
</icabs-prompt-modal>
<icabs-prompt-modal #promptConfirmModalDelete="child" [content]="promptConfirmContent"
    (saveEmit)="promptConfirm('delete')"></icabs-prompt-modal>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>