<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <div class="row">
            <div class="col-sm-4 mt10">
                <label class="col20" for="ReportName">{{'Extract Report' |translate}}<span class="mandatory">*</span></label>
                <div class="col20 pr5">
                    <select id="ReportName" name="ReportName" [(ngModel)]="reportName" class="form-control" (change)="onReportSelection()">
                        <option *ngFor="let menu of menuAccessList" [ngValue]="menu">
                            {{ menu.name | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <hr class="mt15 mb15">
            <icabs-generic-form *ngIf="response" [response]="response"></icabs-generic-form>
        </div>
    </section>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
