<section class="container-fluid">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title">
                <h1>
                    {{ this['reportTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <div class="row mt10">
            <div class="col-sm-6">
                <form #uiForm="ngForm" (ngSubmit)="formSubmit()" novalidate>
                    <div class="row control-container">
                        <ng-container *ngFor="let control of controls" [ngSwitch]="control.type">
                            <div *ngSwitchCase=controlType.DATEPICKER class="col-sm-{{ control.colSize }} form-group">
                                <ng-container *ngTemplateOutlet="datepicker; context: {control:control}"></ng-container>
                            </div>
                            <div *ngSwitchCase=controlType.TEXT class="col-sm-{{ control.colSize }} form-group" [ngClass]="{'hidden': control.hidden }">
                                <ng-container *ngTemplateOutlet="text; context: {control:control}"></ng-container>
                            </div>
                            <div *ngSwitchCase=controlType.EMAIL class="col-sm-{{ control.colSize }} form-group" [ngClass]="{'hidden': control.hidden }">
                                <ng-container *ngTemplateOutlet="email; context: {control:control}"></ng-container>
                            </div>
                            <div *ngSwitchCase=controlType.CHECKBOX class="col-sm-{{ control.colSize }} form-group">
                                <ng-container *ngTemplateOutlet="checkbox; context: {control:control}"></ng-container>
                            </div>
                            <div *ngSwitchCase=controlType.DROPDOWN class="col-sm-{{ control.colSize }} form-group">
                                <ng-container *ngTemplateOutlet="dropdown; context: {control:control}"></ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row control-container">
                        <ng-container *ngFor="let control of buttonList">
                            <div class="col-sm-{{ control.colSize }} form-group pt5">
                                <ng-container *ngTemplateOutlet="button; context: {control:control}"></ng-container>
                            </div>
                        </ng-container>
                    </div>
                    <!-- **************************** INDIVIDUAL TEMPLATE STARTS HERE **************************** -->
                    <ng-template #datepicker let-control='control'>
                        <label>{{ control.label | translate }}<span *ngIf="control.required"
                                class="mandatory">*</span></label>
                        <icabs-datepicker [dt]="control.value" [isDirectiveBased]="true"
                            [isDisabled]="control.disable" [isRequired]="control.required"
                            (selectedValue)="updateDatePickerValue($event, control.name, control.required)">
                        </icabs-datepicker>
                        <span *ngIf="control.description">{{ control.description }}</span>
                    </ng-template>
                    <ng-template #text let-control='control'>
                        <label>{{ control.label | translate }}<span *ngIf="control.required"
                            class="mandatory">*</span></label>
                        <input [id]="control.name" type="text" class="form-control" [name]="control.name"
                            [attr.name]="control.name" [(ngModel)]="control.value"
                            [attr.maxlength]="control.maxLength" [required]="control.required"
                            [disabled]="control.disable" />
                        <span *ngIf="control.description">{{ control.description }}</span>
                    </ng-template>
                    <ng-template #email let-control='control'>
                        <label>{{ control.label | translate }}<span *ngIf="control.required"
                                class="mandatory">*</span></label>
                        <input [id]="control.name" type="email" class="form-control" [name]="control.name"
                            [attr.name]="control.name" [(ngModel)]="control.value"
                            [attr.maxlength]="control.maxLength" [required]="control.required"
                            [disabled]="control.disable" email />
                        <span *ngIf="control.description">{{ control.description }}</span>
                    </ng-template>
                    <ng-template #checkbox let-control='control'>
                        <div>
                            <input type="checkbox" class="form-control" 
                            [id]="control.name" [disabled]="control.disabled" 
                            [name]="control.name" 
                            [(ngModel)]="control.value" [checked]="control.value" >
                            <label [for]="control.name">{{ control.label | translate }}</label>
                        </div>
                        <span *ngIf="control.description">{{ control.description }}</span>
                    </ng-template>
                    <ng-template #dropdown let-control='control'>
                        <label>{{ control.label | translate }}<span *ngIf="control.required"
                                class="mandatory">*</span></label><br />
                        <select class="form-control" [disabled]="control.disabled" [name]="control.name"
                            [(ngModel)]="control.value">
                            <option *ngFor="let item of control.list.value" [value]="item.value"
                                [selected]="control.value === item.value">
                                {{item.text | translate }}
                            </option>
                        </select>
                        <span *ngIf="control.description">{{ control.description }}</span>
                    </ng-template>
                    <ng-template #button let-control='control'>
                        <input [id]="control.name" [type]="(control.isPrimary)?'submit':'button'"
                        [name]="control.label" [attr.name]="control.label" [value]="control.label"
                        [ngClass]="(control.isPrimary)?'btn btn-primary mr10':'btn btn-secondary mr10'"
                        [required]="control.required" [disabled]="control.disable"
                        (click)="onButtonClick(control.name)" />
                        <span *ngIf="control.description">{{ control.description }}</span>
                    </ng-template>
                    <!-- **************************** INDIVIDUAL TEMPLATE ENDS HERE **************************** -->
                </form>
            </div>
            <div class="col-sm-6">
                <div *ngIf="response.instructions" class="message-box info-label pr10">
                    <ng-container *ngFor="let instruction of response.instructions">
                        <ul><h4>{{ instruction.heading || 'Instruction' | translate }}</h4>
                            <li *ngFor="let subinstruction of instruction.values">
                                {{ subinstruction.main | translate }}
                                <ul *ngIf="subinstruction.sub">
                                    <li *ngFor="let sub of subinstruction.sub">
                                        {{ sub | translate }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
