<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BusinessDesc">{{ 'Business' | translate}}</label>
                    <div class="col2 pr5">
                        <input id="BusinessCode" class="form-control" formControlName="BusinessCode" type="text" eTypeCode size="1" maxlength="1">
                    </div>
                    <div class="col22">
                        <input id="BusinessDesc" class="form-control" formControlName="BusinessDesc" type="text" size="35" maxlength="35">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="RangeActiveInd" formControlName="RangeActiveInd">
                        <label class="col24" for="RangeActiveInd">{{'Show Active Ranges Only'|translate}}</label>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-9">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #creditApprovalPagination [totalItems]="this['pageParams'].totalRecords" [currentPage]="this['pageParams'].pageCurrent"
                        [itemsPerPage]="10" (getCurrentPage)="getCurrentPage($event)" [canExport]="true" [exportOptions]="expCfg"></icabs-pagination>
                </div>
                <div class="col-sm-3">
                    <div class="col24">
                        <select class="form-control" formControlName="menu" id="menu" (change)="menuOnchange()">
                            <option value="Options">{{ 'Options' | translate }}</option>
                            <option value="Add">{{ 'Add New Waste Consignment Note Range' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="tbodyOnDblclick($event)" (headerClick)="riGridSort($event)" (onSuccess)="riGridAfterExecute()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>