<div class="container-fluid custom-container">
    <div>
        <div class="col-sm-12 page-title mt10 row">
            <div class="col20">
                <h1>{{ 'Batch Program Maintenance' | translate }}</h1>
            </div>

        </div>
    </div>

    <form #topcontainer [formGroup]="this['uiForm']">
        <div class="row mt10">
            <div class="col-sm-3">
                <label class="col24" id="tdTransactionLabel">{{ 'Program' | translate }}</label>
                <div class="col22 pr5">
                    <input type="text" id="riBatchProgramName" formControlName="riBatchProgramName" size="35"
                        maxlength="50" value="" class="form-control">
                    <span id=spanriBatchProgramNameLookUp></span>
                </div>
                <div class="col2">
                        <icabs-ellipsis-generic #programMaintenanceEllipsis [autoOpen]="batchProgramSearchConfig.autoOpen" [showCloseButton]="true" [showHeader]="true"
                            [ellipsisTitle]="batchProgramSearchConfig.ellipsisTitle" [ellipsisColumn]="batchProgramSearchConfig.tableColumn"
                            [configParams]="batchProgramSearchConfig.configParams" [disabled]="isProgramDisabled"
                            (ellipsisData)="onBatchProgramSearchDataReceived($event, true)" [httpConfig]="batchProgramSearchConfig.httpConfig">
                        </icabs-ellipsis-generic>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24" id="tdTelesalesOrderNumberLabel">{{ 'Description' | translate }}</label>
                <div class="col24">
                    <input type="text" id="riBatchProgramDescription" formControlName="riBatchProgramDescription"
                        size="45" maxlength="50" value="" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item active" id="grdBatchProgramMaintenance1">
                        <a class="nav-link">
                            <span>{{'Batch Program' | translate}}</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active">
                        <div id="grdBatchProgramMaintenance1">
                            <div class="row mt10">
                                <div class="col-sm-3">
                                    <input id="riBatchProgramReport" formControlName="riBatchProgramReport"
                                        type="checkbox" class="form-control">
                                    <label for="riBatchProgramReport"
                                        id="riBatchProgramReport">{{ 'Report' | translate }}</label>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 1' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam1Label"
                                            formControlName="riBatchProgramParam1Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 2' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam2Label"
                                            formControlName="riBatchProgramParam2Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 3' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam3Label"
                                            formControlName="riBatchProgramParam3Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 4' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam4Label"
                                            formControlName="riBatchProgramParam4Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 5' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam5Label"
                                            formControlName="riBatchProgramParam5Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 6' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam6Label"
                                            formControlName="riBatchProgramParam6Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 7' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam7Label"
                                            formControlName="riBatchProgramParam7Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 8' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam8Label"
                                            formControlName="riBatchProgramParam8Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 9' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam9Label"
                                            formControlName="riBatchProgramParam9Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 10' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam10Label"
                                            formControlName="riBatchProgramParam10Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 11' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam11Label"
                                            formControlName="riBatchProgramParam11Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt2">
                                <div class="col-sm-3">
                                    <label class="col24">{{ 'Parameter 12' | translate }}</label>
                                    <div class="col24">
                                        <input type="text" id="riBatchProgramParam12Label"
                                            formControlName="riBatchProgramParam12Label" size="30" maxlength="40"
                                            value="" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-9">
                <input type="button" *ngIf="isAddOrUpdateMode==true" class="btn btn-sm btn-primary" id=""
                    value="{{'Save' | translate}}" (click)="onSaveClicked()">
                <input type="button" *ngIf="isAddOrUpdateMode==true" class="btn btn-sm btn-secondary" id=""
                    value="{{'Cancel' | translate}}" (click)="onCancelClicked()">
                <input type="button" *ngIf="isAddOrUpdateMode==false" [disabled]="isDeleteButtonDisabled"
                    class="btn btn-sm btn-secondary" id="" value="{{'Delete' | translate}}" (click)="onDeleteClicked()">
                <input type="button" *ngIf="isAddOrUpdateMode==false" class="btn btn-sm btn-primary" id=""
                    value="{{'Update' | translate}}" (click)="onUpdateClicked()">
            </div>
        </div>

    </form>
</div>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-modal #messageModal="child" [(showHeader)]="showMessageHeader" (modalClose)="onMessageClose()">
</icabs-modal>
<icabs-prompt-modal #promptConfirmModal="child" [(showHeader)]="showPromptMessageHeader" [title]="promptConfirmTitle"
    [content]="promptConfirmContent" (saveEmit)="promptConfirm($event)" (cancelEmit)="promptCancel()">
</icabs-prompt-modal>