<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title mt10">
            <h1>
                {{ this['pageTitle'] | translate }}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">

        <div class="row mt5" [ngClass]="{'hidden': uiDisplay['IdFilter']}">
            <div class="col-sm-5">
                <div class="col10 pr5">
                    <label class="col24">{{'Filter By' | translate}}</label>
                    <div class="col24">
                        <select id="FilterSelect" formControlName="FilterSelect" class="form-control" (change)="filterSelectOnChange()">
                            <option *ngFor="let item of filterSelectValues" [value]="item.value">
                                {{item.text | translate}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col10 pr5">
                    <label class="col24">{{inputTextLabel | translate}}</label>
                    <input id="FilterInput" formControlName="FilterInput" size="40" [attr.maxlength]="10" class="form-control" eTypeCode *ngIf="uiDisplay.FilterInputeTypeCode"
                        [ngClass]="{'hidden': uiDisplay['FilterInput']}">
                    <input id="FilterInput" formControlName="FilterInput" size="40" [attr.maxlength]="10" class="form-control" eTypeInteger *ngIf="uiDisplay.FilterInputeTypeInt"
                        [ngClass]="{'hidden': uiDisplay['FilterInput']}">
                </div>
                <div class="col2 pr5" [ngClass]="{'hidden': uiDisplay['FilterInputCheck']}">
                    <label class="col24"></label>
                    <input type="checkbox" class="form-control" id="FilterInputCheck" formControlName="FilterInputCheck">
                    <label for="FilterInputCheck"></label>
                </div>
                <div class="col2">
                    <label class="col24"></label>
                    <input type="button" class="btn btn-primary" value="{{ 'Search' | translate }}" (click)="onSearchClick()">
                </div>
            </div>

        </div>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-12" [ngClass]="{'hidden': !showTable}">
                <icabs-table #riTable (selectedData)="selectedData($event)" [page]="page" [itemsPerPage]="itemsPerPage" [paginationTop]="true"
                    [doTranslate]="true" [tableheader]="tableheading"></icabs-table>
            </div>
        </div>
    </form>
</div>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>