<div class="container-fluid custom-container">
    <div class="row ">
        <div class="col-sm-9 mt10 page-title">
            <h1>
                {{ this['pageTitle'] | translate }}
            </h1>
        </div>
    </div>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt10">
            <div class="col-sm-4">
                <label class="col24">{{'Contract Number' | translate}}</label>
                <div class="col6 pr5">
                    <input type="text" id="ContractNumber" formControlName="ContractNumber" size="8" [attr.maxlength]="8" class="form-control"
                        (change)="populateData_onkeydown($event, 1)" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input id="ContractName" formControlName="ContractName" size="30" [attr.maxlength]="30" type="text" class="form-control"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #contractNumberEllipsis [autoOpen]="ellipsis.contract.autoOpenSearch" [showCloseButton]="ellipsis.contract.showCloseButton"
                        [childConfigParams]="ellipsis.contract.childConfigParams" [modalConfig]="ellipsis.contract.modalConfig"
                        [contentComponent]="ellipsis.contract.contentComponent" (ellipsisData)="ContractNumber_onchange($event, true)"
                        [showHeader]="ellipsis.contract.showHeader" [disabled]='ellipsis.contract.disabled'></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'Show' | translate}}</label>
                <div class="col24">
                    <select id="ShowType" class="form-control" formControlName="ShowType">
                        <option *ngFor="let item of ShowTypeList" value="{{item.value}}" [selected]="item.value === 'All'? true : false">{{item.title | translate}}</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Premises Number' | translate}}</label>
                <div class="col6 pr5">
                    <input type="text" id="PremiseNumber" formControlName="PremiseNumber" size="8" [attr.maxlength]="5" class="form-control"
                        (change)="populateData_onkeydown($event, 2)" eTypeInteger>
                </div>
                <div class="col16 pr5">
                    <input id="PremiseName" formControlName="PremiseName" size="30" [attr.maxlength]="30" type="text" class="form-control" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #premisesNumberEllipsis [autoOpen]="ellipsis.premises.autoOpenSearch" [showCloseButton]="ellipsis.premises.showCloseButton"
                        [childConfigParams]="ellipsis.premises.childConfigParams" [modalConfig]="ellipsis.premises.modalConfig"
                        [contentComponent]="ellipsis.premises.contentComponent" (ellipsisData)="PremiseNumber_onchange($event, true)"
                        [showHeader]="ellipsis.premises.showHeader" [disabled]='ellipsis.premises.disabled'></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16 pr5">
                    <label class="col24">{{'Trial End Date From' | translate}}</label>
                    <div class="col24">
                        <icabs-datepicker id="DateFrom" [(dt)]="dtNewFromDate" [isReadonly]="dateReadOnly" [isDisabled]="dateReadOnly" [isRequired]="true"
                            (selectedValue)="dateFromSelectedValue($event)"></icabs-datepicker>
                        <input type="hidden" id="DateFrom" formControlName="DateFrom" />
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Sales Area Code' | translate}}</label>
                <div class="col6 pr5">
                    <input type="text" id="SalesAreaCode" formControlName="SalesAreaCode" size="8" [attr.maxlength]="5" class="form-control"
                        (change)="populateData_onkeydown($event, 3)" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input id="SalesAreaDesc" formControlName="SalesAreaDesc" size="30" [attr.maxlength]="30" type="text" class="form-control"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #premisesNumberEllipsis [autoOpen]="ellipsis.salesAreaCode.autoOpenSearch" [showCloseButton]="ellipsis.salesAreaCode.showCloseButton"
                        [childConfigParams]="ellipsis.salesAreaCode.childConfigParams" [modalConfig]="ellipsis.salesAreaCode.modalConfig"
                        [contentComponent]="ellipsis.salesAreaCode.contentComponent" (ellipsisData)="SalesAreaCode_onchange($event, true)"
                        [showHeader]="ellipsis.salesAreaCode.showHeader" [disabled]='ellipsis.salesAreaCode.disabled'></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col24">{{'To' | translate }}</label>
                <div class="col16">
                    <icabs-datepicker id="DateTo" [(dt)]="dtNewToDate" [isReadonly]="dateReadOnly" [isDisabled]="dateReadOnly" [isRequired]="true"
                        (selectedValue)="dateToSelectedValue($event)"></icabs-datepicker>
                    <input type="hidden" id="DateTo" formControlName="DateTo" />
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{ 'Service Area Code' | translate }} </label>
                <div class="col6 pr5">
                    <input type="text" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" size="8" [attr.maxlength]="5" class="form-control"
                        (change)="populateData_onkeydown($event, 4)" eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="30" [attr.maxlength]="30" type="text" class="form-control"
                        eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #branchserviceareacodeEllipsis [autoOpen]="ellipsis.branchServiceAreaCode.autoOpenSearch" [showCloseButton]="ellipsis.branchServiceAreaCode.showCloseButton"
                        [childConfigParams]="ellipsis.branchServiceAreaCode.childConfigParams" [modalConfig]="ellipsis.branchServiceAreaCode.modalConfig"
                        [contentComponent]="ellipsis.branchServiceAreaCode.contentComponent" (ellipsisData)="BranchServiceAreaCode_onchange($event, true)"
                        [showHeader]="ellipsis.branchServiceAreaCode.showHeader" [disabled]='ellipsis.branchServiceAreaCode.disabled'>
                    </icabs-ellipsis>
                </div>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-4">
                <label class="col24">{{'Product Code' | translate}}</label>
                <div class="col6 pr5">
                    <input type="text" id="ProductCode" formControlName="ProductCode" size="8" [attr.maxlength]="6" class="form-control" (change)="populateData_onkeydown($event, 5)"
                        eTypeCode>
                </div>
                <div class="col16 pr5">
                    <input id="ProductDesc" formControlName="ProductDesc" size="30" [attr.maxlength]="30" type="text" class="form-control" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis #productcodeEllipsis [autoOpen]="ellipsis.product.autoOpenSearch" [showCloseButton]="ellipsis.product.showCloseButton"
                        [childConfigParams]="ellipsis.product.childConfigParams" [modalConfig]="ellipsis.product.modalConfig"
                        [contentComponent]="ellipsis.product.contentComponent" (ellipsisData)="ProductCode_onchange($event, true)"
                        [showHeader]="ellipsis.product.showHeader" [disabled]='ellipsis.product.disabled'>
                    </icabs-ellipsis>
                </div>
            </div>
        </div>
        <hr class="mt10">
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-refresh [disabled]="false" (onRefresh)="riGrid_onRefresh()">
                </icabs-refresh>
                <icabs-pagination #riGridPagination *ngIf="totalItems > 0" [currentPage]="currentPage" [itemsPerPage]="pageSize" [totalItems]="totalItems"
                    (getCurrentPage)="getCurrentPage($event)">
                </icabs-pagination>
            </div>

            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (bodyClick)="riGrid_BodyOnClick()" (bodyDblClick)="riGrid_BodyOnDblClick($event)" (headerClick)="riGrid_Sort($event)"
                    (bodyKeyDown)="riGrid_BodyOnKeyDown($event)"></icabs-grid-advanced>
            </div>
        </div>

        <!--Legends-->
        <!--assign the colors dynamically-->
        <div class="row mt10">
            <div class="col-sm-8 text-right">
                <label class="pr5"></label>
                <div class="inline-block pr10" *ngFor="let l of legend">
                    <div class="legend inline-block mr5" [style.background-color]="l.color"></div>
                    <label>{{ l.label | translate }}</label>
                </div>
            </div>
        </div>

        <div class="hidden">
            <input id="ServiceCover" formControlName="ServiceCover">
            <input id="ServiceCoverRowID" formControlName="ServiceCoverRowID">
            <input id="TrialEnd" formControlName="TrialEnd">
        </div>

    </form>
</div>

<icabs-modal #errorModal="child" [(showHeader)]="showErrorHeader">
</icabs-modal>
<icabs-modal #messageModal [title]="messageTitle" [content]="messageContent" [(showHeader)]="showMessageHeader"></icabs-modal>
<icabs-prompt-modal #promptModal="child" [(showHeader)]="showMessageHeader" [title]="promptTitle" [content]="promptContent"
    (saveEmit)="promptSave($event)"></icabs-prompt-modal>