@import "base/variables";
.bg-header {
    background-color: $headerColorTraining;
}
.dusk {
    .env-sticker {
        background-image: linear-gradient(to right, $headerColorTraining , #354A55);
    }
}
