<!-- Page Heading -->
<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-sm-12 page-title mt10">
      <h1> {{'Contact Centre - Review' | translate }}</h1>
    </div>
  </div>
  <!-- Projects Row  -->
  <form>
    <div class="row mt5">
      <div class="col-sm-10">
        <label class="col24">{{ 'Business' | translate }} </label>
        <div class="col5 pr5">
          <select class="form-control" [(ngModel)]="businessDropdown" name="businessDropdown"
            (change)="onChange($event,'businessDropdown')" [disabled]="businessDropdownDisabled">
            <option *ngFor="let item of businessList" [value]="item.value">
              {{item.text }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt2">
      <div class="col-sm-10">
        <div class="col5 pr5">
          <label class="col24">{{ 'Ticket Type' | translate }} </label>
          <select class="form-control" [(ngModel)]="contactTypeDropdown" name="contactTypeDropdown"
            (change)="onChange($event,'contactType')">
            <option value="complex">{{ 'Multiple Search' | translate }}</option>
            <option selected value="all">{{ 'All' | translate }}</option>
            <option *ngFor="let item of contactTypeList" [value]="item.value">
              {{item.text | translate}}
            </option>
          </select>
        </div>
        <div class="col6 pr5 mt20" id="spanComplexSearch" *ngIf="displayObj.spanComplexSearch">
          <button id="cmdComplex" name="cmdComplex" class="btn btn-primary btn-sm"
            (click)="cmdComplexOnClick()">{{ 'Edit Multiple Search Details' | translate }}</button>
        </div>
        <icabs-ellipsis #reviewGridMultiEllispsis [showCloseButton]="showCloseButton"
          [childConfigParams]="inputParamsreviewGridMulti" [modalConfig]="modalConfig"
          [contentComponent]="callCentreReviewGridMultiComponent" (ellipsisData)="onReviewGridMultiDataReceived($event)"
          [showHeader]="showHeader" [disabled]="false" [hideIcon]="true"></icabs-ellipsis>
        <div class="col5 pr5" id="spanStandardSearch" *ngIf="displayObj.spanStandardSearch">
          <label class="col24">{{ 'Status' | translate }} </label>
          <select class="form-control" [(ngModel)]="MyFilter" name="MyFilter" (change)="onChange($event,'MyFilter')">
            <option *ngFor="let item of MyfilterList" [value]="item.value">
              {{item.text | translate}}
            </option>
          </select>
        </div>
        <div class="col5 pr5">
          <label class="col24">{{ 'Passed/Not Passed' | translate }} </label>
          <select class="form-control" [(ngModel)]="MyFilterPassed" name="MyFilterPassed"
            (change)="onChange($event,'MyFilterPassed')">
            <option *ngFor="let item of filterPassedList1" [value]="item.value">
              {{item.text | translate}}
            </option>
          </select>
        </div>
        <div class="col5" *ngIf="myFilterDisputedEnable">
          <label class="col24">{{'Invoice Dispute' | translate}}</label>
          <select class="form-control" [(ngModel)]="MyFilterDisputed" name="MyFilterDisputed"
            (change)="onChange($event,'MyFilterDisputed')">
            <option *ngFor="let item of myFilterDisputedList" [value]="item.value">
              {{item.text | translate}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt2">
      <div class="col-sm-6">
        <div class="col6 pr5">
          <label class="col24"> {{ 'Filter By' | translate }}</label>
          <select class="form-control" [(ngModel)]="MyFilterLevel" name="MyFilterLevel"
            (change)="onChange($event,'MyFilterLevel')">
            <option *ngFor="let item of filterPassedList" [value]="item.value">
              {{item.text | translate}}
            </option>
          </select>
        </div>
        <div class="col8 pr5">
          <label class="col24"> {{ 'Who' | translate }}</label>
          <select class="form-control" [(ngModel)]="MyFilterValue" name="MyFilterValue"
            (change)="onChange($event,'MyFilterValue')">
            <option *ngFor="let item of filterPassedList2" [value]="item.value">
              {{item.text | translate}}
            </option>
          </select>
        </div>
        <div class="col4 pr5" *ngIf="displayFlag.MyFilterEmployeeCode">
          <label class="col24"> {{ 'Employee' | translate }}</label>
          <input class="form-control" type="text" id="MyFilterEmployeeCode" [(ngModel)]="MyFilterEmployeeCode"
            name="MyFilterEmployeeCode" size="6" maxlength="8" eTypeCode>
        </div>
        <div class="col4 pr5" *ngIf="displayFlag.TeamID">
          <input class="form-control" type="text" id="TeamID" size="6" maxlength="12" eTypeTextFree>
        </div>
        <div class="col4 pr5" *ngIf="displayFlag.FilterBranchNumber">
          <input class="form-control" type="hidden" id="FilterBranchNumber" [(ngModel)]="FilterBranchNumber"
            name="FilterBranchNumber" size="5" maxlength="8" eTypeInteger>
        </div>
        <div class="col10 pr5" *ngIf="displayFlag.FilterBranchNumber">
          <label class="col24"> {{ 'Branch' | translate }}</label>
          <icabs-branchsearch [active]="branchDefault" [inputParams]="inputParamsBranchSearch"
            (receivedbranchsearch)="setBranch($event)" #BranchNumberDropdwon></icabs-branchsearch>
        </div>
        <div class="col1">
          <div *ngIf="displayFlag.MyFilterEmployeeCode">
            <label class="col24">&nbsp;</label>
            <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="inputParamsEmployeeSearch"
              [contentComponent]="employeeSearchComponent" (ellipsisData)="setEmployee($event)" [showHeader]="true">
            </icabs-ellipsis>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <label class="col24">{{ 'Log / Ticket Number' | translate }} </label>
        <div class="col12 pr5">
          <input class="form-control" type="text" [(ngModel)]="CallLogID" name="CallLogID" size="12" maxlength="15"
            eTypeInteger>
        </div>
        <div class="col12">
          <input class="form-control" type="text" [(ngModel)]="CustomerContactNumber" name="CustomerContactNumber"
            size="12" maxlength="15" eTypeInteger>
        </div>
      </div>
    </div>

    <div class="secondarySection mt20">
      <div class="row">
        <div class="col-sm-12">
          <div class="sectionHead clearfix">
            <a class="pull-right" href="javascript:;" (click)="closeSection(true)"
              [ngClass]="{'open': collapsediv === false}">
              Expand
            </a>
            <div class="sectionHeading pl15">
              {{ 'Secondary Action Area' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="sectionCollapcible">
            <div class="collapcibleContent" [hidden]="collapsediv">
              <div class="row">
                <div class="col-sm-4">
                  <label class="col24">{{ 'Group Account' | translate }}</label>
                  <div class="col6 pr5">
                    <input class="form-control" type="text" (change)="clearDescription('GroupAccountNumber')"
                      [(ngModel)]="GroupAccountNumber" name="GroupAccountNumber" size="11" maxlength="9" eTypeInteger>
                  </div>
                  <div class="col16 pr5">
                    <input class="form-control" type="text" [(ngModel)]="GroupName" name="GroupName" size="40"
                      maxlength="40" [readonly]="true" eTypeText>
                  </div>
                  <div class="col2">
                    <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsGrpAccNumber"
                      [contentComponent]="groupAccountNumberComponent" (ellipsisData)="onGroupAccount($event)"
                      [showHeader]="showHeader"></icabs-ellipsis>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col24">{{ 'Contact Name' | translate }}</label>
                  <div class="col14">
                    <input class="form-control" type="text" id="SearchContactName" [(ngModel)]="SearchContactName"
                      name="SearchContactName" size="40" maxlength="40" eTypeText>
                  </div>
                </div>
              </div>
              <div class="row mt2">
                <div class="col-sm-4">
                  <label class="col24">{{ 'Account Number' | translate }} </label>
                  <div class="col6 pr5">
                    <input class="form-control" type="text" (change)="clearDescription('AccountNumber')"
                      id="AccountNumber" [(ngModel)]="AccountNumber" name="AccountNumber" size="11" maxlength="9"
                      [ngClass]="formControlErrorFlag.AccountNumber == true? errorClass:''" eTypeText>
                  </div>
                  <div class="col16 pr5">
                    <input class="form-control" type="text" id="AccountName" [(ngModel)]="AccountName"
                      name="AccountName" size="40" maxlength="40" [readonly]="true" eTypeText>
                  </div>
                  <div class="col2">
                    <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccountNumber"
                      [contentComponent]="accountSearchComponent" [showHeader]="showHeader"
                      (ellipsisData)="setAccountNumber($event)"></icabs-ellipsis>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col24">{{ 'Customer Reference' | translate }}</label>
                  <div class="col14">
                    <input class="form-control" type="text" id="TicketReference" [(ngModel)]="TicketReference"
                      name="TicketReference" size="40" maxlength="40" eTypeTextFree>
                  </div>
                </div>
              </div>
              <div class="row mt2">
                <div class="col-sm-4">
                  <label class="col24">{{ 'Contract Number' | translate }}</label>
                  <div class="col6 pr5">
                    <input class="form-control" type="text" id="ContractNumber"
                      (change)="clearDescription('ContractNumber')" [(ngModel)]="ContractNumber" name="ContractNumber"
                      size="11" maxlength="8" eTypeCode>
                  </div>
                  <div class="col16 pr5">
                    <input class="form-control" type="text" id="ContractName" [(ngModel)]="ContractName"
                      name="ContractName" size="40" maxlength="40" [readonly]="true" eTypeText>
                  </div>
                  <div class="col2">
                    <icabs-ellipsis #contractSearchEllipse [showCloseButton]="showCloseButton"
                      [childConfigParams]="inputParamsContract" [modalConfig]="modalConfig"
                      [contentComponent]="contractSearchComponent" (ellipsisData)="onContractDataReceived($event)"
                      [showHeader]="showHeader"></icabs-ellipsis>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col24">{{ 'Postcode / Prospect' | translate }} </label>
                  <div class="col8 pr5">
                    <input class="form-control" type="text" id="PostCode" [(ngModel)]="PostCode" name="PostCode"
                      size="12" maxlength="10">
                  </div>
                  <div class="col14">
                    <input class="form-control" type="text" id="ProspectNumber" [(ngModel)]="ProspectNumber"
                      name="ProspectNumber" size="12" maxlength="8" eTypeInteger>
                  </div>
                </div>
              </div>
              <div class="row mt2">
                <div class="col-sm-4">
                  <label class="col24">{{ 'Premises Number' | translate }}</label>
                  <div class="col6 pr5">
                    <input class="form-control" type="text" id="PremiseNumber"
                      (change)="clearDescription('PremiseNumber')" [(ngModel)]="PremiseNumber" name="PremiseNumber"
                      size="11" maxlength="8" [ngClass]="formControlErrorFlag.PremiseNumber == true? errorClass:''"
                      eTypeInteger>
                  </div>
                  <div class="col16 pr5">
                    <input class="form-control" type="text" id="PremiseName" [(ngModel)]="PremiseName"
                      name="PremiseName" size="40" maxlength="40" [readonly]="true" eTypeText>
                  </div>
                  <div class="col2">
                    <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccountPremise"
                      [modalConfig]="modalConfig" [contentComponent]="accountPremise"
                      (ellipsisData)="onPremiseSearchDataReceived($event)" [showHeader]="showHeader"></icabs-ellipsis>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col24">{{ 'Invoice No / DisputeRef' | translate }}</label>
                  <div class="col8 pr5">
                    <input class="form-control" type="text" id="CompanyInvoiceNumber" [(ngModel)]="CompanyInvoiceNumber"
                      name="CompanyInvoiceNumber" size="12" maxlength="12" eTypeInteger>
                  </div>
                  <div class="col14">
                    <input class="form-control" type="text" id="OnDisputeReference" [(ngModel)]="OnDisputeReference"
                      name="OnDisputeReference" size="22" maxlength="50" eTypeTextFree>
                  </div>
                </div>
              </div>
              <div class="row mt2">
                <div class="col-sm-4">
                  <label class="col24">{{ 'Product' | translate }} </label>
                  <div class="col6 pr5">
                    <input class="form-control" type="text" id="ProductCode" (change)="clearDescription('ProductCode')"
                      [(ngModel)]="ProductCode" name="ProductCode" size="11" maxlength="6"
                      [ngClass]="formControlErrorFlag.ProductCode == true? errorClass:''" eTypeCode>
                  </div>
                  <div class="col16 pr5">
                    <input class="form-control" type="text" id="ProductDesc" [(ngModel)]="ProductDesc"
                      name="ProductDesc" size="40" maxlength="40" [readonly]="true" eTypeText>
                  </div>
                  <div class="col2">
                    <icabs-ellipsis [showCloseButton]="showCloseButton" [childConfigParams]="inputParamsAccountProduct"
                      [modalConfig]="modalConfig" [contentComponent]="serviceCoverSearchComponent"
                      (ellipsisData)="onServiceCoverSearchDataReceived($event)" [showHeader]="showHeader">
                    </icabs-ellipsis>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="col14">{{ 'Reassignment' | translate }}</label>
                  <label class="col8" *ngIf="displayFlag.EmployeeCode">{{ 'Employee' | translate }}</label>
                  <div class="col14 pr5">
                    <select class="form-control" [(ngModel)]="ReassignSelect" name="ReassignSelect"
                      (change)="onChange($event,'ReassignSelect')">
                      <option *ngFor="let item of ReassignSelectList" [value]="item.value">
                        {{item.text | translate }}
                      </option>
                    </select>
                  </div>
                  <div class="col8 pr5">
                    <input class="form-control" type="text" id="EmployeeCode" [(ngModel)]="EmployeeCode"
                      name="EmployeeCode" size="8" maxlength="8" *ngIf="displayFlag.EmployeeCode" tabindex="18"
                      eTypeCode>
                  </div>
                  <div class="col2">
                    <div *ngIf="displayFlag.EmployeeCode">
                      <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="inputParamsEmployeeSearch"
                        [contentComponent]="employeeSearchComponent" (ellipsisData)="setEmployeeReassign($event)"
                        [showHeader]="true"></icabs-ellipsis>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--collapcibleContent-->
          </div>
        </div>
      </div>
    </div>

    <hr class="mt20">

    <div class="row mt20">
      <div class="col-sm-4">
        <icabs-refresh (onRefresh)="getRefreshData()"> </icabs-refresh>
        <icabs-pagination #callCentreReviewPagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
          [currentPage]="page" [canExport]="true" (getCurrentPage)="getCurrentPage($event)"
          [exportOptions]="{dateTimeColumns: '10'}"></icabs-pagination>
      </div>
      <div class="col-sm-2">
        <select class="form-control" [(ngModel)]="DateFilter" name="DateFilter"
          (change)="onChange($event,'DateFilter')">
          <option *ngFor="let item of DateFilterList" [value]="item.value">
            {{item.text | translate}}
          </option>
        </select>
      </div>
      <div class="col-sm-6 ">
        <label class="col2 pr5 lh25 text-right">{{ 'From' | translate }}</label>
        <div class="col8 pr5">
          <icabs-datepicker [dt]="fromDate" (selectedValue)="fromDateSelectedValue($event)"></icabs-datepicker>
        </div>
        <label class="col2 pr5 lh25 text-right">{{ 'To' | translate }}</label>
        <div class="col8 pr5">
          <icabs-datepicker [dt]="toDate" (selectedValue)="toDateSelectedValue($event)"></icabs-datepicker>
        </div>
        <div class="col4" [ngClass]="spanSOPGridDisplay ? '' : 'hidden'">
          <input type="button" class="btn btn-sm btn-additional form-control" (click)="cmdSOPGrid_OnClick()"
            value="{{ 'SOPGrid' | translate }}" name="SopGridButton" />
        </div>
      </div>
    </div>
    <div class="row mt10">
      <div class="col-sm-12">
        <icabs-grid #callCentreReviewGrid [maxColumns]="maxColumn" [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage" (gridInfo)="getGridInfo($event)" (selectedRowInfo)="dblClickGridRow($event)"
          [sortHeaders]="gridSortHeaders" (sortInfo)="sortGrid($event)" [showTick]="true"
          [validateProperties]="validateProperties"></icabs-grid>
      </div>
    </div>

    <div class="row mt2">
      <div class="col-sm-3 text-center" class="hidden">

      </div>
    </div>
  </form>
</div>
<icabs-modal #messageModal="child" [showHeader]="true"></icabs-modal>
