<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-xs-12 welcome">
            <h3>{{ 'Welcome' | translate }}, {{name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-5 welcome quick-links">
            <h4>{{ 'Quick Links' | translate }}</h4>
            <h4 *ngIf="!(quickLinks && quickLinks.length)">{{ 'Loading' | translate }} ...</h4>
            <div class="row">
                <div class="col-xs-6 col-lg-4" *ngFor='let links of quickLinks'>
                    <a [routerLink]=[links.route] class="thumbnail" title="{{ links.text | translate }}">
                        <span aria-hidden="true" class="glyphicon" ngClass="{{ links.image}}"></span>
                        <span class="text">{{ links.text | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-7">
            <h4>{{ 'Quick Search' | translate }}</h4>
            <div class="row mt10" *ngIf="quickLinks && quickLinks.length">
                <div id="grdContractSearch" class="col-sm-12">
                    <div id="ContractSearchType" class="quick-search">
                        <div class="col-md-3 pr5 drop-down-div">
                            <label class="col24">{{ 'Search By' | translate }}</label>
                            <select name="searchFilter" [(ngModel)]="searchFilter" [disabled]="isRequesting" class="form-control">
                                <option *ngFor="let searchFilter of filter" value="{{searchFilter.value}}">{{ searchFilter.options | translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-3 pr5">
                            <label class="col24">{{ 'Search' | translate }}</label>
                            <input type="text" [ngClass]="{ 'error': !isSearchValue }" class="form-control" [(ngModel)]="searchValue" name="searchValue"
                                placeholder="" [disabled]="isRequesting">
                        </div>
                        <div class="col-md-2 pr5 mt20">
                            <input #searchButton type="submit" (click)="$event.preventDefault();onRefresh()" name="Search" value="{{ 'Search' | translate }}"
                                class="form-control btn btn-lg btn-primary" [disabled]="isRequesting">
                        </div>
                        <div class="col-md-1 mt20">
                            <div class="spinner quick-search-loader" *ngIf="isRequesting">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                        <div class="col-md-3 pr5 mt20 external-pagination" *ngIf="isDataLoaded">
                            <a href="#" class="thumbnail pull-right" (click)="nextPage($event);">
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <a href="#" class="thumbnail pull-right" (click)="prevPage($event);">
                                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="quick-search col-xs-12">
                    <icabs-table #contractTable (linkClicked)="linkClicked($event)" [showPagination]="false" [isRefreshVisible]="false" [columns]="columns"
                        [isDrilldownAvailable]="true" [isRefreshVisible]="false" [isQuickSearch]="true" [showSpinner]="false"
                        (dataLoaded)="tableDataLoaded($event)"></icabs-table>
                </div>
            </div>
        </div>
    </div>
</div>