<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{this['pageTitle'] | translate}}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'From Neg Employee'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" eTypeCode id="ContractSalesEmployee" formControlName="ContractSalesEmployee" size="6"
                            [attr.maxlength]="6" (change)="contractSalesEmployeeOnchange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="SalesEmployeeSurname" formControlName="SalesEmployeeSurname" size="20" [attr.maxlength]="30">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #employeeSearchEllipsis [showCloseButton]="true" [childConfigParams]="ellipsisConfig.employeeSearch.childConfigParams"
                            [contentComponent]="ellipsisConfig.employeeSearch.contentComponent" (ellipsisData)="onEmployeeSearchDataReceived($event, true)"
                            [showHeader]="true" [disabled]="ellipsisConfig.employeeSearch.disabled"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Contract'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ContractNumber" eTypeCode formControlName="ContractNumber" size="10" [attr.maxlength]="8"
                            (change)="contractNumberOnchange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="15" [attr.maxlength]="30">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #contractSearchEllipsis [showCloseButton]="true" [childConfigParams]="ellipsisConfig.contract.childConfigParams"
                            [contentComponent]="ellipsisConfig.contract.contentComponent" (ellipsisData)="onContractSearchDataReceived($event, true)"
                            [showHeader]="true" [disabled]="ellipsisConfig.contract.disabled"></icabs-ellipsis>
                    </div>
                </div>

            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'To Neg Employee'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="ContractSalesEmployeeTo" eTypeCode formControlName="ContractSalesEmployeeTo"
                            (change)="contractSalesEmployeeOnchange()" size="6" [attr.maxlength]="6">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" id="SalesEmployeeSurnameTo" formControlName="SalesEmployeeSurnameTo" size="20" [attr.maxlength]="30">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #employeeSearchEllipsisTo [showCloseButton]="true" [childConfigParams]="ellipsisConfig.employeeSearchTo.childConfigParams"
                            [contentComponent]="ellipsisConfig.employeeSearchTo.contentComponent" (ellipsisData)="onToEmployeeSearchDataReceived($event, true)"
                            [showHeader]="true" [disabled]="ellipsisConfig.employeeSearchTo.disabled"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Postcode'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PostcodeFilter" eTypeCode formControlName="PostcodeFilter" size="8" [attr.maxlength]="8">
                    </div>
                    <div class="col16">
                        <input type="button" class="btn btn-primary" id="cmdReassign" value="{{'Reassign'|translate}}" (click)="cmdReassignOnclick()">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #contractSalesEmployeeReassignPagination *ngIf="isPaginationEnabled" [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (headerClick)="gridSort()" (bodyClick)="riGridBodyOnClick($event)" (onSuccess)="riGridAfterExecute()"
                        (bodyKeyDown)="riGridBodyOnKeyDown($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>