<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ServiceBranchNumberDesc">{{ 'Servicing Branch' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24 pr10">
                        <input type="text" class="form-control" id="ServiceBranchNumberDesc" formControlName="ServiceBranchNumberDesc" size="3" [attr.maxlength]="5"
                            eTypeTextFree>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Plan Status Code' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24 pr10">
                        <input type="hidden" id="ServicePlanStatusCode" class="form-control" formControlName="ServicePlanStatusCode" [attr.maxlength]="1"
                            size="9" eTypeCode>
                        <icabs-common-dropdown #ServicePlanStatusCode [inputParams]="servicePlanStatus.inputParams" [isTriggerValidate]="servicePlanStatus.isTriggerValidate"
                            [isFirstItemSelected]="true" [isDisabled]="servicePlanStatus.isDisabled" [isRequired]="servicePlanStatus.isRequired"
                            [isActive]="servicePlanStatus.active" [displayFields]="servicePlanStatus.displayFields" (onDataReceived)="servicePlanStatus.receivedDropDownData($event)"
                            (onError)="servicePlanStatus.onError($event)" (onDataFetchSuccess)="servicePlanStatusData()"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Branch Service Area Code (blank=all)' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" size="2" [attr.maxlength]="2"
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="BranchServiceAreaDesc" formControlName="BranchServiceAreaDesc" size="40" [attr.maxlength]="40"
                            eTypeTextFree>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true" [childConfigParams]="inputParams" [contentComponent]="branchServiceAreaSearchComponent"
                            [showHeader]="true" (ellipsisData)="setbranchServiceAreaCode($event)" [modalConfig]="modalConfig"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'From Date' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8" for="FromDate">
                        <icabs-datepicker #fromDate [dt]="fromDateValue" [isRequired]="true" (selectedValue)="datePickerSelectedValue($event, 'FromDate')"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'To Date' | translate }}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8" for="ToDate">
                        <icabs-datepicker #toDate [dt]="toDateValue" [isRequired]="true" (selectedValue)="datePickerSelectedValue($event, 'ToDate')"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col8">
                        <input type="button" class="btn btn-primary" id="cmdSubmit" value="{{ 'Submit Report Generation' | translate }}" (click)="submitReportGeneration()">
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="reportMessage">
                <div class="col-sm-12">
                    <strong>{{reportMessage}}</strong>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>