<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-2" *ngIf="pageType!=='Employee'">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ViewBy" formControlName="ViewBy" (change)="onChangeViewBy($event)">
                            <option value="NegBranch">{{'Neg Branch' | translate }}</option>
                            <option value="ServiceBranch">{{'Service Branch' | translate }}</option>
                            <option value="NegEmployee">{{'Neg Employee' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="pageType==='Employee'">
                    <label class="col24">{{ 'Branch' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" formControlName="BranchNumber" class="form-control" id="BranchNumber" eTypeText>
                    </div>
                    <div class="col18">
                        <input type="text" formControlName="BranchName" class="form-control" id="BranchName" eTypeText>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col24">{{ 'Filter By' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="FilterBy" formControlName="FilterBy"
                            (change)="onChangeFilterBy()">
                            <option value="RunNumber">{{ 'Run Number' | translate }}</option>
                            <option value="ProcessDate">{{ 'Process Date' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="filterBy === 'RunNumber'">
                    <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <input type="text" id="RunNumberFrom" formControlName="RunNumberFrom" class="form-control"
                            size="10" [attr.maxlength]="10" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="filterBy === 'RunNumber'">
                    <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <input type="text" id="RunNumberTo" formControlName="RunNumberTo" class="form-control" size="10"
                            [attr.maxlength]="10" eTypeInteger>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="filterBy === 'ProcessDate'">
                    <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <icabs-datepicker id="ProcessDateFrom" formControlName="ProcessDateFrom"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="filterBy === 'ProcessDate'">
                    <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                    <div class="col24 pr5">
                        <icabs-datepicker id="ProcessDateTo" formControlName="ProcessDateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-2">
                    <label class="col24">{{ 'Tax Code (blank for all)' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="TaxCode" formControlName="TaxCode">
                            <option value=""></option>
                            <!--
                                PLEASE DO NOT ADD TRANSLATIONS;
                                SINCE TRANSLATION NEEDS TO COME FROM TaxCodeLang TABLE
                            -->
                            <option *ngFor="let item of this['pageParams'].taxCodes" value="{{ item.TaxCode }}">
                                {{ item.TaxCode + ' - ' + item.TaxCodeDesc }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="pageType!=='Employee'">
                    <label class="col24">{{ 'Company Code (blank for all)' | translate }}</label>
                    <div class="col24 pr5">
                        <icabs-business-company-search [inputParams]="companySearch.inputParams"
                            (receivedCompanyCode)="onChangeCompany($event)" [active]="companySearch.active">
                        </icabs-business-company-search>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRefreshClick()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [canExport]="pageType !== 'Employee'" [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.gridConfig"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onHeaderClick()"
                        (bodyDblClick)="onGridBodyDoubleClick($event)">
                    </icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>