<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle'] | translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchName">{{ 'Branch' | translate}}</label>
                    <div class="col24">
                        <input id="BranchName" class="form-control" formControlName="BranchName" type="text" size="40" maxlength="40" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12">
                        <label class="col24" for="DateFrom">{{ 'Date From' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker #datePickerDateFrom [dt]='currDate' (selectedValue)="formSelectedValue($event)" [isReadonly]="false" [isDisabled]="false"
                            [isRequired]="true"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Service Area' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="7" maxlength="4"
                            (change)="branchServiceAreaCodeOnChange()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input id="EmployeeSurname" class="form-control" formControlName="EmployeeSurname" type="text" size="40" maxlength="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #BranchServiceAreaSearchComponent [showCloseButton]="ellipsis.branchServiceArea.showCloseButton" [childConfigParams]="ellipsis.branchServiceArea"
                            [contentComponent]="ellipsis.branchServiceArea.component" (ellipsisData)="setServiceAreaReturnData($event)"
                            [disabled]="ellipsis.branchServiceArea.disabled" [showHeader]="ellipsis.branchServiceArea.showHeader"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12">
                        <label class="col24" for="DateTo">{{ 'To' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <icabs-datepicker #datePickerDateTo [dt]='currDate1' (selectedValue)="toDateSelectedValue($event)" [isReadonly]="false" [isDisabled]="false"
                            [isRequired]="true"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="RegulatoryAuthorityNumber">{{ 'Regulatory Authority' | translate}}</label>
                    <div class="col6 pr5">
                        <input id="RegulatoryAuthorityNumber" class="form-control" formControlName="RegulatoryAuthorityNumber" type="text" size="7"
                            maxlength="7" (change)="regulatoryAuthorityNumberOnChange()" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input id="RegulatoryAuthorityName" class="form-control" formControlName="RegulatoryAuthorityName" type="text" size="40"
                            maxlength="50" eTypeText>
                    </div>
                    <div class="col2">
                            <icabs-ellipsis-generic [showCloseButton]="true" [showHeader]="true"
                                [autoOpen]="ellipsis.regulatoryAuthorityNumber.autoOpen"
                                [ellipsisTitle]="ellipsis.regulatoryAuthorityNumber.ellipsisTitle"
                                [ellipsisColumn]="ellipsis.regulatoryAuthorityNumber.tableColumn"
                                [configParams]="ellipsis.regulatoryAuthorityNumber.configParams"
                                [disabled]="ellipsis.regulatoryAuthorityNumber.disable" (ellipsisData)="onRegulatoryAuthorityDataReceived($event)"
                                [httpConfig]="ellipsis.regulatoryAuthorityNumber.httpConfig">
                            </icabs-ellipsis-generic>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (onRefresh)="refresh()" #refreshBtn></icabs-refresh>
                    <icabs-pagination #eqrGridPagination [currentPage]="currentPage" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
                        [canExport]="true" [exportOptions]="{dateColumns:'3'}" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridRowDblClick($event)" (bodyClick)="onGridRowClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>