<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Annual Calendar Summary' | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Contract Number' | translate }}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" #contractnumber size="10" [attr.maxlength]="8" class="form-control" formControlName="ContractNumber"
                            (change)="contractNumber_onChange($event.target)" (keydown)="contractNumber_onkeydown($event)" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" size="45" [attr.maxlength]="40" class="form-control" formControlName="ContractName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis.contractSearch.autoOpenSearch" [showCloseButton]="ellipsis.contractSearch.showCloseButton"
                            [childConfigParams]="ellipsis.contractSearch.childConfigParams" [contentComponent]="ellipsis.contractSearch.component"
                            (ellipsisData)="onContractDataReceived($event)" [showHeader]="ellipsis.contractSearch.showHeader"
                            (modalHidden)="modalHidden($event)" [disabled]="ellipsis.contractSearch.disabled" [modalConfig]="ellipsis.contractSearch.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Service Area Code' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" size="10" [attr.maxlength]="4" value="" class="form-control" formControlName="BranchServiceAreaCode"
                            (change)="branchServiceAreaCode_onChange($event.target)" (keydown)="branchServiceAreaCode_onkeydown($event)"
                            eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="BranchServiceAreaDesc" size="40" [attr.maxlength]="40" value="" class="form-control" formControlName="BranchServiceAreaDesc"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis.branchServiceArea.autoOpenSearch" [showCloseButton]="ellipsis.branchServiceArea.showCloseButton"
                            [childConfigParams]="ellipsis.branchServiceArea.childConfigParams" [contentComponent]="ellipsis.branchServiceArea.component"
                            (ellipsisData)="onBranchServiceAreaCodeRecieved($event)" [showHeader]="ellipsis.branchServiceArea.showHeader"
                            (modalHidden)="modalHidden($event)" [disabled]="ellipsis.branchServiceArea.disabled" [modalConfig]="ellipsis.branchServiceArea.modalConfig"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Premises Number' | translate }}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" size="10" [attr.maxlength]="8" class="form-control" formControlName="PremiseNumber" (change)="premiseNumber_onChange($event.target)"
                            (keydown)="premiseNumber_onkeydown($event)" (blur)="premiseNumber_ondeactivate()" [ngClass]="isPremiseFieldError? 'error-disbaled': ''"
                            eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PremiseName" size="45" [attr.maxlength]="45" class="form-control" formControlName="PremiseName" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="ellipsis.premiseSearch.autoOpenSearch" [showCloseButton]="ellipsis.premiseSearch.showCloseButton"
                            [childConfigParams]="ellipsis.premiseSearch.childConfigParams" [modalConfig]="ellipsis.premiseSearch.modalConfig"
                            [contentComponent]="ellipsis.premiseSearch.contentComponent" (ellipsisData)="onPremiseDataReceived($event)"
                            [showHeader]="ellipsis.premiseSearch.showHeader" [disabled]='ellipsis.premiseSearch.disabled'></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{ 'Template No.' | translate }}<span *ngIf="showMandatoryMark" class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" #annualcalendartemplatenumber id="AnnualCalendarTemplateNumber" size="10" [attr.maxlength]="10" value="" class="form-control"
                            formControlName="AnnualCalendarTemplateNumber" (change)="annualCalendarTemplateNumber_onChange($event.target)"
                            (keydown)="annualCalendarTemplateNumber_onkeydown($event)" (blur)="annualCalendarTemplateNumber_onDeactivate()"
                            eTypeInteger>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="TemplateName" size="40" [attr.maxlength]="10" value="" class="form-control" formControlName="TemplateName"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [disabled]="ellipsis.calenderTemplateSelect.disabled" [showCloseButton]="ellipsis.calenderTemplateSelect.showCloseButton"
                            [showHeader]="ellipsis.calenderTemplateSelect.showHeader" [childConfigParams]="ellipsis.calenderTemplateSelect.childConfigParams"
                            [contentComponent]="ellipsis.calenderTemplateSelect.component" (ellipsisData)="annualCalendarTemplateNumberOnRecieved($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-5">
                    <div class="col8 pr5">
                        <label class="col24">{{ 'Effective Date' | translate }}</label>
                        <input type="text" id="LastChangeEffectDateInput" size="40" [attr.maxlength]="10" value="" class="form-control" formControlName="LastChangeEffectDate"
                            style="display:none" eTypeDate>
                        <icabs-datepicker #datePicker1 id="LastChangeEffectDateDisplay" [dt]='LastChangeEffectDateDisplay' [isReadonly]="dateReadOnly"
                            [isDisabled]="dateReadOnly" [isRequired]="true" (selectedValue)="dateFromSelectedValue($event)" [clearDate]="true"></icabs-datepicker>
                    </div>
                    <div class="col8 pr5 mt20">
                        <input id="FollowTemplateInd" type="checkbox" class="form-control" formControlName="FollowTemplateInd" (click)="followTemplateInd_onClick($event.target.checked)">
                        <label class="col24" for="FollowTemplateInd">{{ 'Update from Template' | translate }}</label>
                    </div>
                    <div class="col3">
                        <label class="col24">{{ 'Frequency' | translate }}</label>
                        <input type="text" id="ServiceVisitFrequency" size="3" [attr.maxlength]="3" value="" class="form-control" formControlName="ServiceVisitFrequency"
                            (change)="serviceVisitFreq_onChange()" pattern="^[0-9]*$" eTypeInteger>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Expected Next Visit Date' | translate }}</label>
                    <div class="col14 pr5">
                        <input type="text" id="StaticVisitDate" size="10" [attr.maxlength]="10" class="form-control" formControlName="StaticVisitDate" eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-3">
                    <input type="button" id="btnUpdate" class="btn btn-additional" [ngClass]="btnUpdate?'':'hidden'" value="{{ 'Update' | translate}}"
                        (click)="btnUpdate_onclick()">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #serviceCoverCalendarDatePagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGrid_BodyOnDblClick($event)" (bodyKeyDown)="riGrid_BodyOnKeyDown($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
        <footer class="screen-footer">
        </footer>
    </form>
</section>
<icabs-prompt-modal #promptConfirmModal="child" [title]="promptTitle" [content]="promptConfirmContent" (saveEmit)="promptUpdateConfirm()"
    [showHeader]="showMessageHeader"></icabs-prompt-modal>
<icabs-spinner [isRunning]="isRequesting"></icabs-spinner>
<icabs-modal #errorModal="child" [(showHeader)]="showMessageHeader"></icabs-modal>