<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24" for="SortBy">{{'Sort By' | translate }}</label>
                    <div class="col24">
                        <select class="form-control" id="SortBy" formControlName="SortBy" (change)="this['commonGridFunction'].resetGrid()">
                            <option *ngFor="let sortbyvalue of sortbyvalues" value="{{sortbyvalue.key}}">
                                {{sortbyvalue.value | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()">
                    </icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onHeaderClick()" (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>