<!-- Page Content -->
<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-sm-12 page-title">
            <h1>
         {{ 'Registry Maintenance' | translate }}
      </h1>
        </div>
    </div>
    <form>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-12">
                <icabs-refresh (click)="refresh()"></icabs-refresh>
                <icabs-pagination *ngIf="totalRecords > 0" [totalItems]="totalRecords" [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)" [currentPage]="paginationCurrentPage"></icabs-pagination>
            </div>
        </div>
        <div class="row mt2">
            <div class="col-sm-12">
                <icabs-grid #riRegistryGrid [maxColumns]="maxColumns" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (gridInfo)="getGridInfo($event)" (selectedRowInfo)="onGridRowClick($event)" [builtFromParent]="true" [dataFromParent]="dataToGrid" (getCellDataonBlur)="getCellDataonBlur($event)"></icabs-grid>
            </div>
        </div>
    </form>
</div>
