<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row pt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Business' |translate}} </label>
                    <div *ngIf="false">
                      <input type="text" id="BusinessCode" formControlName="BusinessCode" size="5" [attr.maxlength]="1"
                        class="form-control" eTypeCode>
                    </div>
                    <div class="col24 pr10">
                      <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="40" [attr.maxlength]="40"
                        class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-6 pl0">
                        <label class="col24">{{ 'Year' | translate }}<span class="mandatory">*</span></label>
                            <div class="col23">
                                <input type="text" id="ForYear" formControlName="ForYear" size="4" [attr.maxlength]="4"
                                class="form-control" (change)="this['commonGridFunction'].resetGrid()" eTypeText>
                            </div>
                    </div>
                    <div class="col-sm-6 pr0">
                        <label class="col24">{{ 'Month' | translate }}<span class="mandatory">*</span></label>
                        <div class="col23">
                            <select id="ForMonth" class="form-control" formControlName="ForMonth" (change)="this['commonGridFunction'].resetGrid()">
                                <option *ngFor="let mon of month" [value]="mon">{{mon | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="this['parentMode'] === 'Detail'">
                <div class="row pt5">
                    <div class="col-sm-4">
                        <label class="col24">{{'Tax Code' |translate}} </label>
                        <div class="col8 pr10">
                          <input type="text" id="TaxCode" formControlName="TaxCode" size="5" [attr.maxlength]="5"
                            class="form-control" fetchDescription table="TaxCode" query="TaxCode" select="TaxCodeDesc" [shouldTrigger]="fetchTrigger" eTypeText>
                        </div>
                        <div class="col16 pr10">
                          <input type="text" id="TaxCodeDesc" formControlName="TaxCodeDesc" size="40" [attr.maxlength]="40"
                            class="form-control" eTypeText>
                        </div>
                    </div>
                </div>
                <div class="row pt5">
                    <div class="col-sm-4">
                        <label class="col24">{{'Tax Rate' |translate}} </label>
                        <div class="col24 pr10">
                          <input type="text" id="TaxRate" formControlName="TaxRate" size="5" [attr.maxlength]="5"
                            class="form-control" eTypeCode>
                        </div>
                    </div>
                </div>            
            </ng-container>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !this.pageParams.hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="gridDblClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>