<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="AccountNumber">{{'Account Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="AccountNumber" formControlName="AccountNumber"
                            size="7" [attr.maxlength]="9" (change)="onFillterNumberChange(c_s_ACCOUNT)" icabsZeroPad
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="AccountName" formControlName="AccountName" size="35"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.accountSearch.config"
                            [contentComponent]="ellipsis.accountSearch.component" [showHeader]="true"
                            (ellipsisData)="onEllipsisDataReturn($event, c_s_ACCOUNT)">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{'Contract Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber"
                            size="7" [attr.maxlength]="8" (change)="onFillterNumberChange(c_s_CONTRACT)" icabsZeroPad
                            eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName"
                            size="35" [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contractSearch.config"
                            [contentComponent]="ellipsis.contractSearch.component" [showHeader]="true"
                            (ellipsisData)="onEllipsisDataReturn($event, c_s_CONTRACT)">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{'Premises Number'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber"
                            size="7" [attr.maxlength]="5" (change)="onFillterNumberChange(c_s_PREMISE)" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="35"
                            [attr.maxlength]="40" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premiseSearch.config"
                            [contentComponent]="ellipsis.premiseSearch.component" [showHeader]="true"
                            (ellipsisData)="onEllipsisDataReturn($event, c_s_PREMISE)">
                        </icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-2">
                    <label for="DateFrom" class="col24">{{'Date From' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker formControlName="DateFrom" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="DateTo" class="col24">{{'Date To' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24">
                        <icabs-datepicker formControlName="DateTo" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].totalRecords"
                        [itemsPerPage]="10" [currentPage]="this['pageParams'].gridCurrentPage"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (headerClick)="onGridHeaderClick()"
                        (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
