<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24"> {{'Group Account' | translate}}<span
                                [ngClass]="!this['pageParams'].isMandatory ? 'hidden' : ''"
                                class="mandatory">*</span></label>
                        <div class="col6 pr5">
                            <input type="text" id="GroupAccountNumber" formControlName="GroupAccountNumber"
                                class="form-control" (change)='onChangeControls("GroupAccount")' size="5" maxlength="5"
                                eTypeCode>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" id="GroupName" size="40" [attr.maxlength]="40" class="form-control"
                                formControlName="GroupName">
                        </div>
                        <div class="col2 pl5">
                            <icabs-ellipsis [childConfigParams]="ellipsis.commonProperties.childConfigParams"
                                [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                                [contentComponent]="ellipsis.groupAccount.contentComponent"
                                (ellipsisData)="onEllipsisDataRecieved($event, 'GroupAccount')"
                                [showHeader]="ellipsis.commonProperties.showHeader"
                                [disabled]="this['pageParams']['groupAccountEllipsis']">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{ 'Account Number' | translate}}<span
                                [ngClass]="!this['pageParams'].isMandatory ? 'hidden' : ''" class="mandatory">*</span>
                        </label>
                        <div class="col6 pr5">
                            <input id="AccountNumber" formControlName="AccountNumber" class="form-control"
                                (change)='onChangeControls("Account")' size="8" [attr.maxlength]="9" eTypeCode
                                icabsZeroPad>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" id="AccountName" size="40" [attr.maxlength]="40" class="form-control"
                                formControlName="AccountName">
                        </div>
                        <div class="col2 pl5">
                            <icabs-ellipsis [childConfigParams]="ellipsis.account.childConfigParams"
                                [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                                [contentComponent]="ellipsis.account.contentComponent"
                                (ellipsisData)="onEllipsisDataRecieved($event, 'Account')"
                                [showHeader]="ellipsis.commonProperties.showHeader"
                                [disabled]="ellipsis.account.disabled">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24"> {{'Contract Number' | translate}}<span
                                [ngClass]="!this['pageParams'].isMandatory ? 'hidden' : ''" class="mandatory">*</span>
                        </label>
                        <div class="col6 pr5">
                            <input id="ContractNumber" formControlName="ContractNumber" class="form-control"
                                (change)='onChangeControls("Contract")' size="8" [attr.maxlength]="8" eTypeCode
                                icabsZeroPad>
                        </div>
                        <div class="col16 pr5">
                            <input type="text" id="ContractName" size="40" [attr.maxlength]="40" class="form-control"
                                formControlName="ContractName">
                        </div>
                        <div class="col2 pl5">
                            <icabs-ellipsis [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                                [childConfigParams]="ellipsis.contract.childConfigParams"
                                [contentComponent]="contractSearchComponent"
                                (ellipsisData)="onEllipsisDataRecieved($event, 'Contract')"
                                [showHeader]="ellipsis.commonProperties.showHeader">
                            </icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{ 'Premises Number' | translate}}</label>
                        <div class="col6 pr5">
                            <input type="text" id="PremiseNumber" formControlName="PremiseNumber" class="form-control"
                                (change)='onChangeControls("Premise")' size="5" maxlength="5" eTypeInteger
                                [disabled]="!this.getControlValue('ContractName')">
                        </div>
                        <div class="col16 pr5">
                            <input type="text" id="PremiseName" size="40" [attr.maxlength]="40" class="form-control"
                                formControlName="PremiseName">
                        </div>
                        <div class="col2 pl5">
                            <icabs-ellipsis [childConfigParams]="ellipsis.premise.childConfigParams"
                                [showCloseButton]="ellipsis.commonProperties.showCloseButton"
                                [contentComponent]="premiseSearchComponent"
                                (ellipsisData)="onEllipsisDataRecieved($event, 'Premise')"
                                [showHeader]="ellipsis.commonProperties.showHeader"
                                [disabled]="!this.getControlValue('ContractName')">
                            </icabs-ellipsis>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col24">
                        <label class="col24">{{ 'Post Code' | translate}}</label>
                        <div class="col12 pr5">
                            <input type="text" id="PostCode" formControlName="PostCode" class="form-control" size="10"
                                maxlength="5" eTypeText (change)="buildGrid()">
                        </div>
                    </div>
                    <div class="col24">
                        <label class="col24">{{ 'View By' | translate}}</label>
                        <div class="col12 pr5">
                            <select id="SearchType" formControlName="SearchType" class="form-control"
                                (change)='onChangeControls("SearchType")'>
                                <option value="PremiseVisitInd">{{ 'Premises Visit' | translate }}</option>
                                <option value="DetailInd">{{ 'Service Covers Detail' | translate }}</option>
                                <option value="SummaryInd">{{ 'Service Covers Summary' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col24">
                        <div class="col24 pr5">
                            <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span></label>
                            <div class="col8">
                                <icabs-datepicker id="ServiceDateFrom" formControlName="ServiceDateFrom"
                                    [isDirectiveBased]="false" (onChange)="buildGrid()">
                                </icabs-datepicker>
                            </div>
                            <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                            <div class="col8">
                                <icabs-datepicker id="ServiceDateTo" formControlName="ServiceDateTo"
                                    [isDirectiveBased]="false" (onChange)="buildGrid()">
                                </icabs-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="getControlValue('SearchType')==='PremiseVisitInd'">
                    <input type="button" class="btn btn-primary" value="{{'Proof Of Service Instant Report'|translate}}"
                        (click)="generateReport($event)">
                </div>
            </div>
        </section>
        <hr class="mt15 mb15">
        <div class="row mt10">
            <div class="col-sm-6">
                <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                    [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                    (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                    [ngClass]="{hidden: !hasGridData}" [canExport]="true" [exportOptions]="exportConfig">
                </icabs-pagination>
            </div>
        </div>
        <div class="row mt10">
            <div class="col-sm-12">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>