<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">

            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BranchNumber" size="6" [attr.maxlength]="6" formControlName="BranchNumber" class="form-control" eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" id="BranchName" size="30" [attr.maxlength]="40" formControlName="BranchName" class="form-control" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="From">{{ 'From' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="From" size="6" [attr.maxlength]="6" formControlName="From" class="form-control" eTypeDate>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col6 pr5">
                        <label class="col24" for="To">{{ 'To' | translate }}</label>
                        <input type="text" id="To" size="6" [attr.maxlength]="6" formControlName="To" class="form-control" eTypeDate>
                    </div>
                    <div class="col1 mt15" *ngIf="this.pageType==='Branch'">
                        <span class="glyphicon glyphicon-plus plusmin"></span>
                        <span class="glyphicon glyphicon-minus plusmin"></span>
                    </div>
                </div>
            </div>
            <div class="row mt5" *ngIf="this.pageType==='Branch'">
                <div class="col-sm-4">
                    <input type="button" class="btn btn-primary" value="{{'Submit Report Generation'|translate}}" (click)="generateReport()">
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem" 
                        [currentPage]="this['pageParams'].gridCurrentPage"  [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage" 
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)" 
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onRiGridBodyDoubleClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>