<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{'Branch' |translate}} </label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="5"
                            class="form-control" eTypeInteger>
                    </div>
                    <div class="col14">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="40"
                            class="form-control" eTypeText>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col12 pr5">{{'View By' | translate}}</label>
                    <select id="ViewTypeFilter" class="form-control" formControlName="ViewTypeFilter"
                        (change)="clearGrid()">
                        <option *ngIf="this['pageParams'].vEnableInstallsRemovals" value="Unit">
                            {{ 'Number of Units' | translate }}</option>
                        <option value="Premise">{{ 'Number Of Premises' | translate }}</option>
                        <option value="Visit">{{ 'Number Of Visits' | translate }}</option>
                        <option *ngIf="this['pageParams'].vEnableWED" value="WED">
                            {{ 'W.E.D' | translate }}</option>
                        <option value="Time">{{ 'Time' | translate }}</option>
                        <option value="Value">{{ 'Nett Value' | translate }}</option>
                    </select>

                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col24">{{'Service Area'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" eTypeCode formControlName="BranchServiceAreaCode" id="BranchServiceAreaCode"
                            size="10" maxlength="4" class="form-control" (change)="branchServiceAreaCodeOnchange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" size="30" maxlength="30" class="form-control"
                            formControlName="EmployeeSurname" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [showCloseButton]="true"
                            [childConfigParams]="serviceAreaEllipsis.childConfigParams"
                            [contentComponent]="serviceAreaEllipsis.component"
                            [disabled]="serviceAreaEllipsis.isDisabled" (ellipsisData)="onDataRcv($event)"
                            [showHeader]="true">
                        </icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col12 pr5">{{'Contract Type' | translate}} </label>
                    <select class="form-control" id="ContractTypeFilter" formControlName="ContractTypeFilter"
                        (change)="clearGrid()">
                        <option value="">{{ 'All' | translate }}</option>
                        <option value="C">{{ 'Contracts' | translate }}</option>
                        <option value="J">{{ 'Jobs' | translate }}</option>
                        <option value="P">{{ 'Product Sales' | translate }}</option>
                    </select>
                </div>
            </div>

            <div class="row mt2" *ngIf="filter.isPostcodeDisplayed">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Postcode' | translate}} </label>
                    <div class="col16">
                        <input type="text" eTypeCode formControlName="PostalBrickString" id="PostalBrickString"
                            size="90" class="form-control" (change)="clearGrid()">
                    </div>
                </div>
            </div>

            <div class="row mt2" *ngIf="filter.isTownDisplayed">
                <div class="col-sm-3">
                    <label class="col24" for="PremiseTown">{{ 'Town' | translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" formControlName="PremiseTown" size="10" eTypeText
                            (change)="clearGrid()">
                    </div>
                </div>
            </div>

            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Product Service Groups' | translate}} </label>
                    <div class="col24" *ngIf="showProductService">
                        <input type="text" formControlName="ProductServiceGroupString" id="ProductServiceGroupString"
                            size="30" [attr.maxlength]="30" class="form-control">
                    </div>
                    <div class="col24" *ngIf="showDropdown">
                        <icabs-sbproductservice-groupsearch #ddProductServiceGroupSearch
                            [inputParams]="productServiceGroupDropdownConfig"
                            [active]="productServiceGroupDropdownConfig.active" [isRequired]="false"
                            [isDisabled]="productServiceGroupDropdownConfig.isDisabled" [isMultiSelect]="true"
                            (receivedProductServiceGroupSearch)="onProductServiceGroupSearch($event)">
                        </icabs-sbproductservice-groupsearch>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label class="col16">{{ 'Visit Frequency' | translate}} </label>
                    <div class="col12">
                        <input type="text" eTypeInteger formControlName="VisitFrequencyFilter" id="VisitFrequencyFilter"
                            size="3" class="form-control" (change)="clearGrid()">
                    </div>
                </div>
            </div>

            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'Year' | translate}} </label>
                    <div class="col16">
                        <select class="form-control" id="SelectedYear" formControlName="SelectedYear"
                            (change)="clearGrid()">
                            <option *ngFor="let item of selectedYearOptions" [value]="item.value">
                                {{item.text}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row mt10">
                <div class="col22">
                    <div class="col3 pl5 pull-right">
                        <label class="col24" for="TotalNettValue">{{'Nett Value'| translate}}</label>
                        <div class="col24">
                            <input type="text" class="form-control" id="TotalNettValue" maxlength="23" size="20"
                                formControlName="TotalNettValue" eTypeCurrency>
                        </div>
                    </div>
                    <div class="col3 pl5 pull-right">
                        <label class="col24" for="TotalTime">{{'Time'| translate}}</label>

                        <input type="text" class="form-control" id="TotalTime" maxlength="6" size="6"
                            formControlName="TotalTime" eTypeText>

                    </div>
                    <div class="col3 pl5 pull-right" *ngIf="this['pageParams'].vEnableWED">
                        <label class="col24" for="TotalWED">{{'W.E.D'| translate}}</label>
                        <input type="text" class="form-control" id="TotalWED" maxlength="6" size="6"
                            formControlName="TotalWED">

                    </div>
                    <div class="col3 pl5 pull-right" *ngIf="this['pageParams'].vEnableInstallsRemovals">
                        <label class="col24" for="TotalUnits">{{'Units'| translate}}</label>

                        <input type="text" class="form-control" id="c" maxlength="6" size="6"
                            formControlName="TotalUnits" eTypeInteger>

                    </div>
                    <div class="col3 pull-right">
                        <label class="col24" for="TotalPremises">{{'Total Visits'| translate}}</label>

                        <input type="text" class="form-control" id="TotalPremises" maxlength="6" size="6"
                            formControlName="TotalPremises" eTypeInteger>

                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">

            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [ngClass]="{hidden: !this['pageParams'].hasGridData}">
                    </icabs-pagination>
                </div>
            </div>

            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="gridHScroll">
                        <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyOnDblClick($event)"
                            (onSuccess)="riGridAfterExecute()">
                        </icabs-grid-advanced>
                    </div>
                </div>
            </div>

        </section>
        <div class="row mt10">
            <div class="col-sm-12 text-center" *ngIf="showLegend">
                <label class="pr5">{{'Legend' |translate}}: </label>
                <div class="inline-block pr10" *ngFor="let l of legendArr">
                    <div class="legend inline-block mr5" [style.background-color]="l.color"></div>
                    <label>{{l.label |translate}}</label>
                </div>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>