<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ 'Add Translations To All Countries/Businesses' | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <span *ngIf="!hasAccess">
            {{ error }}
        </span>
        <div *ngIf="hasAccess">
            <div class="row mt5">
                <div class="col-sm-5 mb10">
                    Enter The Translation Texts
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-5 mb10" *ngFor="let control of controls; let idx = index; trackBy: updateIndex">
                    <textarea id="text{{idx}}" class="form-control" [(ngModel)]="controls[idx]"></textarea>
                </div>
                <div class="col-sm-2">
                    <button aria-label="Reset" class="btn btn-additional reset-form" type="button" title="Add One Row"
                        (click)="addRows(1)">
                        <strong>+</strong>
                    </button>
                    <button aria-label="Reset" class="btn btn-additional reset-form" type="button" title="Add Five Rows"
                        (click)="addRows(5)">
                        <strong>+ 5</strong>
                    </button>
                    <button aria-label="Reset" class="btn btn-additional reset-form" type="button" title="Add Ten Rows"
                        (click)="addRows(10)">
                        <strong>+ 10</strong>
                    </button>
                </div>
            </div>
            <div class="row mt5">
                <div class="col-sm-2">
                    <input type="button" class="btn btn-primary" value="{{ 'Update Translations' | translate }}"
                        (click)="onUpdateClick()">
                </div>
            </div>
        </div>
    </section>
</section>