.autocomplete-holder {
    input {
        background: url("/assets/images/search-icon.png") #ffffff no-repeat;
        background-position: 98%;
        background-size: 8%;
    }
}

.autocomplete-dropdown-holder {
    position: absolute;
    background: white;
}

.autocomplete-dropdown {
    background: #d2dde6;
    z-index: 9999;
    position: absolute;
    max-height: 370px;
    overflow-y: auto;
}


/* Scroll bar */

.autocomplete-dropdown::-webkit-scrollbar {
    width: 11px;
    /* for vertical scrollbars */
    height: 6px;
    /* for horizontal scrollbars */
    background: rgba(0, 0, 0, 0.1);
}

//.feature-wrapper::-webkit-scrollbar-track {}
.autocomplete-dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(0, 125, 198, 0.8);
    border-radius: 10px;
    max-height: 10px;
}

.autocomplete-dropdown::-webkit-scrollbar-corner {
    background: transparent;
}

.autocomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.autocomplete-row {
    padding: 5px;
    color: #2a3b44;
    font-size: 14px;
    cursor: pointer;
}

.autocomplete-selected-row {
    background-color: #61bef3;
}

.autocomplete-title {
    color: #000;
}

@media (min-width: 768px) {
    .autocomplete-holder {
        input {
            background-size: 12%;
        }
    }
    .autocomplete-dropdown {
        width: 250px;
    }
}
