.menu-expanded {
    .ejected span {
        transform: rotate(0deg)!important;
    }
}
.parent-header {
    min-height: 83px;
    &.nav-bar-collapsed {
        min-height: 52px;

        .nav-container {
            height: 5px;
            cursor: pointer;
            .container-fluid {
                display: none;
            }
        }
    }
}
.cbb-wrapper {
    .links {
        &>span {
            position: relative;
            &>a {
                padding: 5px 8px;
                width: 100%;
                &.new>span.glyphicon {
                    color: #FF0000;
                    font-size: 27px;
                    -webkit-animation: ring 4s .7s ease-in-out infinite;
                    -webkit-transform-origin: 50% 4px;
                    -moz-animation: ring 4s .7s ease-in-out infinite;
                    -moz-transform-origin: 50% 4px;
                    animation: ring 4s .7s ease-in-out infinite;
                    transform-origin: 50% 4px;
                }
                &>span.glyphicon {
                    font-size: 27px;
                    line-height: 40px;
                    color: #469FCA;
                }
                &.eject {
                    padding: 5px;
                    span {
                        font-size: 15px;
                        transform: rotate(180deg);
                    }
                }
                &:after {
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    border-width: 5px;
                    border: solid transparent;
                    transform: rotate(45deg);
                    border-color: transparent transparent transparent transparent;
                    border-width: 7px;
                    z-index: 101;
                    top: 21px;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                }
                &:hover span.glyphicon,
                &.active span.glyphicon {
                    color: #354A55;
                }
                &.active:after {
                    border-color: #354A55 transparent transparent #354A55;
                }
            }
        }
        .options-dropdown {
            position: absolute;
            background-color: #354A55;
            -webkit-box-shadow: 0 1px 1px 1px #386C8A;
            -moz-box-shadow: 0 1px 1px 1px #386C8A;
            box-shadow: 0 1px 1px 1px #386C8A;
            top: 47px;
            z-index: 100;
            & span {
                font-size: 15px;
                line-height: 20px;
            }
            &.user {
                ul {
                    min-width: 200px!important;
                }
            }
            &.push-notifications {
                .notification-group {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    .type-header {
                        border-bottom: 3px solid #c1ac5c;
                        font-weight: bold;
                    }
                }
                .no-notification {
                    span {
                        opacity: 0.5;
                    }
                }
                .notifiction-time {
                    font-style: italic;
                    font-weight: 700;
                }
            }
            span {
                padding: 0 10px 0 3px;
                color: #FFF;
                &.glyphicon {
                    padding: 0 0 0 5px;
                }
            }
            ul {
                padding: 0;
                min-width: 160px;
                margin-top: 5px;
                li {
                    list-style: none;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    a {
                        span.uplus-icon {
                            font-size: 16px;
                            font-weight: 700;
                            padding: 0 0 0 5px;
                        }
                        span.uplus-text {
                            padding-left: 0;
                        }
                        color: #FFF;
                        display: inline-block;
                        width: 100%;
                        padding: 3px 5px;
                        &:hover {
                            text-decoration: none;
                            background-color: #386C8A;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    label {
        color: #354A55;
    }
    .cbb-country,
    .cbb-business,
    .cbb-branch {
        padding: 0 5px 0 8px;
        select {
                border-radius: 10px;
        }
    }
}

@media (min-width: 992px) {
    .options-dropdown {
        &.help {
            right: 8px;
            &:after {
                bottom: 92%;
                left: 50%;
            }
        }
        &.user {
            right: 35px;
            &:after {
                bottom: 92%;
                left: 50%;
            }
        }
        &.notifications {
            right: 100px;
            width: auto;
            &:after {
                bottom: 78%;
                left: 50%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .custom-container {
        padding-top: 65px;
        &.modal-fix {
            padding-top: 0;
        }
    }
    .menu-expanded .custom-container {
        padding-top: 120px;
        &.modal-fix {
            padding-top: 0;
        }
    }
    .options-dropdown {
        &.help {
            right: 48px;
            &:after {
                bottom: 92%;
                left: 50%;
            }
        }
        &.user {
            right: 73px;
            &:after {
                bottom: 92%;
                left: 50%;
            }
        }
        &.push-notifications {
            right: 139px;
            width: auto!important;
            &:after {
                bottom: 78%;
                left: 50%;
            }
        }
    }
}

.quick-search-user {
   .col-sm-2 {
      padding-right: 5px;
    }
    .col-sm-4{
      padding-left: 5px;
    }
    h3 {
      border-left: 3px solid #007dc5;
      padding-left: 10px;
    }
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
