/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  opacity: 0;
  position: absolute;
  width: auto;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  min-height: 27px;
  line-height: 25px;
  width: auto;
}
[type="checkbox"]:not(:checked)+label.pl27,
[type="checkbox"]:checked+label.pl27 {
  padding:0 0 0 27px;
} 

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; 
  top: 0px;
  width: 27px; height: 27px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 6px; left: 5px;
  font-size: 19px;
  line-height: 0.8;
  color: #333;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
// [type="checkbox"]:disabled + label {
//   color: #aaa;
// }
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
  background-color: #FCF0C4 !important;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}
/* error checkbox */
[type="checkbox"]:not(:checked).error + label:before,
[type="checkbox"]:checked.error + label:before {
 border-color: #f00;
}

/* Checkbox*/

.custom-checkbox-wrapper {
    line-height: 1;
    position: relative;
}

.custom-checkbox-wrapper .custom-checkbox,
.custom-checkbox-wrapper .custom-checkbox-label {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.custom-checkbox-wrapper .custom-checkbox {
    opacity: 0;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    color: #fff;
    z-index: 10;
    top: 0.7em;
}

.custom-checkbox-wrapper .custom-checkbox~.custom-checkbox-label {
    position: relative;
    font-family: $openSans;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    padding-left: 2.5em;
    word-wrap: break-word;
}

table tr td .custom-checkbox-wrapper .custom-checkbox~.custom-checkbox-label {
    padding-left: 1.5em;
}

.custom-checkbox-wrapper .custom-checkbox:checked~.custom-checkbox-label:before {
    content: "";
    background: url("/assets/images/tick-icon.svg") no-repeat;
    background-position: center center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 80% 80%;
}

table tr td .custom-checkbox-wrapper .custom-checkbox:checked~.custom-checkbox-label:before {
    background-size: 90% 90%;
}

.custom-checkbox-wrapper .custom-checkbox~.custom-checkbox-label:before {
    content: '';
    background: #fff;
    border: 1px solid #bbb;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    top: 0.5em;
    text-align: center;
}

.custom-checkbox-wrapper .custom-checkbox[disabled] ~ .custom-checkbox-label:before {
    background: #eee;
   
}

table tr td .custom-checkbox-wrapper .custom-checkbox~.custom-checkbox-label:before {
    top: -8px;
    background: url("/assets/images/cross-icon-svg.svg") no-repeat;
    background-position: center center;
    color: #fff;
    background-size: 60% 60%;
    border: none;
}

.custom-checkbox-wrapper .custom-checkbox~.custom-checkbox-label span {
    margin-right: 0
}

.custom-checkbox-label>span {
    vertical-align: super
}