$grid-columns: 24 !default;

@mixin make-grid-columns($i: 1, $list: ".col#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col#{$i}";
  }
  #{$list} {
    min-height: 1px;
    float: left;
  }
}
@mixin calc-grid-column() {
 @for $i from 0 through $grid-columns {
  @if ($i > 0) {
    .col#{$i} {
      width: percentage(($i / $grid-columns));
    }
    table > thead > tr > th.col#{$i} {
      float:none;
      white-space: nowrap;
    }
  }
 }
}

@include make-grid-columns;
@include calc-grid-column;
// .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12,.col24,.col23,.col22,.col21,.col20,.col19,.col18,.col17,.col16,.col15,.col14,.col13{float: left;min-height: 1px;}


// .col24 {width: 100%;}
// .col23 {width: 95.83333333%;}
// .col22 {width: 91.66666667%;}
// .col21 {width: 87.5%;}
// .col20 {width: 83.33333333%;}
// .col19 {width: 79.16666667%;}
// .col18 {width: 75%;}
// .col17 {width: 70.83333333%;}
// .col16 {width: 66.66666667%;}
// .col15 {width: 62.5%;}
// .col14 {width: 58.33333333%;}
// .col13 {width: 54.16666667%;}
// .col12 {width: 50%;}
// .col11 {width: 45.83333333%;}
// .col10 {width: 41.66666667%;}
// .col9 {width: 37.5%;}
// .col8 {width: 33.33333333%;}
// .col7 {width: 29.16666667%;}
// .col6 {width: 25%;}
// .col5 {width: 20.83333333%;}
// .col4 {width: 16.66666667%;}
// .col3 {width: 12.5%;}
// .col2 {width: 8.33333333%;}
// .col1 {width: 4.16666667%;}