.top-menu-holder{
    background: #fff;
}
.top-menu-wrapper{
    
    height: 40px;
    display: table;
    width: 100%;
    font-size: 12px;
}
.top-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table-row;
    li{
        display: table-cell;
        border-right: 1px solid $navbarTextColor;
        vertical-align: middle;
        text-align: center;
        a{
            color: $navbarTextColor;
            text-decoration: none;
            white-space: nowrap;
            img{
                width: 16px;
            }
            span{
                width: 100%;
                display: block;
            }
        }
    }
    li:last-child{
        border: none;
    
    }
}
@media (min-width: 768px) {//sm
.top-menu-wrapper{
    height: 28px;
    table-layout: fixed;
    .top-menu{
        li{
             width: 2%;
             a{
                span{
                    width: auto;
                    display: inline;
                    padding-left:5px;
                    vertical-align: middle
                }
            }
        }
    }
}
}
@media (min-width: 992px) {//md
.top-menu-wrapper{
    display: block;

.top-menu{
    display: block;
    li{
        display: inline-block;
        margin: 7px 0;
        line-height: 14px;
        padding: 0 5px;
        width: auto;
        
    }
}
}
}
@media (min-width: 1200px) {//lg

}