<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="ContractNumber">{{numberLabel|translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="ContractNumber" formControlName="ContractNumber" size="7" [attr.maxlength]="8"
                            (change)="onContractNumberChange($event)" icabsZeroPad eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="ContractName" formControlName="ContractName" size="35" [attr.maxlength]="35"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [autoOpen]="isAutoOpenContract" [modalConfig]="modalConfig" [childConfigParams]="inputParams.contractSearch"
                            [disabled]="this['pageParams']['isContractDis']" [contentComponent]="inputParams.contractSearch.contentComp"
                            [showHeader]="true" (ellipsisData)="onContractSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Status'|translate}}</label>
                    <div class="col10">
                        <input type="text" class="form-control" id="Status" formControlName="Status" size="20" [attr.maxlength]="20" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="PremiseNumber">{{'Premises Number'|translate}}<span class="mandatory">*</span></label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="PremiseNumber" formControlName="PremiseNumber" size="7" [attr.maxlength]="5"
                            (change)="onPremiseNumberChange($event)" eTypeInteger>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="PremiseName" formControlName="PremiseName" size="35" [attr.maxlength]="35" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="inputParams.premiseSearch" [contentComponent]="inputParams.premiseSearch.contentComp"
                            [disabled]="this['pageParams']['isPremiseDis']" [showHeader]="true" (ellipsisData)="onPremiseSearchDataReturn($event)"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <label class="col24">{{'Address Line 1'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseAddressLine1" formControlName="PremiseAddressLine1" size="37" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Neg Branch'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="NegBranchNumber" formControlName="NegBranchNumber" size="3" [attr.maxlength]="5"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchName" formControlName="BranchName" size="20" [attr.maxlength]="40" eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Address Line 2'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseAddressLine2" formControlName="PremiseAddressLine2" size="37" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Invoice Anniv Date'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="InvoiceAnnivDate" formControlName="InvoiceAnnivDate" size="10" [attr.maxlength]="10">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Address Line 3'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseAddressLine3" formControlName="PremiseAddressLine3" size="37" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Invoice Frequency'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="InvoiceFrequencyCode" formControlName="InvoiceFrequencyCode" size="2" [attr.maxlength]="2"
                            eTypeInteger>
                    </div>
                    <div class="col16">
                        <input type="text" class="form-control" id="InvoiceFrequencyDesc" formControlName="InvoiceFrequencyDesc" size="20" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Town'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseAddressLine4" formControlName="PremiseAddressLine4" size="37" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="this['pageParams']['isTdPremiseAnnualValue']">
                    <label class="col24">{{'Value'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PremiseAnnualValue" formControlName="PremiseAnnualValue" size="20" [attr.maxlength]="23"
                            eTypeCurrency>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'County'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="PremiseAddressLine5" formControlName="PremiseAddressLine5" size="37" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Commence Date'|translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" id="PremiseCommenceDate" formControlName="PremiseCommenceDate" size="10" [attr.maxlength]="10"
                            eTypeDate>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Postcode'|translate}}</label>
                    <div class="col12">
                        <input type="text" class="form-control" id="PremisePostcode" formControlName="PremisePostcode" size="15" [attr.maxlength]="15"
                            eTypeCode>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row" *ngIf="this['pageParams']['isTrLostBusiness']">
                <div class="col-sm-4">
                    <label class="col24">{{'Lost Business'|translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-lostbusinesslanguagesearch #lostbusinesslanguagesearchDropDown [inputParams]="dropdown.lostBusiness.inputParams" [isRequired]="dropdown.lostBusiness.isRequired"
                            [isDisabled]="dropdown.lostBusiness.isDisabled" [isTriggerValidate]="dropdown.lostBusiness.isTriggerValidate"
                            [active]="activeLostBusinessSearch" (receivedlostbusinesslangsearch)="onLostBusinessLanguageSearch($event)">
                        </icabs-lostbusinesslanguagesearch>
                    </div>
                </div>
            </div>
            <div class="row mt2" [ngClass]="this['pageParams']['isTrLostBusinessDetail'] ? '' : 'hidden'">
                <div class="col-sm-4">
                    <label class="col24">{{'Detail'|translate}}<span class="mandatory">*</span></label>
                    <div class="col24">
                        <icabs-lostbusinessdetails #icabsLostBusinessLang [inputParams]="dropdown.lostBusinessDetails.inputParams" [isRequired]="dropdown.lostBusinessDetails.isRequired"
                            [isDisabled]="dropdown.lostBusinessDetails.isDisabled" [isTriggerValidate]="dropdown.lostBusinessDetails.isTriggerValidate"
                            [active]="activeLostBusinessDetailSearch" (receivedbranchsearch)="onLostBusinessDetailLangDataReceived($event)"></icabs-lostbusinessdetails>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isTrEffectDate']">
                <div class="col-sm-4">
                    <label class="col24">{{'Effect Date'|translate}}<span class="mandatory">*</span></label>
                    <div class="col12">
                        <icabs-datepicker id="InactiveEffectDate" [isRequired]="true" [validate]="true" formControlName="InactiveEffectDate" (onChange)="onChangeInactiveEffectDateDate($event)"
                            [isDirectiveBased]="false"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Commission Employee'|translate}}</label>
                    <div class="col6 pr5">
                        <input type="text" class="form-control" id="CommissionEmployeeCode" formControlName="CommissionEmployeeCode" size="6" [attr.maxlength]="6"
                            (change)="onEmployeeChange()" eTypeCode>
                    </div>
                    <div class="col16 pr5">
                        <input type="text" class="form-control" id="EmployeeSurname" formControlName="EmployeeSurname" size="30" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [contentComponent]="inputParams.employeeSearch.contentComponent" [childConfigParams]="inputParams.employeeSearch"
                            [showHeader]="true" [disabled]="inputParams.employeeSearch.isDisabled" (ellipsisData)="onCommissionEmployeeChange($event)"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Reason'|translate}}</label>
                    <div class="col20">
                        <input type="text" class="form-control" id="SalesEmployeeText" formControlName="SalesEmployeeText" size="35" [attr.maxlength]="40"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isTrText']">
                <div class="col-sm-4">
                    <label class="col24">{{'Text'|translate}}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="InactivePremiseText" formControlName="InactivePremiseText" size="40" [attr.maxlength]="50"
                            eTypeText>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isTrVisitNarrative']">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Visit Narrative Code'|translate}}</label>
                    <div class="col24">
                        <icabs-common-dropdown [inputParams]="dropdown.reasoncode.inputParams" [displayFields]="dropdown.reasoncode.displayFields"
                            (onDataReceived)="onVisitNarrativeCodeChange($event)" [isFirstItemSelected]="dropdown.reasoncode.isFirstItemSelected"
                            [isDisabled]="dropdown.reasoncode.isDisabled" [isTriggerValidate]="dropdown.reasoncode.isTriggerValidate"
                            [isRequired]="dropdown.reasoncode.isRequired" [isActive]="dropdown.reasoncode.activeSelected"></icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mt2" *ngIf="this['pageParams']['isTrRemovalVisitNotes']">
                <div class="col-sm-4">
                    <label class="col24">{{'Removal Visit Notes'|translate}}</label>
                    <div class="col24">
                        <textarea id="RemovalVisitText" class="form-control" formControlName="RemovalVisitText" [attr.maxlength]="100" rows="2" cols=""
                            value="" eTypeText></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt10" *ngIf="this['pageParams']['isTrContact']">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="CreateContact" formControlName="CreateContact" size="2" [attr.maxlength]="2"
                        (change)="onCreateContact()" eTypeCheckBox>
                    <label for="CreateContact">{{'Contact Management'|translate}}</label>
                </div>
            </div>
            <div class="row mt10" *ngIf="this['pageParams']['isTrCancelProRata']">
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="CancelProRataChargeInd" formControlName="CancelProRataChargeInd" size="2"
                        [attr.maxlength]="2" eTypeCheckBox>
                    <label for="CancelProRataChargeInd">{{'Cancel Pro Rata Charges'|translate}}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-4">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save'| translate}}" [disabled]="this['pageParams']['isBtnSaveDisable']"
                        (click)="onSaveClick()">
                    <input type="button" class="btn btn-secondary" value="{{'Cancel'| translate}}" [disabled]="this['pageParams']['isBtnSaveDisable']"
                        (click)="onCancelClick()">
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="col12 pull-right">
                        <select id="menu" formControlName="menu" class="form-control" (change)="onMenuChange()">
                        <option selected value="">{{'Options' | translate}}</option>
                        <option value="Premise">{{'Premises' | translate}}</option>
                    </select>
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>