<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Supervisor Employee'| translate}}</label>
                    <div class="col16">
                        <icabs-dropdown-static #StatusSelectDropdown id="SupervisorEmployeeCode" [inputData]="planningDiary" (onSelect)="employeeCodeOnChange($event)"></icabs-dropdown-static>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Service Area'|translate}}<span class="mandatory">*</span></label>
                    <div class="col8 pr5">
                        <input type="text" id="BranchServiceAreaCode" formControlName="BranchServiceAreaCode" [ngClass]="{ 'border-red': borderRed}"
                            class="form-control" size="20" maxlength="20" (change)="branchServiceAreaCodeOnchange()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" class="form-control" size="40" maxlength="40">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #PlanningDiaryEllipsis [childConfigParams]="ellipsisQueryParams.branchServiceArea.childConfigParams" [contentComponent]="ellipsisQueryParams.branchServiceArea.contentComponent"
                            [modalConfig]="ellipsisQueryParams.branchServiceArea.modalConfig" (ellipsisData)="branchServiceAreaCodeOnkeydown($event)"
                            [showHeader]="ellipsisQueryParams.branchServiceArea.showHeader" [autoOpen]="ellipsisQueryParams.branchServiceArea.autoOpenSearch"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <div class="col10 pr5">
                        <label class="col24">{{'Date From'|translate}}</label>
                        <div class="col24">
                            <icabs-datepicker #PickerFrom id="tdStartDate" formControlName="tdStartDate" (onChange)="dateFromSelectedValue($event)" [isDirectiveBased]="false"
                                [isRequired]="true"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col10">
                        <label class="col24">{{'To'|translate}}</label>
                        <div class="col24">
                            <icabs-datepicker #PickerTo id="tdDateTo" formControlName="tdDateTo" (onChange)="dateToSelectedValue($event)" [isRequired]="true"
                                [isDirectiveBased]="false"></icabs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col8">
                        <input type="button" class="btn btn-additional" value="{{'Continue'|translate}}" (click)="cmdContinueOnClick()" [disabled]="isDisable">
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>