<script src="https://apis.google.com/js/api.js"
    integrity="sha384-iu+gM+tayMMkaJltWWK2t29NGtBmSPSOKde8uYe4lN9978Ztde9PpU2m0o7gLZwU"
    crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js"
    integrity="sha384-HzBwBNHzRb4GazkyAD9KQpRlQLIkNdpBPhObjegfyQ417ydNW6jP0Tg6HDiaeVOY"
    crossorigin="anonymous"></script>

<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <section class="screen-body">
        <div class="row mt10">
            <div class="col-sm-3 pl25">
                <div class="col24 pr5">
                    <div class="col-sm-24">
                        <label class="col24">{{'Import Type'|translate}} <span class="mandatory">*</span></label>
                        <select [(ngModel)]="importType" name="importType" class="form-control"
                            [ngClass]="{ 'red-bdr': importTypeInvalid}" (change)="onImportTypeChange()">
                            <option *ngFor="let dropDownMenu of dropDownMenus" [value]="dropDownMenu">
                                {{dropDownMenu | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col24 pr5 mt23">
                    <input type="button" id="select-file" class="btn btn-primary"
                        value="{{ 'View History' | translate }}" (click)="getHistory()">
                </div>
            </div>
        </div>

        <div class="row mt10">
            <div class="col-sm-12">
                <div class="col-sm-4 control-group">
                    <div class="row mt10 control-group-label">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'Generate Template' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-7">
                            <div class="col24 pr5">
                                <label class="col24">{{'File Name'|translate}} </label>
                                <input class="form-control" name="fileName" [(ngModel)]="fileName">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col24 pr5 mt23">
                                <input type="button" id="select-file" class="btn btn-primary"
                                    value="{{ 'Create Template' | translate }}" (click)="onCreateBtnClk()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 control-group">
                    <div class="row mt10 control-group-label">
                        <div class="col-sm-11 group-header ml15">
                            <label class="col24">{{ 'Import Template' | translate }}</label>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-sm-3">
                            <div class="col24 pr5">
                                <div class="col-sm-24 mt23">
                                    <input type="button" id="select-file" class="btn btn-primary"
                                        value="{{ 'Select File' | translate }}" (click)="onGdriveBtnClick()">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col24 pr5">
                                <label class="col24">{{'Selected File Name'|translate}} <span
                                        class="mandatory">*</span></label>
                                <input id="importFileName" class="form-control" name="importFileName"
                                    [(ngModel)]="importFileName" [readonly]="true"
                                    [ngClass]="{ 'red-bdr': importFileInvalid}">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col24 pr5 mt23">
                                <input type="button" id="select-file" class="btn btn-primary"
                                    value="{{ 'Import' | translate }}" (click)="onImportBtnClick()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-3 pl25" *ngIf="generatedTemplateURL">
                <div class="col24 pr5">
                    <label class="col24">Generated Template</label>
                    <a [attr.href]=generatedTemplateURL target="_blank">Click to view created templated.</a>
                </div>
            </div>
        </div>
        <div class="row mt20" *ngIf="recordList">
            <div class="col-sm-12">
                <div class="col-sm-7 control-group">
                    <div class="col-sm-12 control-group">
                        <div class="row mt10 control-group-label">
                            <div class="col-sm-12 group-header">
                                <label class="col24">{{ 'History' }}</label>
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-sm-12 pl0 pr0">
                                <table class="table import-history" aria-describedby="History" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th scope="col"> {{'Date' | translate  }}</th>
                                            <th scope="col"> {{'Import Type' | translate  }}</th>
                                            <th scope="col"> {{'Imported Sheet' | translate }} </th>
                                            <th scope="col"> {{'Status' | translate }} </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of recordList">
                                            <td>{{record.CreatedTime}}</td>
                                            <td>{{record.Type}}</td>
                                            <td><a [attr.href]=record.SheetId target='_blank'>Click to view
                                                    sheet.</a></td>
                                            <td><a href="javascript:void(0);" class="nav-link"
                                                    (click)="getHistory(record.id)"><span>{{record.Status | translate}}</span></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>