<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <label class="col24">{{ pageType | translate }}</label>
                    <div class="col6 pr5" *ngIf="isBusiness">
                        <input type="text" id="BusinessCode" formControlName="BusinessCode" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="isBusiness">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col6 pr5" *ngIf="isBranch">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="isBranch">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-2" *ngIf="isBusiness">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <div class="col24 pr5">
                        <select class="form-control" id="ViewBy" formControlName="ViewBy">
                            <option value="Branch">{{'Branch' | translate }}</option>
                            <option value="Region">{{'Region' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="col24">{{'Suspend Reason (blank for all)' |translate}}</label>
                    <div class="col16">
                        <icabs-common-dropdown [inputParams]="dropdown.suspendReasonSearch.params"
                            [isActive]="dropdown.suspendReasonSearch.active"
                            [displayFields]="dropdown.suspendReasonSearch.displayFields"
                            (onDataReceived)="onSuspendReasonDataRecieved($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage" [canExport]="true"
                        [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>