<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']|translate}}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Branch' | translate}} </label>
                    <div class="col24 pr5">
                        <icabs-branchsearch #branchSearchDropDown [inputParams]="branch_dropdown.branchParams"
                            [isRequired]="true" [isDisabled]="dropdownDisable" [active]="branch_dropdown.active"
                            (receivedbranchsearch)="onBranchDataRecived($event)">
                        </icabs-branchsearch>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Contract Number' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ContractNumber" formControlName="ContractNumber" size="10" maxlength="8"
                            class="form-control" (change)="onContractNumberChange()" icabsZeroPad eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ContractName" formControlName="ContractName" size="30"
                            class="form-control" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.contractSearch.childConfigParams"
                            [contentComponent]="ellipsis.contractSearch.component" [showHeader]="true"
                            [disabled]="ellipsisDisabled" (ellipsisData)="onContractSearchDataReturn($event)">
                        </icabs-ellipsis>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label class="col20">{{'Start Date' |translate}}</label>
                    <div class="col14 pr5">
                        <icabs-datepicker #suspendStartDate formControlName="SuspendStartDate"
                            [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Premises Number' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="PremiseNumber" formControlName="PremiseNumber" size="10" maxlength="5"
                            class="form-control" (change)="onPremiseNumberChange()" eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="PremiseName" formControlName="PremiseName" size="30" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsis.premiseSearch.childConfigParams"
                            [contentComponent]="ellipsis.premiseSearch.component" [showHeader]="true"
                            [disabled]="ellipsisDisabled" (ellipsisData)="onPremiseSearchDataReturn($event)">
                        </icabs-ellipsis>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label class="col20">{{'End Date' |translate}}</label>
                    <div class="col14 pr5">
                        <icabs-datepicker formControlName="SuspendEndDate" [isDirectiveBased]="false">
                        </icabs-datepicker>
                    </div>
                </div>
            </div>

            <div class="row mt5">
                <div class="col-sm-3">
                    <label class="col20">{{'Product Code' |translate}}</label>
                    <div class="col8 pr5">
                        <input type="text" id="ProductCode" formControlName="ProductCode" size="10" maxlength="6"
                            class="form-control" (change)="onProductCodeChange()" eTypeText>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="ProductDesc" formControlName="ProductDesc" size="30" class="form-control"
                            eTypeText>
                    </div>
                    <div class="col2">
                        <div class="col2">
                            <icabs-ellipsis [childConfigParams]="ellipsis.productSearch.childConfigParams"
                                [contentComponent]="ellipsis.productSearch.component" [showHeader]="true"
                                [disabled]="ellipsisDisabled" [showCloseButton]="true"
                                (ellipsisData)="onProductSearchReceive($event)">
                            </icabs-ellipsis>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label class="col20">{{'Suspend Reason (blank for all)' |translate}} </label>
                    <div class="col20 pr5">
                        <icabs-common-dropdown [inputParams]="dropdown.suspendReasonSearch.params"
                            [isActive]="dropdown.suspendReasonSearch.active" [isDisabled]="dropdownDisable"
                            [displayFields]="dropdown.suspendReasonSearch.displayFields"
                            (onDataReceived)="onSuspendReasonDataRecieved($event)">
                        </icabs-common-dropdown>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <hr class="mt15 mb15">
    <div class="row mt10">
        <div class="col-sm-6">
            <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
            <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem"
                [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                [canExport]="true" (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)"
                [ngClass]="{hidden: !hasGridData}">
            </icabs-pagination>
        </div>
    </div>
    <div class="row mt10">
        <div class="col-sm-12">
            <icabs-grid-advanced #riGrid (headerClick)="onHeaderClick()">
            </icabs-grid-advanced>
        </div>
    </div>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>