<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="VisitTypeCode">{{ 'Visit Type Code' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24" *ngIf="this['pageParams']['getVisitTypeCode']">
                        <icabs-visit-action-search [inputParams]="dropdown.visitActionSearch.inputParams" [isDisabled]="true" [isRequired]="dropdown.visitActionSearch.isRequired"
                            [active]="dropdown.visitActionSearch.activeSelected" [isTriggerValidate]="dropdown.visitActionSearch.isTriggerValidate"
                            (receivedVisitActionSearch)="onvisitActionSearchDropdownDataRecieved($event)"></icabs-visit-action-search>
                    </div>
                    <div class="col24" *ngIf="!this['pageParams']['getVisitTypeCode']">
                        <icabs-visit-type-search [inputParams]="dropdown.visitTypeSearch.inputParams" [isDisabled]="false" [isRequired]="dropdown.visitTypeSearch.isRequired"
                            [active]="dropdown.visitTypeSearch.activeSelected" [triggerValidate]="dropdown.visitTypeSearch.isTriggerValidate"
                            (receivedVisitType)="onvisitTypeSearchDropdownDataRecieved($event)"></icabs-visit-type-search>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="SystemVisitActionCode">{{ 'System Visit Action Code' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col6 pr5">
                        <input type="text" id="SystemVisitActionCode" size="2" [attr.maxlength]="2" class="form-control" formControlName="SystemVisitActionCode"
                            (change)="systemVisitActionCodeOnChange()" eTypeCode>
                    </div>
                    <div class="col18">
                        <input type="text" id="SystemVisitActionDesc" size="40" [attr.maxlength]="40" class="form-control" formControlName="SystemVisitActionDesc"
                            eTypeText>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
        </section>
    </form>
    <footer class="screen-footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="col12" *ngIf="this['pageParams']['isEnableSave']">
                    <input type="button" class="btn btn-primary mr10" value="{{'Save' | translate}}" (click)="save()">
                    <input type="button" class="btn btn-secondary mr10" value="{{'Cancel' | translate}}" (click)="cancel()">
                </div>
                <div class="col12" *ngIf="!this['pageParams']['isEnableSave']">
                    <input type="button" class="btn btn-primary" value="{{'Add' | translate}}" (click)="add()">
                    <input type="button" class="btn btn-additional" value="{{'Delete' | translate}}" (click)="delete()">
                </div>
            </div>
        </div>
    </footer>
</section>

<icabs-routeaway #routeAwayComponent></icabs-routeaway>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>