<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1> {{ pageTitle | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <div class="row mt5">
            <div class="col-sm-3" *ngIf="this.pageType==='Branch'">
                <label class="col24">{{'Branch'|translate}}</label>
                <div class="col8 pr5">
                    <input type="text" id="BranchNumber" size="5" maxlength="5" class="form-control"
                        formControlName="BranchNumber" eTypeText>
                </div>
                <div class="col16">
                    <input type="text" id="BranchName" size="30" maxlength="40" class="form-control"
                        formControlName="BranchName" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this.pageType==='Business'">
                <label class="col24">{{'Business'|translate}}</label>
                <div class="col16">
                    <input type="text" id="BusinessDesc" size="35" maxlength="40" class="form-control"
                        formControlName="BusinessDesc" eTypeText>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this.pageType==='Region'">
                <label class="col24">{{'Region'|translate}}</label>
                <div class="col6 pr5">
                    <input type="text" id="RegionCode" formControlName="RegionCode" size="4" maxlength="4"
                        class="form-control">
                </div>
                <div class="col14">
                    <input type="text" id="RegionDesc" formControlName="RegionDesc" size="20" maxlength="35"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-3" *ngIf="this.pageType==='Employee'">
                <label class="col24">{{'Employee' |translate}}<span class="mandatory">*</span></label>
                <div class="col8 pr5">
                    <input type="text" id="EmployeeCode" size="6" maxlength="6" eTypeCode formControlName="EmployeeCode"
                        class="form-control" fetchDescription table="Employee" query="EmployeeCode" select="EmployeeSurname"
                        [shouldTrigger]="trigger">
                </div>
                <div class="col14 pr5">
                    <input type="text" id="EmployeeSurname" size="20" [attr.maxlength]="30" class="form-control"
                        formControlName="EmployeeSurname" eTypeText>
                </div>
                <div class="col2">
                    <icabs-ellipsis [childConfigParams]="employeeEllipsis.childparams"
                        [contentComponent]="employeeEllipsis.component" [showHeader]="true"
                        (ellipsisData)="onEmployeeDataReceived($event)"></icabs-ellipsis>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col16">
                    <label class="col24" for="WhatDate">{{'Show' | translate}}</label>
                    <select class="form-control" id="WhatDate" formControlName="WhatDate" (change)="this.onControlChange()">
                        <option value="Effective">{{'Earliest Effective Date' | translate}}</option>
                        <option value="Processed">{{'Processed Date' | translate}}</option>
                        <option value="All">{{'All' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt5">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('WhatDate')!== 'All'">
                <label class="col24">{{ 'Between' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="FromDate" formControlName="FromDate" [isDirectiveBased]="false" (onChange)="this.onControlChange()">
                    </icabs-datepicker>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="getControlValue('WhatDate')!== 'All'">
                <label class="col24">{{ 'And' | translate }}<span class="mandatory">*</span>
                </label>
                <div class="col16">
                    <icabs-datepicker id="ToDate" formControlName="ToDate" [isDirectiveBased]="false" (onChange)="this.onControlChange()">
                    </icabs-datepicker>
                </div>
            </div>
        </div>
        <hr class="mt15 mb15">
        <div class="row">
            <div class="col-sm-6">
                <icabs-refresh (click)="onRiGridRefresh()"></icabs-refresh>
                <icabs-pagination #riGridPagination [canExport]="true" [ngClass]="{hidden: !hasGridData}"
                    [totalItems]="this['pageParams'].gridConfig.totalRecords"
                    [itemsPerPage]="this['pageParams'].gridConfig.pageSize"
                    [currentPage]="this['pageParams'].gridConfig.currentPage" (getCurrentPage)="getCurrentPage($event)"
                    [exportOptions]="{dateColumns: '5,6,7,9,10'}"
                    [ngClass]="{hidden: !this.hasGridData}">
                </icabs-pagination>
            </div>
            <div class="col-sm-12 mt10">
                <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()" (headerClick)="onHeaderClick()">
                </icabs-grid-advanced>
            </div>
        </div>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
