<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-5">
                    <div class="col24" *ngIf="pageType === 'Business'">
                        <label class="col24">{{ 'Business' | translate }}</label>
                        <div class="col12">
                            <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24" *ngIf="pageType === 'Region'">
                        <label class="col24">{{ 'Region' | translate }}</label>
                        <div class="col4 pr5">
                            <input type="text" id="RegionCode" formControlName="RegionCode" size="30" maxlength="30"
                                class="form-control">
                        </div>
                        <div class="col16">
                            <input type="text" id="RegionDesc" formControlName="RegionDesc" size="30" maxlength="30"
                                class="form-control">
                        </div>
                    </div>
                    <div class="col24">
                        <div class="col24" *ngIf="pageType === 'Branch'">
                            <div class="col16">
                                <label class="col24">{{'Branch'|translate}}</label>
                                <div class="col6 pr5">
                                    <input type="text" id="BranchNumber" size="6" [attr.maxlength]="6"
                                        class="form-control" formControlName="BranchNumber" eTypeInteger>
                                </div>
                                <div class="col18">
                                    <input type="text" id="BranchName" size="20" [attr.maxlength]="30"
                                        class="form-control" formControlName="BranchName" eTypeText>
                                </div>
                            </div>
                            <div class="col24">
                                <label class="col24">{{ 'Con/Job' | translate }}</label>
                                <div class="col4 pr5">
                                    <input type="text" id="ContractNumber" formControlName="ContractNumber" size="10"
                                        maxlength="8" class="form-control" (change)="onControlChange('ContractNumber')"
                                        icabsZeroPad eTypeCode>
                                </div>
                                <div class="col12 pr5">
                                    <input type="text" id="ContractName" formControlName="ContractName" size="35"
                                        maxlength="40" class="form-control">
                                </div>
                                <div class="col2">
                                    <icabs-ellipsis [showCloseButton]="contractParams.showCloseButton"
                                        [childConfigParams]="contractParams"
                                        [contentComponent]="contractSearchComponent"
                                        (ellipsisData)="onDataRecieved($event, 'Contract')"
                                        [showHeader]="contractParams.showHeader"
                                        *ngIf="this.getControlValue('ShowType') !== 'T'">
                                    </icabs-ellipsis>
                                </div>
                            </div>
                            <div class="col24" *ngIf="this.getControlValue('GroupBy') === 'Employee'">
                                <label class="col24">{{'Supervisor' | translate}}
                                </label>
                                <div class="col4 pr5">
                                    <input type="text" id="SupervisorEmployeeCode"
                                        formControlName="SupervisorEmployeeCode" size="6" maxlength="6"
                                        class="form-control" placeholder=""
                                        (change)="onControlChange('SupervisorEmployeeCode')" eTypeCode>
                                </div>
                                <div class="col12 pr5">
                                    <input type="text" id="SupervisorSurname" formControlName="SupervisorSurname"
                                        class="form-control">
                                </div>
                                <div class="col2">
                                    <icabs-ellipsis [childConfigParams]="inputParams.employee" [showCloseButton]="true"
                                        [contentComponent]="employeeSearchComponent"
                                        (ellipsisData)="onDataRecieved($event, 'Employee')" [showHeader]="true"
                                        (change)="onDataRecieved('Supervisor')">
                                    </icabs-ellipsis>
                                </div>
                            </div>
                            <div class="col6">
                                <label class="col24">{{ 'View By' | translate }}</label>
                                <select id="GroupBy" class="form-control" formControlName="GroupBy"
                                    (change)="this.resetValues()">
                                    <option *ngFor="let view of prodService.view" value="{{ view.value }}">
                                        {{ view.text | translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col6">
                            <label class="col24">{{ 'Show' | translate }}</label>
                            <select id="ShowType" class="form-control" formControlName="ShowType"
                                (change)="onControlChange('ShowType')">
                                <option *ngFor="let show of prodService.show" value="{{ show.value }}">
                                    {{ show.text | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col12 pr5">
                        <label class="col24">{{'From' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col16">
                            <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                                (change)="this.resetValues()">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col8">
                        <label class="col24">{{'To' | translate}}
                            <span class="mandatory">*</span>
                        </label>
                        <div class="col24">
                            <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                                (change)="this.resetValues()"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col24 mt20">
                        <input class="btn btn-primary" type="button" value="{{'Submit Report Generation'|translate}}"
                            (click)="onGenerateReport()">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12" id="trInformation" *ngIf="URLReturn">
                    <label class="col24 message-box info-label">
                        {{ URLReturn | translate }}
                    </label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalRecords"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.pageSize"
                        (getCurrentPage)="getCurrentPage($event)">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>