<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch Number' | translate }}</label>
                    <div class="col24">
                        <input type="text" class="form-control" id="BranchName" size="7" maxlength="4" formControlName="BranchName" [attr.disabled]="true">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Date From' | translate }}</label>
                    <div class="col12">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false" (onChange)="dateFromSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{ 'View By' | translate }}</label>
                    <div class="col24">
                        <select id="ViewBy" class="form-control" formControlName="ViewBy" (change)="selectedOption($event.target.value)">
                            <option value="Not Received" [selected]="true">{{ 'Not Received' | translate }}</option>
                            <option value="Received">{{ 'Received' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'To' | translate }}</label>
                    <div class="col12">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false" (onChange)="dateToSelectedValue($event)"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="gridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="{'hidden': isHidePagination}" [totalItems]="gridParams['totalRecords']" [itemsPerPage]="gridParams['itemsPerPage']"
                        [currentPage]="gridParams['pageCurrent']" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-12 mt10">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridDblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
    <icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
</section>