<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>

    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row mt5">
                        <div class="col-sm-6">
                            <label class="col24"
                                id="AmendmentRef">{{ renegsConstants["AmendmentRef"] | translate }}</label>
                            <div class="col16 pr5">
                                <input type="text" id="AmendmentRef" eTypeCode formControlName="AmendmentRef" value=""
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row mt2">
                        <div class="col-sm-8">
                            <label class="col24"
                                id="ContractNumber">{{ renegsConstants["ContractNumber"] | translate }}<span
                                    class="mandatory">*</span></label>
                            <div class="col6 pr5">
                                <input type="text" id="ContractNumber" tabindex="1" eTypeText
                                    formControlName="ContractNumber" value="" class="form-control" icabsZeroPad
                                    maxlength="8">
                            </div>
                            <div class="col16 pr5">
                                <input type="text" id="ContractName" formControlName="ContractName" value=""
                                    class="form-control" maxlength="25">
                                <input type="text" id="contracttypecode" formControlName="contracttypecode" value=""
                                    class="form-control hidden" maxlength="25">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-pagination #riPagination *ngIf="this['pageParams']['isPaginationEnabled'] === true"
                        [totalItems]="this['pageParams']['totalRecords']" [itemsPerPage]="actualPageSize"
                        (getCurrentPage)="getCurrentPage($event)" [currentPage]="this['pageParams'].gridCurPage">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="OnDblClickRiGridBody($event)"
                        (bodyClick)="onCellClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-custom-alert #customAlert [messageType]="messageType" [alertMessage]="customAlertMsg"></icabs-custom-alert>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
<icabs-routeaway #routeAwayComponent></icabs-routeaway>