<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{this['pageTitle']| translate}}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{(enablePerHour ? 'Employee Code' : 'Employee') | translate}}
                    </label>
                    <div class="col7 pr5">
                        <input type="text" #EmployeeCode id="EmployeeCode" formControlName="EmployeeCode" size="6"
                            maxlength="6" class="form-control" placeholder="" (change)="onChangeEmployeeCode()">
                    </div>
                    <div class="col14 pr5">
                        <input type="text" id="EmployeeSurname" formControlName="EmployeeSurname" class="form-control">
                    </div>
                    <div class="col2">
                        <icabs-ellipsis [childConfigParams]="ellipsisConfig.employeeSearchParams"
                            [showCloseButton]="true" [contentComponent]="employeeSearchComponent"
                            (ellipsisData)="onEmployeeSelect($event)" [showHeader]="true"></icabs-ellipsis>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'Date From' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col18">
                        <icabs-datepicker id="DateFrom" formControlName="DateFrom" [isDirectiveBased]="false"
                            (change)="resetValues()"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'Date To' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col18">
                        <icabs-datepicker id="DateTo" formControlName="DateTo" [isDirectiveBased]="false"
                            (change)="resetValues()"></icabs-datepicker>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="col16">{{'Display lines' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col12">
                        <input type="text" id="PageSize" size="2" maxlength="2" class="form-control"
                            formControlName="PageSize">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="this['pageParams'].gridConfig.totalItem"
                        [currentPage]="this['pageParams'].gridCurrentPage"
                        [itemsPerPage]="this['pageParams'].gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGridFunction'].getCurrentPage($event)" [canExport]="enablePerHour"
                        [exportOptions]="exportConfig">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"></icabs-grid-advanced>
                </div>
            </div>
            <ng-container *ngIf="!enablePerHour;else GridFooterForEnablePerHour">
                <div class="row mt10">
                    <div class="col-sm-3">
                        <label class="col24">{{'Start Mileage' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="DayStartMileage" size="10" [attr.maxlength]="10" class="form-control"
                                formControlName="DayStartMileage">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Start Time' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="DayStartTime" size="8" [attr.maxlength]="10" class="form-control"
                                formControlName="DayStartTime">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Total Productive Time' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="TotalProductiveTime" size="15" [attr.maxlength]="10"
                                class="form-control" formControlName="TotalProductiveTime">
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-3">
                        <label class="col24">{{'End Mileage' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="DayEndMileage" size="10" [attr.maxlength]="10" class="form-control"
                                formControlName="DayEndMileage">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Finish Time' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="DayEndTime" size="8" [attr.maxlength]="10" class="form-control"
                                formControlName="DayEndTime">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Revenue Per Productive Hour' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="RevenuePerHourOnSite" size="15" [attr.maxlength]="10"
                                class="form-control" formControlName="RevenuePerHourOnSite">
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-3">
                        <label class="col24">{{'Total Mileage' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="TotalMileage" size="10" [attr.maxlength]="10" class="form-control"
                                formControlName="TotalMileage">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Total Worked Time' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="TotalWorkedTime" size="8" [attr.maxlength]="10" class="form-control"
                                formControlName="TotalWorkedTime">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Revenue Per Hour Worked' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="RevenuePerHour" size="15" [attr.maxlength]="10" class="form-control"
                                formControlName="RevenuePerHour">
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-3">
                        <label class="col24">{{'Total Driving Time' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="TotalDrivingTime" size="10" [attr.maxlength]="10"
                                class="form-control" formControlName="TotalDrivingTime">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Total Unexplained Time' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="TotalUnexplainedTime" size="8" [attr.maxlength]="10"
                                class="form-control" formControlName="TotalUnexplainedTime">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">{{'Total Revenue' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="TotalRevenue" size="15" [attr.maxlength]="10" class="form-control"
                                formControlName="TotalRevenue">
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-3">
                        <label class="col24">{{'Average Speed' | translate}}</label>
                        <div class="col12">
                            <input type="text" id="AverageSpeed" size="10" [attr.maxlength]="10" class="form-control"
                                formControlName="AverageSpeed">
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #GridFooterForEnablePerHour>
                <div class="row mt10">
                    <div class="col-sm-2">
                        <label class="col24">{{'Work Time' | translate}}</label>
                        <div class="col18">
                            <input type="text" id="TotalWorkTime" size="15" class="form-control"
                                formControlName="TotalWorkTime">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col24">Total Productivity Time + Travel Time</label>
                        <div class="col12">
                            <input type="text" id="TotalProductiveTime" size="15" class="form-control"
                                formControlName="TotalProductiveTime">
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-2">
                        <label class="col24">{{'Travel Time' | translate}}</label>
                        <div class="col18">
                            <input type="text" id="TotalTravelTime" size="15" class="form-control"
                                formControlName="TotalTravelTime">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="col24">{{'Total Productivity' | translate}}</label>
                        <div class="col18">
                            <input type="text" id="TotalProductivity" size="15" class="form-control"
                                formControlName="TotalProductivity">
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-sm-2">
                        <label class="col24">{{'Total Worked Time' | translate}}</label>
                        <div class="col18">
                            <input type="text" id="TotalWorkedTime" size="15" class="form-control"
                                formControlName="TotalWorkedTime">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="col24">{{'Productivity Per Hour' | translate}}</label>
                        <div class="col18">
                            <input type="text" id="ProductivityPerHour" size="15" class="form-control"
                                formControlName="ProductivityPerHour">
                        </div>
                    </div>
                </div>
            </ng-template>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>