<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24">{{ 'Business' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="BusinessCode" formControlName="BusinessCode" size="6" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="BusinessDesc" formControlName="BusinessDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Type' | translate }}</label>
                    <div class="col24">
                        <input type="text" id="ContractTypeDesc" formControlName="ContractTypeDesc" size="30"
                            maxlength="30" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="col24">{{ 'Month' | translate }}</label>
                            <input type="text" id="TradingMonth" formControlName="TradingMonth" size="30" maxlength="2"
                                class="form-control" pattern="^(0?[1-9]|1[012])$">
                        </div>
                        <div class="col-sm-4">
                            <label class="col24">{{ 'Year' | translate }}</label>
                            <input type="text" id="TradingYear" formControlName="TradingYear" size="30" maxlength="4"
                                class="form-control" pattern="^(20?[1-4][0-9]|2050)$">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt15">
                <div class="col-sm-3">
                    <label class="col24">{{ isRegion ? 'Region' : 'Branch' | translate }}</label>
                    <div class="col6 pr5" *ngIf="!isRegion">
                        <input type="text" id="BranchNumber" formControlName="BranchNumber" size="2" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="!isRegion">
                        <input type="text" id="BranchName" formControlName="BranchName" size="30" maxlength="30"
                            class="form-control">
                    </div>
                    <div class="col6 pr5" *ngIf="isRegion">
                        <input type="text" id="RegionCode" formControlName="RegionCode" size="2" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18" *ngIf="isRegion">
                        <input type="text" id="RegionDesc" formControlName="RegionDesc" size="30" maxlength="30"
                            class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24">{{ 'Service Type (blank for all)' | translate }}</label>
                    <div class="col6 pr5">
                        <input type="text" id="ServiceTypeCode" formControlName="ServiceTypeCode" size="2" maxlength="6"
                            class="form-control">
                    </div>
                    <div class="col18">
                        <input type="text" id="ServiceTypeDesc" formControlName="ServiceTypeDesc" size="30"
                            maxlength="30" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row mt15">
                <div class="col-sm-3">
                    <label class="col20">{{ pageId === 'iCABSARCreditReasonAnalysisDetail' ? 'Reason Code (blank for all)' : 'Reason'  | translate }}</label>
                    <div class="col6 pr5">
                        <input id="InvoiceCreditReasonCode" formControlName="InvoiceCreditReasonCode" size="2"
                            maxlength="2" class="form-control" type="text" eTypeCode>
                    </div>
                    <div class="col18">
                        <input id="InvoiceCreditReasonDesc" formControlName="InvoiceCreditReasonDesc" size="30"
                            maxlength="30" class="form-control" type="text" eTypeText>
                    </div>
                </div>
            </div>

            <hr class="mt15 mb15">
            <div class="row mt10">
                <div class="col-sm-6">
                    <icabs-refresh (onRefresh)="onRiGridRefresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [totalItems]="gridConfig.totalItem" [canExport]="true"
                        [currentPage]="this['pageParams'].gridCurrentPage" [itemsPerPage]="gridConfig.itemsPerPage"
                        (getCurrentPage)="this['commonGrifFunction'].getCurrentPage($event)"
                        [ngClass]="{hidden: !hasGridData}">
                    </icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="onGridBodyDoubleClick()"
                        (headerClick)="onHeaderClick()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>