<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>{{ this['pageTitle'] | translate }}</h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchName" formControlName="BranchName" size="20"
                            maxlength="38" eTypeText>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="col11 pr5">
                        <label class="col24">{{ 'From' | translate }}<span class="mandatory">*</span></label>
                        <div class="col24">
                            <icabs-datepicker (onChange)="onChangeDateFrom($event)" [isDirectiveBased]="false"
                                id="DateFrom" [isRequired]="isDatePickerRequired" formControlName="DateFrom">
                            </icabs-datepicker>
                        </div>
                    </div>
                    <div class="col11 pr5">
                        <label class="col24">{{ 'To' | translate }}<span class="mandatory">*</span></label>
                        <div class="col24">
                            <icabs-datepicker (onChange)="onChangeDateTo($event)" [isDirectiveBased]="false" id="DateTo"
                                [isRequired]="isDatePickerRequired" formControlName="DateTo"></icabs-datepicker>
                        </div>
                    </div>
                    <div class="col2 pr5 mt15">
                        <span title="[+/-]" class="glyphicon glyphicon-plus plusmin"></span>
                        <span title="[+/-]" class="glyphicon glyphicon-minus plusmin"></span>
                    </div>
                </div>


            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24">{{'Branch Service Areas'|translate}}</label>
                    <div class="col16">
                        <input type="text" class="form-control" id="BranchServiceAreaList"
                            formControlName="BranchServiceAreaList" size="40" maxlength="10" eTypeTextFree>
                        <input type="hidden" class="form-control" id="BranchServiceAreaList_Machine"
                            formControlName="BranchServiceAreaList_Machine" size="40" maxlength="10">
                    </div>
                </div>
                <div class="col-sm-4 mt20">
                    <div class="col24">
                        <input type="checkbox" class="form-control" id="GenerateAll" formControlName="GenerateAll"
                            (change)="generateOnChange()" eTypeCheckBox>
                        <label for="GenerateAll">{{'Generate All'|translate}}</label>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    <div class="col8">
                        <input type="button" [disabled]="isDisableGSN" (click)="onClickGSN()" class="btn btn-primary"
                            value="{{'Generate Consignment Notes'|translate}}">
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-6">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination [totalItems]="totalRecords" *ngIf="totalRecords > 0" [itemsPerPage]="pageSize"
                        (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
                <div class="col-sm-6" [ngClass]="isShowBatchSubmitted ? '' : 'hidden'">
                    <label class="message-box info-label">{{ this.batchSubmittedText }}</label>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (bodyDblClick)="riGridBodyOnDBLClick($event)"
                        (onSuccess)="riGridAfterExecute()"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>
<icabs-spinner [isRunning]="this['isRequesting']"></icabs-spinner>
