<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt5">
                <div class="col-sm-4">
                    <label class="col24" for="BranchNumber">{{ 'Branch Number' | translate}}</label>
                    <div class="col24">
                        <input class="form-control" formControlName="BranchName" type="text" size="25" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col12 pr5">
                        <label class="col24" for="DateFrom">{{ 'Date From' | translate}}</label>
                        <icabs-datepicker #fromDateChild [dt]='currDate' (selectedValue)="fromDateSelectedValue($event)" [isReadonly]="true" [isRequired]="false"
                            [clearDate]="false" [isDisabled]="true"></icabs-datepicker>
                    </div>
                    <div class="col12">
                        <label class="col24" for="DateTo">{{ 'To' | translate}}</label>
                        <icabs-datepicker #toDateChild [dt]='currDate1' (selectedValue)="toDateSelectedValue($event)" [isReadonly]="true" [isRequired]="false"
                            [clearDate]="false" [isDisabled]="true"></icabs-datepicker>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-4">
                    <label class="col24" for="BranchServiceAreaCode">{{ 'Branch Service Area' | translate}}</label>
                    <div class="col8 pr5">
                        <input id="BranchServiceAreaCode" class="form-control" formControlName="BranchServiceAreaCode" type="text" size="4" eTypeCode>
                    </div>
                    <div class="col16">
                        <input id="BranchServiceAreaDesc" class="form-control" formControlName="BranchServiceAreaDesc" type="text" size="25" eTypeText>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <input type="checkbox" id="UsePrintTool" class="form-control" formControlName="UsePrintTool">
                    <label class="col24" for="UsePrintTool">{{'Use Print Tool'|translate}}</label>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #wsPagination [totalItems]="totalRecords" [itemsPerPage]="itemsPerPage" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid (bodyDblClick)="riGridBodyOndblClick($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>
    </form>
</section>